<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_frame_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,476}</string>
                <key>spriteSourceSize</key>
                <string>{571,476}</string>
                <key>textureRect</key>
                <string>{{1706,1474},{571,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,549}</string>
                <key>spriteSourceSize</key>
                <string>{830,549}</string>
                <key>textureRect</key>
                <string>{{1085,1},{830,549}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,602}</string>
                <key>spriteSourceSize</key>
                <string>{727,602}</string>
                <key>textureRect</key>
                <string>{{1085,835},{727,602}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,617}</string>
                <key>spriteSourceSize</key>
                <string>{474,617}</string>
                <key>textureRect</key>
                <string>{{1085,1566},{474,617}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,528}</string>
                <key>spriteSourceSize</key>
                <string>{730,528}</string>
                <key>textureRect</key>
                <string>{{1638,1},{730,528}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{735,499}</string>
                <key>spriteSourceSize</key>
                <string>{735,499}</string>
                <key>textureRect</key>
                <string>{{1691,735},{735,499}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1985,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1985,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1985,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{2186,1474},{448,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic5.png</string>
            <key>size</key>
            <string>{2287,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b960b19e0c4a6529149923f450b12d85:7a17065a74e4b755d9de39b6143f1844:acec79409a0072a881c5d6903b1a09ad$</string>
            <key>textureFileName</key>
            <string>kr4_comic5.png</string>
        </dict>
    </dict>
</plist>
