<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_krvprimal_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{807,512}</string>
                <key>spriteSourceSize</key>
                <string>{807,512}</string>
                <key>textureRect</key>
                <string>{{1985,1},{807,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_krvprimal_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,513}</string>
                <key>spriteSourceSize</key>
                <string>{619,513}</string>
                <key>textureRect</key>
                <string>{{2501,1},{619,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_krvprimal_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,513}</string>
                <key>spriteSourceSize</key>
                <string>{504,513}</string>
                <key>textureRect</key>
                <string>{{3018,1},{504,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_krvprimal_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1980,650}</string>
                <key>spriteSourceSize</key>
                <string>{1980,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{1980,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{1,655},{448,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic12.png</string>
            <key>size</key>
            <string>{3523,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd3981b3abf122af88d58c1a7ad56071:76cbe73709d0ab3519f534e69a1fe3e6:24eeb00d7a6382220f098ec566efb6fe$</string>
            <key>textureFileName</key>
            <string>kr4_comic12.png</string>
        </dict>
    </dict>
</plist>
