<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_frame_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{991,567}</string>
                <key>spriteSourceSize</key>
                <string>{991,567}</string>
                <key>textureRect</key>
                <string>{{1,593},{991,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,563}</string>
                <key>spriteSourceSize</key>
                <string>{920,563}</string>
                <key>textureRect</key>
                <string>{{1071,1},{920,563}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1066,588}</string>
                <key>spriteSourceSize</key>
                <string>{1066,588}</string>
                <key>textureRect</key>
                <string>{{1,1},{1066,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,632}</string>
                <key>spriteSourceSize</key>
                <string>{868,632}</string>
                <key>textureRect</key>
                <string>{{1071,568},{868,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{1943,568},{448,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic7.png</string>
            <key>size</key>
            <string>{2044,1201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7483ef15980f9763a7ff27f6c858c766:67457abd9e713fe7f49659af391e26bb:9e5a29532a3d50aaa3de90428143b4b0$</string>
            <key>textureFileName</key>
            <string>kr4_comic7.png</string>
        </dict>
    </dict>
</plist>
