<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_comic11_frame_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,463}</string>
                <key>spriteSourceSize</key>
                <string>{1372,463}</string>
                <key>textureRect</key>
                <string>{{532,1},{1372,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic11_frame_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,463}</string>
                <key>spriteSourceSize</key>
                <string>{522,463}</string>
                <key>textureRect</key>
                <string>{{1562,468},{522,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic11_frame_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1026,525}</string>
                <key>spriteSourceSize</key>
                <string>{1026,525}</string>
                <key>textureRect</key>
                <string>{{532,468},{1026,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic11_frame_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{899,527}</string>
                <key>spriteSourceSize</key>
                <string>{899,527}</string>
                <key>textureRect</key>
                <string>{{1,1},{899,527}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{1908,1},{448,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic11.png</string>
            <key>size</key>
            <string>{2026,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b07e3155a345367925b186ba9ef9707e:49ccfd9fceb8e517179af4cc769f1a03:8e3c80c693e471a1301383a5b6a6fdf5$</string>
            <key>textureFileName</key>
            <string>kr4_comic11.png</string>
        </dict>
    </dict>
</plist>
