<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_comic10_frame_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,453}</string>
                <key>spriteSourceSize</key>
                <string>{792,453}</string>
                <key>textureRect</key>
                <string>{{633,460},{792,453}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_frame_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1083,455}</string>
                <key>spriteSourceSize</key>
                <string>{1083,455}</string>
                <key>textureRect</key>
                <string>{{633,1},{1083,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic10_frame_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,598}</string>
                <key>spriteSourceSize</key>
                <string>{522,598}</string>
                <key>textureRect</key>
                <string>{{1111,460},{520,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_frame_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,596}</string>
                <key>spriteSourceSize</key>
                <string>{299,596}</string>
                <key>textureRect</key>
                <string>{{1111,984},{299,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_frame_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1268,628}</string>
                <key>spriteSourceSize</key>
                <string>{1268,628}</string>
                <key>textureRect</key>
                <string>{{1,1},{1268,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_textframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,62}</string>
                <key>spriteSourceSize</key>
                <string>{654,62}</string>
                <key>textureRect</key>
                <string>{{1,1273},{654,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{659,1256},{448,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic9.png</string>
            <key>size</key>
            <string>{1717,1357}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e30ec73c2f55e5f0d7123436fac0bf63:12a44fcd34b8ffca3be2dbf622efd862:57746fce8ee89afb502b980685731263$</string>
            <key>textureFileName</key>
            <string>kr4_comic9.png</string>
        </dict>
    </dict>
</plist>
