<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_sandstorm_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,504}</string>
                <key>spriteSourceSize</key>
                <string>{754,504}</string>
                <key>textureRect</key>
                <string>{{1,649},{754,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_sandstorm_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,554}</string>
                <key>spriteSourceSize</key>
                <string>{356,554}</string>
                <key>textureRect</key>
                <string>{{921,649},{356,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_sandstorm_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,408}</string>
                <key>spriteSourceSize</key>
                <string>{634,408}</string>
                <key>textureRect</key>
                <string>{{509,649},{634,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_sandstorm_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,499}</string>
                <key>spriteSourceSize</key>
                <string>{507,499}</string>
                <key>textureRect</key>
                <string>{{1281,649},{507,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_sandstorm_frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{1814,644}</string>
                <key>spriteSourceSize</key>
                <string>{1834,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{1814,644}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{509,1287},{448,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic13.png</string>
            <key>size</key>
            <string>{1816,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be0ebcef7a56fee78c93a3a1de43546:019ac4202b046eaedc5335c28a06d76d:1f0a7834e510b9a3d2e05d407765ef35$</string>
            <key>textureFileName</key>
            <string>kr4_comic13.png</string>
        </dict>
    </dict>
</plist>
