<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_frame12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,577}</string>
                <key>spriteSourceSize</key>
                <string>{437,577}</string>
                <key>textureRect</key>
                <string>{{3045,1},{437,577}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{777,532}</string>
                <key>spriteSourceSize</key>
                <string>{777,532}</string>
                <key>textureRect</key>
                <string>{{1949,1},{777,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{883,470}</string>
                <key>spriteSourceSize</key>
                <string>{883,470}</string>
                <key>textureRect</key>
                <string>{{1475,1},{883,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,631}</string>
                <key>spriteSourceSize</key>
                <string>{556,631}</string>
                <key>textureRect</key>
                <string>{{2485,1},{556,631}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1470,615}</string>
                <key>spriteSourceSize</key>
                <string>{1470,615}</string>
                <key>textureRect</key>
                <string>{{1,1},{1470,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{1,620},{448,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic2.png</string>
            <key>size</key>
            <string>{3483,885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baf002852a73eb4506137b676e5c8cf9:55adceb16b8b953b64aa159c8684fab1:4128605a7e93a44539e4d2d52d9199d6$</string>
            <key>textureFileName</key>
            <string>kr4_comic2.png</string>
        </dict>
    </dict>
</plist>
