<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_frame22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1295,646}</string>
                <key>spriteSourceSize</key>
                <string>{1295,646}</string>
                <key>textureRect</key>
                <string>{{1,1},{1295,646}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame22_baloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,354}</string>
                <key>spriteSourceSize</key>
                <string>{391,354}</string>
                <key>textureRect</key>
                <string>{{1300,1},{391,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,487}</string>
                <key>spriteSourceSize</key>
                <string>{762,487}</string>
                <key>textureRect</key>
                <string>{{1078,651},{762,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,464}</string>
                <key>spriteSourceSize</key>
                <string>{829,464}</string>
                <key>textureRect</key>
                <string>{{1,1230},{829,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{1073,575}</string>
                <key>spriteSourceSize</key>
                <string>{1073,593}</string>
                <key>textureRect</key>
                <string>{{1,651},{1073,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,100}</string>
                <key>spriteSourceSize</key>
                <string>{460,100}</string>
                <key>textureRect</key>
                <string>{{834,1230},{448,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic4.png</string>
            <key>size</key>
            <string>{1655,1695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3be030dc2a5844126f5e4271ed1074dd:5db213e01a6c91f4d457b4a6f4860f3d:dde6e85095704a973107a700c0d0a481$</string>
            <key>textureFileName</key>
            <string>kr4_comic4.png</string>
        </dict>
    </dict>
</plist>
