<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>alric_sandwarrior_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>alric_idle</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>alric_walk</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>alric_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>70</integer>
		</dict>
		<key>alric_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>71</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>alric_attack</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>130</integer>
		</dict>
		<key>alric_special</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>131</integer>
			<key>toIndex</key>
			<integer>180</integer>
		</dict>
		<key>alric_summon</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>181</integer>
			<key>toIndex</key>
			<integer>218</integer>
		</dict>
		<key>alric_twisterInit</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>219</integer>
			<key>toIndex</key>
			<integer>246</integer>
		</dict>
		<key>alric_twisterWalk</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>247</integer>
			<key>toIndex</key>
			<integer>275</integer>
		</dict>
		<key>alric_twisterWalkDown</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>247</integer>
			<key>toIndex</key>
			<integer>275</integer>
		</dict>
		<key>alric_twisterWalkUp</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>247</integer>
			<key>toIndex</key>
			<integer>275</integer>
		</dict>
		<key>alric_twisterOut</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>276</integer>
			<key>toIndex</key>
			<integer>297</integer>
		</dict>
		<key>alric_tauntIn</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>298</integer>
			<key>toIndex</key>
			<integer>305</integer>
		</dict>
		<key>alric_tauntLoop</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>306</integer>
			<key>toIndex</key>
			<integer>313</integer>
		</dict>
		<key>alric_tauntOut</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>314</integer>
			<key>toIndex</key>
			<integer>324</integer>
		</dict>
		<key>alric_deathIn</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>325</integer>
			<key>toIndex</key>
			<integer>364</integer>
		</dict>
		<key>alric_deathLoop</key>
		<dict>
			<key>prefix</key>
			<string>alric</string>
			<key>fromIndex</key>
			<integer>365</integer>
			<key>toIndex</key>
			<integer>394</integer>
		</dict>
	</dict>
</dict>
</plist>
