<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>falconeer_idle</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>falconeer_walk</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>falconeer_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>34</integer>
		</dict>
		<key>falconeer_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>35</integer>
			<key>toIndex</key>
			<integer>51</integer>
		</dict>
		<key>falconeer_spawnEagle</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>52</integer>
			<key>toIndex</key>
			<integer>86</integer>
		</dict>
		<key>falconeer_aloneIdle</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>87</integer>
			<key>toIndex</key>
			<integer>87</integer>
		</dict>
		<key>falconeer_aloneWalk</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>88</integer>
			<key>toIndex</key>
			<integer>103</integer>
		</dict>
		<key>falconeer_aloneWalkDown</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>104</integer>
			<key>toIndex</key>
			<integer>120</integer>
		</dict>
		<key>falconeer_aloneWalkUp</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>121</integer>
			<key>toIndex</key>
			<integer>137</integer>
		</dict>
		<key>falconeer_aloneAttack</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>138</integer>
			<key>toIndex</key>
			<integer>156</integer>
		</dict>
		<key>falconeer_aloneDeath</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>157</integer>
			<key>toIndex</key>
			<integer>191</integer>
		</dict>
		<key>falconeer_death</key>
		<dict>
			<key>prefix</key>
			<string>falconeer</string>
			<key>fromIndex</key>
			<integer>192</integer>
			<key>toIndex</key>
			<integer>224</integer>
		</dict>
	</dict>
</dict>
</plist>
