<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>hammerhold_roofarcher_spawn</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>hammerhold_roofarcher_shootDownRight</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>59</integer>
		</dict>
		<key>hammerhold_roofarcher_shootDownLeft</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>82</integer>
			<key>toIndex</key>
			<integer>102</integer>
		</dict>
		<key>hammerhold_roofarcher_shootUpRight</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>61</integer>
			<key>toIndex</key>
			<integer>80</integer>
		</dict>
		<key>hammerhold_roofarcher_idleUpLeft</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>103</integer>
			<key>toIndex</key>
			<integer>103</integer>
		</dict>
		<key>hammerhold_roofarcher_idleUp</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>60</integer>
			<key>toIndex</key>
			<integer>60</integer>
		</dict>
		<key>hammerhold_roofarcher_idleLeft</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>81</integer>
			<key>toIndex</key>
			<integer>81</integer>
		</dict>
		<key>hammerhold_roofarcher_idleRight</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>hammerhold_roofarcher_shootUpLeft</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>104</integer>
			<key>toIndex</key>
			<integer>123</integer>
		</dict>
		<key>hammerhold_roofarcher_out</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>archer_roof_layer</string>
			<key>fromIndex</key>
			<integer>124</integer>
			<key>toIndex</key>
			<integer>148</integer>
		</dict>
	</dict>
</dict>
</plist>
