<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>legionnaire_idle</key>
		<dict>
			<key>prefix</key>
			<string>hammerhold_soldier</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>legionnaire_walk</key>
		<dict>
			<key>prefix</key>
			<string>hammerhold_soldier</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>legionnaire_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>hammerhold_soldier</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>legionnaire_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>hammerhold_soldier</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>legionnaire_attack</key>
		<dict>
			<key>prefix</key>
			<string>hammerhold_soldier</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>80</integer>
		</dict>
		<key>legionnaire_death</key>
		<dict>
			<key>prefix</key>
			<string>hammerhold_soldier</string>
			<key>fromIndex</key>
			<integer>81</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
	</dict>
</dict>
</plist>
