<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>magic_carpet_explotion_animations.plist</key>
		<string></string>
		<key>magic_carpet_trail_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>magic_carpet_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>magic_carpet_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>13</integer>
		</dict>
		<key>magic_carpet_walk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>magic_carpet_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>13</integer>
		</dict>
		<key>magic_carpet_walkDown</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>magic_carpet_layer</string>
			<key>fromIndex</key>
			<integer>14</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>magic_carpet_walkUp</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>magic_carpet_layer</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>39</integer>
		</dict>
		<key>magic_carpet_attack</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>magic_carpet_layer</string>
			<key>fromIndex</key>
			<integer>40</integer>
			<key>toIndex</key>
			<integer>101</integer>
		</dict>
		<key>magic_carpet_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>magic_carpet_layer</string>
			<key>fromIndex</key>
			<integer>102</integer>
			<key>toIndex</key>
			<integer>120</integer>
		</dict>
	</dict>
</dict>
</plist>
