<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>mirage_backlight_animations.plist</key>
		<string></string>
		<key>mirage_fxdecal_animations.plist</key>
		<string></string>
		<key>mirage_hit_animations.plist</key>
		<string></string>
		<key>mirage_sandexplotion_animations.plist</key>
		<string></string>
		<key>mirage_smoke_animations.plist</key>
		<string></string>
		<key>mirage_spawn_in_explotion_animations.plist</key>
		<string></string>
		<key>mirage_spawn_out_explotion_animations.plist</key>
		<string></string>
		<key>mirage_copy_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>mirage_idle</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>mirage_goOut</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>mirage_goIn</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>50</integer>
		</dict>
		<key>mirage_dodgeOut</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>51</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>mirage_dodgeIn</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>71</integer>
		</dict>
		<key>mirage_attack</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>72</integer>
			<key>toIndex</key>
			<integer>96</integer>
		</dict>
		<key>mirage_horn</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>97</integer>
			<key>toIndex</key>
			<integer>140</integer>
		</dict>
		<key>mirage_copies</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>141</integer>
			<key>toIndex</key>
			<integer>183</integer>
		</dict>
		<key>mirage_walk</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>184</integer>
			<key>toIndex</key>
			<integer>203</integer>
		</dict>
		<key>mirage_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>204</integer>
			<key>toIndex</key>
			<integer>223</integer>
		</dict>
		<key>mirage_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>224</integer>
			<key>toIndex</key>
			<integer>243</integer>
		</dict>
		<key>mirage_rangeAttack</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>244</integer>
			<key>toIndex</key>
			<integer>273</integer>
		</dict>
		<key>mirage_rangeAttackUp</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>274</integer>
			<key>toIndex</key>
			<integer>303</integer>
		</dict>
		<key>mirage_death</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>304</integer>
			<key>toIndex</key>
			<integer>349</integer>
		</dict>
		<key>mirage_deathLoop</key>
		<dict>
			<key>prefix</key>
			<string>mirage</string>
			<key>fromIndex</key>
			<integer>350</integer>
			<key>toIndex</key>
			<integer>376</integer>
		</dict>
	</dict>
</dict>
</plist>
