<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>nomad_idle</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>nomad_walk</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>nomad_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>nomad_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>nomad_shadowOut</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>54</integer>
		</dict>
		<key>nomad_shadowIn</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>55</integer>
			<key>toIndex</key>
			<integer>72</integer>
		</dict>
		<key>nomad_throwRight</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>73</integer>
			<key>toIndex</key>
			<integer>94</integer>
		</dict>
		<key>nomad_throwDown</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>95</integer>
			<key>toIndex</key>
			<integer>116</integer>
		</dict>
		<key>nomad_throwUp</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>117</integer>
			<key>toIndex</key>
			<integer>138</integer>
		</dict>
		<key>nomad_attack</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>139</integer>
			<key>toIndex</key>
			<integer>173</integer>
		</dict>
		<key>nomad_death</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>174</integer>
			<key>toIndex</key>
			<integer>198</integer>
		</dict>
		<key>nomad_spawn</key>
		<dict>
			<key>prefix</key>
			<string>nomad</string>
			<key>fromIndex</key>
			<integer>200</integer>
			<key>toIndex</key>
			<integer>243</integer>
		</dict>
	</dict>
</dict>
</plist>
