<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>sand_mysthic_ray_animations.plist</key>
		<string></string>
		<key>sand_mysthic_ray_hit_animations.plist</key>
		<string></string>
		<key>sand_mysthic_ray_explotion_animations.plist</key>
		<string></string>
		<key>sand_mysthic_ray_healing_animations.plist</key>
		<string></string>
		<key>sand_mysthic_ray_healing_modifier_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>sand_mysthic_idle</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>sand_mysthic_walk</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>sand_mysthic_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>sand_mysthic_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>sand_mysthic_attack</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>82</integer>
		</dict>
		<key>sand_mysthic_range</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>117</integer>
		</dict>
		<key>sand_mysthic_heal</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>118</integer>
			<key>toIndex</key>
			<integer>177</integer>
		</dict>
		<key>sand_mysthic_death</key>
		<dict>
			<key>prefix</key>
			<string>sand_mysthic</string>
			<key>fromIndex</key>
			<integer>178</integer>
			<key>toIndex</key>
			<integer>226</integer>
		</dict>
	</dict>
</dict>
</plist>
