<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textures</key>
	<dict>
		<key>encyclopedia</key>
		<dict>
			<key>animations</key>
			<dict/>
			<key>sounds</key>
			<dict/>
			<key>textures</key>
			<dict>
				<key>kr4_encyclopedia.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
				<key>kr4_encyclopedia_towers.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGB888</string>
				</dict>
				<key>kr4_encyclopedia_enemies.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGB888</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
