<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>splash</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>animation_splash_animations.plist</key>
			<string></string>
		</dict>
		<key>textures</key>
		<dict>
			<key>kr4_main_screen.plist</key>
			<dict>
				<key>pixelFormat</key>
				<string>RGBA8888</string>
			</dict>
			<key>kr4_common.plist</key>
			<dict>
				<key>pixelFormat</key>
				<string>RGBA8888</string>
			</dict>
		</dict>
		<key>sounds</key>
		<dict>
			<key>splash_sounds.plist</key>
			<string></string>
		</dict>
	</dict>
	<key>mainMenu</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>main_menu_layers_tower_shadow_archer_eyes_animations.plist</key>
			<string></string>
			<key>main_menu_layers_tower_towers_back_eyes_animations.plist</key>
			<string></string>
			<key>main_menu_layers_units_eyes_animations.plist</key>
			<string></string>
			<key>main_menu_layers_sky_eyes_animations.plist</key>
			<string></string>
			<key>main_menu_layers_tower_ember_lord_lava_animations.plist</key>
			<string></string>
			<key>main_menu_layers_tower_rocketeer_animations.plist</key>
			<string></string>
			<key>main_menu_layers_zeppelines_smoke_animations.plist</key>
			<string></string>
			<key>main_menu_layers_logo_eyes_animations.plist</key>
			<string></string>
			<key>main_menu_layers_logo_vengeance_animations.plist</key>
			<string></string>
			<key>main_menu_layers_tower_shadow_archer_mist_particle_animations.plist</key>
			<string></string>
		</dict>
		<key>textures</key>
		<dict>
			<key>kr4_main_screen_background.plist</key>
			<dict>
				<key>pixelFormat</key>
				<string>RGBA8888</string>
			</dict>
		</dict>
		<key>sounds</key>
		<dict/>
	</dict>
</dict>
</plist>
