<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>common</key>
	<dict>
		<key>animations</key>
		<dict/>
		<key>textures</key>
		<dict>
			<key>kr4_fullads.plist</key>
			<dict>
				<key>pixelFormat</key>
				<string>RGBA8888</string>
			</dict>
			<key>kr4_map_common.plist</key>
			<dict>
				<key>pixelFormat</key>
				<string>RGBA8888</string>
			</dict>
			<key>kr4_common.plist</key>
			<dict>
				<key>pixelFormat</key>
				<string>RGBA8888</string>
			</dict>
		</dict>
		<key>sounds</key>
		<dict>
			<key>map_sounds.plist</key>
			<string></string>
		</dict>
	</dict>
	<key>textures</key>
	<dict>
		<key>main</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>mapDot_animations.plist</key>
				<string></string>
				<key>mapFlag_animations.plist</key>
				<string></string>
				<key>mapFlag_star1_animations.plist</key>
				<string></string>
				<key>mapFlag_star2_animations.plist</key>
				<string></string>
				<key>mapFlag_star3_animations.plist</key>
				<string></string>
				<key>mapFlag_hand_animations.plist</key>
				<string></string>
				<key>map_flag_notification_animations.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
				<key>kr4_map_2.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGB888</string>
				</dict>
			</dict>
		</dict>
		<key>upgrades</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>upgrade_button_buy_effects_animations.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_upgrades.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>heroroom</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>heroroom_buy_skill_effect.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_heroroom.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>towerroom</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>towerroom_unlock_effect.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_towerroom.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>decos</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>bridge_animations.plist</key>
				<string></string>
				<key>elevator_animations.plist</key>
				<string></string>
				<key>foam_animations.plist</key>
				<string></string>
				<key>door_animations.plist</key>
				<string></string>
				<key>robot_door_animations.plist</key>
				<string></string>
				<key>cart_map_animations.plist</key>
				<string></string>
				<key>flag_map_animations.plist</key>
				<string></string>
				<key>barrel_animations.plist</key>
				<string></string>
				<key>smoke_map_animations.plist</key>
				<string></string>
				<key>bats_animations.plist</key>
				<string></string>
				<key>bubble_green_animations.plist</key>
				<string></string>
				<key>veznan_tower_animations.plist</key>
				<string></string>
				<key>bubble_animations.plist</key>
				<string></string>
				<key>zombies_animations.plist</key>
				<string></string>
				<key>fire_smoke_animations.plist</key>
				<string></string>
				<key>map_dark_water_sparks_animations.plist</key>
				<string></string>
				<key>waves_animations.plist</key>
				<string></string>
				<key>iceberg_map_animations.plist</key>
				<string></string>
				<key>source_water_light_animations.plist</key>
				<string></string>
				<key>cascade_flow_animations.plist</key>
				<string></string>
				<key>cascade_foam_animations.plist</key>
				<string></string>
				<key>cascade_water_splashing_animations.plist</key>
				<string></string>
				<key>cascade_wave_animations.plist</key>
				<string></string>
				<key>dlc1_banner_animations.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_decos.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>specialweapons</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>power_button_buy_effects_animations.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_specialweapons.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>moregems</key>
		<dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_moregems.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>options</key>
		<dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_options.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>achievementsroom</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>achievement_anim_claim_animations.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_achievementsroom.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>briefing</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>map_levelselect_button_notification_animations.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_stage_briefing.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
		</dict>
		<key>offerwall</key>
		<dict>
			<key>animations</key>
			<dict>
				<key>fullads_map_icon_wheel_animations.plist</key>
				<string></string>
				<key>fullads_map_icon_gift_animations.plist</key>
				<string></string>
				<key>offers_icon_map_animations.plist</key>
				<string></string>
				<key>offers_login_icon_map_fx_animations.plist</key>
				<string></string>
			</dict>
			<key>textures</key>
			<dict>
				<key>kr4_map_offerwallroom.plist</key>
				<dict>
					<key>pixelFormat</key>
					<string>RGBA8888</string>
				</dict>
			</dict>
			<key>sounds</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
