<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{150,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{783,253},{150,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_levelselect_botton_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{492,106}</string>
                <key>spriteSourceSize</key>
                <string>{492,120}</string>
                <key>textureRect</key>
                <string>{{424,143},{492,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_levelselect_playbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,155}</string>
                <key>spriteSourceSize</key>
                <string>{380,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_news_button_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{492,90}</string>
                <key>spriteSourceSize</key>
                <string>{492,120}</string>
                <key>textureRect</key>
                <string>{{1,385},{492,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_menu_ingame_confirm_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{411,138}</string>
                <key>spriteSourceSize</key>
                <string>{411,146}</string>
                <key>textureRect</key>
                <string>{{497,1},{411,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_menu_ingame_confirmdialog_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,128}</string>
                <key>spriteSourceSize</key>
                <string>{368,128}</string>
                <key>textureRect</key>
                <string>{{160,1},{368,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>option_menu_ingame_confirmdialog_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,128}</string>
                <key>spriteSourceSize</key>
                <string>{368,128}</string>
                <key>textureRect</key>
                <string>{{292,1},{368,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taunt_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,104}</string>
                <key>textureRect</key>
                <string>{{424,253},{108,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taunt_blue_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{424,1},{24,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taunt_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,104}</string>
                <key>textureRect</key>
                <string>{{497,365},{108,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taunt_red_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{459,1},{24,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_common_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{174,224}</string>
                <key>spriteSourceSize</key>
                <string>{180,232}</string>
                <key>textureRect</key>
                <string>{{605,253},{174,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_common.png</string>
            <key>size</key>
            <string>{934,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc87e162beaead45adc2cb05898a3953:f1d7bce16ae64c90dee64fe4a32bf1ac:7f1cc68a8bf8644d0bde5279e7cc499c$</string>
            <key>textureFileName</key>
            <string>kr4_common.png</string>
        </dict>
    </dict>
</plist>
