<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_comic11_frame_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{686,232}</string>
                <key>spriteSourceSize</key>
                <string>{686,232}</string>
                <key>textureRect</key>
                <string>{{269,1},{686,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic11_frame_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,232}</string>
                <key>spriteSourceSize</key>
                <string>{261,232}</string>
                <key>textureRect</key>
                <string>{{786,237},{261,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic11_frame_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,263}</string>
                <key>spriteSourceSize</key>
                <string>{513,263}</string>
                <key>textureRect</key>
                <string>{{269,237},{513,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic11_frame_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,264}</string>
                <key>spriteSourceSize</key>
                <string>{450,264}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{959,1},{226,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic11.png</string>
            <key>size</key>
            <string>{1019,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b07e3155a345367925b186ba9ef9707e:49ccfd9fceb8e517179af4cc769f1a03:8e3c80c693e471a1301383a5b6a6fdf5$</string>
            <key>textureFileName</key>
            <string>kr4_comic11.png</string>
        </dict>
    </dict>
</plist>
