<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_comic10_frame_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,227}</string>
                <key>spriteSourceSize</key>
                <string>{396,227}</string>
                <key>textureRect</key>
                <string>{{319,233},{396,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_frame_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,228}</string>
                <key>spriteSourceSize</key>
                <string>{542,228}</string>
                <key>textureRect</key>
                <string>{{319,1},{542,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic10_frame_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,299}</string>
                <key>spriteSourceSize</key>
                <string>{261,299}</string>
                <key>textureRect</key>
                <string>{{562,233},{261,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_frame_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,298}</string>
                <key>spriteSourceSize</key>
                <string>{150,298}</string>
                <key>textureRect</key>
                <string>{{562,498},{150,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_frame_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,314}</string>
                <key>spriteSourceSize</key>
                <string>{634,314}</string>
                <key>textureRect</key>
                <string>{{1,1},{634,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_comic10_textframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,31}</string>
                <key>spriteSourceSize</key>
                <string>{327,31}</string>
                <key>textureRect</key>
                <string>{{1,639},{327,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{332,633},{226,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic9.png</string>
            <key>size</key>
            <string>{862,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e30ec73c2f55e5f0d7123436fac0bf63:12a44fcd34b8ffca3be2dbf622efd862:57746fce8ee89afb502b980685731263$</string>
            <key>textureFileName</key>
            <string>kr4_comic9.png</string>
        </dict>
    </dict>
</plist>
