<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_frame_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,284}</string>
                <key>spriteSourceSize</key>
                <string>{496,284}</string>
                <key>textureRect</key>
                <string>{{1,321},{496,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,282}</string>
                <key>spriteSourceSize</key>
                <string>{460,282}</string>
                <key>textureRect</key>
                <string>{{289,538},{460,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,294}</string>
                <key>spriteSourceSize</key>
                <string>{533,294}</string>
                <key>textureRect</key>
                <string>{{439,1},{533,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,316}</string>
                <key>spriteSourceSize</key>
                <string>{434,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{434,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{1,821},{226,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic7.png</string>
            <key>size</key>
            <string>{750,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7483ef15980f9763a7ff27f6c858c766:67457abd9e713fe7f49659af391e26bb:9e5a29532a3d50aaa3de90428143b4b0$</string>
            <key>textureFileName</key>
            <string>kr4_comic7.png</string>
        </dict>
    </dict>
</plist>
