<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_sandstorm_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,252}</string>
                <key>spriteSourceSize</key>
                <string>{377,252}</string>
                <key>textureRect</key>
                <string>{{1,317},{377,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_sandstorm_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,277}</string>
                <key>spriteSourceSize</key>
                <string>{178,277}</string>
                <key>textureRect</key>
                <string>{{465,317},{178,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_sandstorm_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,204}</string>
                <key>spriteSourceSize</key>
                <string>{317,204}</string>
                <key>textureRect</key>
                <string>{{257,317},{317,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_sandstorm_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,250}</string>
                <key>spriteSourceSize</key>
                <string>{254,250}</string>
                <key>textureRect</key>
                <string>{{647,317},{254,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_sandstorm_frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{909,312}</string>
                <key>spriteSourceSize</key>
                <string>{917,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{909,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{257,638},{226,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic13.png</string>
            <key>size</key>
            <string>{911,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be0ebcef7a56fee78c93a3a1de43546:019ac4202b046eaedc5335c28a06d76d:1f0a7834e510b9a3d2e05d407765ef35$</string>
            <key>textureFileName</key>
            <string>kr4_comic13.png</string>
        </dict>
    </dict>
</plist>
