<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asset_ComicFrame1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,382}</string>
                <key>spriteSourceSize</key>
                <string>{570,382}</string>
                <key>textureRect</key>
                <string>{{429,1},{570,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_ComicFrame1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,414}</string>
                <key>spriteSourceSize</key>
                <string>{290,414}</string>
                <key>textureRect</key>
                <string>{{429,387},{290,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_ComicFrame1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,114}</string>
                <key>spriteSourceSize</key>
                <string>{302,114}</string>
                <key>textureRect</key>
                <string>{{429,805},{302,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_ComicFrame1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,234}</string>
                <key>spriteSourceSize</key>
                <string>{262,234}</string>
                <key>textureRect</key>
                <string>{{735,387},{262,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_ComicFrame1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,146}</string>
                <key>spriteSourceSize</key>
                <string>{922,146}</string>
                <key>textureRect</key>
                <string>{{279,1},{922,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_ComicFrame1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,274}</string>
                <key>spriteSourceSize</key>
                <string>{922,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{922,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic.png</string>
            <key>size</key>
            <string>{1000,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7d0158a3f91f0959a3b6584f9d97d4:03383774e6ec9cc3be6d18c3b29fcced:91cd6baad31db585131dd67df9865599$</string>
            <key>textureFileName</key>
            <string>kr4_comic.png</string>
        </dict>
    </dict>
</plist>
