<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_comic9_frame_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{865,214}</string>
                <key>spriteSourceSize</key>
                <string>{865,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{865,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic9_frame_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,281}</string>
                <key>spriteSourceSize</key>
                <string>{511,281}</string>
                <key>textureRect</key>
                <string>{{1,219},{511,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic9_frame_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,142}</string>
                <key>spriteSourceSize</key>
                <string>{389,142}</string>
                <key>textureRect</key>
                <string>{{516,231},{389,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_comic9_frame_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,122}</string>
                <key>spriteSourceSize</key>
                <string>{389,122}</string>
                <key>textureRect</key>
                <string>{{516,377},{389,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{870,1},{226,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic8.png</string>
            <key>size</key>
            <string>{921,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abe2c82cb6bdb7223836a8259a2e9d5b:ef7cb5313ee2a73a13a05c312ec65a23:86dbe744494d31794d6f16f172ea7fa4$</string>
            <key>textureFileName</key>
            <string>kr4_comic8.png</string>
        </dict>
    </dict>
</plist>
