<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_frame17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,293}</string>
                <key>spriteSourceSize</key>
                <string>{192,293}</string>
                <key>textureRect</key>
                <string>{{543,527},{192,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,278}</string>
                <key>spriteSourceSize</key>
                <string>{435,278}</string>
                <key>textureRect</key>
                <string>{{1,321},{435,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,310}</string>
                <key>spriteSourceSize</key>
                <string>{202,310}</string>
                <key>textureRect</key>
                <string>{{283,321},{202,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,299}</string>
                <key>spriteSourceSize</key>
                <string>{202,299}</string>
                <key>textureRect</key>
                <string>{{489,321},{202,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{875,316}</string>
                <key>spriteSourceSize</key>
                <string>{875,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{875,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{489,527},{226,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic3.png</string>
            <key>size</key>
            <string>{877,757}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30eaf72afa7d47b78c0c9709124a9ba7:5a0cb9d389dfd31a5724013031fad6cb:05a3ccb4f0668a80e8c92cc444f45ce8$</string>
            <key>textureFileName</key>
            <string>kr4_comic3.png</string>
        </dict>
    </dict>
</plist>
