<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_balloon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,44}</string>
                <key>spriteSourceSize</key>
                <string>{250,44}</string>
                <key>textureRect</key>
                <string>{{927,1},{250,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,223}</string>
                <key>spriteSourceSize</key>
                <string>{346,223}</string>
                <key>textureRect</key>
                <string>{{1,829},{346,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,211}</string>
                <key>spriteSourceSize</key>
                <string>{329,211}</string>
                <key>textureRect</key>
                <string>{{406,621},{329,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,312}</string>
                <key>spriteSourceSize</key>
                <string>{922,312}</string>
                <key>textureRect</key>
                <string>{{1,1},{922,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,249}</string>
                <key>spriteSourceSize</key>
                <string>{137,249}</string>
                <key>textureRect</key>
                <string>{{351,1039},{137,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,244}</string>
                <key>spriteSourceSize</key>
                <string>{133,244}</string>
                <key>textureRect</key>
                <string>{{1,1056},{133,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,223}</string>
                <key>spriteSourceSize</key>
                <string>{401,223}</string>
                <key>textureRect</key>
                <string>{{1,602},{401,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,281}</string>
                <key>spriteSourceSize</key>
                <string>{553,281}</string>
                <key>textureRect</key>
                <string>{{1,317},{553,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,300}</string>
                <key>spriteSourceSize</key>
                <string>{462,300}</string>
                <key>textureRect</key>
                <string>{{558,317},{462,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,276}</string>
                <key>spriteSourceSize</key>
                <string>{199,276}</string>
                <key>textureRect</key>
                <string>{{351,836},{199,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,277}</string>
                <key>spriteSourceSize</key>
                <string>{198,277}</string>
                <key>textureRect</key>
                <string>{{631,871},{198,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,277}</string>
                <key>spriteSourceSize</key>
                <string>{246,277}</string>
                <key>textureRect</key>
                <string>{{739,621},{246,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame9_patch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,138}</string>
                <key>spriteSourceSize</key>
                <string>{116,138}</string>
                <key>textureRect</key>
                <string>{{834,1073},{116,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{604,1073},{226,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic1.png</string>
            <key>size</key>
            <string>{1021,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:353631d1a6bfd947c2c35054520b10e4:7352be4ad29dda552485978c0ffb33cc:e1aee7bacfb807112f49098cee3cbe2e$</string>
            <key>textureFileName</key>
            <string>kr4_comic1.png</string>
        </dict>
    </dict>
</plist>
