<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_sandstorm_end_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,271}</string>
                <key>spriteSourceSize</key>
                <string>{634,271}</string>
                <key>textureRect</key>
                <string>{{1,1},{634,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_sandstorm_end_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,261}</string>
                <key>spriteSourceSize</key>
                <string>{154,261}</string>
                <key>textureRect</key>
                <string>{{592,457},{154,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_sandstorm_end_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,267}</string>
                <key>spriteSourceSize</key>
                <string>{176,267}</string>
                <key>textureRect</key>
                <string>{{592,277},{176,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_sandstorm_end_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,272}</string>
                <key>spriteSourceSize</key>
                <string>{583,272}</string>
                <key>textureRect</key>
                <string>{{276,1},{583,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_sandstorm_end_frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,312}</string>
                <key>spriteSourceSize</key>
                <string>{420,312}</string>
                <key>textureRect</key>
                <string>{{276,277},{420,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{1,639},{226,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic14.png</string>
            <key>size</key>
            <string>{860,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f1307feba10d2831678d7f4ec60233:d6e40563cb41323126af319969fe6d56:7844d4f479946ebe93f16338d7c41f68$</string>
            <key>textureFileName</key>
            <string>kr4_comic14.png</string>
        </dict>
    </dict>
</plist>
