<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asset_frame22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,323}</string>
                <key>spriteSourceSize</key>
                <string>{648,323}</string>
                <key>textureRect</key>
                <string>{{1,1},{648,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame22_baloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,177}</string>
                <key>spriteSourceSize</key>
                <string>{196,177}</string>
                <key>textureRect</key>
                <string>{{653,1},{196,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,244}</string>
                <key>spriteSourceSize</key>
                <string>{381,244}</string>
                <key>textureRect</key>
                <string>{{542,328},{381,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_frame24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,232}</string>
                <key>spriteSourceSize</key>
                <string>{415,232}</string>
                <key>textureRect</key>
                <string>{{1,621},{415,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_frame25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{537,289}</string>
                <key>spriteSourceSize</key>
                <string>{537,297}</string>
                <key>textureRect</key>
                <string>{{1,328},{537,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comicContinue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,50}</string>
                <key>spriteSourceSize</key>
                <string>{230,50}</string>
                <key>textureRect</key>
                <string>{{420,621},{226,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_comic4.png</string>
            <key>size</key>
            <string>{831,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3be030dc2a5844126f5e4271ed1074dd:5db213e01a6c91f4d457b4a6f4860f3d:dde6e85095704a973107a700c0d0a481$</string>
            <key>textureFileName</key>
            <string>kr4_comic4.png</string>
        </dict>
    </dict>
</plist>
