<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asset_Defeat_Minion1_Head01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{353,1004},{110,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion1_Head02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{601,769},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Minion1_Head03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,78}</string>
                <key>spriteSourceSize</key>
                <string>{110,78}</string>
                <key>textureRect</key>
                <string>{{733,848},{110,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion1_Head04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,68}</string>
                <key>spriteSourceSize</key>
                <string>{110,68}</string>
                <key>textureRect</key>
                <string>{{635,1091},{110,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Minion2_Foot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{715,790},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Minion2_Foot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{143,1111},{48,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion2_Hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{192,1115},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Minion2_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{635,855},{104,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion2_Legs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{946,895},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,86}</string>
                <key>spriteSourceSize</key>
                <string>{69,86}</string>
                <key>textureRect</key>
                <string>{{817,958},{69,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Cape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{549,199}</string>
                <key>spriteSourceSize</key>
                <string>{595,235}</string>
                <key>textureRect</key>
                <string>{{1,199},{549,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Collar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,126}</string>
                <key>spriteSourceSize</key>
                <string>{217,126}</string>
                <key>textureRect</key>
                <string>{{1,853},{217,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,67}</string>
                <key>spriteSourceSize</key>
                <string>{49,67}</string>
                <key>textureRect</key>
                <string>{{837,1074},{49,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{890,1097},{50,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,65}</string>
                <key>textureRect</key>
                <string>{{890,1028},{51,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{53,65}</string>
                <key>textureRect</key>
                <string>{{953,547},{53,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{899,489},{54,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{875,895},{56,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Veznan_Hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{875,822},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{899,382},{103,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Veznan_Torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,99}</string>
                <key>spriteSourceSize</key>
                <string>{204,99}</string>
                <key>textureRect</key>
                <string>{{585,99},{204,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Chain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,138}</string>
                <key>spriteSourceSize</key>
                <string>{59,148}</string>
                <key>textureRect</key>
                <string>{{1,1111},{47,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Chain_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{51,130}</string>
                <key>spriteSourceSize</key>
                <string>{55,136}</string>
                <key>textureRect</key>
                <string>{{953,616},{51,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Chain_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{49,162}</string>
                <key>spriteSourceSize</key>
                <string>{65,168}</string>
                <key>textureRect</key>
                <string>{{553,402},{49,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion1_Arms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,55}</string>
                <key>spriteSourceSize</key>
                <string>{83,55}</string>
                <key>textureRect</key>
                <string>{{923,127},{83,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion1_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,81}</string>
                <key>spriteSourceSize</key>
                <string>{99,81}</string>
                <key>textureRect</key>
                <string>{{550,1060},{99,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Minion1_Torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{878,695},{72,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Minion1_Wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{958,750},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,97}</string>
                <key>spriteSourceSize</key>
                <string>{56,97}</string>
                <key>textureRect</key>
                <string>{{719,689},{56,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{304,1115},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,99}</string>
                <key>spriteSourceSize</key>
                <string>{107,99}</string>
                <key>textureRect</key>
                <string>{{439,1060},{107,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,52}</string>
                <key>spriteSourceSize</key>
                <string>{69,52}</string>
                <key>textureRect</key>
                <string>{{890,955},{69,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Minion2_Wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{949,822},{51,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,37}</string>
                <key>spriteSourceSize</key>
                <string>{62,37}</string>
                <key>textureRect</key>
                <string>{{923,186},{62,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_iron_symbol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,275}</string>
                <key>spriteSourceSize</key>
                <string>{312,275}</string>
                <key>textureRect</key>
                <string>{{1,574},{312,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{850,822},{20,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_ribbon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{84,104}</string>
                <key>textureRect</key>
                <string>{{779,696},{84,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_ribbon_end_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,68}</string>
                <key>spriteSourceSize</key>
                <string>{122,68}</string>
                <key>textureRect</key>
                <string>{{938,1},{122,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_ribbon_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,87}</string>
                <key>spriteSourceSize</key>
                <string>{47,87}</string>
                <key>textureRect</key>
                <string>{{867,771},{47,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_ribbon_part_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{749,1091},{68,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_ribbon_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,126}</string>
                <key>spriteSourceSize</key>
                <string>{72,126}</string>
                <key>textureRect</key>
                <string>{{707,559},{72,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,1}</string>
                <key>spriteSize</key>
                <string>{22,60}</string>
                <key>spriteSourceSize</key>
                <string>{168,198}</string>
                <key>textureRect</key>
                <string>{{817,1048},{22,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-15}</string>
                <key>spriteSize</key>
                <string>{56,106}</string>
                <key>spriteSourceSize</key>
                <string>{166,204}</string>
                <key>textureRect</key>
                <string>{{815,848},{56,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-3}</string>
                <key>spriteSize</key>
                <string>{32,80}</string>
                <key>spriteSourceSize</key>
                <string>{176,204}</string>
                <key>textureRect</key>
                <string>{{350,1118},{32,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-6}</string>
                <key>spriteSize</key>
                <string>{61,136}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{579,704},{61,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-15}</string>
                <key>spriteSize</key>
                <string>{86,143}</string>
                <key>spriteSourceSize</key>
                <string>{148,205}</string>
                <key>textureRect</key>
                <string>{{454,769},{86,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{101,150}</string>
                <key>spriteSourceSize</key>
                <string>{139,208}</string>
                <key>textureRect</key>
                <string>{{222,853},{101,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{108,151}</string>
                <key>spriteSourceSize</key>
                <string>{132,211}</string>
                <key>textureRect</key>
                <string>{{898,227},{108,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{114,151}</string>
                <key>spriteSourceSize</key>
                <string>{134,213}</string>
                <key>textureRect</key>
                <string>{{327,849},{114,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-23}</string>
                <key>spriteSize</key>
                <string>{104,151}</string>
                <key>spriteSourceSize</key>
                <string>{140,211}</string>
                <key>textureRect</key>
                <string>{{198,1007},{104,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-22}</string>
                <key>spriteSize</key>
                <string>{91,145}</string>
                <key>spriteSourceSize</key>
                <string>{147,209}</string>
                <key>textureRect</key>
                <string>{{783,547},{91,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{74,133}</string>
                <key>spriteSourceSize</key>
                <string>{156,207}</string>
                <key>textureRect</key>
                <string>{{317,771},{74,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-4}</string>
                <key>spriteSize</key>
                <string>{19,44}</string>
                <key>spriteSourceSize</key>
                <string>{211,208}</string>
                <key>textureRect</key>
                <string>{{969,489},{19,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-2}</string>
                <key>spriteSize</key>
                <string>{102,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,230}</string>
                <key>textureRect</key>
                <string>{{445,859},{102,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,4}</string>
                <key>spriteSize</key>
                <string>{90,174}</string>
                <key>spriteSourceSize</key>
                <string>{194,230}</string>
                <key>textureRect</key>
                <string>{{606,396},{90,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,9}</string>
                <key>spriteSize</key>
                <string>{71,144}</string>
                <key>spriteSourceSize</key>
                <string>{205,230}</string>
                <key>textureRect</key>
                <string>{{878,547},{71,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,23}</string>
                <key>spriteSize</key>
                <string>{47,116}</string>
                <key>spriteSourceSize</key>
                <string>{217,230}</string>
                <key>textureRect</key>
                <string>{{766,962},{47,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-2}</string>
                <key>spriteSize</key>
                <string>{67,162}</string>
                <key>spriteSourceSize</key>
                <string>{199,204}</string>
                <key>textureRect</key>
                <string>{{700,393},{67,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-1}</string>
                <key>spriteSize</key>
                <string>{91,187}</string>
                <key>spriteSourceSize</key>
                <string>{189,207}</string>
                <key>textureRect</key>
                <string>{{445,965},{91,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-4}</string>
                <key>spriteSize</key>
                <string>{104,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,214}</string>
                <key>textureRect</key>
                <string>{{790,227},{104,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-5}</string>
                <key>spriteSize</key>
                <string>{116,190}</string>
                <key>spriteSourceSize</key>
                <string>{188,220}</string>
                <key>textureRect</key>
                <string>{{554,202},{116,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{124,193}</string>
                <key>spriteSourceSize</key>
                <string>{188,225}</string>
                <key>textureRect</key>
                <string>{{1,983},{124,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{132,193}</string>
                <key>spriteSourceSize</key>
                <string>{188,229}</string>
                <key>textureRect</key>
                <string>{{317,574},{132,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{122,191}</string>
                <key>spriteSourceSize</key>
                <string>{188,229}</string>
                <key>textureRect</key>
                <string>{{453,574},{122,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-3}</string>
                <key>spriteSize</key>
                <string>{112,187}</string>
                <key>spriteSourceSize</key>
                <string>{188,229}</string>
                <key>textureRect</key>
                <string>{{674,202},{112,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{825,804},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defeat_screen_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{793,99},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defeat_screen_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{771,417},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>defeat_screen_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{579,574},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>defeat_screen_buttons_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{636,963},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defeat_screen_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,47}</string>
                <key>spriteSourceSize</key>
                <string>{73,47}</string>
                <key>textureRect</key>
                <string>{{946,950},{73,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{349,94}</string>
                <key>spriteSourceSize</key>
                <string>{349,110}</string>
                <key>textureRect</key>
                <string>{{585,1},{349,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems_banner_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{779,804},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems_banner_icon_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{256,1115},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_end_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{548,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,180}</string>
                <key>textureRect</key>
                <string>{{1,402},{548,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_screen_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,194}</string>
                <key>spriteSourceSize</key>
                <string>{614,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{580,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_level_end_screen_heroic.png</string>
            <key>size</key>
            <string>{1007,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c7a2055ecc00f14d0670375d11b660e:f6f8c094010193f1b644f38696eed750:c1d141ea42f41d13f3e34540c7decbef$</string>
            <key>textureFileName</key>
            <string>kr4_level_end_screen_heroic.png</string>
        </dict>
    </dict>
</plist>
