<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_tramin_taunt_1</key>
	<string>0</string>
	<key>hero_tramin_taunt_2</key>
	<string>0</string>
	<key>hero_tramin_taunt_3</key>
	<string>0</string>
	<key>hero_tramin_taunt_4</key>
	<string>0</string>
	<key>hero_tramin_taunt_death</key>
	<string>0</string>
	<key>hero_tramin_jump</key>
	<string>0</string>
	<key>hero_tramin_land</key>
	<string>0</string>
	<key>hero_tramin_nitro_drink</key>
	<string>0</string>
	<key>hero_tramin_flash</key>
	<string>0</string>
	<key>hero_tramin_barrage</key>
	<string>0</string>
	<key>hero_tramin_giganticbomb_boxdrop</key>
	<string>0</string>
</dict>
</plist>
