<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_mammoth_taunt_1</key>
	<string>0</string>
	<key>hero_mammoth_taunt_2</key>
	<string>0</string>
	<key>hero_mammoth_taunt_3</key>
	<string>0</string>
	<key>hero_mammoth_taunt_4</key>
	<string>0</string>
	<key>hero_mammoth_taunt_death</key>
	<string>0</string>
	<key>hero_mammoth_ancestral_force_impact</key>
	<string>0</string>
	<key>hero_mammoth_combat_frenzy_on</key>
	<string>0</string>
	<key>hero_mammoth_combat_frenzy_off</key>
	<string>0</string>
	<key>hero_mammoth_whirlwind</key>
	<string>0</string>
</dict>
</plist>
