<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_orc_taunt_1</key>
	<string>0</string>
	<key>hero_orc_taunt_2</key>
	<string>0</string>
	<key>hero_orc_taunt_3</key>
	<string>0</string>
	<key>hero_orc_taunt_4</key>
	<string>0</string>
	<key>hero_orc_taunt_death</key>
	<string>0</string>
	<key>hero_orc_aimedslashes</key>
	<string>0</string>
	<key>hero_orc_bruteforce</key>
	<string>0</string>
	<key>hero_orc_inspiringleader</key>
	<string>0</string>
	<key>hero_orc_enterwarmongers</key>
	<string>0</string>
</dict>
</plist>
