<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_oloch_taunt_1</key>
	<string>0</string>
	<key>hero_oloch_taunt_2</key>
	<string>0</string>
	<key>hero_oloch_taunt_3</key>
	<string>0</string>
	<key>hero_oloch_taunt_4</key>
	<string>0</string>
	<key>hero_oloch_taunt_death</key>
	<string>0</string>
	<key>hero_oloch_duplication</key>
	<string>0</string>
	<key>hero_oloch_magmaeruption</key>
	<string>0</string>
	<key>hero_oloch_hellishpact</key>
	<string>0</string>
	<key>hero_oloch_sealisolation</key>
	<string>0</string>
	<key>hero_oloch_demonicblast_cast</key>
	<string>0</string>
	<key>hero_oloch_demonicblast_travel</key>
	<string>0</string>
</dict>
</plist>
