<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_mortemis_taunt_1</key>
	<string>0</string>
	<key>hero_mortemis_taunt_2</key>
	<string>0</string>
	<key>hero_mortemis_taunt_3</key>
	<string>0</string>
	<key>hero_mortemis_taunt_4</key>
	<string>0</string>
	<key>hero_mortemis_taunt_death</key>
	<string>0</string>
	<key>hero_mortemis_call</key>
	<string>0</string>
	<key>hero_mortemis_rotten</key>
	<string>0</string>
	<key>hero_mortemis_bodyguard</key>
	<string>0</string>
</dict>
</plist>
