<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_beresad_taunt_1</key>
	<string>0</string>
	<key>hero_beresad_taunt_2</key>
	<string>0</string>
	<key>hero_beresad_taunt_3</key>
	<string>0</string>
	<key>hero_beresad_taunt_4</key>
	<string>0</string>
	<key>hero_beresad_taunt_death</key>
	<string>0</string>
	<key>hero_beresad_attack_shot</key>
	<string>0</string>
	<key>hero_beresad_attack_impact</key>
	<string>0</string>
	<key>hero_beresad_conflagration</key>
	<string>0</string>
	<key>hero_beresad_fear</key>
	<string>0</string>
	<key>hero_beresad_remove</key>
	<string>0</string>
	<key>hero_beresad_hellfire_firerain</key>
	<string>0</string>
	<key>hero_beresad_spawn_impact</key>
	<string>0</string>
	<key>hero_beresad_spawn_spit</key>
	<string>0</string>
	<key>hero_beresad_flames_loop</key>
	<string>0</string>
	<key>hero_beresad_flames_loopstart</key>
	<string>0</string>
	<key>hero_beresad_flames_loopend</key>
	<string>0</string>
</dict>
</plist>
