<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_tank_taunt_1</key>
	<string>0</string>
	<key>hero_tank_taunt_2</key>
	<string>0</string>
	<key>hero_tank_taunt_3</key>
	<string>0</string>
	<key>hero_tank_taunt_4</key>
	<string>0</string>
	<key>hero_tank_taunt_death</key>
	<string>0</string>
	<key>hero_tank_groundslam_lift</key>
	<string>0</string>
	<key>hero_tank_groundslam_impact</key>
	<string>0</string>
	<key>hero_tank_scorching_loop</key>
	<string>0</string>
	<key>hero_tank_scorching_loopstart</key>
	<string>0</string>
	<key>hero_tank_scorching_loopend</key>
	<string>0</string>
	<key>hero_tank_airstrike_bomb</key>
	<string>0</string>
	<key>hero_tank_airstrike_flames</key>
	<string>0</string>
</dict>
</plist>
