<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>amphiptere_walk</key>
		<dict>
			<key>prefix</key>
			<string>amphiptere</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>amphiptere_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>amphiptere</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>27</integer>
		</dict>
		<key>amphiptere_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>amphiptere</string>
			<key>fromIndex</key>
			<integer>28</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>amphiptere_speedWalk</key>
		<dict>
			<key>prefix</key>
			<string>amphiptere</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>amphiptere_speedWalkDown</key>
		<dict>
			<key>prefix</key>
			<string>amphiptere</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>89</integer>
		</dict>
		<key>amphiptere_speedWalkUp</key>
		<dict>
			<key>prefix</key>
			<string>amphiptere</string>
			<key>fromIndex</key>
			<integer>90</integer>
			<key>toIndex</key>
			<integer>113</integer>
		</dict>
		<key>amphiptere_death</key>
		<dict>
			<key>prefix</key>
			<string>amphiptere</string>
			<key>fromIndex</key>
			<integer>114</integer>
			<key>toIndex</key>
			<integer>129</integer>
		</dict>
	</dict>
</dict>
</plist>
