<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>bullywags_golem_hit_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>bullywags_golem_idle</key>
		<dict>
			<key>prefix</key>
			<string>bullywags_golem</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>bullywags_golem_walk</key>
		<dict>
			<key>prefix</key>
			<string>bullywags_golem</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>59</integer>
		</dict>
		<key>bullywags_golem_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>bullywags_golem</string>
			<key>fromIndex</key>
			<integer>60</integer>
			<key>toIndex</key>
			<integer>117</integer>
		</dict>
		<key>bullywags_golem_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>bullywags_golem</string>
			<key>fromIndex</key>
			<integer>118</integer>
			<key>toIndex</key>
			<integer>175</integer>
		</dict>
		<key>bullywags_golem_attack</key>
		<dict>
			<key>prefix</key>
			<string>bullywags_golem</string>
			<key>fromIndex</key>
			<integer>176</integer>
			<key>toIndex</key>
			<integer>227</integer>
		</dict>
		<key>bullywags_golem_death</key>
		<dict>
			<key>prefix</key>
			<string>bullywags_golem</string>
			<key>fromIndex</key>
			<integer>228</integer>
			<key>toIndex</key>
			<integer>291</integer>
		</dict>
	</dict>
</dict>
</plist>
