<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>infuser_bolt_animations.plist</key>
		<string></string>
		<key>infuser_gem_ray_animations.plist</key>
		<string></string>
		<key>infuser_gem_ray_hit_animations.plist</key>
		<string></string>
		<key>infuser_cast_ray_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>infuser_idle</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>infuser_walk</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>infuser_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>infuser_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>infuser_melee</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>86</integer>
		</dict>
		<key>infuser_ranged</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>87</integer>
			<key>toIndex</key>
			<integer>112</integer>
		</dict>
		<key>infuser_cast</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>113</integer>
			<key>toIndex</key>
			<integer>138</integer>
		</dict>
		<key>infuser_gemChargeStart</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>139</integer>
			<key>toIndex</key>
			<integer>152</integer>
		</dict>
		<key>infuser_gemChargeLoop</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>153</integer>
			<key>toIndex</key>
			<integer>153</integer>
		</dict>
		<key>infuser_gemChargeEnd</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>154</integer>
			<key>toIndex</key>
			<integer>166</integer>
		</dict>
		<key>infuser_death</key>
		<dict>
			<key>prefix</key>
			<string>infuser</string>
			<key>fromIndex</key>
			<integer>167</integer>
			<key>toIndex</key>
			<integer>188</integer>
		</dict>
	</dict>
</dict>
</plist>
