<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_eiskalt_explosion_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_proyectile_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_particle_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_frosty_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_frosty_explotion_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_explosion_air_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_ice_peaks_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_cold_fury_particle_animations.plist</key>
		<string></string>
		<key>hero_eiskalt_cold_fury_smoke_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_eiskalt_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>20</integer>
		</dict>
		<key>hero_eiskalt_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>21</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>hero_eiskalt_icePeaks</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>84</integer>
		</dict>
		<key>hero_eiskalt_coldFury</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>85</integer>
			<key>toIndex</key>
			<integer>127</integer>
		</dict>
		<key>hero_eiskalt_frosty</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>128</integer>
			<key>toIndex</key>
			<integer>164</integer>
		</dict>
		<key>hero_eiskalt_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>165</integer>
			<key>toIndex</key>
			<integer>194</integer>
		</dict>
		<key>hero_eiskalt_respawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>195</integer>
			<key>toIndex</key>
			<integer>235</integer>
		</dict>
		<key>hero_eiskalt_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_eiskalt</string>
			<key>fromIndex</key>
			<integer>236</integer>
			<key>toIndex</key>
			<integer>263</integer>
		</dict>
	</dict>
</dict>
</plist>
