<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_tramin_jetpack_floor_animations.plist</key>
		<string></string>
		<key>hero_tramin_jetpack_particle_animations.plist</key>
		<string></string>
		<key>hero_tramin_drink_decal_animations.plist</key>
		<string></string>
		<key>hero_tramin_misil_proyectile_hit_animations.plist</key>
		<string></string>
		<key>hero_tramin_tnt_proyectile_hit_animations.plist</key>
		<string></string>
		<key>hero_tramin_flashbang_explotion_animations.plist</key>
		<string></string>
		<key>hero_tramin_misil_proyectile_particle_animations.plist</key>
		<string></string>
		<key>hero_tramin_bombot_animations.plist</key>
		<string></string>
		<key>hero_tramin_basic_melee_explotion_animations.plist</key>
		<string></string>
		<key>hero_tramin_ultimate_box_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_tramin_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>hero_tramin_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>hero_tramin_melee</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>hero_tramin_melee2</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>59</integer>
		</dict>
		<key>hero_tramin_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>60</integer>
			<key>toIndex</key>
			<integer>125</integer>
		</dict>
		<key>hero_tramin_throwBomb</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>126</integer>
			<key>toIndex</key>
			<integer>147</integer>
		</dict>
		<key>hero_tramin_throwFlashbang</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>148</integer>
			<key>toIndex</key>
			<integer>169</integer>
		</dict>
		<key>hero_tramin_throwTNT</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>170</integer>
			<key>toIndex</key>
			<integer>191</integer>
		</dict>
		<key>hero_tramin_throwBombot</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>192</integer>
			<key>toIndex</key>
			<integer>213</integer>
		</dict>
		<key>hero_tramin_drink</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>214</integer>
			<key>toIndex</key>
			<integer>263</integer>
		</dict>
		<key>hero_tramin_toRocketRain</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>264</integer>
			<key>toIndex</key>
			<integer>275</integer>
		</dict>
		<key>hero_tramin_RocketRain</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>276</integer>
			<key>toIndex</key>
			<integer>283</integer>
		</dict>
		<key>hero_tramin_outRocketRain</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>284</integer>
			<key>toIndex</key>
			<integer>292</integer>
		</dict>
		<key>hero_tramin_toJetpack</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>293</integer>
			<key>toIndex</key>
			<integer>313</integer>
		</dict>
		<key>hero_tramin_jetpack</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>314</integer>
			<key>toIndex</key>
			<integer>321</integer>
		</dict>
		<key>hero_tramin_outJetpack</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>322</integer>
			<key>toIndex</key>
			<integer>328</integer>
		</dict>
		<key>hero_tramin_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin</string>
			<key>fromIndex</key>
			<integer>329</integer>
			<key>toIndex</key>
			<integer>359</integer>
		</dict>
	</dict>
</dict>
</plist>
