<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_tramin_ultimate_explosion_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_tramin_ultimate_bomb_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin_ultimate_bomb</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>hero_tramin_ultimate_bomb_1Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin_ultimate_bomb</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>9</integer>
		</dict>
		<key>hero_tramin_ultimate_bomb_2Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin_ultimate_bomb</string>
			<key>fromIndex</key>
			<integer>10</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>hero_tramin_ultimate_bomb_3Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin_ultimate_bomb</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>hero_tramin_ultimate_bomb_4Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin_ultimate_bomb</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>hero_tramin_ultimate_bomb_5Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin_ultimate_bomb</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>hero_tramin_ultimate_bomb_6Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tramin_ultimate_bomb</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
	</dict>
</dict>
</plist>
