<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asst_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{494,567},{19,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_contorno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{384,681},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_contorno_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{252,1007},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{999,131},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{999,98},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{999,63},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{999,297},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{999,222},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{252,505},{21,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{251,530},{21,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{494,441},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{999,333},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{15,27}</string>
                <key>textureRect</key>
                <string>{{269,1007},{15,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{467,982},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{253,480},{21,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{259,448},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{494,538},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{445,982},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{362,681},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{217,545},{19,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{350,1007},{14,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{300,1007},{15,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{324,1007},{14,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{999,184},{15,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{999,203},{15,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1.5}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{217,486},{26,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-1}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{217,455},{27,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{217,516},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{259,414},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{999,26},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{999,260},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1.5}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{999,162},{18,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-2}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{999,1},{21,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{494,508},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{251,555},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{494,476},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{416,982},{26,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_glow_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{217,414},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{95,127}</string>
                <key>textureRect</key>
                <string>{{281,603},{77,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{99,165}</string>
                <key>spriteSourceSize</key>
                <string>{141,197}</string>
                <key>textureRect</key>
                <string>{{519,277},{99,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{147,205}</string>
                <key>spriteSourceSize</key>
                <string>{197,249}</string>
                <key>textureRect</key>
                <string>{{1,556},{147,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{158,205}</string>
                <key>spriteSourceSize</key>
                <string>{216,251}</string>
                <key>textureRect</key>
                <string>{{285,441},{158,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,1}</string>
                <key>spriteSize</key>
                <string>{160,229}</string>
                <key>spriteSourceSize</key>
                <string>{213,261}</string>
                <key>textureRect</key>
                <string>{{286,277},{160,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,2}</string>
                <key>spriteSize</key>
                <string>{138,212}</string>
                <key>spriteSourceSize</key>
                <string>{183,246}</string>
                <key>textureRect</key>
                <string>{{1,414},{138,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{127,203}</string>
                <key>spriteSourceSize</key>
                <string>{169,237}</string>
                <key>textureRect</key>
                <string>{{1,707},{127,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{107,200}</string>
                <key>spriteSourceSize</key>
                <string>{155,222}</string>
                <key>textureRect</key>
                <string>{{208,724},{107,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0.5}</string>
                <key>spriteSize</key>
                <string>{74,175}</string>
                <key>spriteSourceSize</key>
                <string>{125,206}</string>
                <key>textureRect</key>
                <string>{{1,838},{74,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,159}</string>
                <key>spriteSourceSize</key>
                <string>{126,203}</string>
                <key>textureRect</key>
                <string>{{362,603},{74,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{66,145}</string>
                <key>spriteSourceSize</key>
                <string>{112,175}</string>
                <key>textureRect</key>
                <string>{{622,368},{66,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{67,141}</string>
                <key>spriteSourceSize</key>
                <string>{125,207}</string>
                <key>textureRect</key>
                <string>{{210,579},{67,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_grietas_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{156,148}</string>
                <key>textureRect</key>
                <string>{{412,681},{156,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{156,148}</string>
                <key>textureRect</key>
                <string>{{519,446},{156,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_ironhide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,272}</string>
                <key>spriteSourceSize</key>
                <string>{624,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{624,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_ironhide_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,1}</string>
                <key>spriteSize</key>
                <string>{281,133}</string>
                <key>spriteSourceSize</key>
                <string>{360,203}</string>
                <key>textureRect</key>
                <string>{{1,277},{281,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_light_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{169,170}</string>
                <key>spriteSourceSize</key>
                <string>{183,171}</string>
                <key>textureRect</key>
                <string>{{79,838},{169,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,343}</string>
                <key>spriteSourceSize</key>
                <string>{366,343}</string>
                <key>textureRect</key>
                <string>{{629,1},{366,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_logo_lava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1.5}</string>
                <key>spriteSize</key>
                <string>{168,160}</string>
                <key>spriteSourceSize</key>
                <string>{236,225}</string>
                <key>textureRect</key>
                <string>{{252,835},{168,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_shadow_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{229,223}</string>
                <key>textureRect</key>
                <string>{{416,833},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{372,1007},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ih_splash.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf76f5ca710606133c581061e674bcc:bd026ada0b580e2e9492804ea192fc3b:9f0cda563a6a02a66da31282121c86ba$</string>
            <key>textureFileName</key>
            <string>ih_splash.png</string>
        </dict>
    </dict>
</plist>
