<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>darkarmy_melting_furnace_tower_lvl4_flames_animations.plist</key>
		<string></string>
		<key>darkarmy_melting_furnace_tower_swords_animations.plist</key>
		<string></string>
		<key>darkarmy_melting_furnace_tower_lvl4_fissure_hit_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>darkarmy_melting_furnace_tower_lvl4_layer_shoot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>8</integer>
			<key>prefix</key>
			<string>darkarmy_melting_furnace_tower_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>74</integer>
		</dict>
		<key>darkarmy_melting_furnace_tower_lvl4_layer_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>8</integer>
			<key>prefix</key>
			<string>darkarmy_melting_furnace_tower_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>75</integer>
			<key>toIndex</key>
			<integer>75</integer>
		</dict>
		<key>darkarmy_melting_furnace_tower_lvl4_layer_bfIntro</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>8</integer>
			<key>prefix</key>
			<string>darkarmy_melting_furnace_tower_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>76</integer>
			<key>toIndex</key>
			<integer>115</integer>
		</dict>
		<key>darkarmy_melting_furnace_tower_lvl4_layer_bfLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>8</integer>
			<key>prefix</key>
			<string>darkarmy_melting_furnace_tower_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>116</integer>
			<key>toIndex</key>
			<integer>120</integer>
		</dict>
		<key>darkarmy_melting_furnace_tower_lvl4_layer_bfHit</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>8</integer>
			<key>prefix</key>
			<string>darkarmy_melting_furnace_tower_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>121</integer>
			<key>toIndex</key>
			<integer>149</integer>
		</dict>
		<key>darkarmy_melting_furnace_tower_lvl4_layer_shootFissure</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>8</integer>
			<key>prefix</key>
			<string>darkarmy_melting_furnace_tower_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>150</integer>
			<key>toIndex</key>
			<integer>223</integer>
		</dict>
	</dict>
</dict>
</plist>
