<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{412,119},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_levelselect_botton_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{246,54}</string>
                <key>spriteSourceSize</key>
                <string>{246,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_levelselect_playbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,78}</string>
                <key>spriteSourceSize</key>
                <string>{190,78}</string>
                <key>textureRect</key>
                <string>{{184,1},{190,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_news_button_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{246,46}</string>
                <key>spriteSourceSize</key>
                <string>{246,60}</string>
                <key>textureRect</key>
                <string>{{59,1},{246,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>option_menu_ingame_confirm_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{206,71}</string>
                <key>spriteSourceSize</key>
                <string>{206,73}</string>
                <key>textureRect</key>
                <string>{{109,1},{206,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>option_menu_ingame_confirmdialog_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{266,1},{184,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>option_menu_ingame_confirmdialog_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{334,1},{184,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taunt_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{184,195},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taunt_blue_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{109,211},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taunt_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{242,195},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taunt_orange_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{109,231},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taunt_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{300,189},{54,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taunt_red_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{125,211},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taunt_violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{356,189},{54,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taunt_violet_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{125,231},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_common_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,116}</string>
                <key>textureRect</key>
                <string>{{402,1},{90,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_common.png</string>
            <key>size</key>
            <string>{493,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8db094d5bbbb71cdd91a39ed1aa40483:cfd283427b2c265e9c84f9144f30ccb4:7f1cc68a8bf8644d0bde5279e7cc499c$</string>
            <key>textureFileName</key>
            <string>kr4_common.png</string>
        </dict>
    </dict>
</plist>
