<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>boneflingers_shooter_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>fallen_ones_archer_towers_lvl1_build</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl1</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>fallen_ones_archer_towers_lvl1_idle</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl1</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>2</integer>
		</dict>
		<key>fallen_ones_archer_towers_lvl1_shoot</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl1</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
