<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>boss_dwarf_mecha_proyectile_animations.plist</key>
		<string></string>
		<key>boss_dwarf_mecha_proyectile_smoke_animations.plist</key>
		<string></string>
		<key>explosion_fragment.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>boss_dwarf_mecha_up</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>boss_dwarf_mecha_idle</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>boss_dwarf_mecha_walk</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>71</integer>
		</dict>
		<key>boss_dwarf_mecha_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>71</integer>
		</dict>
		<key>boss_dwarf_mecha_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>71</integer>
		</dict>
		<key>boss_dwarf_mecha_attack</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>72</integer>
			<key>toIndex</key>
			<integer>125</integer>
		</dict>
		<key>boss_dwarf_mecha_missil</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>126</integer>
			<key>toIndex</key>
			<integer>199</integer>
		</dict>
		<key>boss_dwarf_mecha_death</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_mecha</string>
			<key>fromIndex</key>
			<integer>200</integer>
			<key>toIndex</key>
			<integer>256</integer>
		</dict>
	</dict>
</dict>
</plist>
