<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>boss_dwarf_throne_animations.plist</key>
		<string></string>
		<key>boss_dwarf_coins_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>boss_dwarf_idle</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>boss_dwarf_angry</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>boss_dwarf_up</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>63</integer>
		</dict>
		<key>boss_dwarf_fail</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>64</integer>
			<key>toIndex</key>
			<integer>173</integer>
		</dict>
		<key>boss_dwarf_correct</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>174</integer>
			<key>toIndex</key>
			<integer>199</integer>
		</dict>
		<key>boss_dwarf_back</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>200</integer>
			<key>toIndex</key>
			<integer>227</integer>
		</dict>
		<key>boss_dwarf_jump</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>228</integer>
			<key>toIndex</key>
			<integer>234</integer>
		</dict>
		<key>boss_dwarf_jumpOn</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>235</integer>
			<key>toIndex</key>
			<integer>238</integer>
		</dict>
		<key>boss_dwarf_steal</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>239</integer>
			<key>toIndex</key>
			<integer>246</integer>
		</dict>
		<key>boss_dwarf_down</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>247</integer>
			<key>toIndex</key>
			<integer>249</integer>
		</dict>
		<key>boss_dwarf_downOut</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>250</integer>
			<key>toIndex</key>
			<integer>259</integer>
		</dict>
		<key>boss_dwarf_down2</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>260</integer>
			<key>toIndex</key>
			<integer>262</integer>
		</dict>
		<key>boss_dwarf_downOut2</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>263</integer>
			<key>toIndex</key>
			<integer>271</integer>
		</dict>
		<key>boss_dwarf_fall</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>173</integer>
		</dict>
		<key>boss_dwarf_splash</key>
		<dict>
			<key>prefix</key>
			<string>boss_dwarf_splash</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>29</integer>
		</dict>
	</dict>
</dict>
</plist>
