<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>chompbot_idle</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>chompbot_walk</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>chompbot_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>43</integer>
		</dict>
		<key>chompbot_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>44</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>chompbot_attack</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>85</integer>
		</dict>
		<key>chompbot_overheatStart</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>86</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>chompbot_overheatLoop</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>chompbot_death</key>
		<dict>
			<key>prefix</key>
			<string>chompbot</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>142</integer>
		</dict>
	</dict>
</dict>
</plist>
