<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>mechadwarf_decal_animations.plist</key>
		<string></string>
		<key>mechadwarf_explosion_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>mechadwarf_idle</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>mechadwarf_walk</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>mechadwarf_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>mechadwarf_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>96</integer>
		</dict>
		<key>mechadwarf_attack</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>97</integer>
			<key>toIndex</key>
			<integer>129</integer>
		</dict>
		<key>mechadwarf_broken</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>130</integer>
			<key>toIndex</key>
			<integer>153</integer>
		</dict>
		<key>mechadwarf_specialAttack</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>154</integer>
			<key>toIndex</key>
			<integer>199</integer>
		</dict>
		<key>mechadwarf_death</key>
		<dict>
			<key>prefix</key>
			<string>mechadwarf</string>
			<key>fromIndex</key>
			<integer>200</integer>
			<key>toIndex</key>
			<integer>235</integer>
		</dict>
	</dict>
</dict>
</plist>
