<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>quarry_worker_idle</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>quarry_worker_walk</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>23</integer>
		</dict>
		<key>quarry_worker_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>24</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>quarry_worker_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>quarry_worker_attack</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>88</integer>
		</dict>
		<key>quarry_worker_buriedIn</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>89</integer>
			<key>toIndex</key>
			<integer>132</integer>
		</dict>
		<key>quarry_worker_buriedOut</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>133</integer>
			<key>toIndex</key>
			<integer>147</integer>
		</dict>
		<key>quarry_worker_buriedWalk</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>148</integer>
			<key>toIndex</key>
			<integer>161</integer>
		</dict>
		<key>quarry_worker_buriedWalkUp</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>162</integer>
			<key>toIndex</key>
			<integer>175</integer>
		</dict>
		<key>quarry_worker_buriedWalkDown</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>176</integer>
			<key>toIndex</key>
			<integer>189</integer>
		</dict>
		<key>quarry_worker_death</key>
		<dict>
			<key>prefix</key>
			<string>quarry_worker</string>
			<key>fromIndex</key>
			<integer>190</integer>
			<key>toIndex</key>
			<integer>210</integer>
		</dict>
	</dict>
</dict>
</plist>
