<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>smokebeard_engineer_ray_animations.plist</key>
		<string></string>
		<key>smokebeard_engineer_ray_hit_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>smokebeard_engineer_walk</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>smokebeard_engineer_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>smokebeard_engineer_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>smokebeard_engineer_idle</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>smokebeard_engineer_attack</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>92</integer>
		</dict>
		<key>smokebeard_engineer_repair</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>93</integer>
			<key>toIndex</key>
			<integer>99</integer>
		</dict>
		<key>smokebeard_engineer_repairLoop</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>100</integer>
			<key>toIndex</key>
			<integer>113</integer>
		</dict>
		<key>smokebeard_engineer_repairEnd</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>114</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>smokebeard_engineer_death</key>
		<dict>
			<key>prefix</key>
			<string>smokebeard_engineer</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
	</dict>
</dict>
</plist>
