<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>stonebeard_geomancer_idle</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>stonebeard_geomancer_walk</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>stonebeard_geomancer_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>stonebeard_geomancer_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>72</integer>
		</dict>
		<key>stonebeard_geomancer_toStone</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>73</integer>
			<key>toIndex</key>
			<integer>96</integer>
		</dict>
		<key>stonebeard_geomancer_idleBlock</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>97</integer>
			<key>toIndex</key>
			<integer>97</integer>
		</dict>
		<key>stonebeard_geomancer_attack</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>98</integer>
			<key>toIndex</key>
			<integer>122</integer>
		</dict>
		<key>stonebeard_geomancer_toDwarf</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>123</integer>
			<key>toIndex</key>
			<integer>138</integer>
		</dict>
		<key>stonebeard_geomancer_death</key>
		<dict>
			<key>prefix</key>
			<string>stonebeard_geomancer</string>
			<key>fromIndex</key>
			<integer>139</integer>
			<key>toIndex</key>
			<integer>166</integer>
		</dict>
	</dict>
</dict>
</plist>
