<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>sulfur_alchemist_projectile_heal_hit.plist</key>
		<string></string>
		<key>sulfur_alchemist_projectile_hit_animations.plist</key>
		<string></string>
		<key>sulfur_alchemist_heal_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>sulfur_alchemist_idle</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>sulfur_alchemist_walk</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>23</integer>
		</dict>
		<key>sulfur_alchemist_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>24</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>sulfur_alchemist_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>sulfur_alchemist_attack</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>96</integer>
		</dict>
		<key>sulfur_alchemist_shoot</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>97</integer>
			<key>toIndex</key>
			<integer>126</integer>
		</dict>
		<key>sulfur_alchemist_shootPoison</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>127</integer>
			<key>toIndex</key>
			<integer>156</integer>
		</dict>
		<key>sulfur_alchemist_death</key>
		<dict>
			<key>prefix</key>
			<string>sulfur_alchemist</string>
			<key>fromIndex</key>
			<integer>157</integer>
			<key>toIndex</key>
			<integer>198</integer>
		</dict>
	</dict>
</dict>
</plist>
