<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>tinbeard_gunman_proyectile_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>tinbeard_gunman_idle</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>tinbeard_gunman_walk</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>23</integer>
		</dict>
		<key>tinbeard_gunman_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>24</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>tinbeard_gunman_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>tinbeard_gunman_attack</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>82</integer>
		</dict>
		<key>tinbeard_gunman_shoot</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>122</integer>
		</dict>
		<key>tinbeard_gunman_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>123</integer>
			<key>toIndex</key>
			<integer>161</integer>
		</dict>
		<key>tinbeard_gunman_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>162</integer>
			<key>toIndex</key>
			<integer>200</integer>
		</dict>
		<key>tinbeard_gunman_death</key>
		<dict>
			<key>prefix</key>
			<string>tinbeard_gunman</string>
			<key>fromIndex</key>
			<integer>201</integer>
			<key>toIndex</key>
			<integer>220</integer>
		</dict>
	</dict>
</dict>
</plist>
