<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>smokebeard_engineer_animations.plist</key>
		<dict/>
		<key>chompbot_animations.plist</key>
		<dict/>
		<key>quarry_worker_animations.plist</key>
		<dict/>
		<key>warhammer_guard_animations.plist</key>
		<dict/>
		<key>clockwork_spider_animations.plist</key>
		<dict/>
		<key>tinbeard_gunman_animations.plist</key>
		<dict/>
		<key>sulfur_alchemist_animations.plist</key>
		<dict/>
		<key>stonebeard_geomancer_animations.plist</key>
		<dict/>
		<key>mechadwarf_animations.plist</key>
		<dict/>
		<key>cyclopter_pilot_animations.plist</key>
		<dict/>
		<key>bruiser_animations.plist</key>
		<dict/>
	</dict>
	<key>animations</key>
	<dict/>
</dict>
</plist>
