<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>warmongers_baloon_tower_shooter_lvl1_animations.plist</key>
		<string></string>
		<key>explosion_fragment.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>GoblinBalloon_Lvl1_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>warmongers_baloon_tower_lvl</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>GoblinBalloon_Lvl1_walk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>warmongers_baloon_tower_lvl</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
