<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>warmongers_baloon_tower_shooter_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_baloon_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>warmongers_baloon_tower_shooter_lvl4_shoot</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_baloon_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>40</integer>
		</dict>
	</dict>
</dict>
</plist>
