<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_mortemis_fumes_fx_animations.plist</key>
		<string></string>
		<key>hero_mortemis_call_of_the_haunted_animations.plist</key>
		<string></string>
		<key>hero_mortemis_soul_proyectile_animations.plist</key>
		<string></string>
		<key>hero_mortemis_soul_particle_animations.plist</key>
		<string></string>
		<key>hero_mortemis_zombie_animations.plist</key>
		<string></string>
		<key>hero_mortemis_fumes_floor_decal_animations.plist</key>
		<string></string>
		<key>hero_mortemis_zombie_golem_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_mortemis_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>hero_mortemis_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>16</integer>
			<key>toIndex</key>
			<integer>38</integer>
		</dict>
		<key>hero_mortemis_melee</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>39</integer>
			<key>toIndex</key>
			<integer>69</integer>
		</dict>
		<key>hero_mortemis_attackIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>70</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>hero_mortemis_attackLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>113</integer>
		</dict>
		<key>hero_mortemis_attackOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>114</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>hero_mortemis_deadlyFumes</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>157</integer>
		</dict>
		<key>hero_mortemis_callHunted</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>158</integer>
			<key>toIndex</key>
			<integer>191</integer>
		</dict>
		<key>hero_mortemis_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>192</integer>
			<key>toIndex</key>
			<integer>242</integer>
		</dict>
		<key>hero_mortemis_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis</string>
			<key>fromIndex</key>
			<integer>243</integer>
			<key>toIndex</key>
			<integer>257</integer>
		</dict>
	</dict>
</dict>
</plist>
