<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>hero_mortemis_soul_proyectile_run</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis_soul_proyectile</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>6</integer>
		</dict>
		<key>hero_mortemis_soul_proyectile_travel</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis_soul_proyectile</string>
			<key>fromIndex</key>
			<integer>7</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>hero_mortemis_soul_proyectile_hit</key>
		<dict>
			<key>prefix</key>
			<string>hero_mortemis_soul_proyectile</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
	</dict>
</dict>
</plist>
