<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>rotten_forest_towers_root_start</key>
		<dict>
			<key>prefix</key>
			<string>rotten_forest_towers_root_of_evil</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>rotten_forest_towers_root_idle</key>
		<dict>
			<key>prefix</key>
			<string>rotten_forest_towers_root_of_evil</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>16</integer>
		</dict>
		<key>rotten_forest_towers_root_end</key>
		<dict>
			<key>prefix</key>
			<string>rotten_forest_towers_root_of_evil</string>
			<key>fromIndex</key>
			<integer>17</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
	</dict>
</dict>
</plist>
