<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>achievement_the_thing_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>achievement_the_thing_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>achievement_the_thing_sniff</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>achievement_the_thing_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>achievement_the_thing_dig</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>achievement_the_thing_layer</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>107</integer>
		</dict>
		<key>achievement_the_thing_bark</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>achievement_the_thing_layer</string>
			<key>fromIndex</key>
			<integer>108</integer>
			<key>toIndex</key>
			<integer>145</integer>
		</dict>
		<key>achievement_the_thing_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>achievement_the_thing_layer</string>
			<key>fromIndex</key>
			<integer>146</integer>
			<key>toIndex</key>
			<integer>180</integer>
		</dict>
		<key>achievement_the_thing_thingLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>achievement_the_thing_layer</string>
			<key>fromIndex</key>
			<integer>181</integer>
			<key>toIndex</key>
			<integer>207</integer>
		</dict>
		<key>achievement_the_thing_thingDeath</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>achievement_the_thing_layer</string>
			<key>fromIndex</key>
			<integer>208</integer>
			<key>toIndex</key>
			<integer>224</integer>
		</dict>
	</dict>
</dict>
</plist>
