<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>big_berta_chickens_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>big_berta_chickens_jump</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>big_berta_chickens_eat1</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>34</integer>
		</dict>
		<key>big_berta_chickens_eat2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>35</integer>
			<key>toIndex</key>
			<integer>51</integer>
		</dict>
		<key>big_berta_chickens_eat3</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>52</integer>
			<key>toIndex</key>
			<integer>68</integer>
		</dict>
		<key>big_berta_chickens_walk1</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>69</integer>
			<key>toIndex</key>
			<integer>127</integer>
		</dict>
		<key>big_berta_chickens_walk2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>128</integer>
			<key>toIndex</key>
			<integer>186</integer>
		</dict>
		<key>big_berta_chickens_walk3</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>big_berta_chickens_layer</string>
			<key>fromIndex</key>
			<integer>187</integer>
			<key>toIndex</key>
			<integer>245</integer>
		</dict>
	</dict>
</dict>
</plist>
