<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>cart_layer_downWarhammer3</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
		<key>cart_layer_sideWarhammer3</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>20</integer>
			<key>toIndex</key>
			<integer>38</integer>
		</dict>
		<key>cart_layer_upWarhammer3</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>39</integer>
			<key>toIndex</key>
			<integer>57</integer>
		</dict>
		<key>cart_layer_downBruiser2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>58</integer>
			<key>toIndex</key>
			<integer>76</integer>
		</dict>
		<key>cart_layer_sideBruiser2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>77</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>cart_layer_upBruiser2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>114</integer>
		</dict>
		<key>cart_layer_downBruiser2Warhammer1</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>115</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
		<key>cart_layer_sideBruiser2Warhammer1</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>134</integer>
			<key>toIndex</key>
			<integer>152</integer>
		</dict>
		<key>cart_layer_upBruiser2Warhammer1</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>153</integer>
			<key>toIndex</key>
			<integer>171</integer>
		</dict>
		<key>cart_layer_downWarhammer2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>172</integer>
			<key>toIndex</key>
			<integer>190</integer>
		</dict>
		<key>cart_layer_sideWarhammer2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>191</integer>
			<key>toIndex</key>
			<integer>209</integer>
		</dict>
		<key>cart_layer_upWarhammer2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>210</integer>
			<key>toIndex</key>
			<integer>228</integer>
		</dict>
		<key>cart_layer_downDK</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>229</integer>
			<key>toIndex</key>
			<integer>247</integer>
		</dict>
		<key>cart_layer_sideDK</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>248</integer>
			<key>toIndex</key>
			<integer>266</integer>
		</dict>
		<key>cart_layer_upDK</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>267</integer>
			<key>toIndex</key>
			<integer>285</integer>
		</dict>
		<key>cart_layer_downIJ</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>286</integer>
			<key>toIndex</key>
			<integer>304</integer>
		</dict>
		<key>cart_layer_sideIJ</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>305</integer>
			<key>toIndex</key>
			<integer>323</integer>
		</dict>
		<key>cart_layer_upIJ</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>324</integer>
			<key>toIndex</key>
			<integer>342</integer>
		</dict>
		<key>cart_layer_fallWarhammer3</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_explotion_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>34</integer>
		</dict>
		<key>cart_layer_fallBruiser2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_explotion_layer</string>
			<key>fromIndex</key>
			<integer>35</integer>
			<key>toIndex</key>
			<integer>68</integer>
		</dict>
		<key>cart_layer_fallBruiser2Warhammer1</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_explotion_layer</string>
			<key>fromIndex</key>
			<integer>69</integer>
			<key>toIndex</key>
			<integer>102</integer>
		</dict>
		<key>cart_layer_fallWarhammer2</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_explotion_layer</string>
			<key>fromIndex</key>
			<integer>103</integer>
			<key>toIndex</key>
			<integer>136</integer>
		</dict>
		<key>cart_layer_downKremling</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>343</integer>
			<key>toIndex</key>
			<integer>361</integer>
		</dict>
		<key>cart_layer_sideKremling</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>362</integer>
			<key>toIndex</key>
			<integer>380</integer>
		</dict>
		<key>cart_layer_upKremling</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>cart_layer</string>
			<key>fromIndex</key>
			<integer>381</integer>
			<key>toIndex</key>
			<integer>399</integer>
		</dict>
	</dict>
</dict>
</plist>
