<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.1000000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>idle</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.1000000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>2.0499999999999998</real>
								<real>-10.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>1.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_top</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_top</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_top2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_top3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_top4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
