<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.69999999999999996</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>4</integer>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.0500000000000007</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.69999999999999996</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>4</integer>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.0500000000000007</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>idle</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.050000000000000003</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.45000000000000001</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.2000000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.8499999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.90000000000000002</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.75</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.3000000000000007</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.050000000000000003</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.45000000000000001</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.2000000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.8499999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.90000000000000002</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.75</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.3000000000000007</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.050000000000000003</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.45000000000000001</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.2000000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.8499999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.90000000000000002</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.75</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.3000000000000007</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.050000000000000003</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.45000000000000001</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.2000000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.8499999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>0.40000000000000002</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.25</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>4.4500000000000002</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-7.5999999999999996</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-0.90000000000000002</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.75</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.3000000000000007</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<real>0.029754638671875</real>
								<real>1.0999755859375</real>
								<real>-0.34999999999999998</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_back</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>-1.1499999999999999</real>
								<real>-8.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0999755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0999755859375</real>
								<real>3.5499999999999998</real>
								<integer>-1</integer>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.5634918212890625</real>
								<real>-0.2321624755859375</real>
								<real>0.25634765625</real>
								<real>1.525146484375</real>
								<real>-8.5</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_egg</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_egg10</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_egg9</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_back</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_back2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_back3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_back4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
