<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.69999999999999996</real>
								<real>10.75</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.1266326904296875</real>
								<integer>0</integer>
								<real>0.0416717529296875</real>
								<real>2.22509765625</real>
								<real>-13.449999999999999</real>
								<real>6.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.903656005859375</real>
								<real>-0.9479217529296875</real>
								<real>0.9874725341796875</real>
								<real>1.893402099609375</real>
								<real>-4.5999999999999996</real>
								<real>-8.8000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.1266326904296875</real>
								<integer>0</integer>
								<real>0.03997802734375</real>
								<real>2.13507080078125</real>
								<real>13.15</real>
								<real>4.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.69999999999999996</real>
								<real>10.75</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.1266326904296875</real>
								<integer>0</integer>
								<real>0.0416717529296875</real>
								<real>2.22509765625</real>
								<real>-13.449999999999999</real>
								<real>6.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.903656005859375</real>
								<real>-0.9479217529296875</real>
								<real>0.9874725341796875</real>
								<real>1.893402099609375</real>
								<real>-4.5999999999999996</real>
								<real>-8.8000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.1266326904296875</real>
								<integer>0</integer>
								<real>0.03997802734375</real>
								<real>2.13507080078125</real>
								<real>13.15</real>
								<real>4.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.75</real>
								<real>6.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.82037353515625</real>
								<integer>0</integer>
								<real>0.0356597900390625</real>
								<real>1.9046630859375</real>
								<real>-17.449999999999999</real>
								<real>9.5500000000000007</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.50286865234375</real>
								<real>-0.74835205078125</real>
								<real>0.779571533203125</real>
								<real>1.4947509765625</real>
								<real>-12.050000000000001</real>
								<real>-14.25</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.7844085693359375</real>
								<integer>0</integer>
								<real>0.033538818359375</real>
								<real>1.7914886474609375</real>
								<real>22.149999999999999</real>
								<real>8.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.75</real>
								<real>6.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.82037353515625</real>
								<integer>0</integer>
								<real>0.0356597900390625</real>
								<real>1.9046630859375</real>
								<real>-17.449999999999999</real>
								<real>9.5500000000000007</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.50286865234375</real>
								<real>-0.74835205078125</real>
								<real>0.779571533203125</real>
								<real>1.4947509765625</real>
								<real>-12.050000000000001</real>
								<real>-14.25</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.7844085693359375</real>
								<integer>0</integer>
								<real>0.033538818359375</real>
								<real>1.7914886474609375</real>
								<real>22.149999999999999</real>
								<real>8.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.8500000000000001</real>
								<real>4.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.43780517578125</real>
								<integer>0</integer>
								<real>0.0281524658203125</real>
								<real>1.50439453125</real>
								<real>-19.100000000000001</real>
								<real>11.85</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1729583740234375</real>
								<real>-0.584075927734375</real>
								<real>0.6084442138671875</real>
								<real>1.1666259765625</real>
								<real>-13.199999999999999</real>
								<real>-17.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.53826904296875</real>
								<integer>0</integer>
								<real>0.028900146484375</real>
								<real>1.54437255859375</real>
								<real>28.300000000000001</real>
								<real>13.5</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.8500000000000001</real>
								<real>4.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.43780517578125</real>
								<integer>0</integer>
								<real>0.0281524658203125</real>
								<real>1.50439453125</real>
								<real>-19.100000000000001</real>
								<real>11.85</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1729583740234375</real>
								<real>-0.584075927734375</real>
								<real>0.6084442138671875</real>
								<real>1.1666259765625</real>
								<real>-13.199999999999999</real>
								<real>-17.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.53826904296875</real>
								<integer>0</integer>
								<real>0.028900146484375</real>
								<real>1.54437255859375</real>
								<real>28.300000000000001</real>
								<real>13.5</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.80000000000000004</real>
								<real>6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.9044189453125</real>
								<integer>0</integer>
								<real>0.0177001953125</real>
								<real>0.9462890625</real>
								<real>-21.300000000000001</real>
								<real>15.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.81427001953125</real>
								<real>-0.40545654296875</real>
								<real>0.42236328125</real>
								<real>0.80987548828125</real>
								<real>-15.75</real>
								<real>-18.949999999999999</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0078125</real>
								<integer>0</integer>
								<real>0.0189208984375</real>
								<real>1.0118255615234375</real>
								<real>30.649999999999999</real>
								<real>16.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.80000000000000004</real>
								<real>6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.9044189453125</real>
								<integer>0</integer>
								<real>0.0177001953125</real>
								<real>0.9462890625</real>
								<real>-21.300000000000001</real>
								<real>15.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.81427001953125</real>
								<real>-0.40545654296875</real>
								<real>0.42236328125</real>
								<real>0.80987548828125</real>
								<real>-15.75</real>
								<real>-18.949999999999999</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0078125</real>
								<integer>0</integer>
								<real>0.0189208984375</real>
								<real>1.0118255615234375</real>
								<real>30.649999999999999</real>
								<real>16.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_egg6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.80000000000000004</real>
								<real>7.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.80000000000000004</real>
								<real>7.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_eggs_mechanic_splattop_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_egg7</string>
			<key>offsetX</key>
			<real>-1.1499999999999999</real>
			<key>offsetY</key>
			<real>2.2999999999999998</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_egg8</string>
			<key>offsetX</key>
			<real>0.050000000000000003</real>
			<key>offsetY</key>
			<real>-2.6499999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_egg6</string>
			<key>offsetX</key>
			<real>2.1000000000000001</real>
			<key>offsetY</key>
			<real>1.8999999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_splattop_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_splattop_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_splattop_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_splattop_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_eggs_mechanic_splattop_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
