<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>gollum_ring</key>
		<dict>
			<key>prefix</key>
			<string>gollum</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>16</integer>
		</dict>
		<key>gollum_out</key>
		<dict>
			<key>prefix</key>
			<string>gollum</string>
			<key>fromIndex</key>
			<integer>17</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>gollum_in</key>
		<dict>
			<key>prefix</key>
			<string>gollum</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
		<key>gollum_take</key>
		<dict>
			<key>prefix</key>
			<string>gollum</string>
			<key>fromIndex</key>
			<integer>49</integer>
			<key>toIndex</key>
			<integer>104</integer>
		</dict>
		<key>gollum_mine</key>
		<dict>
			<key>prefix</key>
			<string>gollum</string>
			<key>fromIndex</key>
			<integer>105</integer>
			<key>toIndex</key>
			<integer>127</integer>
		</dict>
		<key>gollum_laugh</key>
		<dict>
			<key>prefix</key>
			<string>gollum</string>
			<key>fromIndex</key>
			<integer>128</integer>
			<key>toIndex</key>
			<integer>178</integer>
		</dict>
		<key>gollum_death</key>
		<dict>
			<key>prefix</key>
			<string>gollum</string>
			<key>fromIndex</key>
			<integer>179</integer>
			<key>toIndex</key>
			<integer>222</integer>
		</dict>
	</dict>
</dict>
</plist>
