<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>mcpato_in</key>
		<dict>
			<key>prefix</key>
			<string>mc_pato</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>97</integer>
		</dict>
		<key>mcpato_jump</key>
		<dict>
			<key>prefix</key>
			<string>mc_pato</string>
			<key>fromIndex</key>
			<integer>98</integer>
			<key>toIndex</key>
			<integer>151</integer>
		</dict>
		<key>mcpato_out</key>
		<dict>
			<key>prefix</key>
			<string>mc_pato</string>
			<key>fromIndex</key>
			<integer>152</integer>
			<key>toIndex</key>
			<integer>174</integer>
		</dict>
	</dict>
</dict>
</plist>
