<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>overcharge_crystals_explotion_animations.plist</key>
		<string></string>
		<key>overcharge_crystals_modifier_animations.plist</key>
		<string></string>
		<key>overcharge_crystals_ray_loop_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>overcharge_crystals_base_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>overcharge_crystals_base_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>overcharge_crystals_base_charging</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>overcharge_crystals_base_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>overcharge_crystals_base_charged</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>overcharge_crystals_base_layer</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
		<key>overcharge_crystals_base_shoot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>overcharge_crystals_base_layer</string>
			<key>fromIndex</key>
			<integer>49</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
	</dict>
</dict>
</plist>
