<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>Stage_1_bilbo_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>Stage_1_bilbo_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>Stage_1_bilbo_in</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>Stage_1_bilbo_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>56</integer>
		</dict>
		<key>Stage_1_bilbo_loop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>Stage_1_bilbo_layer</string>
			<key>fromIndex</key>
			<integer>57</integer>
			<key>toIndex</key>
			<integer>80</integer>
		</dict>
		<key>Stage_1_bilbo_out</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>Stage_1_bilbo_layer</string>
			<key>fromIndex</key>
			<integer>81</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>Stage_1_bilbo_bilbo</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>Stage_1_bilbo_layer</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>326</integer>
		</dict>
	</dict>
</dict>
</plist>
