<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.800000000000001</real>
								<integer>18</integer>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.800000000000001</real>
								<integer>18</integer>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>13.949999999999999</real>
								<real>35.950000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-24.550000000000001</real>
								<real>15.050000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>13.949999999999999</real>
								<real>35.950000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.5</real>
								<real>41.399999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-24.550000000000001</real>
								<real>15.050000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>13.199999999999999</real>
								<integer>33</integer>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.5</real>
								<real>41.399999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.4499999999999993</real>
								<real>17.699999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.3499999999999996</real>
								<real>54.649999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-25.100000000000001</real>
								<real>14.199999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>13.199999999999999</real>
								<integer>33</integer>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-16.25</real>
								<real>38.450000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.4499999999999993</real>
								<real>17.699999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.3499999999999996</real>
								<real>54.649999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.9</real>
								<real>45.100000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-25.100000000000001</real>
								<real>14.199999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>12.65</real>
								<real>32.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-16.25</real>
								<real>38.450000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-9.1999999999999993</real>
								<real>14.75</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.0999999999999996</real>
								<real>51.700000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.9</real>
								<real>45.100000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.899999999999999</real>
								<real>11.6</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>12.65</real>
								<real>32.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-16.800000000000001</real>
								<real>37.600000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-9.1999999999999993</real>
								<real>14.75</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.0999999999999996</real>
								<real>51.700000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.15</real>
								<real>42.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.899999999999999</real>
								<real>11.6</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>13.85</real>
								<real>29.550000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-16.800000000000001</real>
								<real>37.600000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-9.75</real>
								<real>13.9</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.6500000000000004</real>
								<real>50.850000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.15</real>
								<real>42.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.75</real>
								<real>9.0999999999999996</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>13.85</real>
								<real>29.550000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.6</real>
								<integer>35</integer>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-9.75</real>
								<real>13.9</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.6500000000000004</real>
								<real>50.850000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.6</real>
								<real>41.299999999999997</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.75</real>
								<real>9.0999999999999996</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<integer>14</integer>
								<real>27.050000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.6</real>
								<integer>35</integer>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.5500000000000007</real>
								<real>11.300000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.4500000000000002</real>
								<real>48.25</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.6</real>
								<real>41.299999999999997</real>
							</array>
							<key>name</key>
							<string>assets_explosion3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.75</real>
								<real>7.2000000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<integer>14</integer>
								<real>27.050000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.449999999999999</real>
								<real>32.5</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.5500000000000007</real>
								<real>11.300000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.4500000000000002</real>
								<real>48.25</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.800000000000001</real>
								<real>38.700000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.75</real>
								<real>7.2000000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<integer>14</integer>
								<real>25.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.449999999999999</real>
								<real>32.5</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.4000000000000004</real>
								<real>8.8000000000000007</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.2999999999999998</real>
								<real>45.75</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.800000000000001</real>
								<real>38.700000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.550000000000001</real>
								<real>6.7000000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<integer>14</integer>
								<real>25.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.449999999999999</real>
								<real>30.600000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.4000000000000004</real>
								<real>8.8000000000000007</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.2999999999999998</real>
								<real>45.75</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.949999999999999</real>
								<real>36.200000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-23.550000000000001</real>
								<real>6.7000000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.199999999999999</real>
								<real>24.649999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.449999999999999</real>
								<real>30.600000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.4000000000000004</real>
								<real>6.9000000000000004</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.2999999999999998</real>
								<real>43.850000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.949999999999999</real>
								<real>36.200000000000003</real>
							</array>
							<key>name</key>
							<string>assets_explosion5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-22.800000000000001</real>
								<real>3.25</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.199999999999999</real>
								<real>24.649999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.25</real>
								<real>30.100000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.4000000000000004</real>
								<real>6.9000000000000004</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.2999999999999998</real>
								<real>43.850000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.949999999999999</real>
								<real>34.299999999999997</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-22.800000000000001</real>
								<real>3.25</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.949999999999999</real>
								<real>21.199999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-15.25</real>
								<real>30.100000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.1999999999999993</real>
								<real>6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.0999999999999996</real>
								<real>43.350000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>15.949999999999999</real>
								<real>34.299999999999997</real>
							</array>
							<key>name</key>
							<string>assets_explosion6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<integer>-23</integer>
								<real>2.75</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.949999999999999</real>
								<real>21.199999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-14.5</real>
								<real>26.649999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-8.1999999999999993</real>
								<real>6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-6.0999999999999996</real>
								<real>43.350000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>16.149999999999999</real>
								<real>33.799999999999997</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<integer>-23</integer>
								<real>2.75</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.75</real>
								<real>20.699999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-14.5</real>
								<real>26.649999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.4500000000000002</real>
								<real>2.9500000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-5.3499999999999996</real>
								<real>39.899999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>16.149999999999999</real>
								<real>33.799999999999997</real>
							</array>
							<key>name</key>
							<string>assets_explosion7</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>14.75</real>
								<real>20.699999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-14.699999999999999</real>
								<real>26.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.4500000000000002</real>
								<real>2.9500000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-5.3499999999999996</real>
								<real>39.899999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>16.899999999999999</real>
								<real>30.350000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-14.699999999999999</real>
								<real>26.149999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.6500000000000004</real>
								<real>2.4500000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-5.5499999999999998</real>
								<real>39.399999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>16.899999999999999</real>
								<real>30.350000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-7.6500000000000004</real>
								<real>2.4500000000000002</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>-5.5499999999999998</real>
								<real>39.399999999999999</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.897979736328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.897979736328125</real>
								<real>16.699999999999999</real>
								<real>29.850000000000001</real>
							</array>
							<key>name</key>
							<string>assets_explosion9</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>assets_explosion1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion7</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion8</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>assets_explosion9</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
