<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>Stage_11_cannon_shockSmoke</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>Stage_11_cannon_startcharge</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>25</integer>
			<key>toIndex</key>
			<integer>84</integer>
		</dict>
		<key>Stage_11_cannon_loopcharge</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>85</integer>
			<key>toIndex</key>
			<integer>94</integer>
		</dict>
		<key>Stage_11_cannon_endcharge</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>95</integer>
			<key>toIndex</key>
			<integer>122</integer>
		</dict>
		<key>Stage_11_cannon_loopready</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>123</integer>
			<key>toIndex</key>
			<integer>138</integer>
		</dict>
		<key>Stage_11_cannon_shoot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>139</integer>
			<key>toIndex</key>
			<integer>160</integer>
		</dict>
		<key>Stage_11_cannon_dead</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>161</integer>
			<key>toIndex</key>
			<integer>173</integer>
		</dict>
		<key>Stage_11_cannon_loopdead</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>174</integer>
			<key>toIndex</key>
			<integer>196</integer>
		</dict>
		<key>Stage_11_cannon_smokeIn</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>197</integer>
			<key>toIndex</key>
			<integer>220</integer>
		</dict>
		<key>Stage_11_cannon_smokeOut</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>221</integer>
			<key>toIndex</key>
			<integer>244</integer>
		</dict>
		<key>Stage_11_cannon_shock</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>9</integer>
			<key>prefix</key>
			<string>Stage_11_cannon_layer</string>
			<key>fromIndex</key>
			<integer>245</integer>
			<key>toIndex</key>
			<integer>268</integer>
		</dict>
	</dict>
</dict>
</plist>
