<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.3984375</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.6015625</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.80078125</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>-3.8</real>
								<real>-33.6</real>
							</array>
							<key>name</key>
							<string>asset_tap</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.23870849609375</real>
								<real>-0.167236328125</real>
								<real>0.167236328125</real>
								<real>1.23870849609375</real>
								<real>13.5</real>
								<real>-18.2</real>
							</array>
							<key>name</key>
							<string>berta_asset_hand_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>-3.8</real>
								<real>-33.6</real>
							</array>
							<key>name</key>
							<string>asset_tap</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.23638916015625</real>
								<real>-0.179412841796875</real>
								<real>0.179412841796875</real>
								<real>1.23638916015625</real>
								<real>13.45</real>
								<real>-18.3</real>
							</array>
							<key>name</key>
							<string>berta_asset_hand_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>-3.8</real>
								<real>-33.6</real>
							</array>
							<key>name</key>
							<string>asset_tap</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.23468017578125</real>
								<real>-0.1905670166015625</real>
								<real>0.1905670166015625</real>
								<real>1.23468017578125</real>
								<real>13.3</real>
								<real>-18.45</real>
							</array>
							<key>name</key>
							<string>berta_asset_hand_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.35638427734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.35638427734375</real>
								<real>-3.8</real>
								<real>-33.6</real>
							</array>
							<key>name</key>
							<string>asset_tap</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.23321533203125</real>
								<real>-0.204010009765625</real>
								<real>0.204010009765625</real>
								<real>1.23321533203125</real>
								<real>13.15</real>
								<real>-18.6</real>
							</array>
							<key>name</key>
							<string>berta_asset_hand_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.854217529296875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.854217529296875</real>
								<real>-3.9</real>
								<real>-33.6</real>
							</array>
							<key>name</key>
							<string>asset_tap</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.24957275390625</real>
								<real>-0.0316162109375</real>
								<real>0.0316162109375</real>
								<real>1.24957275390625</real>
								<real>16.75</real>
								<real>-18.1</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.249771118164062</real>
								<real>-0.017547607421875</real>
								<real>0.017547607421875</real>
								<real>1.249771118164062</real>
								<integer>17</integer>
								<real>-18.1</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.249923706054688</real>
								<real>-0.006744384765625</real>
								<real>0.006744384765625</real>
								<real>1.249923706054688</real>
								<real>17.05</real>
								<real>-18.05</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.921875</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.84765625</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.76953125</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.69140625</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.6171875</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5390625</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.3828125</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.30859375</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.23046875</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.15234375</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.078125</real>
							<key>matrix</key>
							<array>
								<real>1.249969482421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.249969482421875</real>
								<real>17.2</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.03333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.25</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.25</real>
								<real>17.25</real>
								<real>-17.85</real>
							</array>
							<key>name</key>
							<string>asset_hand</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>anim</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asset_tap</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>berta_asset_hand_2</string>
			<key>offsetX</key>
			<real>0.95</real>
			<key>offsetY</key>
			<real>0.45</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asset_hand</string>
			<key>offsetX</key>
			<real>0.65</real>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
