<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>stage8_madagascar_penguins_idle</key>
		<dict>
			<key>prefix</key>
			<string>Stage8_penguins</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>stage8_madagascar_penguins_walk</key>
		<dict>
			<key>prefix</key>
			<string>Stage8_penguins</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>57</integer>
		</dict>
		<key>stage8_madagascar_penguins_look</key>
		<dict>
			<key>prefix</key>
			<string>Stage8_penguins</string>
			<key>fromIndex</key>
			<integer>58</integer>
			<key>toIndex</key>
			<integer>82</integer>
		</dict>
		<key>stage8_madagascar_penguins_madagascar</key>
		<dict>
			<key>prefix</key>
			<string>Stage8_penguins</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>187</integer>
		</dict>
		<key>stage8_madagascar_penguins_fly</key>
		<dict>
			<key>prefix</key>
			<string>Stage8_penguins</string>
			<key>fromIndex</key>
			<integer>188</integer>
			<key>toIndex</key>
			<integer>233</integer>
		</dict>
	</dict>
</dict>
</plist>
