<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>stage1_chain_left</key>
		<dict>
			<key>prefix</key>
			<string>Stage1_chainEngineLeft</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>stage1_chain_right</key>
		<dict>
			<key>prefix</key>
			<string>Stage1_chainEngineRight</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>stage1_chain_loop</key>
		<dict>
			<key>prefix</key>
			<string>Stage1_chainLoop</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>6</integer>
		</dict>
		<key>stage1_chain_leftIdle</key>
		<dict>
			<key>prefix</key>
			<string>Stage1_chainEngineLeft</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>stage1_chain_rightIdle</key>
		<dict>
			<key>prefix</key>
			<string>Stage1_chainEngineRight</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
