<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>Stage_7_cuerno_run</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>Stage_7_cuerno_in</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>11</integer>
		</dict>
		<key>Stage_7_cuerno_lookLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>12</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>Stage_7_cuerno_warn</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>Stage_7_cuerno_toPlay</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>Stage_7_cuerno_playLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>120</integer>
		</dict>
		<key>Stage_7_cuerno_outPlay</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>121</integer>
			<key>toIndex</key>
			<integer>145</integer>
		</dict>
		<key>Stage_7_cuerno_toCurse</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>146</integer>
			<key>toIndex</key>
			<integer>158</integer>
		</dict>
		<key>Stage_7_cuerno_curseLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>159</integer>
			<key>toIndex</key>
			<integer>166</integer>
		</dict>
		<key>Stage_7_cuerno_outCurse</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>Stage_7_cuerno_layer</string>
			<key>fromIndex</key>
			<integer>167</integer>
			<key>toIndex</key>
			<integer>172</integer>
		</dict>
	</dict>
</dict>
</plist>
