<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>stage15_modos_tower_party_chair</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>stage15_modos_tower_party_chori</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>2</integer>
		</dict>
		<key>stage15_modos_tower_party_choriSmoke</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>3</integer>
			<key>toIndex</key>
			<integer>29</integer>
		</dict>
		<key>stage15_modos_tower_party_idle</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>30</integer>
			<key>toIndex</key>
			<integer>30</integer>
		</dict>
		<key>stage15_modos_tower_party_mozo</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>31</integer>
			<key>toIndex</key>
			<integer>70</integer>
		</dict>
		<key>stage15_modos_tower_party_dance1</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>71</integer>
			<key>toIndex</key>
			<integer>82</integer>
		</dict>
		<key>stage15_modos_tower_party_dance2</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>106</integer>
		</dict>
		<key>stage15_modos_tower_party_dance3</key>
		<dict>
			<key>prefix</key>
			<string>stage15_modos_tower_party</string>
			<key>fromIndex</key>
			<integer>107</integer>
			<key>toIndex</key>
			<integer>127</integer>
		</dict>
	</dict>
</dict>
</plist>
