<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>Stage5_assemply_line_move</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>Stage5_assembly_line_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
		<key>Stage5_assemply_line_hammer</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>Stage5_assembly_line_layer</string>
			<key>fromIndex</key>
			<integer>20</integer>
			<key>toIndex</key>
			<integer>50</integer>
		</dict>
		<key>Stage5_assemply_line_light</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>Stage5_assembly_line_layer</string>
			<key>fromIndex</key>
			<integer>51</integer>
			<key>toIndex</key>
			<integer>114</integer>
		</dict>
		<key>Stage5_assemply_line_open</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>Stage5_assembly_line_layer</string>
			<key>fromIndex</key>
			<integer>115</integer>
			<key>toIndex</key>
			<integer>123</integer>
		</dict>
		<key>Stage5_assemply_line_close</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>Stage5_assembly_line_layer</string>
			<key>fromIndex</key>
			<integer>124</integer>
			<key>toIndex</key>
			<integer>132</integer>
		</dict>
	</dict>
</dict>
</plist>
