<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>stage_27_gill_man_all_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>2</integer>
		</dict>
		<key>stage_27_gill_man_all_prep</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>3</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>stage_27_gill_man_all_drink</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>stage_27_gill_man_all_back</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>stage_27_gill_man_all_sale</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
		<key>stage_27_gill_man_all_loop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>134</integer>
			<key>toIndex</key>
			<integer>151</integer>
		</dict>
		<key>stage_27_gill_man_all_hide</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>152</integer>
			<key>toIndex</key>
			<integer>157</integer>
		</dict>
		<key>stage_27_gill_man_all_hold</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>158</integer>
			<key>toIndex</key>
			<integer>158</integer>
		</dict>
		<key>stage_27_gill_man_all_attack</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>stage_27_gill_man_all_layer</string>
			<key>fromIndex</key>
			<integer>159</integer>
			<key>toIndex</key>
			<integer>203</integer>
		</dict>
	</dict>
</dict>
</plist>
