<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>stage_17_kermit_idle</key>
		<dict>
			<key>prefix</key>
			<string>stage_17_kermit</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>stage_17_kermit_drink</key>
		<dict>
			<key>prefix</key>
			<string>stage_17_kermit</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>stage_17_kermit_foot</key>
		<dict>
			<key>prefix</key>
			<string>stage_17_kermit</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>73</integer>
		</dict>
	</dict>
</dict>
</plist>
