<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>stage13_elf_top_open</key>
		<dict>
			<key>prefix</key>
			<string>stage13_elf_top</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>stage13_elf_top_idle</key>
		<dict>
			<key>prefix</key>
			<string>stage13_elf_top</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>stage13_elf_top_close</key>
		<dict>
			<key>prefix</key>
			<string>stage13_elf_top</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
	</dict>
</dict>
</plist>
