<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>veznan_crystal_ray_in</key>
		<dict>
			<key>prefix</key>
			<string>veznan_crystal_ray</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>3</integer>
		</dict>
		<key>veznan_crystal_ray_travel</key>
		<dict>
			<key>prefix</key>
			<string>veznan_crystal_ray</string>
			<key>fromIndex</key>
			<integer>4</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>veznan_crystal_ray_out</key>
		<dict>
			<key>prefix</key>
			<string>veznan_crystal_ray</string>
			<key>fromIndex</key>
			<integer>11</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
	</dict>
</dict>
</plist>
