<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>veznan_wall_smoke_animations.plist</key>
		<string></string>
		<key>veznan_teleporter_animations.plist</key>
		<string></string>
		<key>veznan_projectile_animations.plist</key>
		<string></string>
		<key>veznan_projectile_hit_animations.plist</key>
		<string></string>
		<key>veznan_projectile_hit_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations_old</key>
	<dict>
		<key>veznan_layer_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>veznan_layer_charingGreenIdle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>veznan_layer_loopIn</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>16</integer>
			<key>toIndex</key>
			<integer>27</integer>
		</dict>
		<key>veznan_layer_loop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>28</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>veznan_layer_loopEnd</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>51</integer>
		</dict>
		<key>veznan_layer_charge1InGreen</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>52</integer>
			<key>toIndex</key>
			<integer>58</integer>
		</dict>
		<key>veznan_layer_readyLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>59</integer>
			<key>toIndex</key>
			<integer>72</integer>
		</dict>
		<key>veznan_layer_shot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>73</integer>
			<key>toIndex</key>
			<integer>90</integer>
		</dict>
		<key>veznan_layer_outShot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>91</integer>
			<key>toIndex</key>
			<integer>102</integer>
		</dict>
		<key>veznan_layer_charge1InRed</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>103</integer>
			<key>toIndex</key>
			<integer>109</integer>
		</dict>
		<key>veznan_layer_readyLoopRed</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>110</integer>
			<key>toIndex</key>
			<integer>123</integer>
		</dict>
		<key>veznan_layer_outRed</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>124</integer>
			<key>toIndex</key>
			<integer>140</integer>
		</dict>
		<key>veznan_layer_charge1InGreenWall</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>141</integer>
			<key>toIndex</key>
			<integer>146</integer>
		</dict>
		<key>veznan_layer_readyLoopGreen</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>147</integer>
			<key>toIndex</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>veznan_layer_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>veznan_layer_charingGreenIdle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>veznan_layer_loopIn</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>16</integer>
			<key>toIndex</key>
			<integer>27</integer>
		</dict>
		<key>veznan_layer_loop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>28</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>veznan_layer_loopEnd</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>51</integer>
		</dict>
		<key>veznan_layer_charge1InGreen</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>52</integer>
			<key>toIndex</key>
			<integer>58</integer>
		</dict>
		<key>veznan_layer_readyLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>59</integer>
			<key>toIndex</key>
			<integer>72</integer>
		</dict>
		<key>veznan_layer_shot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>73</integer>
			<key>toIndex</key>
			<integer>90</integer>
		</dict>
		<key>veznan_layer_outShot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>91</integer>
			<key>toIndex</key>
			<integer>102</integer>
		</dict>
		<key>veznan_layer_charge1InRed</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>103</integer>
			<key>toIndex</key>
			<integer>109</integer>
		</dict>
		<key>veznan_layer_readyLoopRed</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>110</integer>
			<key>toIndex</key>
			<integer>123</integer>
		</dict>
		<key>veznan_layer_outRed</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>124</integer>
			<key>toIndex</key>
			<integer>135</integer>
		</dict>
		<key>veznan_layer_charge1InGreenWall</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>136</integer>
			<key>toIndex</key>
			<integer>141</integer>
		</dict>
		<key>veznan_layer_readyLoopGreen</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>142</integer>
			<key>toIndex</key>
			<integer>155</integer>
		</dict>
		<key>veznan_layer_charingRedIdle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>veznan_layer</string>
			<key>fromIndex</key>
			<integer>156</integer>
			<key>toIndex</key>
			<integer>169</integer>
		</dict>
	</dict>
</dict>
</plist>
