<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>human_worker_idle</key>
		<dict>
			<key>prefix</key>
			<string>human_worker</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>human_worker_walk</key>
		<dict>
			<key>prefix</key>
			<string>human_worker</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>human_worker_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>human_worker</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>human_worker_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>human_worker</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>human_worker_attack</key>
		<dict>
			<key>prefix</key>
			<string>human_worker</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>81</integer>
		</dict>
		<key>human_worker_death</key>
		<dict>
			<key>prefix</key>
			<string>human_worker</string>
			<key>fromIndex</key>
			<integer>82</integer>
			<key>toIndex</key>
			<integer>101</integer>
		</dict>
	</dict>
</dict>
</plist>
