<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_lady_margosa_teleport_effect_animations.plist</key>
		<string></string>
		<key>hero_lady_margosa_myst_form_effect_animations.plist</key>
		<string></string>
		<key>hero_lady_margosa_vampiric_touch_effect_animations.plist</key>
		<string></string>
		<key>hero_lady_margosa_bat_animations.plist</key>
		<string></string>
		<key>hero_lady_margosa_beast_attack_effect_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_lady_margosa_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>hero_lady_margosa_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>38</integer>
		</dict>
		<key>hero_lady_margosa_melee</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>39</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>hero_lady_margosa_darkCall</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>105</integer>
		</dict>
		<key>hero_lady_margosa_mystForm</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>106</integer>
			<key>toIndex</key>
			<integer>143</integer>
		</dict>
		<key>hero_lady_margosa_toBat</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>144</integer>
			<key>toIndex</key>
			<integer>165</integer>
		</dict>
		<key>hero_lady_margosa_fly</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>166</integer>
			<key>toIndex</key>
			<integer>173</integer>
		</dict>
		<key>hero_lady_margosa_toHuman</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>174</integer>
			<key>toIndex</key>
			<integer>186</integer>
		</dict>
		<key>hero_lady_margosa_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>187</integer>
			<key>toIndex</key>
			<integer>238</integer>
		</dict>
		<key>hero_lady_margosa_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>239</integer>
			<key>toIndex</key>
			<integer>272</integer>
		</dict>
		<key>hero_lady_margosa_summonBat</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>273</integer>
			<key>toIndex</key>
			<integer>292</integer>
		</dict>
		<key>hero_lady_margosa_toBeast</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>293</integer>
			<key>toIndex</key>
			<integer>313</integer>
		</dict>
		<key>hero_lady_margosa_beastWalk</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>314</integer>
			<key>toIndex</key>
			<integer>325</integer>
		</dict>
		<key>hero_lady_margosa_beastAttack</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>326</integer>
			<key>toIndex</key>
			<integer>352</integer>
		</dict>
		<key>hero_lady_margosa_beastDeath</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>353</integer>
			<key>toIndex</key>
			<integer>386</integer>
		</dict>
		<key>hero_lady_margosa_toMargosa</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa</string>
			<key>fromIndex</key>
			<integer>387</integer>
			<key>toIndex</key>
			<integer>407</integer>
		</dict>
	</dict>
</dict>
</plist>
