<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_lady_margosa_bat_hit_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_lady_margosa_bat_summon</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa_bat</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>13</integer>
		</dict>
		<key>hero_lady_margosa_bat_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa_bat</string>
			<key>fromIndex</key>
			<integer>14</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>hero_lady_margosa_bat_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa_bat</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>hero_lady_margosa_bat_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_lady_margosa_bat</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>57</integer>
		</dict>
	</dict>
</dict>
</plist>
