<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1400</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>500</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>9</integer>
							<key>interval</key>
							<integer>230</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>9</integer>
							<key>interval</key>
							<integer>230</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>500</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>105</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>210</integer>
							<key>interval_next_spawn</key>
							<integer>210</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>190</integer>
							<key>interval_next_spawn</key>
							<integer>190</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>210</integer>
							<key>interval_next_spawn</key>
							<integer>210</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>190</integer>
							<key>interval_next_spawn</key>
							<integer>190</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>210</integer>
							<key>interval_next_spawn</key>
							<integer>210</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>190</integer>
							<key>interval_next_spawn</key>
							<integer>190</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>450</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>650</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>200</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>450</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>1450</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>280</integer>
							<key>interval_next_spawn</key>
							<integer>280</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>250</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>280</integer>
							<key>interval_next_spawn</key>
							<integer>280</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>250</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>600</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>650</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>325</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>650</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>650</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>325</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>650</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
