<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1400</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>objects</key>
	<array/>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>200</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>75</integer>
							<key>interval_next_spawn</key>
							<integer>75</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>55</integer>
							<key>interval_next_spawn</key>
							<integer>55</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>400</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>130</integer>
							<key>interval_next_spawn</key>
							<integer>130</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>110</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>350</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>750</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>900</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>320</integer>
							<key>interval_next_spawn</key>
							<integer>320</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>270</integer>
							<key>interval_next_spawn</key>
							<integer>270</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>400</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>170</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>screecher_bat</string>
							<key>cant</key>
							<integer>12</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>170</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>400</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>270</integer>
							<key>interval_next_spawn</key>
							<integer>270</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>370</integer>
							<key>interval_next_spawn</key>
							<integer>370</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>600</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>200</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>390</integer>
							<key>interval_next_spawn</key>
							<integer>390</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>360</integer>
							<key>interval_next_spawn</key>
							<integer>360</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>420</integer>
							<key>interval_next_spawn</key>
							<integer>420</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>390</integer>
							<key>interval_next_spawn</key>
							<integer>390</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>1000</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
