<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1700</integer>
	<key>gems</key>
	<integer>160</integer>
	<key>objects</key>
	<array>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>entities</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.06</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>280</integer>
				<key>y</key>
				<integer>347</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>stage15_modos_flag_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>207</integer>
				<key>y</key>
				<integer>260</integer>
			</dict>
			<key>single_frame</key>
			<string>stage15_modos_shield.png</string>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>entities</string>
			<key>y_position_adjust</key>
			<integer>50</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>320</integer>
			</dict>
			<key>single_frame</key>
			<string>stage15_tower_sun_flag_0001.png</string>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>entities</string>
			<key>y_position_adjust</key>
			<integer>90</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<real>363</real>
			</dict>
			<key>single_frame</key>
			<string>stage15_modos_banderines.png</string>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>entities</string>
			<key>y_position_adjust</key>
			<integer>139</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>410</integer>
			</dict>
			<key>single_frame</key>
			<string>stage15_modos_papelpicado.png</string>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>subtype</key>
			<string>chair</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>112</integer>
				<key>y</key>
				<integer>354</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>stage15_modos_tower_party_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>entities</string>
			<key>subtype</key>
			<string>dance1</string>
			<key>y_position_adjust</key>
			<integer>90</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>359</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>stage15_modos_tower_party_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>subtype</key>
			<string>dance2</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>359</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>stage15_modos_tower_party_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>subtype</key>
			<string>dance3</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>359</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>stage15_modos_tower_party_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>subtype</key>
			<string>chori</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>359</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>stage15_modos_tower_party_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>subtype</key>
			<string>choriSmoke</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>362</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>stage15_modos_tower_party_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>subtype</key>
			<string>mozo</string>
			<key>start_on_idle</key>
			<true/>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>359</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>min_delay</key>
				<integer>10</integer>
				<key>max_delay</key>
				<integer>15</integer>
				<key>animations_file</key>
				<string>stage15_modos_tower_party_animations.plist</string>
			</dict>
		</dict>
	</array>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>300</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>600</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>300</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>600</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>375</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>375</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>30</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>banner_bearer</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>guardian_eagle</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>100</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>1000</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>paladin</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>1000</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>950</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>paladin</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<real>1300</real>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>1200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>40</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>1200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>40</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>1200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>800</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>high_sorcerer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<real>2000</real>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>1200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>40</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>1200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>40</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>1200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>400</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>high_sorcerer</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>1500</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>200</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>banner_bearer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>banner_bearer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>banner_bearer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>banner_bearer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>banner_bearer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>50</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>400</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>high_sorcerer</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>1500</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>300</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>paladin</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>550</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>300</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tower_shield_knight</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>musketeer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
			<key>caravan_spawner</key>
			<array>
				<string>caravan_spawner</string>
			</array>
		</dict>
		<key>objects</key>
		<array/>
	</dict>
</dict>
</plist>
