<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<real>1700</real>
	<key>gems</key>
	<integer>150</integer>
	<key>objects</key>
	<array/>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>18</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>1</integer>
					<key>cooldown</key>
					<integer>20</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>3</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>25</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>17</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>2</integer>
					<key>cooldown</key>
					<integer>25</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>3</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>50</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>27</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>3</integer>
					<key>cooldown</key>
					<integer>27</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>2</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>65</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>22</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>3</integer>
					<key>cooldown</key>
					<integer>20</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>3</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>90</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>24</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>4</integer>
					<key>cooldown</key>
					<integer>7</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>2</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>50</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>26</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>4</integer>
					<key>cooldown</key>
					<integer>25</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>0</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>60</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>20</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>5</integer>
					<key>cooldown</key>
					<integer>30</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>3</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>105</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>25</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>5</integer>
					<key>cooldown</key>
					<integer>35</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>0</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>75</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>21</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>5</integer>
					<key>cooldown</key>
					<integer>25</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>3</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>110</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>23</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>6</integer>
					<key>cooldown</key>
					<integer>30</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>3</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>100</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>16</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>6</integer>
					<key>cooldown</key>
					<integer>20</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>3</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>50</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>19</integer>
			<key>type</key>
			<string>ice_block</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>6</integer>
					<key>cooldown</key>
					<integer>15</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>2</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>100</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>rally</string>
					<key>dummy</key>
					<true/>
					<key>main</key>
					<true/>
					<key>range</key>
					<integer>290</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>door</string>
					<key>cooldown</key>
					<real>0.01</real>
					<key>animation_open</key>
					<string>open</string>
					<key>animation_close</key>
					<string>close</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_range</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>40</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_axe</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_melee</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>20</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_spear</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>8</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>rally</string>
					<key>dummy</key>
					<true/>
					<key>main</key>
					<true/>
					<key>range</key>
					<integer>290</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>door</string>
					<key>cooldown</key>
					<real>0.01</real>
					<key>animation_open</key>
					<string>open</string>
					<key>animation_close</key>
					<string>close</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_range</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>40</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_axe</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_melee</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>20</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_spear</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>6</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>rally</string>
					<key>dummy</key>
					<true/>
					<key>main</key>
					<true/>
					<key>range</key>
					<integer>290</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>door</string>
					<key>cooldown</key>
					<real>0.01</real>
					<key>animation_open</key>
					<string>open</string>
					<key>animation_close</key>
					<string>close</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_range</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>40</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_axe</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_melee</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>20</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_spear</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>1000</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>frost_giant</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>550</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>750</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>500</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>frozen_heart</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>220</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>apex_stalker</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>30</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>30</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>500</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>30</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ice_reaper</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ice_reaper</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>600</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ice_reaper</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>frost_giant</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>500</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>800</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ice_reaper</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>200</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
