<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1300</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>600</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>500</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>40</integer>
							<key>interval_next_spawn</key>
							<integer>40</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>20</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>150</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>400</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>30</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>415</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>30</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>150</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>nian</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>nian</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>250</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>800</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>800</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>40</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>high_sorcerer</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>600</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>150</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>nian</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>170</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>nian</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
