<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_heart_bottle_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-73}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1599,465},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_bottle_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-60}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1887,453},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_heart_bottle_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2265,433},{70,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_heart_bottle_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2603,1},{90,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_heart_bottle_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2593,263},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_bottle_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{126,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2265,293},{126,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_bottle_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{146,156}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1293,165},{146,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_bottle_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{126,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2355,143},{126,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_bottle_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2485,137},{114,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_bottle_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2699,99},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_bottle_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2613,383},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_hud_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1947,453},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_hud_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2125,445},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_hud_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2721,217},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_hud_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2603,95},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_hud_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2705,297},{80,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_heart_hud_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2195,445},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_hud_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1947,453},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_heart_hud_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1947,453},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,49}</string>
                <key>spriteSize</key>
                <string>{94,126}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2395,283},{94,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,15}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2503,1},{96,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2493,263},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-54}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2395,413},{94,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_souls_in_a_can_bottle_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-70}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2705,1},{94,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_souls_in_a_can_bottle_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-61}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2513,385},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-54}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2403,1},{96,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-44}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2163,149},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-36}</string>
                <key>spriteSize</key>
                <string>{90,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2261,149},{90,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-31}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2303,1},{96,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-17}</string>
                <key>spriteSize</key>
                <string>{104,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2017,303},{104,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1583,157},{142,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1743,309},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{138,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1877,1},{138,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-36}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2019,1},{140,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{142,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1873,153},{142,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1587,1},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-29}</string>
                <key>spriteSize</key>
                <string>{136,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1447,1},{136,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-27}</string>
                <key>spriteSize</key>
                <string>{136,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1443,161},{136,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1309,1},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{134,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1185,335},{134,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{759,345},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{901,341},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{883,1},{140,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{737,1},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{142,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{297,1},{142,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-22}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1323,325},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{136,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1045,339},{136,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{134,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{727,173},{134,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{134,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{155,179},{134,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{136,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1169,1},{136,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{138,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1027,1},{138,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{144,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{293,179},{144,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-19}</string>
                <key>spriteSize</key>
                <string>{148,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{145,1},{148,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-18}</string>
                <key>spriteSize</key>
                <string>{150,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1,185},{150,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{136,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{441,175},{136,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{140,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1,367},{140,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_souls_in_a_can_bottle_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1599,311},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1729,155},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{136,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2125,297},{136,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{136,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2163,1},{136,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-36}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{2019,149},{140,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{142,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1731,1},{142,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{181,355},{142,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-31}</string>
                <key>spriteSize</key>
                <string>{140,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{327,353},{140,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{140,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{471,349},{140,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-27}</string>
                <key>spriteSize</key>
                <string>{140,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{615,345},{140,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1011,171},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{865,171},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{144,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{443,1},{144,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{142,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{581,173},{142,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{142,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{591,1},{142,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{134,162}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1155,169},{134,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1461,319},{134,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-21}</string>
                <key>spriteSize</key>
                <string>{126,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{1887,303},{126,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{155,355},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_souls_in_a_can_bottle_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{200,240}</string>
                <key>textureRect</key>
                <string>{{155,355},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_item_souls_in_a_can.png</string>
            <key>size</key>
            <string>{2806,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61ecb809527f8ae4b0955479f242dff9:8cbeb0ee9a2b58adf752c3765d3a7787:65fe32298ec68caebdb0831d3c587d46$</string>
            <key>textureFileName</key>
            <string>kr4_item_souls_in_a_can.png</string>
        </dict>
    </dict>
</plist>
