<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thief_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{585,67},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{1,67},{54,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{87,67},{54,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{91,1},{62,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,1},{60,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{439,1},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{181,1},{64,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{267,1},{64,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{42,12}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{417,111},{42,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{42,12}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{417,111},{42,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{649,49},{44,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{649,49},{44,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{335,69},{44,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{335,69},{44,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{287,89},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{287,89},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{235,103},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{235,103},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{283,107},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{283,107},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{287,69},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{287,69},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{637,1},{44,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{637,1},{44,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{235,69},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{235,69},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{481,65},{58,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{481,65},{58,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{417,65},{60,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{417,65},{60,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{523,1},{58,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{523,1},{58,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{523,63},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{523,63},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{593,1},{62,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{593,1},{62,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{173,69},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{173,69},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,65},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,65},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,65},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,65},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,65},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,65},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{353,65},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_item_thief.png</string>
            <key>size</key>
            <string>{662,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f06da5a02e0ea48bfcd993bdc3354fb:aad77832fe29f5e4e77e55e8464263c4:e36419279480ada8971f606fd4daad64$</string>
            <key>textureFileName</key>
            <string>kr4_item_thief.png</string>
        </dict>
    </dict>
</plist>
