<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_valyrian_fire_bottle_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{89,451},{35,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{89,451},{35,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{141,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{141,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{180,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{180,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{219,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{219,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{258,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{258,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{297,439},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{297,439},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{336,439},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{336,439},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{375,439},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{375,439},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{414,431},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{414,431},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{453,431},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{453,431},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{492,431},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{492,431},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{765,397},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{765,397},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{765,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{765,449},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{663,397},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{663,397},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{719,141},{124,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{719,141},{124,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{545,285},{118,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{545,285},{118,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{116,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{663,277},{116,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{116,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{663,277},{116,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{743,1},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{743,1},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{545,407},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{545,407},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{1,451},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{84,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{1,451},{84,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{779,311},{78,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{779,311},{78,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{779,269},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{779,269},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{62,20}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{823,311},{62,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_bottle_explotion_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,64.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{128,132}</string>
                <key>textureRect</key>
                <string>{{149,291},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{141,301},{144,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{141,301},{144,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1,301},{146,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1,301},{146,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{144,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{144,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{149,145},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{149,145},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{136,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{409,291},{136,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{136,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{409,291},{136,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{293,145},{142,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{293,145},{142,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{144,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{149,1},{144,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{144,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{149,1},{144,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{277,291},{144,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{277,291},{144,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{297,1},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{297,1},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1,153},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1,153},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{429,141},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{429,141},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{597,1},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{597,1},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_valyrian_fire_flame_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{573,141},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{573,141},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{447,1},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_valyrian_fire_flame_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{447,1},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_item_valyrian_fire.png</string>
            <key>size</key>
            <string>{854,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df6263377ed33e95ce6863df87ccf77c:a5cd656cb5b47de51617d209fff9f96a:95ce0b442da7c0bf29a754c20e304f18$</string>
            <key>textureFileName</key>
            <string>kr4_item_valyrian_fire.png</string>
        </dict>
    </dict>
</plist>
