<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>items_spell_rejuvenation_decal_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-67}</string>
                <key>spriteSize</key>
                <string>{107,64}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1409,447},{107,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_decal_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-67}</string>
                <key>spriteSize</key>
                <string>{107,64}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1409,447},{107,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_decal_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-64}</string>
                <key>spriteSize</key>
                <string>{173,104}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1811,407},{173,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_decal_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-64}</string>
                <key>spriteSize</key>
                <string>{173,104}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1811,407},{173,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_decal_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-64}</string>
                <key>spriteSize</key>
                <string>{233,148}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1,276},{233,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-64}</string>
                <key>spriteSize</key>
                <string>{233,148}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1,276},{233,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-64}</string>
                <key>spriteSize</key>
                <string>{233,148}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{359,274},{233,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-64}</string>
                <key>spriteSize</key>
                <string>{233,148}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{359,274},{233,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-62}</string>
                <key>spriteSize</key>
                <string>{245,134}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{735,264},{245,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-62}</string>
                <key>spriteSize</key>
                <string>{245,134}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{735,264},{245,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-62}</string>
                <key>spriteSize</key>
                <string>{249,132}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{873,262},{249,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-62}</string>
                <key>spriteSize</key>
                <string>{249,132}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{873,262},{249,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-62}</string>
                <key>spriteSize</key>
                <string>{253,132}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{979,1},{253,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-62}</string>
                <key>spriteSize</key>
                <string>{253,132}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{979,1},{253,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-63}</string>
                <key>spriteSize</key>
                <string>{257,136}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{839,1},{257,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-63}</string>
                <key>spriteSize</key>
                <string>{257,136}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{839,1},{257,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-64}</string>
                <key>spriteSize</key>
                <string>{259,138}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{697,1},{259,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-64}</string>
                <key>spriteSize</key>
                <string>{259,138}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{697,1},{259,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-64}</string>
                <key>spriteSize</key>
                <string>{265,138}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{423,1},{265,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-64}</string>
                <key>spriteSize</key>
                <string>{265,138}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{423,1},{265,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-65}</string>
                <key>spriteSize</key>
                <string>{269,136}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{143,1},{269,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-65}</string>
                <key>spriteSize</key>
                <string>{269,136}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{143,1},{269,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{271,138}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{271,138}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-62}</string>
                <key>spriteSize</key>
                <string>{269,136}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{283,1},{269,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-62}</string>
                <key>spriteSize</key>
                <string>{269,136}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{283,1},{269,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-60}</string>
                <key>spriteSize</key>
                <string>{263,128}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{565,1},{263,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-60}</string>
                <key>spriteSize</key>
                <string>{263,128}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{565,1},{263,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_decal_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-183,148.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1009,489},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_decal_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-183,148.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1009,489},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_effect_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1607,427},{75,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1607,427},{75,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-23}</string>
                <key>spriteSize</key>
                <string>{191,144}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1979,198},{191,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-23}</string>
                <key>spriteSize</key>
                <string>{191,144}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1979,198},{191,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-17}</string>
                <key>spriteSize</key>
                <string>{193,148}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1957,1},{193,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-17}</string>
                <key>spriteSize</key>
                <string>{193,148}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1957,1},{193,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{195,164}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1811,208},{195,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{195,164}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1811,208},{195,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{203,202}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1751,1},{203,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{203,202}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1751,1},{203,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{207,200}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1607,216},{207,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{207,200}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1607,216},{207,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{211,210}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1537,1},{211,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{211,210}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1537,1},{211,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{219,212}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1321,1},{219,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{219,212}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1321,1},{219,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{225,202}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1115,1},{225,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{225,202}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1115,1},{225,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{219,194}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1409,224},{219,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{219,194}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1409,224},{219,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{227,194}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1009,258},{227,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{227,194}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1009,258},{227,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{223,198}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1207,230},{223,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{223,198}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{1207,230},{223,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{237,202}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{153,274},{237,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{237,202}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{153,274},{237,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{239,220}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{511,270},{239,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{239,220}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{511,270},{239,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{173,142}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{2109,1},{173,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_effect_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{173,142}</string>
                <key>spriteSourceSize</key>
                <string>{369,300}</string>
                <key>textureRect</key>
                <string>{{2109,1},{173,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{108,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2610,361},{108,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{112,144}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2593,1},{112,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2709,213},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{114,146}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2591,155},{114,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2471,155},{116,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2490,305},{116,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2368,317},{118,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2471,1},{118,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{118,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1988,393},{118,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{118,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2243,178},{118,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{112,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2127,178},{112,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{112,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2146,342},{112,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{104,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2255,1},{104,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{104,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2363,1},{104,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{102,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2262,336},{102,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{102,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2365,159},{102,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{102,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2709,1},{102,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{102,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2709,107},{102,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_spell_rejuvenation_modifier_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{108,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{2722,361},{108,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_item_healing_potion.png</string>
            <key>size</key>
            <string>{2850,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d0a0233d3a362e7a3e3f8896a34f530:85a747306ae936f906aa268489d6354e:d194c40a436867c6919e7ee47d541ca0$</string>
            <key>textureFileName</key>
            <string>kr4_item_healing_potion.png</string>
        </dict>
    </dict>
</plist>
