<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_bomb_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{567,203},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{567,203},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{563,72},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{563,72},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{543,112},{87,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{117,86}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{293,126},{117,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{121,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{283,1},{121,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{95,1},{125,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{125,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{121,92}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{187,1},{121,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{121,94}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{1,130},{121,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{121,92}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{197,126},{121,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{121,94}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{99,130},{121,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{109,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{375,1},{109,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{109,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{383,114},{109,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{109,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{383,114},{109,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{107,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{469,1},{107,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{107,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{469,1},{107,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{105,64}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{475,112},{105,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{105,64}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{475,112},{105,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{67,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{563,1},{67,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{67,54}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{563,1},{67,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,47.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{131,98}</string>
                <key>textureRect</key>
                <string>{{293,247},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,29}</string>
                <key>spriteSourceSize</key>
                <string>{88,29}</string>
                <key>textureRect</key>
                <string>{{475,221},{88,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_item_bomb.png</string>
            <key>size</key>
            <string>{618,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a548f505b4d02f063a01012f1a6d2bcd:9f29ebacb04afdbe1ac928cf55e98276:74a234f1ed3e3f5765f2b0dd1e83411c$</string>
            <key>textureFileName</key>
            <string>kr4_item_bomb.png</string>
        </dict>
    </dict>
</plist>
