<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level0</key>
	<dict>
		<key>intro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_1</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>7</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>0.57</real>
						<real>1.33</real>
						<real>1.2</real>
						<integer>1</integer>
						<real>1.03</real>
						<real>1.33</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>13</string>
							<key>attachPointName</key>
							<string>text1</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>240</integer>
								<key>height</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME6</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>13</string>
							<key>attachPointName</key>
							<string>text2</string>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME7</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>17</string>
							<key>attachPointName</key>
							<string>text3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>cant_frames</key>
					<integer>5</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.27</real>
						<real>2.03</real>
						<real>3.47</real>
						<real>1.2</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME8</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>20</string>
							<key>attachPointName</key>
							<string>text4</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>75</integer>
								<key>height</key>
								<integer>35</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME9</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>17</string>
							<key>attachPointName</key>
							<string>text5</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>50</integer>
								<key>height</key>
								<integer>25</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME10</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>16</string>
							<key>attachPointName</key>
							<string>text6</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>180</integer>
								<key>height</key>
								<integer>106</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME11</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>35</string>
							<key>attachPointName</key>
							<string>text7</string>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_INTRO_FRAME12</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>23</string>
							<key>attachPointName</key>
							<string>text8</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>210</integer>
								<key>height</key>
								<integer>75</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>outro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_2</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>5</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.47</real>
						<real>2.47</real>
						<real>2.23</real>
						<real>2.23</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_OUTRO_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text1</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>100</integer>
								<key>height</key>
								<integer>25</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_OUTRO_FRAME2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text2</string>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_OUTRO_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text3</string>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_OUTRO_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text4</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>140</integer>
								<key>height</key>
								<integer>100</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_OUTRO_FRAME5_1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text5</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>105</integer>
								<key>height</key>
								<integer>68</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_TUTORIAL_OUTRO_FRAME5_2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text6</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level6</key>
	<dict>
		<key>outro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_3</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>5</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.6</real>
						<real>3.8</real>
						<real>2.8</real>
						<real>2.3</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL6_OUTRO_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text1</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>114</integer>
								<key>height</key>
								<integer>50</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL6_OUTRO_FRAME2_1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text2</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>105</integer>
								<key>height</key>
								<integer>70</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL6_OUTRO_FRAME2_2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text3</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>72</integer>
								<key>height</key>
								<integer>19</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL6_OUTRO_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text4</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>120</integer>
								<key>height</key>
								<integer>65</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL6_OUTRO_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text5</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>100</integer>
								<key>height</key>
								<integer>75</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL6_OUTRO_FRAME5</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text6</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>153</integer>
								<key>height</key>
								<integer>70</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level11</key>
	<dict>
		<key>outro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_4</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>4</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>2.1</real>
						<real>2.57</real>
						<real>1.97</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL11_OUTRO_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text21</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>140</integer>
								<key>height</key>
								<integer>70</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL11_OUTRO_FRAME2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>14</string>
							<key>attachPointName</key>
							<string>text22</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>100</integer>
								<key>height</key>
								<integer>60</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL11_OUTRO_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>17</string>
							<key>attachPointName</key>
							<string>text23</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>130</integer>
								<key>height</key>
								<integer>60</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL11_OUTRO_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>17</string>
							<key>attachPointName</key>
							<string>text24</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>150</integer>
								<key>height</key>
								<integer>40</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level16</key>
	<dict>
		<key>outro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_5</string>
			<key>show_credits</key>
			<true/>
			<key>music</key>
			<string>end_comic_music</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>6</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.17</real>
						<real>1.67</real>
						<real>1.87</real>
						<real>2.57</real>
						<real>1.6</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL16_OUTRO_FRAME3_1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text25</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>92</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL16_OUTRO_FRAME3_2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text26</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>125</integer>
								<key>height</key>
								<integer>68</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL16_OUTRO_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>14</string>
							<key>attachPointName</key>
							<string>text27</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>180</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL16_OUTRO_FRAME5</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text28</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>88</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_LEVEL16_OUTRO_FRAME6</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text29</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>80</integer>
								<key>height</key>
								<integer>35</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>cant_frames</key>
					<integer>1</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
					</array>
					<key>text</key>
					<array/>
				</dict>
			</array>
		</dict>
		<key>credits</key>
		<dict>
			<key>animations_key</key>
			<string>comic_6</string>
			<key>music</key>
			<string>post_credit_suspense</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>5</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.17</real>
						<real>1.67</real>
						<real>1.87</real>
						<real>2.57</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_CREDITS_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text30</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>185</integer>
								<key>height</key>
								<integer>35</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_CREDITS_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text31</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>72</integer>
								<key>height</key>
								<integer>35</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_CREDITS_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>14</string>
							<key>attachPointName</key>
							<string>text32</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>90</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_CREDITS_FRAME5</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text33</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>105</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level17</key>
	<dict>
		<key>intro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_7</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>4</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>0.5</real>
						<real>1.7</real>
						<real>1.5</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_ANURIANS_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text34</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>370</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_ANURIANS_FRAME2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text35</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>400</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_ANURIANS_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text36</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>400</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level20</key>
	<dict>
		<key>intro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_8</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>4</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<integer>2</integer>
						<real>1.8</real>
						<real>1.7</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_FROZEN_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text37</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>370</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_FROZEN_FRAME2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text38</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>300</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_FROZEN_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text39</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>300</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level23</key>
	<dict>
		<key>intro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_9</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>5</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.4</real>
						<real>1.4</real>
						<real>1.4</real>
						<integer>1</integer>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_DRAGON_KING_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text40</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>290</integer>
								<key>height</key>
								<integer>25</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_DRAGON_KING_FRAME2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text41</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>290</integer>
								<key>height</key>
								<integer>35</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_DRAGON_KING_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text42</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>210</integer>
								<key>height</key>
								<integer>35</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_DRAGON_KING_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text43</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>310</integer>
								<key>height</key>
								<integer>30</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level26</key>
	<dict>
		<key>intro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_11</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>4</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.66</real>
						<real>1.83</real>
						<real>1.66</real>
						<real>1.8</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_HALLOWEEN_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text44</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>240</integer>
								<key>height</key>
								<integer>50</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_HALLOWEEN_FRAME2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text45</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>260</integer>
								<key>height</key>
								<integer>33</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_HALLOWEEN_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text46</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>300</integer>
								<key>height</key>
								<integer>50</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_HALLOWEEN_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>15</string>
							<key>attachPointName</key>
							<string>text47</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>230</integer>
								<key>height</key>
								<integer>45</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>level29</key>
	<dict>
		<key>intro</key>
		<dict>
			<key>animations_key</key>
			<string>comic_12</string>
			<key>pages</key>
			<array>
				<dict>
					<key>cant_frames</key>
					<integer>4</integer>
					<key>frame_delay</key>
					<array>
						<integer>0</integer>
						<real>1.66</real>
						<real>1.83</real>
						<real>1.66</real>
						<real>1.8</real>
					</array>
					<key>text</key>
					<array>
						<dict>
							<key>id</key>
							<string>COMIC_DINO_FRAME1</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>13</string>
							<key>attachPointName</key>
							<string>text48</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>390</integer>
								<key>height</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_DINO_FRAME2</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>13</string>
							<key>attachPointName</key>
							<string>text49</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>280</integer>
								<key>height</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_DINO_FRAME3</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>13</string>
							<key>attachPointName</key>
							<string>text50</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>230</integer>
								<key>height</key>
								<integer>50</integer>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>COMIC_DINO_FRAME4</string>
							<key>color</key>
							<dict>
								<key>r</key>
								<integer>0</integer>
								<key>g</key>
								<integer>0</integer>
								<key>b</key>
								<integer>0</integer>
							</dict>
							<key>size</key>
							<string>13</string>
							<key>attachPointName</key>
							<string>text51</string>
							<key>content_size</key>
							<dict>
								<key>width</key>
								<integer>600</integer>
								<key>height</key>
								<integer>50</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
