<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explosion_normal</key>
	<dict>
		<key>key</key>
		<string>explosion_normal</string>
		<key>y_position_adjust</key>
		<integer>2</integer>
		<key>use_position_floor</key>
		<true/>
		<key>pop</key>
		<dict>
			<key>type</key>
			<string>pop_kaboom</string>
		</dict>
		<key>init_sound</key>
		<dict>
			<key>id</key>
			<string>bomb_hit_sound</string>
		</dict>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.13</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>has_layers</key>
			<false/>
			<key>animations_file</key>
			<string>explosion_normal.plist</string>
		</dict>
	</dict>
	<key>explosion_fragment</key>
	<dict>
		<key>key</key>
		<string>explosion_fragment</string>
		<key>y_position_adjust</key>
		<integer>2</integer>
		<key>use_position_floor</key>
		<true/>
		<key>pop</key>
		<dict>
			<key>type</key>
			<string>pop_kaboom</string>
		</dict>
		<key>init_sound</key>
		<dict>
			<key>id</key>
			<string>bomb_hit_sound</string>
		</dict>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.2</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>has_layers</key>
			<false/>
			<key>animations_file</key>
			<string>explosion_fragment.plist</string>
		</dict>
	</dict>
	<key>confirm_feedback</key>
	<dict>
		<key>key</key>
		<string>confirm_feedback</string>
		<key>animations</key>
		<dict>
			<key>has_layers</key>
			<false/>
			<key>animations_file</key>
			<string>confirm_feedback.plist</string>
		</dict>
	</dict>
	<key>fx_sell_tower</key>
	<dict>
		<key>key</key>
		<string>fx_sell_tower</string>
		<key>y_position_adjust</key>
		<integer>10</integer>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.13</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>has_layers</key>
			<false/>
			<key>animations_file</key>
			<string>tower_sell_smoke.plist</string>
		</dict>
	</dict>
	<key>fx_upgrade_tower</key>
	<dict>
		<key>key</key>
		<string>fx_upgrade_tower</string>
		<key>y_position_adjust</key>
		<integer>10</integer>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.13</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>has_layers</key>
			<false/>
			<key>animations_file</key>
			<string>tower_build_smoke.plist</string>
		</dict>
	</dict>
	<key>rally_feedback</key>
	<dict>
		<key>key</key>
		<string>rally_feedback</string>
		<key>animations</key>
		<dict>
			<key>has_layers</key>
			<false/>
			<key>animations_file</key>
			<string>rally_flag.plist</string>
		</dict>
		<key>init_sound</key>
		<dict>
			<key>id</key>
			<string>rally_point_placed</string>
		</dict>
	</dict>
	<key>error_feedback</key>
	<dict>
		<key>key</key>
		<string>error_feedback</string>
		<key>animations</key>
		<dict>
			<key>has_layers</key>
			<false/>
			<key>animations_file</key>
			<string>error_feedback.plist</string>
		</dict>
	</dict>
	<key>fx_blood</key>
	<dict>
		<key>key</key>
		<string>fx_blood</string>
		<key>use_position_floor</key>
		<false/>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>blood_splat.plist</string>
		</dict>
	</dict>
	<key>fx_unit_explode_small</key>
	<dict>
		<key>key</key>
		<string>fx_unit_explode_small</string>
		<key>use_position_floor</key>
		<false/>
		<key>layer</key>
		<string>entities</string>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.2</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>small_gibs.plist</string>
		</dict>
	</dict>
	<key>decal_crater</key>
	<dict>
		<key>key</key>
		<string>decal_crater</string>
		<key>use_position_floor</key>
		<true/>
		<key>single_frame</key>
		<string>decal_bomb_crater.png</string>
		<key>delay</key>
		<integer>3</integer>
		<key>fadeout</key>
		<real>0.3</real>
	</dict>
	<key>decal_arrow</key>
	<dict>
		<key>key</key>
		<string>decal_arrow</string>
		<key>use_position_floor</key>
		<true/>
		<key>single_frame</key>
		<string>decal_arrow.png</string>
		<key>delay</key>
		<integer>3</integer>
		<key>fadeout</key>
		<real>0.3</real>
		<key>rotation_type</key>
		<integer>0</integer>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>decal_arrow_hero</key>
	<dict>
		<key>key</key>
		<string>decal_arrow_hero</string>
		<key>use_position_floor</key>
		<true/>
		<key>single_frame</key>
		<string>archer_hero_proy_0002.png</string>
		<key>delay</key>
		<integer>3</integer>
		<key>fadeout</key>
		<real>0.3</real>
		<key>rotation_type</key>
		<integer>0</integer>
	</dict>
	<key>decal_blood</key>
	<dict>
		<key>key</key>
		<string>decal_blood</string>
		<key>use_position_floor</key>
		<true/>
		<key>multi_frame</key>
		<dict>
			<key>blood_red</key>
			<string>decal_blood_0001.png</string>
			<key>blood_green</key>
			<string>decal_blood_0002.png</string>
			<key>blood_violet</key>
			<string>decal_blood_0003.png</string>
			<key>blood_grey</key>
			<string>decal_blood_0004.png</string>
		</dict>
		<key>delay</key>
		<integer>7</integer>
		<key>fadeout</key>
		<real>0.3</real>
	</dict>
	<key>decal_hole</key>
	<dict>
		<key>key</key>
		<string>decal_hole</string>
		<key>single_frame</key>
		<string>quarry_worker_hole.png</string>
		<key>fadeout</key>
		<real>0.8</real>
	</dict>
	<key>teleport</key>
	<dict>
		<key>key</key>
		<string>teleport</string>
		<key>y_position_adjust</key>
		<integer>3</integer>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>teleport.plist</string>
		</dict>
	</dict>
	<key>defense_flag</key>
	<dict>
		<key>key</key>
		<string>fx_repeat_forever</string>
		<key>single_frame</key>
		<string>defense_flag.png</string>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.129</real>
		</dict>
	</dict>
	<key>defense_point</key>
	<dict>
		<key>key</key>
		<string>defense_point</string>
		<key>layer</key>
		<string>decals</string>
		<key>destroy_after_anim</key>
		<false/>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>defense_point_animations.plist</string>
		</dict>
	</dict>
	<key>snow</key>
	<dict>
		<key>low</key>
		<dict>
			<key>particles</key>
			<integer>333</integer>
			<key>start_size</key>
			<integer>7</integer>
			<key>start_size_var</key>
			<integer>1</integer>
			<key>end_size</key>
			<integer>7</integer>
			<key>end_size_var</key>
			<integer>1</integer>
			<key>speed</key>
			<string>0</string>
			<key>speed_var</key>
			<string>0</string>
			<key>gravity</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-10</integer>
			</dict>
			<key>tangential</key>
			<integer>0</integer>
			<key>tangential_var</key>
			<integer>10</integer>
			<key>life</key>
			<integer>40</integer>
			<key>life_var</key>
			<integer>4</integer>
			<key>emission</key>
			<integer>10</integer>
			<key>image</key>
			<string>Copo.png</string>
		</dict>
		<key>medium</key>
		<dict>
			<key>particles</key>
			<integer>666</integer>
			<key>start_size</key>
			<integer>7</integer>
			<key>start_size_var</key>
			<integer>1</integer>
			<key>end_size</key>
			<integer>7</integer>
			<key>end_size_var</key>
			<integer>1</integer>
			<key>speed</key>
			<string>0</string>
			<key>speed_var</key>
			<string>0</string>
			<key>gravity</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-10</integer>
			</dict>
			<key>tangential</key>
			<integer>0</integer>
			<key>tangential_var</key>
			<integer>10</integer>
			<key>life</key>
			<integer>40</integer>
			<key>life_var</key>
			<integer>4</integer>
			<key>emission</key>
			<integer>15</integer>
			<key>image</key>
			<string>Copo.png</string>
		</dict>
		<key>high</key>
		<dict>
			<key>particles</key>
			<integer>1000</integer>
			<key>start_size</key>
			<integer>7</integer>
			<key>start_size_var</key>
			<integer>1</integer>
			<key>end_size</key>
			<integer>7</integer>
			<key>end_size_var</key>
			<integer>1</integer>
			<key>speed</key>
			<string>0</string>
			<key>speed_var</key>
			<string>0</string>
			<key>gravity</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-10</integer>
			</dict>
			<key>tangential</key>
			<integer>0</integer>
			<key>tangential_var</key>
			<integer>10</integer>
			<key>life</key>
			<integer>40</integer>
			<key>life_var</key>
			<integer>4</integer>
			<key>emission</key>
			<integer>20</integer>
			<key>image</key>
			<string>Copo.png</string>
		</dict>
	</dict>
	<key>map_road_dot</key>
	<dict>
		<key>key</key>
		<string>fx_with_animation</string>
		<key>destroy_after_anim</key>
		<false/>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>mapDot_animations.plist</string>
		</dict>
	</dict>
	<key>map_veznan_soul</key>
	<dict>
		<key>key</key>
		<string>fx_with_animation</string>
		<key>destroy_after_anim</key>
		<false/>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>mapDot_animations.plist</string>
		</dict>
	</dict>
	<key>map_veznan_soul_particle</key>
	<dict>
		<key>key</key>
		<string>fx_with_animation</string>
		<key>destroy_after_anim</key>
		<false/>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>mapDot_animations.plist</string>
		</dict>
	</dict>
	<key>tutorial_hand</key>
	<dict>
		<key>key</key>
		<string>fx_repeat_forever</string>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>tutorial_hand.plist</string>
		</dict>
	</dict>
	<key>tutorial_holder_glow</key>
	<dict>
		<key>key</key>
		<string>tutorial_holder_glow</string>
		<key>big_scale</key>
		<true/>
		<key>single_frame</key>
		<string>tutorial_starthere_circle.png</string>
	</dict>
	<key>tutorial_enemy_glow</key>
	<dict>
		<key>key</key>
		<string>tutorial_holder_glow</string>
		<key>single_frame</key>
		<string>tutorial_creep_circleglow.png</string>
	</dict>
	<key>tutorial_coin_glow</key>
	<dict>
		<key>key</key>
		<string>tutorial_holder_glow</string>
		<key>single_frame</key>
		<string>tutorial_coins_circleglow.png</string>
	</dict>
	<key>elf_hole</key>
	<dict>
		<key>key</key>
		<string>elf_hole</string>
	</dict>
	<key>wave_gold_feedback</key>
	<dict>
		<key>key</key>
		<string>numbers</string>
		<key>asset</key>
		<string>waveReward_000</string>
		<key>xOffset</key>
		<integer>11</integer>
		<key>layer</key>
		<string>gui</string>
		<key>prev_asset</key>
		<string>waveReward_0011.png</string>
		<key>prev_asset_pos</key>
		<dict>
			<key>x</key>
			<integer>-16</integer>
			<key>y</key>
			<integer>-2</integer>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>coin_reward_animations.plist</string>
		</dict>
		<key>yOffset</key>
		<integer>15</integer>
	</dict>
	<key>gems_feedback</key>
	<dict>
		<key>key</key>
		<string>numbers</string>
		<key>asset</key>
		<string>waveRewardTimer_000</string>
		<key>xOffset</key>
		<integer>11</integer>
		<key>layer</key>
		<string>top</string>
		<key>prev_asset</key>
		<string>gemsReward_0001.png</string>
		<key>prev_asset_pos</key>
		<dict>
			<key>x</key>
			<integer>-16</integer>
			<key>y</key>
			<integer>-2</integer>
		</dict>
	</dict>
	<key>modifier_show_affected</key>
	<dict>
		<key>key</key>
		<string>modifier_show_affected</string>
		<key>duration</key>
		<integer>0</integer>
		<key>effects</key>
		<array>
			<dict>
				<key>position_type</key>
				<integer>2</integer>
				<key>layer</key>
				<string>decals</string>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.6</real>
				</dict>
				<key>animations</key>
				<dict>
					<key>single_frame</key>
					<string>darkarmy_melting_furnace_tower_decal_dotted.png</string>
				</dict>
				<key>scale_animation</key>
				<dict>
					<key>duration</key>
					<real>0.25</real>
					<key>scale_init</key>
					<integer>1</integer>
					<key>scale_to</key>
					<real>1.15</real>
					<key>scale_to_init</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
	<key>fx_breack_ice</key>
	<dict>
		<key>key</key>
		<string>fx_with_animation</string>
		<key>layer</key>
		<string>entities</string>
		<key>y_position_adjust</key>
		<integer>22</integer>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.133</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>svell_druid_tower_frost_tap_effect_animations.plist</string>
		</dict>
	</dict>
	<key>stage10_boneheart_shadow</key>
	<dict>
		<key>key</key>
		<string>fx_with_animation</string>
		<key>layer</key>
		<string>top</string>
		<key>animations</key>
		<dict>
			<key>exoskeleton_key</key>
			<string>Stage_10_boneheart_achievement</string>
		</dict>
	</dict>
	<key>pop_melee</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>225</integer>
			<integer>233</integer>
			<integer>236</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>62</integer>
			<integer>75</integer>
			<integer>86</integer>
		</array>
		<key>text</key>
		<array>
			<string>POP_ZOK</string>
			<string>POP_POW</string>
		</array>
	</dict>
	<key>pop_melee_large</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>225</integer>
			<integer>233</integer>
			<integer>236</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>62</integer>
			<integer>75</integer>
			<integer>86</integer>
		</array>
		<key>text</key>
		<array>
			<string>POP_KAPOW</string>
			<string>POP_WHAAM</string>
		</array>
	</dict>
	<key>pop_kaboom</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>86</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>168</integer>
			<integer>55</integer>
			<integer>55</integer>
		</array>
		<key>text</key>
		<string>POP_KBOOM</string>
		<key>y_adjust</key>
		<integer>35</integer>
	</dict>
	<key>pop_zing_fire</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>153</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>253</integer>
			<integer>160</integer>
			<integer>6</integer>
		</array>
		<key>text</key>
		<array>
			<string>POP_ZING</string>
			<string>POP_BLAST</string>
		</array>
		<key>y_adjust</key>
		<integer>35</integer>
	</dict>
	<key>pop_zing_green</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>234</integer>
			<integer>255</integer>
			<integer>162</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>81</integer>
			<integer>203</integer>
			<integer>0</integer>
		</array>
		<key>text</key>
		<string>POP_ZING</string>
		<key>y_adjust</key>
		<integer>35</integer>
	</dict>
	<key>pop_zing_purple</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>233</integer>
			<integer>205</integer>
			<integer>255</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>99</integer>
			<integer>68</integer>
			<integer>138</integer>
		</array>
		<key>text</key>
		<string>POP_ZING</string>
		<key>y_adjust</key>
		<integer>35</integer>
	</dict>
	<key>pop_zing_blue</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>220</integer>
			<integer>245</integer>
			<integer>255</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>41</integer>
			<integer>160</integer>
			<integer>209</integer>
		</array>
		<key>text</key>
		<string>POP_ZING</string>
		<key>y_adjust</key>
		<integer>35</integer>
	</dict>
	<key>pop_shunt</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>233</integer>
			<integer>205</integer>
			<integer>255</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>99</integer>
			<integer>69</integer>
			<integer>138</integer>
		</array>
		<key>text</key>
		<string>POP_SHUNT</string>
		<key>y_adjust</key>
		<integer>30</integer>
	</dict>
	<key>pop_magic_electrical</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>220</integer>
			<integer>245</integer>
			<integer>255</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>41</integer>
			<integer>160</integer>
			<integer>209</integer>
		</array>
		<key>text</key>
		<array>
			<string>POP_ZAP</string>
			<string>POP_BZZT</string>
		</array>
		<key>y_adjust</key>
		<integer>30</integer>
	</dict>
	<key>pop_splat</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>254</integer>
			<integer>75</integer>
			<integer>8</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>107</integer>
			<integer>23</integer>
			<integer>0</integer>
		</array>
		<key>text</key>
		<string>POP_SPLAT</string>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>pop_swoosh</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>234</integer>
			<integer>255</integer>
			<integer>162</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>81</integer>
			<integer>203</integer>
			<integer>0</integer>
		</array>
		<key>text</key>
		<string>POP_SWOOSH</string>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>pop_thunk</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>225</integer>
			<integer>223</integer>
			<integer>236</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>62</integer>
			<integer>75</integer>
			<integer>86</integer>
		</array>
		<key>text</key>
		<array>
			<string>POP_THUNK</string>
			<string>POP_PAF</string>
		</array>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>pop_thunk_green</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>234</integer>
			<integer>255</integer>
			<integer>162</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>81</integer>
			<integer>203</integer>
			<integer>0</integer>
		</array>
		<key>text</key>
		<array>
			<string>POP_THUNK</string>
			<string>POP_PAF</string>
		</array>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>pop_blast_critical_fire</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>153</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>253</integer>
			<integer>160</integer>
			<integer>6</integer>
		</array>
		<key>text</key>
		<string>POP_BLAST</string>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>pop_blast_critical_blue</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>220</integer>
			<integer>245</integer>
			<integer>255</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>41</integer>
			<integer>160</integer>
			<integer>209</integer>
		</array>
		<key>text</key>
		<string>POP_BLAST</string>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>pop_blast_critical_green</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>234</integer>
			<integer>255</integer>
			<integer>162</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>81</integer>
			<integer>203</integer>
			<integer>0</integer>
		</array>
		<key>text</key>
		<string>POP_BLAST</string>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>pop_blast_critical_purple</key>
	<dict>
		<key>key</key>
		<string>pop</string>
		<key>color_inside</key>
		<array>
			<integer>233</integer>
			<integer>205</integer>
			<integer>255</integer>
		</array>
		<key>color_outside</key>
		<array>
			<integer>99</integer>
			<integer>68</integer>
			<integer>138</integer>
		</array>
		<key>text</key>
		<string>POP_BLAST</string>
		<key>y_adjust</key>
		<integer>40</integer>
	</dict>
	<key>bullywag_spawner</key>
	<dict>
		<key>key</key>
		<string>bullywag_spawner</string>
		<key>create_animations_on_init</key>
		<true/>
		<key>layer</key>
		<string>decals</string>
		<key>fx</key>
		<dict>
			<key>key</key>
			<string>fx_with_animation</string>
			<key>y_position_adjust</key>
			<string>3</string>
			<key>layer</key>
			<string>entities</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.175</real>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>bullywag_spawner_splash_animations.plist</string>
			</dict>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>bullywag_spawner_animations.plist</string>
		</dict>
	</dict>
	<key>bullywag_bubble_crystal</key>
	<dict>
		<key>key</key>
		<string>bullywag_bubble_crystal</string>
		<key>layer</key>
		<string>entities</string>
		<key>hover_frame</key>
		<string>stage_18_bullywag_bubble_crystals_over.png</string>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.164</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>bullywag_bubble_crystals_animations.plist</string>
		</dict>
		<key>cooldown</key>
		<integer>30</integer>
		<key>range</key>
		<integer>375</integer>
		<key>max_targets</key>
		<integer>8</integer>
		<key>fx_offset</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>35</integer>
		</dict>
		<key>fx</key>
		<dict>
			<key>key</key>
			<string>fx_with_animation</string>
			<key>layer</key>
			<string>top</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.524</real>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>bullywag_bubble_crystals_blast_animations.plist</string>
			</dict>
		</dict>
		<key>modifier</key>
		<dict>
			<key>key</key>
			<string>shield</string>
			<key>duration</key>
			<integer>5</integer>
			<key>effects</key>
			<array>
				<dict>
					<key>position_type</key>
					<integer>0</integer>
					<key>anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.544</real>
					</dict>
					<key>fade_in</key>
					<real>0.15</real>
					<key>fade_out</key>
					<real>0.25</real>
					<key>animation_loop</key>
					<string>run</string>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>bullywag_bubble_crystals_shield_modifier_animations.plist</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>veznan_crystal</key>
	<dict>
		<key>key</key>
		<string>veznan_crystal</string>
		<key>layer</key>
		<string>entities</string>
		<key>hover_frame</key>
		<string>stage_27_veznan_crystal_over.png</string>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.246</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>veznan_crystal_animations.plist</string>
		</dict>
		<key>cooldown</key>
		<integer>15</integer>
		<key>range</key>
		<integer>330</integer>
		<key>max_targets</key>
		<integer>3</integer>
		<key>sound_start</key>
		<dict>
			<key>id</key>
			<string>dark_army_blazing_mage_attack_loopstart</string>
			<key>delay</key>
			<real>0.066</real>
		</dict>
		<key>sparkles</key>
		<dict>
			<key>create_animations_on_init</key>
			<true/>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>veznan_crystal_hit_start_animations.plist</string>
			</dict>
		</dict>
		<key>proyectile</key>
		<dict>
			<key>type</key>
			<string>ray</string>
			<key>towards_unit</key>
			<true/>
			<key>rotation</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>damage_over_time</key>
			<true/>
			<key>damage_type</key>
			<integer>1</integer>
			<key>damage_min</key>
			<integer>60</integer>
			<key>damage_max</key>
			<integer>60</integer>
			<key>tick_time</key>
			<real>0.2</real>
			<key>animation_start</key>
			<string>in</string>
			<key>animation_travel</key>
			<string>travel</string>
			<key>animation_out</key>
			<string>out</string>
			<key>travel_sound</key>
			<string>dark_army_blazing_mage_attack_loop</string>
			<key>out_sound</key>
			<string>dark_army_blazing_mage_attack_loopend</string>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>veznan_crystal_ray_animations.plist</string>
			</dict>
			<key>hit</key>
			<dict>
				<key>key</key>
				<string>fx_repeat_forever</string>
				<key>layer</key>
				<string>entities</string>
				<key>controlled_by_projectile</key>
				<true/>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>veznan_crystal_hit_end_animations.plist</string>
				</dict>
			</dict>
			<key>duration</key>
			<real>1.4</real>
			<key>destroy_after_anim</key>
			<false/>
			<key>destroy_on_death</key>
			<true/>
			<key>notify_zeroing</key>
			<true/>
		</dict>
	</dict>
	<key>magical_stove</key>
	<dict>
		<key>key</key>
		<string>magical_stove</string>
		<key>layer</key>
		<string>entities</string>
		<key>hover_frame</key>
		<string>stage_23_taoist_stove_over.png</string>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.19</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>taoist_stove_animations.plist</string>
		</dict>
		<key>cooldown</key>
		<integer>60</integer>
		<key>range</key>
		<integer>300</integer>
		<key>max_targets</key>
		<integer>60</integer>
		<key>gold_factor</key>
		<real>0.5</real>
		<key>proyectile_action_time</key>
		<real>0.1</real>
		<key>fx_offset</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>fx</key>
		<dict>
			<key>key</key>
			<string>fx_with_animation</string>
			<key>layer</key>
			<string>decals</string>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>taoist_stove_fx_animations.plist</string>
			</dict>
		</dict>
		<key>fx_coin_offset</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>coin_delay</key>
		<real>0.3</real>
		<key>proyectile</key>
		<dict>
			<key>rotation</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>parabole</string>
			<key>towards_unit</key>
			<false/>
			<key>t1</key>
			<integer>22</integer>
			<key>t_interval</key>
			<integer>18</integer>
			<key>t0_condition</key>
			<integer>0</integer>
			<key>g</key>
			<integer>-1</integer>
			<key>step</key>
			<integer>25</integer>
			<key>damage_type</key>
			<integer>0</integer>
			<key>damage_min</key>
			<integer>0</integer>
			<key>damage_max</key>
			<integer>0</integer>
			<key>animations</key>
			<dict>
				<key>fixed_frame</key>
				<string>taoist_stove_proyectile.png</string>
			</dict>
			<key>particle</key>
			<dict>
				<key>cooldown</key>
				<real>0.018</real>
				<key>delay</key>
				<integer>0</integer>
				<key>offset</key>
				<integer>5</integer>
				<key>z</key>
				<integer>-1</integer>
				<key>rotate_towards_target</key>
				<false/>
				<key>object</key>
				<dict>
					<key>key</key>
					<string>fx_with_animation</string>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>taoist_stove_particle_animations.plist</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>proyectile_destination</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>fx_magical_stove_soul</key>
	<dict>
		<key>key</key>
		<string>fx_with_animation</string>
		<key>use_position_floor</key>
		<false/>
		<key>layer</key>
		<string>entities</string>
		<key>remove_blood_decal</key>
		<true/>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>taoist_stove_soul_animations.plist</string>
		</dict>
	</dict>
	<key>nian_heal</key>
	<dict>
		<key>key</key>
		<string>heal</string>
		<key>healing_points_tick</key>
		<integer>5</integer>
		<key>tick_time</key>
		<real>0.05</real>
		<key>custom_fills</key>
		<dict>
			<key>canNianHeal</key>
			<true/>
		</dict>
		<key>effects</key>
		<array>
			<dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>nian_regen_effect_healing_animations.plist</string>
				</dict>
				<key>animation_loop</key>
				<string>run</string>
			</dict>
			<dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>nian_regen_effect_ripple_animations.plist</string>
				</dict>
				<key>animation_loop</key>
				<string>run</string>
				<key>layer</key>
				<string>decals</string>
				<key>position_type</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>stage36_crowd</key>
	<dict>
		<key>key</key>
		<string>fx_repeat_forever</string>
		<key>layer</key>
		<string>entities</string>
		<key>skills</key>
		<array>
			<dict>
				<key>key</key>
				<string>boss_malik_cheers</string>
				<key>type</key>
				<integer>2</integer>
				<key>confetti_veznan</key>
				<dict>
					<key>key</key>
					<string>fx_with_animation</string>
					<key>layer</key>
					<string>entities</string>
					<key>y_position_adjust</key>
					<integer>350</integer>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>stage36_veznan_confeti_animations.plist</string>
					</dict>
				</dict>
				<key>confetti_malik</key>
				<dict>
					<key>key</key>
					<string>fx_with_animation</string>
					<key>layer</key>
					<string>entities</string>
					<key>y_position_adjust</key>
					<integer>350</integer>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>stage36_malik_confeti_animations.plist</string>
					</dict>
				</dict>
				<key>veznan_sound</key>
				<dict>
					<key>id</key>
					<string>group_sandstorm_level_36_veznan_crowd</string>
				</dict>
				<key>malik_sound</key>
				<dict>
					<key>id</key>
					<string>group_sandstorm_level_36_malik_crowd</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
