<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showcases-OFF</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>packs</key>
			<array>
				<integer>99901</integer>
			</array>
		</dict>
	</array>
	<key>offers-OFF</key>
	<array>
		<dict>
			<key>id</key>
			<integer>99901</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_DLC_1</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>typePack</key>
			<string>dlc</string>
			<key>isShowcase</key>
			<true/>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>dlc1</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_DLC_1</string>
					<key>text_right</key>
					<string>REWARD_TOWER_UNLOCKED</string>
					<key>text_left</key>
					<string>REWARD_HERO_UNLOCKED</string>
					<key>discount</key>
					<integer>0</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_TREMOR</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_ISFET</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>dlc</string>
							<key>id</key>
							<string>KR4_DLC_SANDSTORM</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>modifiers</key>
	<dict>
		<key>unit</key>
		<array>
			<dict>
				<key>name</key>
				<string>POISON</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>damage_over_time</string>
					<key>duration</key>
					<integer>8</integer>
					<key>tick_time</key>
					<real>0.33</real>
					<key>damage</key>
					<integer>2</integer>
					<key>damage_type</key>
					<integer>0</integer>
					<key>effects</key>
					<array>
						<dict>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>poison_violet_animations.plist</string>
							</dict>
							<key>animation_loop</key>
							<string>run</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>STUN</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>stun</string>
					<key>duration</key>
					<integer>8</integer>
					<key>effects</key>
					<array>
						<dict>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>stun_animations.plist</string>
							</dict>
							<key>animation_loop</key>
							<string>run</string>
							<key>position_type</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>FREEZE</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>freeze</string>
					<key>duration</key>
					<integer>5</integer>
					<key>rotate_unit</key>
					<false/>
					<key>effects</key>
					<array>
						<dict>
							<key>position_type</key>
							<integer>3</integer>
							<key>animation_start</key>
							<string>start</string>
							<key>animation_loop</key>
							<string>idle</string>
							<key>animation_end</key>
							<string>end</string>
							<key>anchor</key>
							<dict>
								<key>x</key>
								<real>0.5</real>
								<key>y</key>
								<real>0.19</real>
							</dict>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>freeze_animations.plist</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>SPEED</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>unit_extra_data</string>
					<key>duration</key>
					<integer>3</integer>
					<key>speed_factor</key>
					<real>3.5</real>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>HEAL</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>heal</string>
					<key>duration</key>
					<integer>10</integer>
					<key>healing_points</key>
					<integer>50</integer>
					<key>effects</key>
					<array>
						<dict>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>heal_animations.plist</string>
							</dict>
							<key>animation_loop</key>
							<string>run</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>SWAP ARMY</string>
				<key>config</key>
				<dict>
					<key>id</key>
					<string>spirit_mausoleum_modifier_possesion</string>
					<key>key</key>
					<string>swap_army</string>
					<key>change_direction</key>
					<true/>
					<key>duration</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>POLY</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>polymorph</string>
					<key>new_unit</key>
					<string>footman</string>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>INTI</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>intimidation</string>
					<key>duration</key>
					<integer>3</integer>
					<key>speed_factor</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>LEVI</string>
				<key>duration</key>
				<integer>10</integer>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>levitate</string>
					<key>duration</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>SIL</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>silence</string>
					<key>duration</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>DAM_MULT</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>damage_multiplier</string>
					<key>duration</key>
					<integer>4</integer>
					<key>multiplier</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>POLI</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>polymorph</string>
					<key>new_unit</key>
					<string>desert_sheep</string>
					<key>new_unit_big</key>
					<string>desert_ostrich</string>
					<key>is_allie</key>
					<true/>
					<key>outside_control</key>
					<true/>
					<key>fx</key>
					<dict>
						<key>key</key>
						<string>fx_with_animation</string>
						<key>use_position_floor</key>
						<true/>
						<key>layer</key>
						<string>entities</string>
						<key>y_position_adjust</key>
						<integer>2</integer>
						<key>anchor</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.38</real>
						</dict>
						<key>animations</key>
						<dict>
							<key>animations_file</key>
							<string>djini_polymorph_unit_effect_animations.plist</string>
						</dict>
					</dict>
					<key>polymorph_modifier</key>
					<dict>
						<key>key</key>
						<string>polymorph</string>
						<key>duration</key>
						<integer>25</integer>
						<key>is_allie</key>
						<true/>
						<key>percentage_health</key>
						<integer>1</integer>
						<key>fx</key>
						<dict>
							<key>key</key>
							<string>fx_with_animation</string>
							<key>use_position_floor</key>
							<true/>
							<key>layer</key>
							<string>entities</string>
							<key>y_position_adjust</key>
							<integer>2</integer>
							<key>anchor</key>
							<dict>
								<key>x</key>
								<real>0.5</real>
								<key>y</key>
								<real>0.38</real>
							</dict>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>djini_polymorph_unit_effect_animations.plist</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</array>
		<key>tower</key>
		<array>
			<dict>
				<key>name</key>
				<string>RANGE</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>range_multiplier</string>
					<key>duration</key>
					<integer>15</integer>
					<key>multiplier</key>
					<real>1.3</real>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>BLOCK</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>tower_block</string>
					<key>duration</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>BLOCKPAY</string>
				<key>config</key>
				<dict>
					<key>animations_explotion</key>
					<dict>
						<key>animations_file</key>
						<string>big_berta_brea_explotion_animations.plist</string>
					</dict>
					<key>quickmenu</key>
					<dict>
						<key>items</key>
						<array>
							<dict>
								<key>image</key>
								<string>special_icons_0057.png</string>
								<key>image_top</key>
								<string>special_icons_bg.png</string>
								<key>image_off</key>
								<string>special_icons_turnOff.png</string>
								<key>image_confirm</key>
								<string>special_icons_0001.png</string>
								<key>image_off_top</key>
								<true/>
								<key>top_as_background</key>
								<false/>
								<key>action_type</key>
								<string>unblock_pay</string>
								<key>action_key</key>
								<string>tower_block_pay</string>
								<key>always_enabled</key>
								<true/>
								<key>override_cost</key>
								<integer>125</integer>
								<key>position</key>
								<integer>4</integer>
								<key>tooltip_key</key>
								<string>TOOLTIP_TOWER_UNBLOCK_PAY</string>
							</dict>
						</array>
						<key>offset</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-19</integer>
						</dict>
					</dict>
					<key>effects</key>
					<array>
						<dict>
							<key>position_type</key>
							<integer>2</integer>
							<key>layer</key>
							<string>entities</string>
							<key>y_position_adjust</key>
							<integer>20</integer>
							<key>animation_loop</key>
							<string>anim</string>
							<key>fade_in</key>
							<real>0.2</real>
							<key>fade_out</key>
							<real>0.25</real>
							<key>animations</key>
							<dict>
								<key>exoskeleton_key</key>
								<string>stage_16_brea_decal.plist</string>
							</dict>
						</dict>
						<dict>
							<key>position_type</key>
							<integer>2</integer>
							<key>layer</key>
							<string>entities</string>
							<key>y_position_adjust</key>
							<integer>21</integer>
							<key>animation_loop</key>
							<string>anim</string>
							<key>fade_in</key>
							<real>0.2</real>
							<key>fade_out</key>
							<real>0.25</real>
							<key>animations</key>
							<dict>
								<key>exoskeleton_key</key>
								<string>stage_16_brea_tap.plist</string>
							</dict>
						</dict>
						<dict>
							<key>is_hover</key>
							<true/>
							<key>position_type</key>
							<integer>2</integer>
							<key>layer</key>
							<string>entities</string>
							<key>z</key>
							<integer>-1</integer>
							<key>anchor</key>
							<dict>
								<key>x</key>
								<real>0.5</real>
								<key>y</key>
								<real>0.46</real>
							</dict>
							<key>fade_out</key>
							<real>0.25</real>
							<key>animations</key>
							<dict>
								<key>single_frame</key>
								<string>stage_16_brea_decal_over.png</string>
							</dict>
						</dict>
					</array>
					<key>key</key>
					<string>tower_block_brea</string>
					<key>id</key>
					<string>tower_block_pay</string>
					<key>duration</key>
					<integer>40</integer>
					<key>pay_to_remove</key>
					<true/>
					<key>force_tower_idle</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>BLOCKFREEZE</string>
				<key>config</key>
				<dict>
					<key>key</key>
					<string>tower_block</string>
					<key>id</key>
					<string>tower_block_storm_snow</string>
					<key>duration</key>
					<integer>20</integer>
					<key>force_tower_idle</key>
					<true/>
					<key>touches_to_remove</key>
					<integer>3</integer>
					<key>unblock_delay</key>
					<real>0.33</real>
					<key>achievement_on_touch</key>
					<string>KR4_ACHIEVEMENT_ICESCULPTOR</string>
					<key>fx_on_touch</key>
					<dict>
						<key>key</key>
						<string>fx_with_animation</string>
						<key>layer</key>
						<string>entities</string>
						<key>y_position_adjust</key>
						<integer>22</integer>
						<key>anchor</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.133</real>
						</dict>
						<key>animations</key>
						<dict>
							<key>animations_file</key>
							<string>svell_druid_tower_frost_tap_effect_animations.plist</string>
						</dict>
					</dict>
					<key>effects</key>
					<array>
						<dict>
							<key>position_type</key>
							<integer>2</integer>
							<key>layer</key>
							<string>entities</string>
							<key>y_position_adjust</key>
							<integer>20</integer>
							<key>anchor</key>
							<dict>
								<key>x</key>
								<real>0.5</real>
								<key>y</key>
								<real>0.35</real>
							</dict>
							<key>animation_start</key>
							<string>start</string>
							<key>animation_loop</key>
							<string>idle</string>
							<key>animation_end</key>
							<string>end</string>
							<key>fade_out</key>
							<real>0.25</real>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>svell_druid_tower_frost_animations.plist</string>
							</dict>
							<key>sound_end</key>
							<dict>
								<key>id</key>
								<string>ice_break</string>
							</dict>
						</dict>
						<dict>
							<key>position_type</key>
							<integer>2</integer>
							<key>layer</key>
							<string>entities</string>
							<key>y_position_adjust</key>
							<integer>21</integer>
							<key>anchor</key>
							<dict>
								<key>x</key>
								<real>0.5</real>
								<key>y</key>
								<real>0.1</real>
							</dict>
							<key>animation_loop</key>
							<string>run</string>
							<key>fade_out</key>
							<real>0.25</real>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>tower_block_tap_animations.plist</string>
							</dict>
						</dict>
						<dict>
							<key>is_hover</key>
							<true/>
							<key>position_type</key>
							<integer>2</integer>
							<key>layer</key>
							<string>entities</string>
							<key>y_position_adjust</key>
							<integer>20</integer>
							<key>anchor</key>
							<dict>
								<key>x</key>
								<real>0.5</real>
								<key>y</key>
								<real>0.35</real>
							</dict>
							<key>fade_out</key>
							<real>0.25</real>
							<key>animations</key>
							<dict>
								<key>single_frame</key>
								<string>svell_druid_tower_frost_over.png</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<key>showcases_test</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>packs</key>
			<array>
				<real>11000</real>
				<real>11001</real>
			</array>
			<key>random</key>
			<false/>
			<key>duration</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>offers_showcases_test</key>
	<array>
		<dict>
			<key>id</key>
			<real>11000</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_01</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<true/>
			<key>isShowcase</key>
			<true/>
			<key>duration</key>
			<integer>1</integer>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_7</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JACK_O_LANTERN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>11001</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_03</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>isShowcase</key>
			<true/>
			<key>duration</key>
			<integer>1</integer>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_8</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_PARTY_SARCOPHAGUS</string>
							<key>amount</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>103</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_ALL_HEROES</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>typePack</key>
			<string>all_heroes</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>all_heroes_offer</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TRAMIN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_BERESAD</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TANK</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MORTEMIS</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JIGOU</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>offers_old</key>
	<array>
		<dict>
			<key>id</key>
			<real>11000</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_01</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<real>10000</real>
			<key>end</key>
			<string>2019-12-26_00:00:00</string>
			<key>typePack</key>
			<string>halloween</string>
			<key>isVitrina</key>
			<true/>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_1</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_SWAMP_MONSTER</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JACK_O_LANTERN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_PARTY_SARCOPHAGUS</string>
							<key>amount</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>11001</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_03</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<real>100000</real>
			<key>end</key>
			<string>2018-12-26_00:00:00</string>
			<key>typePack</key>
			<string>christmas</string>
			<key>isVitrina</key>
			<true/>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_1</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>11002</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_03</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<real>100000</real>
			<key>end</key>
			<string>2018-12-26_00:00:00</string>
			<key>typePack</key>
			<string>christmas</string>
			<key>isVitrina</key>
			<true/>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_2</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>special_offer_3</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TRAMIN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>102</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_03</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<integer>1000</integer>
			<key>end</key>
			<string>2018-12-26_00:00:00</string>
			<key>typePack</key>
			<string>christmas</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_4</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>special_offer_5</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TRAMIN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>special_offer_6</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JIGOU</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>103</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_ALL_HEROES</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<real>100000</real>
			<key>end</key>
			<string>2018-12-26_00:00:00</string>
			<key>typePack</key>
			<string>all_heroes</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>all_heroes_offer</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TRAMIN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_BERESAD</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TANK</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MORTEMIS</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JIGOU</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>104</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_ALL_TOWERS</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<real>100000</real>
			<key>end</key>
			<string>2018-12-26_00:00:00</string>
			<key>typePack</key>
			<string>all_towers</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>all_towers_offer</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_TOWERS</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_GRIM_CEMETERY</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_BLAZING_WATCHER</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_ROTTEN_FOREST</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_WICKED_SISTERS</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_WAR_ZEPELLING</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<real>1007</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_01</string>
			<key>priority</key>
			<integer>3</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<integer>48</integer>
			<key>typePack</key>
			<string>halloween</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_starter_pack_1</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>80</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_VALYRIAN_FIRE</string>
							<key>amount</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_JUGGERNAUT_REMOTE_CONTROL</string>
							<key>amount</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>gems</string>
							<key>amount</key>
							<integer>3000</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>200</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_ALL_HEROES</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<integer>10000</integer>
			<key>typePack</key>
			<string>all_heroes</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>all_heroes_offer</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TRAMIN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_BERESAD</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TANK</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MORTEMIS</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JIGOU</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>offers_release</key>
	<array>
		<dict>
			<key>id</key>
			<integer>200</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_ALL_HEROES</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<integer>24</integer>
			<key>typePack</key>
			<string>all_heroes</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>all_heroes_offer</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_HEROES</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TRAMIN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_BERESAD</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TANK</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MORTEMIS</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JIGOU</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>200</integer>
			<key>title</key>
			<string>OFFER_PACK_TITLE_ALL_TOWERS</string>
			<key>priority</key>
			<integer>1</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<integer>1000</integer>
			<key>end</key>
			<string>2018-12-26_00:00:00</string>
			<key>typePack</key>
			<string>all_towers</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>all_towers_offer</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_ALL_TOWERS</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_GRIM_CEMETERY</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_BLAZING_WATCHER</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_ROTTEN_FOREST</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_WICKED_SISTERS</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_WAR_ZEPELLING</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<real>1002</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_08</string>
			<key>priority</key>
			<integer>3</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<integer>48</integer>
			<key>typePack</key>
			<string>christmas</string>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_starter_pack_1</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>66</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_VALYRIAN_FIRE</string>
							<key>amount</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_JUGGERNAUT_REMOTE_CONTROL</string>
							<key>amount</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>gems_pack</string>
							<key>id</key>
							<string>KR4_GEMS_PACK_POUCH</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<real>1003</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_08</string>
			<key>priority</key>
			<integer>3</integer>
			<key>checkPurchasedItem</key>
			<false/>
			<key>duration</key>
			<integer>48</integer>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_starter_pack_2</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>55</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_VALYRIAN_FIRE</string>
							<key>amount</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>item</string>
							<key>id</key>
							<string>KR4_POWER_UP_JUGGERNAUT_REMOTE_CONTROL</string>
							<key>amount</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>gems_pack</string>
							<key>id</key>
							<string>KR4_GEMS_PACK_POUCH</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<real>1013</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_09</string>
			<key>priority</key>
			<integer>2</integer>
			<key>checkPurchasedItem</key>
			<true/>
			<key>duration</key>
			<integer>48</integer>
			<key>stageCompleted</key>
			<integer>16</integer>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_6</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>67</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_WAR_ZEPELLING</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TANK</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>tower</string>
							<key>id</key>
							<string>KR4_TOWER_BLAZING_WATCHER</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<real>1005</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_09</string>
			<key>priority</key>
			<integer>4</integer>
			<key>checkPurchasedItem</key>
			<true/>
			<key>duration</key>
			<integer>24</integer>
			<key>stageCompleted</key>
			<integer>11</integer>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_6</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_BERESAD</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_TRAMIN</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<real>1006</real>
			<key>title</key>
			<string>OFFER_PACK_TITLE_09</string>
			<key>priority</key>
			<integer>4</integer>
			<key>checkPurchasedItem</key>
			<true/>
			<key>duration</key>
			<integer>24</integer>
			<key>stageCompleted</key>
			<integer>6</integer>
			<key>offers</key>
			<array>
				<dict>
					<key>name</key>
					<string>special_offer_2</string>
					<key>subtitle</key>
					<string>OFFER_PACK_DESCRIPTION_TEXT_02</string>
					<key>discount</key>
					<integer>50</integer>
					<key>rewards</key>
					<array>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_JIGOU</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>hero</string>
							<key>id</key>
							<string>KR4_HERO_MARGOSA</string>
							<key>amount</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>gem_packs_amount</key>
	<dict>
		<key>KR4_GEMS_PACK_HANDFUL</key>
		<integer>1201</integer>
		<key>KR4_GEMS_PACK_POUCH</key>
		<integer>2201</integer>
		<key>KR4_GEMS_PACK_CHEST</key>
		<integer>11001</integer>
		<key>KR4_GEMS_PACK_BARREL</key>
		<integer>5001</integer>
		<key>KR4_GEMS_PACK_WAGON</key>
		<integer>30002</integer>
		<key>KR4_GEMS_PACK_MOUNTAIN</key>
		<integer>70003</integer>
		<key>KR4_GEMS_PACK_FREE</key>
		<integer>51</integer>
	</dict>
	<key>power_ups_remote_config</key>
	<dict>
		<key>KR4_POWER_UP_BOMB</key>
		<integer>51</integer>
		<key>KR4_POWER_UP_FREEZE_MINION</key>
		<integer>61</integer>
		<key>KR4_POWER_UP_HEALING_POTION</key>
		<integer>101</integer>
		<key>KR4_POWER_UP_DRILL_MINE</key>
		<integer>126</integer>
		<key>KR4_POWER_UP_VALYRIAN_FIRE</key>
		<integer>151</integer>
		<key>KR4_POWER_UP_PARTY_SARCOPHAGUS</key>
		<integer>221</integer>
		<key>KR4_POWER_UP_THIEF_GOBLIN</key>
		<integer>301</integer>
		<key>KR4_POWER_UP_SOULS_IN_A_CAN</key>
		<integer>351</integer>
		<key>KR4_POWER_UP_JUGGERNAUT_REMOTE_CONTROL</key>
		<integer>551</integer>
		<key>KR4_POWER_UP_VEZNAN_WRATH</key>
		<integer>1000</integer>
	</dict>
	<key>iaps_offers_new</key>
	<dict>
		<key>all_heroes_offer</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
	</dict>
	<key>gem_packs_tag</key>
	<dict>
		<key>KR4_GEMS_PACK_CHEST</key>
		<string>MORE_GEMS_TAG_MOST_POPULAR</string>
		<key>KR4_GEMS_PACK_MOUNTAIN</key>
		<string>MORE_GEMS_TAG_BEST_VALUE</string>
	</dict>
	<key>difficulty_multiplier</key>
	<dict>
		<key>EASY</key>
		<real>1</real>
		<key>NORMAL</key>
		<real>1</real>
		<key>HARD</key>
		<real>1</real>
		<key>IMPOSSIBLE</key>
		<real>1</real>
	</dict>
	<key>hero_sales_test</key>
	<dict>
		<key>KR4_HERO_MARGOSA</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>33</integer>
		</dict>
		<key>KR4_HERO_MORTEMIS</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>33</integer>
		</dict>
		<key>KR4_HERO_TRAMIN</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>60</integer>
		</dict>
		<key>KR4_HERO_JIGOU</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>60</integer>
		</dict>
		<key>KR4_HERO_TANK</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>66</integer>
		</dict>
		<key>KR4_HERO_BERESAD</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>tower_sales_test</key>
	<dict>
		<key>KR4_TOWER_BLAZING_WATCHER</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>60</integer>
		</dict>
		<key>KR4_TOWER_ROTTEN_FOREST</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>33</integer>
		</dict>
		<key>KR4_TOWER_GRIM_CEMETERY</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>33</integer>
		</dict>
		<key>KR4_TOWER_WAR_ZEPELLING</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>70</integer>
		</dict>
		<key>KR4_TOWER_WICKED_SISTERS</key>
		<dict>
			<key>start</key>
			<string>2018-12-19_00:00:00</string>
			<key>duration</key>
			<integer>360</integer>
			<key>discount</key>
			<integer>60</integer>
		</dict>
	</dict>
</dict>
</plist>
