<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>towers</key>
	<array>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_SHADOW_ARCHERS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>dark_army_archer_level1</string>
					<key>img_idx</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_archer_level2</string>
					<key>img_idx</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_archer_level3</string>
					<key>img_idx</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_archer_level4</string>
					<key>img_idx</key>
					<integer>28</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_ORC_DENTS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>warmongers_barrack_level1</string>
					<key>img_idx</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_barrack_level2</string>
					<key>img_idx</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_barrack_level3</string>
					<key>img_idx</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_barrack_orc_dens</string>
					<key>img_idx</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_INFERNAL_ACOLYTE</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>ember_lords_mage_level1</string>
					<key>img_idx</key>
					<integer>37</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>ember_lords_mage_level2</string>
					<key>img_idx</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>ember_lords_mage_level3</string>
					<key>img_idx</key>
					<integer>39</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>ember_lords_mage_level4</string>
					<key>img_idx</key>
					<integer>40</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_ROCKET_RIDERS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>warmongers_rocket_level1</string>
					<key>img_idx</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_rocket_level2</string>
					<key>img_idx</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_rocket_level3</string>
					<key>img_idx</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_rocket_level4</string>
					<key>img_idx</key>
					<integer>20</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_DARK_KNIGHTS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>dark_army_barrack_level1</string>
					<key>img_idx</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_barrack_level2</string>
					<key>img_idx</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_barrack_level3</string>
					<key>img_idx</key>
					<integer>23</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_barrack_dark_knight</string>
					<key>img_idx</key>
					<integer>24</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_MELTING_FURNACE</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>dark_army_melting_furnace_level1</string>
					<key>img_idx</key>
					<integer>57</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_melting_furnace_level2</string>
					<key>img_idx</key>
					<integer>58</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_melting_furnace_level3</string>
					<key>img_idx</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_melting_furnace_level4</string>
					<key>img_idx</key>
					<integer>60</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_SPIRIT_MAUSOLEUM</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>fallen_ones_spirit_mausoleum_level1</string>
					<key>img_idx</key>
					<integer>45</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_spirit_mausoleum_level2</string>
					<key>img_idx</key>
					<integer>46</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_spirit_mausoleum_level3</string>
					<key>img_idx</key>
					<integer>47</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_spirit_mausoleum_level4</string>
					<key>img_idx</key>
					<integer>48</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_GOBLIRANGS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>warmongers_archer_level1</string>
					<key>img_idx</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_archer_level2</string>
					<key>img_idx</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_archer_level3</string>
					<key>img_idx</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_archer_spear_throwers</string>
					<key>img_idx</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_BONE_FLINGERS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>fallen_ones_bone_flingers_level1</string>
					<key>img_idx</key>
					<integer>41</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_bone_flingers_level2</string>
					<key>img_idx</key>
					<integer>42</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_bone_flingers_level3</string>
					<key>img_idx</key>
					<integer>43</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_bone_flingers_level4</string>
					<key>img_idx</key>
					<integer>44</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_GRIM_CEMETERY</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>fallen_ones_grim_cemetery_level1</string>
					<key>img_idx</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_grim_cemetery_level2</string>
					<key>img_idx</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_grim_cemetery_level3</string>
					<key>img_idx</key>
					<integer>51</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>fallen_ones_grim_cemetery_level4</string>
					<key>img_idx</key>
					<integer>52</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_ELITE_HARASSERS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>elves_barrack_level1</string>
					<key>img_idx</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>elves_barrack_level2</string>
					<key>img_idx</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>elves_barrack_level3</string>
					<key>img_idx</key>
					<integer>31</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>elves_barrack_level4</string>
					<key>img_idx</key>
					<integer>32</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_ROTTEN_FOREST</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>rotten_forest_level1</string>
					<key>img_idx</key>
					<integer>33</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>rotten_forest_level2</string>
					<key>img_idx</key>
					<integer>34</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>rotten_forest_level3</string>
					<key>img_idx</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>rotten_forest_level4</string>
					<key>img_idx</key>
					<integer>36</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_WICKED_SISTERS</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>wicked_sisters_level1</string>
					<key>img_idx</key>
					<integer>65</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>wicked_sisters_level2</string>
					<key>img_idx</key>
					<integer>66</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>wicked_sisters_level3</string>
					<key>img_idx</key>
					<integer>67</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>wicked_sisters_level4</string>
					<key>img_idx</key>
					<integer>68</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_ORC_SHAMAN</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>warmongers_mage_level1</string>
					<key>img_idx</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_mage_level2</string>
					<key>img_idx</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_mage_level3</string>
					<key>img_idx</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_mage_blood_altar</string>
					<key>img_idx</key>
					<integer>16</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_WAR_ZEPELLING</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>warmongers_heat_balloon_level1</string>
					<key>img_idx</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_heat_balloon_level2</string>
					<key>img_idx</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_heat_balloon_level3</string>
					<key>img_idx</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>warmongers_heat_balloon_special</string>
					<key>img_idx</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_BLAZING_WATCHER</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>dark_army_blazing_watcher_level1</string>
					<key>img_idx</key>
					<integer>53</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_blazing_watcher_level2</string>
					<key>img_idx</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_blazing_watcher_level3</string>
					<key>img_idx</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dark_army_blazing_watcher_level4</string>
					<key>img_idx</key>
					<integer>56</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_DEEP_DEVILS_REEF</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>deep_devils_reef_level1</string>
					<key>img_idx</key>
					<integer>61</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>deep_devils_reef_level2</string>
					<key>img_idx</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>deep_devils_reef_level3</string>
					<key>img_idx</key>
					<integer>63</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>deep_devils_reef_level4</string>
					<key>img_idx</key>
					<integer>64</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_SHAOLIN_TEMPLE</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>shaolin_temple_level1</string>
					<key>img_idx</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>shaolin_temple_level2</string>
					<key>img_idx</key>
					<integer>76</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>shaolin_temple_level3</string>
					<key>img_idx</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>shaolin_temple_level4</string>
					<key>img_idx</key>
					<integer>78</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_SWAMP_MONSTER</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>swamp_monster_level1</string>
					<key>img_idx</key>
					<integer>69</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>swamp_monster_level2</string>
					<key>img_idx</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>swamp_monster_level3</string>
					<key>img_idx</key>
					<integer>71</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>swamp_monster_level4</string>
					<key>img_idx</key>
					<integer>72</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<string>KR4_TOWER_IGNIS_ALTAR</string>
			<key>towers</key>
			<array>
				<dict>
					<key>name</key>
					<string>dinos_ignis_altar_level1</string>
					<key>img_idx</key>
					<integer>79</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dinos_ignis_altar_level2</string>
					<key>img_idx</key>
					<integer>80</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dinos_ignis_altar_level3</string>
					<key>img_idx</key>
					<integer>81</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>dinos_ignis_altar_level4</string>
					<key>img_idx</key>
					<integer>82</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<dict>
			<key>always_visible</key>
			<true/>
			<key>name</key>
			<string>human_woodcutter</string>
			<key>img_idx</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>always_visible</key>
			<true/>
			<key>name</key>
			<string>human_worker</string>
			<key>img_idx</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bruiser</string>
			<key>img_idx</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>warhammer_guard</string>
			<key>img_idx</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>chomp_bot</string>
			<key>img_idx</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>clockwork_spider</string>
			<key>img_idx</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>cyclopter_pilot</string>
			<key>img_idx</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>smokebeard_engineer</string>
			<key>img_idx</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>tinbeard_gunman</string>
			<key>img_idx</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>quarry_worker</string>
			<key>img_idx</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>stonebeard_geomancer</string>
			<key>img_idx</key>
			<integer>11</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_STONEBEARD_GEOMANCER_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sulfur_alchemist</string>
			<key>img_idx</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>mechadwarf</string>
			<key>img_idx</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>boss_dwarf_mecha</string>
			<key>img_idx</key>
			<integer>101</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_BOLGUR_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>blue_wyvern</string>
			<key>img_idx</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>glacial_wolf</string>
			<key>img_idx</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>northern_huntress</string>
			<key>img_idx</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>northern_wildling</string>
			<key>img_idx</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>apex_stalker</string>
			<key>img_idx</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>apex_shard</string>
			<key>img_idx</key>
			<integer>53</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_APEX_SHARD_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ice_witch</string>
			<key>img_idx</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>nanoq_warbear</string>
			<key>img_idx</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>northern_berserker</string>
			<key>img_idx</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>leap_dragon</string>
			<key>img_idx</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>valkyrie</string>
			<key>img_idx</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>draugr</string>
			<key>img_idx</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>frost_giant</string>
			<key>img_idx</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>svell_druid</string>
			<key>img_idx</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>mega_boss_dragon</string>
			<key>img_idx</key>
			<integer>102</integer>
			<key>health</key>
			<integer>50000</integer>
			<key>speed</key>
			<integer>0</integer>
			<key>damage_min</key>
			<integer>150</integer>
			<key>damage_max</key>
			<integer>250</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_JOKULL_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>footman</string>
			<key>img_idx</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>elite_footman</string>
			<key>img_idx</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>banner_bearer</string>
			<key>img_idx</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>guardian_eagle</string>
			<key>img_idx</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>hunting_dog</string>
			<key>img_idx</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>devoted_priest</string>
			<key>img_idx</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>elven_warrior</string>
			<key>img_idx</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>griffin_bombardier</string>
			<key>img_idx</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>arcane_magus</string>
			<key>img_idx</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>high_sorcerer</string>
			<key>img_idx</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>musketeer</string>
			<key>img_idx</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>paladin</string>
			<key>img_idx</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>farmer_bucket</string>
			<key>i18n_prefix</key>
			<string>ENEMY_FARMER_ENCYC</string>
			<key>img_idx</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>tower_shield_knight</string>
			<key>img_idx</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>knight_rider</string>
			<key>img_idx</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>war_wagon</string>
			<key>img_idx</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>golem_house</string>
			<key>img_idx</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>lightseeker</string>
			<key>img_idx</key>
			<integer>48</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_LIGHTSEEKER_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mega_knight</string>
			<key>img_idx</key>
			<integer>103</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_MEGA_KNIGHT_ENCYC</string>
			<key>armor_m</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>amphiptere</string>
			<key>img_idx</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>chaser</string>
			<key>img_idx</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>infuser</string>
			<key>img_idx</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>warden</string>
			<key>img_idx</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bullywags_channeler</string>
			<key>img_idx</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bullywags_erudite</string>
			<key>img_idx</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bullywags_golem</string>
			<key>img_idx</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>anurian_boss</string>
			<key>img_idx</key>
			<integer>104</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_POLYX_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>frozen_heart</string>
			<key>img_idx</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>frozen_soul</string>
			<key>img_idx</key>
			<integer>69</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ice_golem</string>
			<key>img_idx</key>
			<integer>67</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_SNOW_GOLEM_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ice_reaper</string>
			<key>img_idx</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>winter_lord</string>
			<key>img_idx</key>
			<integer>71</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>winter_queen</string>
			<key>img_idx</key>
			<integer>105</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_WINTER_QUEEN_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mogwai</string>
			<key>img_idx</key>
			<integer>79</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>nian</string>
			<key>img_idx</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>carnival_dragon_head</string>
			<key>img_idx</key>
			<integer>81</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>dragon_king_boss</string>
			<key>img_idx</key>
			<integer>107</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_DRAGON_KING_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bone_carrier</string>
			<key>img_idx</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ghost</string>
			<key>img_idx</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>haunted_skeleton</string>
			<key>img_idx</key>
			<integer>73</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>werewolf</string>
			<key>img_idx</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>corrosive_soul</string>
			<key>img_idx</key>
			<integer>76</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>lich</string>
			<key>img_idx</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>screecher_bat</string>
			<key>img_idx</key>
			<integer>77</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>lord_of_afterlife</string>
			<key>img_idx</key>
			<integer>106</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_ANCIENT_GHOST_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lord_of_afterlife_2</string>
			<key>img_idx</key>
			<integer>108</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_ANCIENT_GHOST_ENCYC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>prehistoric_dwarf</string>
			<key>img_idx</key>
			<integer>82</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>velociraptor</string>
			<key>img_idx</key>
			<integer>83</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>pterodactyl</string>
			<key>img_idx</key>
			<integer>84</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>charly</string>
			<key>img_idx</key>
			<integer>85</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>boss_great_t</string>
			<key>img_idx</key>
			<integer>109</integer>
			<key>i18n_prefix</key>
			<string>ENEMY_BOSS_GREAT_T_ENCYC</string>
		</dict>
	</array>
	<key>tips</key>
	<array>
		<string>TIP_1</string>
		<string>TIP_2</string>
		<string>TIP_3</string>
		<string>TIP_4</string>
		<string>TIP_5</string>
		<string>TIP_6</string>
		<string>TIP_7</string>
		<string>TIP_8</string>
		<string>TIP_9</string>
		<string>TIP_10</string>
		<string>TIP_11</string>
		<string>TIP_12</string>
	</array>
</dict>
</plist>
