<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>proyectile_with_force</key>
	<dict>
		<key>type</key>
		<string>with_force</string>
		<key>towards_unit</key>
		<true/>
		<key>hit_on_miss</key>
		<true/>
		<key>impulse</key>
		<dict>
			<key>duration</key>
			<real>0.1</real>
			<key>angle</key>
			<integer>45</integer>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>500</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>max_speed</key>
		<integer>5</integer>
		<key>slowing_distance</key>
		<integer>0</integer>
		<key>force_multiplier</key>
		<integer>10</integer>
		<key>max_force</key>
		<integer>120</integer>
		<key>damage_type</key>
		<integer>1</integer>
		<key>damage_min</key>
		<integer>8</integer>
		<key>damage_max</key>
		<integer>13</integer>
		<key>release_sound</key>
		<string>bolt_release_sound</string>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>ember_lords_mage_tower_shooter_proyectile_animations.plist</string>
		</dict>
		<key>particle</key>
		<dict>
			<key>cooldown</key>
			<real>0.018</real>
			<key>delay</key>
			<integer>0</integer>
			<key>offset</key>
			<integer>5</integer>
			<key>z</key>
			<integer>-1</integer>
			<key>rotate_towards_target</key>
			<true/>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>bolt_particle</string>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.5</real>
				</dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>ember_lords_mage_tower_shooter_proyectile_particle_animations.plist</string>
				</dict>
				<key>fadeout</key>
				<dict>
					<key>delay</key>
					<integer>0</integer>
					<key>duration</key>
					<real>0.266</real>
					<key>final</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
