<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bottom_info</key>
	<dict>
		<key>image_position</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>data</key>
		<dict>
			<key>damage</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0002.png</string>
				<key>emptyValue</key>
				<string>NONE</string>
			</dict>
			<key>armor_0</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0003.png</string>
				<key>emptyValue</key>
				<string>NONE</string>
				<key>armorIcon</key>
				<string>gui_bottom_info_armor_0002.png</string>
			</dict>
			<key>armor_1</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0009.png</string>
				<key>emptyValue</key>
				<string>NONE</string>
				<key>armorIcon</key>
				<string>gui_bottom_info_armor_0001.png</string>
			</dict>
			<key>cooldown</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0005.png</string>
				<key>emptyValue</key>
				<string>NONE</string>
			</dict>
			<key>skulls</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0006.png</string>
				<key>emptyValue</key>
				<string>0</string>
				<key>iconInfinite</key>
				<string>gui_bottom_info_icon_infinite.png</string>
			</dict>
			<key>respawn</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0001.png</string>
				<key>emptyValue</key>
				<string>-</string>
			</dict>
			<key>range</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0004.png</string>
				<key>emptyValue</key>
				<string>NONE</string>
			</dict>
			<key>healthString</key>
			<dict>
				<key>icon</key>
				<string>gui_bottom_info_icon_0007.png</string>
				<key>emptyValue</key>
				<string>IMMORTAL</string>
			</dict>
		</dict>
		<key>data_positions</key>
		<array>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>176</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>187</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>259</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>271</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>259</integer>
					<key>y</key>
					<integer>23</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>271</integer>
					<key>y</key>
					<integer>23</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>342</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>351</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
			</dict>
		</array>
		<key>data_positions_without_lifebar</key>
		<array>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>68</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>78</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>178</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>188</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>289</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>302</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
			</dict>
		</array>
		<key>data_positions_without_lifebar_four</key>
		<array>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>68</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>80</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>139</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>149</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>239</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>251</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>239</integer>
					<key>y</key>
					<integer>23</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>251</integer>
					<key>y</key>
					<integer>23</integer>
				</dict>
			</dict>
			<dict>
				<key>icon_position</key>
				<dict>
					<key>x</key>
					<integer>333</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
				<key>text_position</key>
				<dict>
					<key>x</key>
					<integer>342</integer>
					<key>y</key>
					<integer>24</integer>
				</dict>
			</dict>
		</array>
		<key>health_life_bar_position</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>24</integer>
		</dict>
		<key>health_life_bar_text_position</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>24</integer>
		</dict>
		<key>name_text_max_width</key>
		<integer>300</integer>
		<key>description_position</key>
		<dict>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>26</integer>
		</dict>
		<key>description_position_with_image</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>26</integer>
		</dict>
		<key>description_text_max_width</key>
		<integer>340</integer>
		<key>types</key>
		<dict>
			<key>enemy</key>
			<dict>
				<key>name_position</key>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
				<key>has_life_bar</key>
				<true/>
				<key>data</key>
				<array>
					<string>damage</string>
					<string>armor_0</string>
					<string>armor_1</string>
					<string>skulls</string>
				</array>
			</dict>
			<key>soldier</key>
			<dict>
				<key>name_position</key>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
				<key>has_life_bar</key>
				<true/>
				<key>data</key>
				<array>
					<string>damage</string>
					<string>armor_0</string>
					<string>armor_1</string>
					<string>respawn</string>
				</array>
			</dict>
			<key>tower_barrack</key>
			<dict>
				<key>name_position</key>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
				<key>has_life_bar</key>
				<false/>
				<key>data</key>
				<array>
					<string>healthString</string>
					<string>damage</string>
					<string>armor_0</string>
					<string>armor_1</string>
					<string>respawn</string>
				</array>
			</dict>
			<key>tower</key>
			<dict>
				<key>name_position</key>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>46</integer>
				</dict>
				<key>has_life_bar</key>
				<false/>
				<key>data</key>
				<array>
					<string>damage</string>
					<string>cooldown</string>
					<string>range</string>
				</array>
			</dict>
			<key>tower_with_description</key>
			<dict>
				<key>name_position</key>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>47</integer>
				</dict>
				<key>has_life_bar</key>
				<false/>
				<key>has_description</key>
				<true/>
			</dict>
			<key>power</key>
			<dict>
				<key>name_position</key>
				<dict>
					<key>x</key>
					<integer>12</integer>
					<key>y</key>
					<integer>47</integer>
				</dict>
				<key>has_description</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>notification_tips</key>
	<dict>
		<key>1</key>
		<dict>
			<key>2</key>
			<array>
				<string>tooltip_notification_tip_1</string>
			</array>
			<key>4</key>
			<array>
				<string>tooltip_notification_tip_2</string>
			</array>
		</dict>
		<key>4</key>
		<dict>
			<key>5</key>
			<array>
				<string>tooltip_notification_tip_3</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
