<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reinforcement_melee</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>army_type</key>
		<integer>1</integer>
		<key>cooldown</key>
		<integer>14</integer>
		<key>infinite</key>
		<true/>
		<key>on_path</key>
		<true/>
		<key>power_frame_normal</key>
		<string>power_reinforcement_frame_0001.png</string>
		<key>power_frame_enabled</key>
		<string>power_reinforcement_frame_0002.png</string>
		<key>power_frame_selected</key>
		<string>power_reinforcement_frame_0003.png</string>
		<key>power_frame_hover</key>
		<string>GUI_bottom_power_reinforcement_frame_over.png</string>
		<key>power_portrait</key>
		<string>power_reinforcement_portrait_0003.png</string>
		<key>power_mask</key>
		<string>power_reinforcement_portrait_0001.png</string>
		<key>init_closed</key>
		<true/>
		<key>cursor</key>
		<dict>
			<key>type</key>
			<string>point</string>
			<key>icon</key>
			<string>pointer_set_powers_portraits_0001.png</string>
		</dict>
		<key>info</key>
		<dict>
			<key>display_name</key>
			<string>REINFORCEMENT_MELEE_NAME</string>
			<key>description</key>
			<string>REINFORCEMENT_MELEE_DESCRIPTION</string>
			<key>description_short</key>
			<string>REINFORCEMENT_MELEE_DESCRIPTION_SHORT</string>
			<key>type</key>
			<string>power</string>
		</dict>
		<key>object</key>
		<dict>
			<key>key</key>
			<string>power_reinforcement_melee</string>
			<key>taunt_demon_goonies</key>
			<string>group_demon_goonies_taunt</string>
			<key>taunt_demon_guards</key>
			<string>group_demon_guards_taunt</string>
			<key>taunt_demon_tridents</key>
			<string>group_demon_tridents_taunt</string>
			<key>layer</key>
			<string>decals</string>
			<key>can_be_moved</key>
			<false/>
			<key>pit_lord_chance</key>
			<real>0.3</real>
		</dict>
		<key>notification</key>
		<dict>
			<key>tooltip_text</key>
			<string>SPECIAL_DEMONS_NOTIFICATION</string>
			<key>tooltip_image</key>
			<string>notification_powers_images_0001.png</string>
			<key>show_level</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>reinforcement_support</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>army_type</key>
		<integer>1</integer>
		<key>cooldown</key>
		<integer>40</integer>
		<key>infinite</key>
		<true/>
		<key>on_path</key>
		<true/>
		<key>power_frame_normal</key>
		<string>power_reinforcement_frame_0001.png</string>
		<key>power_frame_enabled</key>
		<string>power_reinforcement_frame_0002.png</string>
		<key>power_frame_selected</key>
		<string>power_reinforcement_frame_0003.png</string>
		<key>power_frame_hover</key>
		<string>GUI_bottom_power_reinforcement_frame_over.png</string>
		<key>power_portrait</key>
		<string>power_reinforcement_portrait_0002.png</string>
		<key>power_mask</key>
		<string>power_reinforcement_portrait_0001.png</string>
		<key>init_closed</key>
		<true/>
		<key>info</key>
		<dict>
			<key>display_name</key>
			<string>REINFORCEMENT_SUPPORT_NAME</string>
			<key>description</key>
			<string>REINFORCEMENT_SUPPORT_DESCRIPTION</string>
			<key>description_short</key>
			<string>REINFORCEMENT_SUPPORT_DESCRIPTION_SHORT</string>
			<key>type</key>
			<string>power</string>
		</dict>
		<key>object</key>
		<dict>
			<key>key</key>
			<string>power_reinforcement_support</string>
			<key>taunt_veznan_disciples</key>
			<string>group_veznan_disciples_taunt</string>
			<key>layer</key>
			<string>decals</string>
			<key>can_be_moved</key>
			<false/>
			<key>infernal_disciple_chance</key>
			<real>0.3</real>
		</dict>
		<key>notification</key>
		<dict>
			<key>tooltip_text</key>
			<string>SPECIAL_DISCIPLES_NOTIFICATION</string>
			<key>tooltip_image</key>
			<string>notification_powers_images_0002.png</string>
			<key>show_level</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>reinforcement_warmongers_ogre</key>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>army_type</key>
		<integer>1</integer>
		<key>cooldown</key>
		<integer>70</integer>
		<key>infinite</key>
		<true/>
		<key>on_path</key>
		<true/>
		<key>unit</key>
		<string>reinforcement_warmongers_ogre</string>
		<key>power_frame_normal</key>
		<string>power_reinforcement_frame_0001.png</string>
		<key>power_frame_enabled</key>
		<string>power_reinforcement_frame_0002.png</string>
		<key>power_frame_selected</key>
		<string>power_reinforcement_frame_0003.png</string>
		<key>power_frame_hover</key>
		<string>GUI_bottom_power_reinforcement_frame_over.png</string>
		<key>power_portrait</key>
		<string>power_reinforcement_portrait_0003.png</string>
		<key>power_mask</key>
		<string>power_reinforcement_portrait_0001.png</string>
	</dict>
	<key>power_soul_impact</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>army_type</key>
		<integer>1</integer>
		<key>cooldown</key>
		<integer>70</integer>
		<key>infinite</key>
		<true/>
		<key>on_path</key>
		<true/>
		<key>on_unit</key>
		<false/>
		<key>on_unit_army</key>
		<integer>0</integer>
		<key>show_confirm</key>
		<false/>
		<key>init_closed</key>
		<true/>
		<key>power_frame_normal</key>
		<string>power_reinforcement_frame_0001.png</string>
		<key>power_frame_enabled</key>
		<string>power_reinforcement_frame_0002.png</string>
		<key>power_frame_selected</key>
		<string>power_reinforcement_frame_0003.png</string>
		<key>power_frame_hover</key>
		<string>GUI_bottom_power_reinforcement_frame_over.png</string>
		<key>power_portrait</key>
		<string>power_reinforcement_portrait_0004.png</string>
		<key>power_mask</key>
		<string>power_reinforcement_portrait_0001.png</string>
		<key>cursor</key>
		<dict>
			<key>type</key>
			<string>area</string>
			<key>icon</key>
			<string>pointer_set_powers_portraits_0002.png</string>
		</dict>
		<key>info</key>
		<dict>
			<key>display_name</key>
			<string>POWER_SOUL_IMPACT_NAME</string>
			<key>description</key>
			<string>POWER_SOUL_IMPACT_DESCRIPTION</string>
			<key>description_short</key>
			<string>POWER_SOUL_IMPACT_DESCRIPTION_SHORT</string>
			<key>type</key>
			<string>power</string>
		</dict>
		<key>object</key>
		<dict>
			<key>key</key>
			<string>power_soul_impact</string>
			<key>army_type</key>
			<integer>1</integer>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>rain_controller</string>
				<key>destination_type</key>
				<integer>1</integer>
				<key>max_effects</key>
				<string>3</string>
				<key>width</key>
				<integer>80</integer>
				<key>max_distance_on_path</key>
				<integer>350</integer>
				<key>delay</key>
				<real>0.8</real>
				<key>effect</key>
				<dict>
					<key>key</key>
					<string>soul_impact</string>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>power_soul_impact_animations.plist</string>
					</dict>
					<key>explosion</key>
					<dict>
						<key>key</key>
						<string>fx_with_animation</string>
						<key>y_position_adjust</key>
						<integer>2</integer>
						<key>damage_min</key>
						<integer>25</integer>
						<key>damage_max</key>
						<integer>55</integer>
						<key>damage_type</key>
						<integer>3</integer>
						<key>area</key>
						<integer>115</integer>
						<key>action_time</key>
						<real>0.5659999999999999</real>
						<key>animation_explode</key>
						<string>explode</string>
						<key>layer</key>
						<string>entities</string>
						<key>destroy_after_anim</key>
						<true/>
						<key>animations</key>
						<dict>
							<key>animations_file</key>
							<string>power_soul_impact_explosion_animations.plist</string>
						</dict>
						<key>anchor</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.5</real>
						</dict>
						<key>fx_with_delay</key>
						<dict>
							<key>type</key>
							<string>decal_crater</string>
							<key>add_delay</key>
							<real>0.6</real>
							<key>delay</key>
							<integer>2</integer>
							<key>layer</key>
							<string>decals</string>
							<key>single_frame</key>
							<string>power_soul_impact_explosion_decal.png</string>
						</dict>
					</dict>
					<key>achievements_on_kill</key>
					<array>
						<string>KR4_ACHIEVEMENT_KILL_ENEMIES_WITH_VEZNAN_POWERS</string>
					</array>
					<key>sound_impact</key>
					<dict>
						<key>id</key>
						<string>group_power_soulimpact_impact</string>
					</dict>
					<key>sound_spectres</key>
					<dict>
						<key>id</key>
						<string>power_soulimpact_spiritrelease</string>
					</dict>
				</dict>
			</dict>
			<key>extra_impacts</key>
			<dict>
				<key>max_effects</key>
				<integer>4</integer>
			</dict>
			<key>soul_shockwaves</key>
			<dict>
				<key>modifiers</key>
				<dict>
					<key>key</key>
					<string>stun</string>
					<key>duration</key>
					<real>0.4</real>
					<key>effects</key>
					<array>
						<dict>
							<key>position_type</key>
							<integer>1</integer>
							<key>animation_loop</key>
							<string>run</string>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>stun_animations.plist</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<key>call_damned</key>
			<dict>
				<key>proyectile</key>
				<dict>
					<key>type</key>
					<string>with_force</string>
					<key>towards_unit</key>
					<true/>
					<key>towards_floor</key>
					<false/>
					<key>impulse</key>
					<dict>
						<key>duration</key>
						<real>0.5</real>
						<key>angle</key>
						<integer>45</integer>
						<key>angle_random_sign</key>
						<true/>
						<key>always_up</key>
						<true/>
						<key>x</key>
						<integer>200</integer>
						<key>y</key>
						<integer>300</integer>
						<key>z</key>
						<integer>0</integer>
						<key>impulse_random</key>
						<integer>100</integer>
					</dict>
					<key>rotation</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>max_speed</key>
					<integer>5</integer>
					<key>slowing_distance</key>
					<integer>0</integer>
					<key>force_multiplier</key>
					<integer>10</integer>
					<key>max_force</key>
					<integer>120</integer>
					<key>damage_type</key>
					<integer>3</integer>
					<key>damage_min</key>
					<integer>7</integer>
					<key>damage_max</key>
					<integer>22</integer>
					<key>flip_on_y</key>
					<true/>
					<key>particle</key>
					<dict>
						<key>cooldown</key>
						<real>0.03</real>
						<key>delay</key>
						<integer>0</integer>
						<key>z</key>
						<integer>-1</integer>
						<key>object</key>
						<dict>
							<key>key</key>
							<string>bolt_particle</string>
							<key>single_frame</key>
							<string>power_soul_impact_bolt_particle.png</string>
							<key>scale</key>
							<dict>
								<key>delay</key>
								<integer>0</integer>
								<key>duration</key>
								<real>0.25</real>
								<key>factorX</key>
								<integer>1</integer>
								<key>factorY</key>
								<real>0.1</real>
							</dict>
							<key>fadeout</key>
							<dict>
								<key>delay</key>
								<integer>0</integer>
								<key>duration</key>
								<real>0.25</real>
								<key>final</key>
								<integer>12</integer>
							</dict>
						</dict>
					</dict>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>power_soul_impact_proyectile_animations.plist</string>
					</dict>
					<key>achievements_on_kill</key>
					<array>
						<string>KR4_ACHIEVEMENT_KILL_ENEMIES_WITH_VEZNAN_POWERS</string>
					</array>
				</dict>
				<key>max_spectres</key>
				<integer>2</integer>
				<key>range</key>
				<integer>350</integer>
			</dict>
			<key>extra_spectres</key>
			<dict>
				<key>max_spectres</key>
				<integer>4</integer>
			</dict>
			<key>fear_damned</key>
			<dict>
				<key>modifier</key>
				<dict>
					<key>key</key>
					<string>unit_extra_data</string>
					<key>duration</key>
					<integer>2</integer>
					<key>speed_factor</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>soul_echoes</key>
			<dict>
				<key>chance</key>
				<real>0.25</real>
				<key>delay</key>
				<integer>1</integer>
			</dict>
			<key>feast_damned</key>
			<dict>
				<key>cooldown_reduce</key>
				<integer>2</integer>
			</dict>
			<key>soul_storm</key>
			<dict>
				<key>extra_effects</key>
				<integer>2</integer>
				<key>delay</key>
				<real>0.4</real>
				<key>init_delay</key>
				<real>0.8</real>
			</dict>
			<key>sound_release</key>
			<dict>
				<key>id</key>
				<string>power_soulimpact_greenbeam</string>
			</dict>
		</dict>
		<key>notification</key>
		<dict>
			<key>tooltip_text</key>
			<string>SPECIAL_SOUL_IMPACT_NOTIFICATION</string>
			<key>tooltip_image</key>
			<string>notification_powers_images_0003.png</string>
			<key>show_level</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>veznan_test</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>army_type</key>
		<integer>1</integer>
		<key>cooldown</key>
		<integer>70</integer>
		<key>infinite</key>
		<true/>
		<key>on_path</key>
		<true/>
		<key>on_unit</key>
		<false/>
		<key>on_unit_army</key>
		<integer>0</integer>
		<key>show_confirm</key>
		<false/>
		<key>power_frame_normal</key>
		<string>power_veznan_frame_0001.png</string>
		<key>power_frame_selected</key>
		<string>power_veznan_frame_0002.png</string>
		<key>power_frame_hover</key>
		<string>GUI_bottom_power_reinforcement_frame_over.png</string>
		<key>power_portrait</key>
		<string>power_veznan_portrait_0002.png</string>
		<key>power_mask</key>
		<string>power_veznan_portrait_0001.png</string>
		<key>object</key>
		<dict>
			<key>key</key>
			<string>rain_controller</string>
			<key>max_effects</key>
			<array>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>layer</key>
			<string>entities</string>
			<key>width</key>
			<integer>60</integer>
			<key>delay</key>
			<real>0.3</real>
			<key>origin</key>
			<dict>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>200</integer>
			</dict>
			<key>effect</key>
			<dict>
				<key>key</key>
				<string>fx_with_area_damage</string>
				<key>damage_min</key>
				<array>
					<integer>25</integer>
					<integer>35</integer>
					<integer>45</integer>
				</array>
				<key>damage_max</key>
				<array>
					<integer>35</integer>
					<integer>45</integer>
					<integer>55</integer>
				</array>
				<key>damage_type</key>
				<integer>3</integer>
				<key>area</key>
				<integer>120</integer>
				<key>army</key>
				<integer>0</integer>
				<key>action_time</key>
				<real>0.2</real>
				<key>animation_explode</key>
				<string>explode</string>
				<key>layer</key>
				<string>entities</string>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>veznan_arcane_nova.plist</string>
				</dict>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.12</real>
				</dict>
				<key>fx_start</key>
				<dict>
					<key>key</key>
					<string>fx_with_animation</string>
					<key>subtype</key>
					<string>decal</string>
					<key>layer</key>
					<string>decals</string>
					<key>anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.12</real>
					</dict>
					<key>animations</key>
					<dict>
						<key>has_layers</key>
						<false/>
						<key>animations_file</key>
						<string>veznan_arcane_nova.plist</string>
					</dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>-22</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>power_ups</key>
	<dict>
		<key>power_up_bomb</key>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_BOMB</string>
			<key>infinite</key>
			<false/>
			<key>on_path</key>
			<true/>
			<key>on_unit</key>
			<false/>
			<key>on_unit_army</key>
			<integer>0</integer>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0013.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_BOMB_NAME</string>
				<key>description</key>
				<string>POWER_UP_BOMB_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_BOMB_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>proyectile</key>
			<dict>
				<key>type</key>
				<string>parabole</string>
				<key>towards_unit</key>
				<false/>
				<key>towards_floor</key>
				<true/>
				<key>towards_center</key>
				<true/>
				<key>t1</key>
				<integer>20</integer>
				<key>step</key>
				<integer>38</integer>
				<key>t0_condition</key>
				<integer>1</integer>
				<key>g</key>
				<string>-1</string>
				<key>damage_type</key>
				<integer>2</integer>
				<key>damage_min</key>
				<integer>40</integer>
				<key>damage_max</key>
				<integer>80</integer>
				<key>damage_area</key>
				<integer>75</integer>
				<key>hit_sound</key>
				<string>bomb_hit_sound</string>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.5</real>
				</dict>
				<key>rotation</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>angle</key>
					<integer>550</integer>
				</dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>item_bomb_animations.plist</string>
				</dict>
				<key>hit</key>
				<dict>
					<key>key</key>
					<string>explosion_fragment</string>
					<key>layer</key>
					<string>entities</string>
					<key>anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.15</real>
					</dict>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>item_bomb_explotion_animations.plist</string>
					</dict>
					<key>fx_with_delay</key>
					<dict>
						<key>key</key>
						<string>fx_scale_fadeout</string>
						<key>layer</key>
						<string>decals</string>
						<key>single_frame</key>
						<string>item_bomb_explotion_ground.png</string>
						<key>scale</key>
						<dict>
							<key>duration</key>
							<real>0.2</real>
							<key>factor</key>
							<real>1.8</real>
						</dict>
						<key>fadeout</key>
						<dict>
							<key>duration</key>
							<real>0.2</real>
							<key>final</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>decal</key>
				<dict>
					<key>type</key>
					<string>decal_crater</string>
					<key>layer</key>
					<string>decals</string>
				</dict>
			</dict>
		</dict>
		<key>power_up_drill_mine</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_DRILL_MINE</string>
			<key>infinite</key>
			<false/>
			<key>on_path</key>
			<true/>
			<key>on_unit</key>
			<false/>
			<key>on_unit_army</key>
			<integer>0</integer>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0002.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_DRILL_MINE_NAME</string>
				<key>description</key>
				<string>POWER_UP_DRILL_MINE_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_DRILL_MINE_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>mine</string>
				<key>layer</key>
				<string>entities</string>
				<key>tick_time</key>
				<real>0.1</real>
				<key>damage_area</key>
				<integer>110</integer>
				<key>find_area</key>
				<integer>110</integer>
				<key>damage_min</key>
				<integer>240</integer>
				<key>damage_max</key>
				<integer>360</integer>
				<key>damage_type</key>
				<integer>2</integer>
				<key>min_units</key>
				<integer>1</integer>
				<key>max_units</key>
				<integer>5</integer>
				<key>army</key>
				<integer>0</integer>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.217</real>
				</dict>
				<key>hit</key>
				<dict>
					<key>key</key>
					<string>explosion_fragment</string>
					<key>layer</key>
					<string>entities</string>
					<key>anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.15</real>
					</dict>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>item_drill_mine_explotion_animations.plist</string>
					</dict>
					<key>fx_with_delay</key>
					<dict>
						<key>key</key>
						<string>fx_scale_fadeout</string>
						<key>layer</key>
						<string>decals</string>
						<key>single_frame</key>
						<string>item_drill_mine_explotion_ground.png</string>
						<key>scale</key>
						<dict>
							<key>duration</key>
							<real>0.2</real>
							<key>factor</key>
							<real>1.8</real>
						</dict>
						<key>fadeout</key>
						<dict>
							<key>duration</key>
							<real>0.2</real>
							<key>final</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>decal</key>
				<dict>
					<key>type</key>
					<string>decal_crater</string>
					<key>layer</key>
					<string>decals</string>
				</dict>
				<key>animations</key>
				<dict>
					<key>animation_start</key>
					<string>init</string>
					<key>animation_loop</key>
					<string>loop</string>
					<key>animations_file</key>
					<string>item_drill_mine_animations.plist</string>
				</dict>
				<key>init_sound</key>
				<dict>
					<key>id</key>
					<string>power_drill_mine</string>
				</dict>
			</dict>
		</dict>
		<key>power_up_valyrian_fire</key>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_VALYRIAN_FIRE</string>
			<key>texture</key>
			<string>item_valyrian_fire</string>
			<key>on_path</key>
			<true/>
			<key>on_unit</key>
			<false/>
			<key>on_unit_army</key>
			<integer>0</integer>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0003.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_VALYRIAN_FIRE_NAME</string>
				<key>description</key>
				<string>POWER_UP_VALYRIAN_FIRE_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_VALYRIAN_FIRE_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>proyectile</key>
			<dict>
				<key>type</key>
				<string>parabole</string>
				<key>destiny_center_path</key>
				<true/>
				<key>towards_unit</key>
				<false/>
				<key>towards_floor</key>
				<true/>
				<key>towards_center</key>
				<true/>
				<key>t1</key>
				<integer>21</integer>
				<key>step</key>
				<integer>30</integer>
				<key>t0_condition</key>
				<integer>0</integer>
				<key>g</key>
				<string>-1,4</string>
				<key>rotation</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>angle</key>
					<integer>300</integer>
				</dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>item_valyrian_fire_bottle_animations.plist</string>
				</dict>
				<key>hit</key>
				<dict>
					<key>key</key>
					<string>spawn_on_path</string>
					<key>max_objects</key>
					<integer>9</integer>
					<key>nodes_between_objects</key>
					<integer>2</integer>
					<key>delay_between_objects</key>
					<real>0.1</real>
					<key>anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.5</real>
					</dict>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>item_valyrian_fire_bottle_explotion_animations.plist</string>
					</dict>
					<key>object</key>
					<dict>
						<key>key</key>
						<string>fx_loop_floor</string>
						<key>layer</key>
						<string>entities</string>
						<key>range</key>
						<integer>70</integer>
						<key>duration</key>
						<integer>7</integer>
						<key>tick_time</key>
						<real>0.2</real>
						<key>flying</key>
						<false/>
						<key>use_position_floor</key>
						<true/>
						<key>scale</key>
						<dict>
							<key>scale_factor</key>
							<real>0.5</real>
							<key>duration</key>
							<real>0.5</real>
						</dict>
						<key>fadein</key>
						<real>0.15</real>
						<key>fadeout</key>
						<integer>1</integer>
						<key>animations</key>
						<dict>
							<key>animations_file</key>
							<string>item_valyrian_fire_flame_animations.plist</string>
						</dict>
						<key>modifier_tick</key>
						<dict>
							<key>key</key>
							<string>damage_over_time</string>
							<key>duration</key>
							<real>0.3</real>
							<key>damage</key>
							<real>2.5</real>
							<key>tick_time</key>
							<real>0.05</real>
						</dict>
						<key>anchor</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.15</real>
						</dict>
					</dict>
					<key>delay_to_remove</key>
					<real>7.5</real>
					<key>fadeout_sound</key>
					<integer>1</integer>
					<key>init_sound</key>
					<dict>
						<key>sounds</key>
						<array>
							<dict>
								<key>id</key>
								<string>power_valyrian_fire_loop_start</string>
							</dict>
							<dict>
								<key>id</key>
								<string>power_valyrian_fire_loop</string>
								<key>loop</key>
								<true/>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>power_up_juggernaut</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_JUGGERNAUT_REMOTE_CONTROL</string>
			<key>on_path</key>
			<true/>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0004.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_JUGGERNAUT_NAME</string>
				<key>description</key>
				<string>POWER_UP_JUGGERNAUT_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_JUGGERNAUT_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>item_juggernaut</string>
				<key>layer</key>
				<string>top</string>
				<key>can_be_moved</key>
				<false/>
				<key>area</key>
				<string>150</string>
				<key>damage_min</key>
				<string>100</string>
				<key>damage_max</key>
				<string>200</string>
				<key>damage_type</key>
				<string>2</string>
				<key>army</key>
				<string>0</string>
				<key>in_sound</key>
				<dict>
					<key>id</key>
					<string>power_juggernaut_drop</string>
				</dict>
			</dict>
		</dict>
		<key>power_up_thief_goblin</key>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_THIEF_GOBLIN</string>
			<key>on_path</key>
			<true/>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0006.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>unit</key>
			<string>thief</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_THIEF_NAME</string>
				<key>description</key>
				<string>POWER_UP_THIEF_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_THIEF_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
		</dict>
		<key>power_up_veznan_wrath</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_VEZNAN_WRATH</string>
			<key>on_path</key>
			<false/>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0007.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_VEZNAN_WRATH_NAME</string>
				<key>description</key>
				<string>POWER_UP_VEZNAN_WRATH_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_VEZNAN_WRATH_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>item_veznan_wrath</string>
				<key>layer</key>
				<string>top</string>
				<key>can_be_moved</key>
				<false/>
				<key>army</key>
				<string>0</string>
				<key>fx_instakill</key>
				<string>fx_veznan_wrath_instakill</string>
				<key>boss_damage</key>
				<integer>3000</integer>
				<key>fx_repeat</key>
				<dict>
					<key>key</key>
					<string>fx_with_animation</string>
					<key>anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.166</real>
					</dict>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>veznan_wrath_explosion_animations.plist</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>power_up_souls_in_a_can</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_SOULS_IN_A_CAN</string>
			<key>on_path</key>
			<false/>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0011.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_SOULS_IN_A_CAN_NAME</string>
				<key>description</key>
				<string>POWER_UP_SOULS_IN_A_CAN_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_SOULS_IN_A_CAN_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>item_souls_in_a_can</string>
				<key>layer</key>
				<string>gui</string>
				<key>can_be_moved</key>
				<false/>
				<key>hearts</key>
				<integer>3</integer>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>item_souls_in_a_can_bottle_animations.plist</string>
				</dict>
				<key>animations_heart</key>
				<dict>
					<key>animations_file</key>
					<string>item_heart_bottle_animations.plist</string>
				</dict>
				<key>animations_hud_heart</key>
				<dict>
					<key>animations_file</key>
					<string>item_heart_hud_animations.plist</string>
				</dict>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.333</real>
				</dict>
				<key>init_sound</key>
				<dict>
					<key>id</key>
					<string>power_souls_in_a_can</string>
				</dict>
			</dict>
		</dict>
		<key>power_up_freeze_minion</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_FREEZE_MINION</string>
			<key>on_path</key>
			<true/>
			<key>on_unit</key>
			<false/>
			<key>on_unit_army</key>
			<integer>0</integer>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0010.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_FREEZE_MINION_NAME</string>
				<key>description</key>
				<string>POWER_UP_FREEZE_MINION_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_FREEZE_MINION_DESCRIPTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>fx_with_area_damage</string>
				<key>layer</key>
				<string>entities</string>
				<key>animation_explode</key>
				<string>run</string>
				<key>damage_min</key>
				<integer>0</integer>
				<key>damage_max</key>
				<integer>0</integer>
				<key>area</key>
				<integer>140</integer>
				<key>action_time</key>
				<real>0.5</real>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.278</real>
				</dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>item_freeze_minion_animations.plist</string>
				</dict>
				<key>modifiers</key>
				<dict>
					<key>key</key>
					<string>freeze</string>
					<key>duration</key>
					<integer>7</integer>
					<key>rotate_unit</key>
					<false/>
					<key>pause_unit</key>
					<true/>
					<key>effects</key>
					<array>
						<dict>
							<key>position_type</key>
							<integer>3</integer>
							<key>animation_start</key>
							<string>start</string>
							<key>animation_loop</key>
							<string>idle</string>
							<key>animation_end</key>
							<string>end</string>
							<key>anchor</key>
							<dict>
								<key>x</key>
								<real>0.5</real>
								<key>y</key>
								<real>0.19</real>
							</dict>
							<key>animations</key>
							<dict>
								<key>animations_file</key>
								<string>freeze_animations.plist</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>init_sound</key>
				<dict>
					<key>id</key>
					<string>power_freeze_minion</string>
				</dict>
			</dict>
		</dict>
		<key>power_up_party_sarcophagus</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_PARTY_SARCOPHAGUS</string>
			<key>texture</key>
			<string>item_party_sarcophagus</string>
			<key>on_path</key>
			<true/>
			<key>on_unit</key>
			<false/>
			<key>on_unit_army</key>
			<integer>0</integer>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0009.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_PARTY_SARCOPHAGUS_NAME</string>
				<key>description</key>
				<string>POWER_UP_PARTY_SARCOPHAGUS_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_PARTY_SARCOPHAGUS_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>object</key>
			<dict>
				<key>key</key>
				<string>party_sarcophagus</string>
				<key>chance_ra</key>
				<real>0.5</real>
				<key>army_type</key>
				<integer>1</integer>
				<key>walk_direction</key>
				<integer>1</integer>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>item_sarcophagus_animations.plist</string>
				</dict>
				<key>animations_smoke</key>
				<dict>
					<key>animations_file</key>
					<string>item_smoke_sarcophagus_animations.plist</string>
				</dict>
				<key>animations_hole</key>
				<dict>
					<key>animations_file</key>
					<string>item_sarcophagus_hole_animations.plist</string>
				</dict>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.116</real>
				</dict>
				<key>layer</key>
				<string>entities</string>
				<key>delay</key>
				<real>1.5</real>
				<key>spawns</key>
				<integer>4</integer>
				<key>delay_to_out</key>
				<integer>2</integer>
				<key>init_sound</key>
				<dict>
					<key>sounds</key>
					<array>
						<dict>
							<key>id</key>
							<string>power_party_sarcophagus_appear</string>
						</dict>
						<dict>
							<key>id</key>
							<string>power_party_sarcophagus_opens</string>
							<key>delay</key>
							<real>2.2</real>
						</dict>
					</array>
				</dict>
				<key>out_sound</key>
				<dict>
					<key>sounds</key>
					<array>
						<dict>
							<key>id</key>
							<string>power_party_sarcophagus_opens</string>
							<key>delay</key>
							<real>0.92</real>
						</dict>
						<dict>
							<key>id</key>
							<string>power_party_sarcophagus_appear</string>
							<key>delay</key>
							<real>1.6</real>
						</dict>
					</array>
				</dict>
				<key>spawn_sound</key>
				<dict>
					<key>id</key>
					<string>group_party_sarcophagus_mummy_moan</string>
					<key>delay</key>
					<real>0.3</real>
				</dict>
			</dict>
		</dict>
		<key>power_up_healing_potion</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>army_type</key>
			<integer>1</integer>
			<key>infinite</key>
			<false/>
			<key>power_up_type</key>
			<string>KR4_POWER_UP_HEALING_POTION</string>
			<key>texture</key>
			<string>item_healing_potion</string>
			<key>on_path</key>
			<false/>
			<key>on_unit</key>
			<false/>
			<key>on_unit_army</key>
			<integer>0</integer>
			<key>show_confirm</key>
			<false/>
			<key>power_frame_normal</key>
			<string>power_veznan_frame_0001.png</string>
			<key>power_frame_selected</key>
			<string>power_veznan_frame_0002.png</string>
			<key>power_frame_hover</key>
			<string>GUI_bottom_power_veznan_frame_over.png</string>
			<key>power_portrait</key>
			<string>power_veznan_portrait_0012.png</string>
			<key>power_mask</key>
			<string>power_veznan_portrait_0001.png</string>
			<key>info</key>
			<dict>
				<key>display_name</key>
				<string>POWER_UP_HEALING_POTION_NAME</string>
				<key>description</key>
				<string>POWER_UP_HEALING_POTION_DESCRIPTION</string>
				<key>description_short</key>
				<string>POWER_UP_HEALING_POTION_SHORT</string>
				<key>type</key>
				<string>power</string>
			</dict>
			<key>object</key>
			<array>
				<dict>
					<key>key</key>
					<string>add_modifiers</string>
					<key>layer</key>
					<string>decals</string>
					<key>duration</key>
					<integer>10</integer>
					<key>tick_time</key>
					<real>0.2</real>
					<key>flying</key>
					<false/>
					<key>target_army</key>
					<integer>1</integer>
					<key>modifiers_removed_by_object</key>
					<true/>
					<key>ignore_moving_targets</key>
					<true/>
					<key>modifiers</key>
					<array>
						<dict>
							<key>key</key>
							<string>heal</string>
							<key>id</key>
							<string>modifier_spell_rejuvenation_heal</string>
							<key>healing_points</key>
							<integer>0</integer>
							<key>healing_points_tick</key>
							<integer>12</integer>
							<key>tick_time</key>
							<real>0.5</real>
							<key>force_on_inactive</key>
							<true/>
							<key>effects</key>
							<array>
								<dict>
									<key>position_type</key>
									<integer>4</integer>
									<key>animation_loop</key>
									<string>run</string>
									<key>fade_in</key>
									<real>0.3</real>
									<key>fade_out</key>
									<real>0.3</real>
									<key>anchor</key>
									<dict>
										<key>x</key>
										<real>0.5</real>
										<key>y</key>
										<real>0.125</real>
									</dict>
									<key>animations</key>
									<dict>
										<key>animations_file</key>
										<string>items_spell_rejuvenation_modifier_animations.plist</string>
									</dict>
									<key>sound</key>
									<dict>
										<key>id</key>
										<string>power_healing_potion_loop_start</string>
									</dict>
									<key>sound_loop</key>
									<dict>
										<key>id</key>
										<string>power_healing_potion_loop</string>
									</dict>
									<key>sound_end</key>
									<dict>
										<key>id</key>
										<string>power_healing_potion_loop_end</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>fx_loop_floor</string>
					<key>layer</key>
					<string>decals</string>
					<key>duration</key>
					<real>0.95</real>
					<key>fx_loop</key>
					<dict>
						<key>key</key>
						<string>fx_loop_floor</string>
						<key>layer</key>
						<string>entities</string>
						<key>duration</key>
						<integer>1</integer>
						<key>position</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-42</integer>
						</dict>
						<key>anchor</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.06</real>
						</dict>
						<key>animations</key>
						<dict>
							<key>animations_file</key>
							<string>items_spell_rejuvenation_effect_animations.plist</string>
						</dict>
					</dict>
					<key>anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.3</real>
					</dict>
					<key>animations</key>
					<dict>
						<key>animations_file</key>
						<string>items_spell_rejuvenation_decal_animations.plist</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
