<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tooltip_taunt</key>
	<dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>233</integer>
					<key>g</key>
					<integer>74</integer>
					<key>b</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>tooltip_taunt_denas</key>
	<dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>51</integer>
					<key>g</key>
					<integer>182</integer>
					<key>b</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>tooltip_taunt_violet</key>
	<dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>169</integer>
					<key>g</key>
					<integer>60</integer>
					<key>b</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>tooltip_taunt_orange</key>
	<dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>233</integer>
					<key>g</key>
					<integer>124</integer>
					<key>b</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>tooltip_wave</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_WAVE_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>105</integer>
					<key>b</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>14</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>bottom_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_WAVE_BOTTOM</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>12</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>160</integer>
					<key>g</key>
					<integer>160</integer>
					<key>b</key>
					<integer>160</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-64</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>tooltip_tower</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>Tower Whatever</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>187</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor.</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>14</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
		<key>bottom_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>12</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>tooltip_tower_skill</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>Skill Blah</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>187</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor.</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>14</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>240</integer>
					<key>g</key>
					<integer>230</integer>
					<key>b</key>
					<integer>185</integer>
				</dict>
			</dict>
		</dict>
		<key>bottom_text</key>
		<dict>
			<key>text</key>
			<string>Flavor</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>12</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>170</integer>
					<key>g</key>
					<integer>160</integer>
					<key>b</key>
					<integer>125</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>tooltip_tower_sell</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_TOWER_SELL_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>187</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_TOWER_SELL_TEXT</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>14</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>240</integer>
					<key>g</key>
					<integer>230</integer>
					<key>b</key>
					<integer>185</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>tooltip_tower_change_power</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_TOWER_CHANGE_POWER_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>187</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_TOWER_CHANGE_POWER_TEXT</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>14</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>240</integer>
					<key>g</key>
					<integer>230</integer>
					<key>b</key>
					<integer>185</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>tooltip_tower_unblock_pay</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_TOWER_UNBLOCK_PAY_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>187</integer>
					<key>g</key>
					<integer>255</integer>
					<key>b</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_TOWER_UNBLOCK_PAY_TEXT</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>14</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>240</integer>
					<key>g</key>
					<integer>230</integer>
					<key>b</key>
					<integer>185</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>tooltip_notification_enemy</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_WAVE_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>25</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>116</integer>
					<key>g</key>
					<integer>25</integer>
					<key>b</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>20</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>90</integer>
					<key>g</key>
					<integer>55</integer>
					<key>b</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>bottom_text</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>18</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>198</integer>
					<key>g</key>
					<integer>56</integer>
					<key>b</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>border_width_left</key>
		<integer>150</integer>
		<key>min_height</key>
		<integer>380</integer>
	</dict>
	<key>tooltip_notification_special</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>TOOLTIP_WAVE_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>25</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>116</integer>
					<key>g</key>
					<integer>25</integer>
					<key>b</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>20</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>90</integer>
					<key>g</key>
					<integer>55</integer>
					<key>b</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>bottom_text</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>18</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>198</integer>
					<key>g</key>
					<integer>56</integer>
					<key>b</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>border_width_left</key>
		<integer>150</integer>
		<key>min_height</key>
		<integer>380</integer>
	</dict>
	<key>tooltip_notification_hero</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_HERO_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>21</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>116</integer>
					<key>g</key>
					<integer>25</integer>
					<key>b</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_HERO_MAIN</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>18</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>90</integer>
					<key>g</key>
					<integer>55</integer>
					<key>b</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>bottom_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_HERO_BOTTOM</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>18</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>90</integer>
					<key>g</key>
					<integer>55</integer>
					<key>b</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>min_height</key>
		<integer>380</integer>
	</dict>
	<key>tooltip_notification_tip_1</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_TIP_1_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>20</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>116</integer>
					<key>g</key>
					<integer>25</integer>
					<key>b</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_TIP_1_MAIN</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>19</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>90</integer>
					<key>g</key>
					<integer>55</integer>
					<key>b</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>border_width_left</key>
		<integer>140</integer>
		<key>min_height</key>
		<integer>500</integer>
		<key>button_image</key>
		<string>notification_button_tips_ingame_0001.png</string>
	</dict>
	<key>tooltip_notification_tip_2</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_TIP_2_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>20</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>116</integer>
					<key>g</key>
					<integer>25</integer>
					<key>b</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_TIP_2_MAIN</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>19</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>90</integer>
					<key>g</key>
					<integer>55</integer>
					<key>b</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>border_width_left</key>
		<integer>140</integer>
		<key>min_height</key>
		<integer>500</integer>
		<key>button_image</key>
		<string>notification_button_tips_ingame_0002.png</string>
	</dict>
	<key>tooltip_notification_tip_3</key>
	<dict>
		<key>title_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_TIP_3_TITLE</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>20</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>116</integer>
					<key>g</key>
					<integer>25</integer>
					<key>b</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string>NOTIFICATION_TOOLTIP_TIP_3_MAIN</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>19</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>90</integer>
					<key>g</key>
					<integer>55</integer>
					<key>b</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>horizontal_alignment</key>
			<integer>0</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>border_width_left</key>
		<integer>140</integer>
		<key>min_height</key>
		<integer>500</integer>
		<key>button_image</key>
		<string>notification_button_tips_ingame_0003.png</string>
	</dict>
	<key>tooltip_taunt_lord_violet</key>
	<dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>154</integer>
					<key>g</key>
					<integer>110</integer>
					<key>b</key>
					<integer>255</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>tooltip_taunt_lord_blue</key>
	<dict>
		<key>main_text</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Comic_Book.ttf</string>
				<key>size</key>
				<integer>15</integer>
				<key>color</key>
				<dict>
					<key>r</key>
					<integer>0</integer>
					<key>g</key>
					<integer>204</integer>
					<key>b</key>
					<integer>204</integer>
				</dict>
			</dict>
			<key>position_offset</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>horizontal_alignment</key>
			<integer>1</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
