<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>war_rations_increase_health</key>
	<integer>30</integer>
	<key>bigger_bombs_increase_range</key>
	<real>1.2</real>
	<key>goblin_targeting_system_increase_range</key>
	<real>1.05</real>
	<key>blitz_tactics_gold_reward_multiplier</key>
	<real>1.8</real>
	<key>merchant_sale_percent</key>
	<real>0.15</real>
	<key>supreme_architects_increment</key>
	<real>1.1</real>
	<key>runes_of_powers_chance</key>
	<real>0.1</real>
	<key>death_ray_coils</key>
	<dict>
		<key>key</key>
		<string>death_ray_coils</string>
		<key>anchor</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.078</real>
		</dict>
		<key>animations</key>
		<dict>
			<key>animations_file</key>
			<string>death_ray_layer_animations.plist</string>
		</dict>
		<key>cooldown</key>
		<integer>180</integer>
		<key>action_time</key>
		<real>0.1</real>
		<key>range</key>
		<integer>200</integer>
		<key>shoot_position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>army</key>
		<integer>0</integer>
		<key>proyectile</key>
		<dict>
			<key>type</key>
			<string>ray</string>
			<key>towards_unit</key>
			<true/>
			<key>rotation</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>damage_type</key>
			<integer>3</integer>
			<key>damage_min</key>
			<integer>150</integer>
			<key>damage_max</key>
			<integer>300</integer>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>death_ray_projectile_animations.plist</string>
			</dict>
			<key>duration</key>
			<real>0.43</real>
			<key>destroy_after_anim</key>
			<true/>
			<key>hit</key>
			<dict>
				<key>key</key>
				<string>fx_with_animation</string>
				<key>layer</key>
				<string>top</string>
				<key>destroy_after_anim</key>
				<false/>
				<key>controlled_by_projectile</key>
				<true/>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>death_ray_projectile_hit_animations.plist</string>
				</dict>
			</dict>
			<key>hit_on_miss</key>
			<false/>
		</dict>
	</dict>
	<key>back_to_battle_multiplier</key>
	<real>0.9</real>
	<key>iron_will_multiplier</key>
	<real>1.2</real>
	<key>special_training_multiplier</key>
	<real>1.25</real>
	<key>one_man_army_multiplier</key>
	<real>1.15</real>
	<key>second_wind_chance</key>
	<real>0.1</real>
	<key>shield_protection</key>
	<real>0.1</real>
	<key>ultimate_power_multiplier</key>
	<real>0.8</real>
</dict>
</plist>
