<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asset_Defeat_Minion1_Head01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,163}</string>
                <key>spriteSourceSize</key>
                <string>{220,163}</string>
                <key>textureRect</key>
                <string>{{1166,1494},{220,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Minion1_Head02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,163}</string>
                <key>spriteSourceSize</key>
                <string>{220,163}</string>
                <key>textureRect</key>
                <string>{{1721,1033},{220,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion1_Head03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,156}</string>
                <key>spriteSourceSize</key>
                <string>{220,156}</string>
                <key>textureRect</key>
                <string>{{1888,1032},{220,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion1_Head04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,136}</string>
                <key>spriteSourceSize</key>
                <string>{220,136}</string>
                <key>textureRect</key>
                <string>{{2048,1096},{220,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion2_Foot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,108}</string>
                <key>spriteSourceSize</key>
                <string>{119,108}</string>
                <key>textureRect</key>
                <string>{{1794,1671},{119,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Minion2_Foot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,90}</string>
                <key>textureRect</key>
                <string>{{2024,1735},{95,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Minion2_Hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,88}</string>
                <key>spriteSourceSize</key>
                <string>{119,88}</string>
                <key>textureRect</key>
                <string>{{1889,1888},{119,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion2_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,187}</string>
                <key>spriteSourceSize</key>
                <string>{208,187}</string>
                <key>textureRect</key>
                <string>{{1709,1257},{208,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Minion2_Legs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,101}</string>
                <key>spriteSourceSize</key>
                <string>{119,101}</string>
                <key>textureRect</key>
                <string>{{1801,1783},{119,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,171}</string>
                <key>spriteSourceSize</key>
                <string>{138,171}</string>
                <key>textureRect</key>
                <string>{{2064,777},{138,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Cape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{1093,392}</string>
                <key>spriteSourceSize</key>
                <string>{1189,470}</string>
                <key>textureRect</key>
                <string>{{1,389},{1093,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Collar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,251}</string>
                <key>spriteSourceSize</key>
                <string>{434,251}</string>
                <key>textureRect</key>
                <string>{{1,1676},{434,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{98,133}</string>
                <key>textureRect</key>
                <string>{{1875,1469},{98,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,129}</string>
                <key>spriteSourceSize</key>
                <string>{99,129}</string>
                <key>textureRect</key>
                <string>{{2088,1455},{99,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,129}</string>
                <key>spriteSourceSize</key>
                <string>{101,129}</string>
                <key>textureRect</key>
                <string>{{1917,1606},{101,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,129}</string>
                <key>spriteSourceSize</key>
                <string>{105,129}</string>
                <key>textureRect</key>
                <string>{{2022,1602},{105,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,131}</string>
                <key>spriteSourceSize</key>
                <string>{107,131}</string>
                <key>textureRect</key>
                <string>{{1977,1467},{107,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Eyes06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,134}</string>
                <key>spriteSourceSize</key>
                <string>{111,134}</string>
                <key>textureRect</key>
                <string>{{1632,1882},{111,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{2064,952},{140,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Defeat_Veznan_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,213}</string>
                <key>spriteSourceSize</key>
                <string>{205,213}</string>
                <key>textureRect</key>
                <string>{{1512,1033},{205,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Defeat_Veznan_Torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,198}</string>
                <key>spriteSourceSize</key>
                <string>{408,198}</string>
                <key>textureRect</key>
                <string>{{1161,193},{408,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Chain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{92,273}</string>
                <key>spriteSourceSize</key>
                <string>{118,295}</string>
                <key>textureRect</key>
                <string>{{1179,1913},{92,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Chain_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{96,257}</string>
                <key>spriteSourceSize</key>
                <string>{110,271}</string>
                <key>textureRect</key>
                <string>{{1429,1649},{96,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Chain_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{93,322}</string>
                <key>spriteSourceSize</key>
                <string>{129,336}</string>
                <key>textureRect</key>
                <string>{{1,1931},{93,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Minion1_Arms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,110}</string>
                <key>spriteSourceSize</key>
                <string>{166,110}</string>
                <key>textureRect</key>
                <string>{{1624,1671},{166,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion1_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,162}</string>
                <key>spriteSourceSize</key>
                <string>{198,162}</string>
                <key>textureRect</key>
                <string>{{1543,1250},{198,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Minion1_Torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{1390,1503},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion1_Wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,104}</string>
                <key>textureRect</key>
                <string>{{1924,1739},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,193}</string>
                <key>spriteSourceSize</key>
                <string>{111,193}</string>
                <key>textureRect</key>
                <string>{{1543,1452},{111,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{1981,1921},{83,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Asset_Victory_Minion2_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,198}</string>
                <key>spriteSourceSize</key>
                <string>{213,198}</string>
                <key>textureRect</key>
                <string>{{1658,1469},{213,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{1747,1888},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Asset_Victory_Minion2_Wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{99,108}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{327,1931},{99,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1456,1910},{124,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_iron_symbol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{623,549}</string>
                <key>spriteSourceSize</key>
                <string>{623,549}</string>
                <key>textureRect</key>
                <string>{{1,1123},{623,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{1924,1847},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_ribbon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,208}</string>
                <key>spriteSourceSize</key>
                <string>{168,208}</string>
                <key>textureRect</key>
                <string>{{1390,774},{168,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_ribbon_end_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,136}</string>
                <key>spriteSourceSize</key>
                <string>{244,136}</string>
                <key>textureRect</key>
                <string>{{1403,1255},{244,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_ribbon_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,173}</string>
                <key>spriteSourceSize</key>
                <string>{93,173}</string>
                <key>textureRect</key>
                <string>{{1624,1785},{93,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_ribbon_part_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{131,168}</string>
                <key>spriteSourceSize</key>
                <string>{135,168}</string>
                <key>textureRect</key>
                <string>{{2011,1320},{131,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_ribbon_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,251}</string>
                <key>spriteSourceSize</key>
                <string>{144,251}</string>
                <key>textureRect</key>
                <string>{{628,1506},{144,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,1}</string>
                <key>spriteSize</key>
                <string>{37,115}</string>
                <key>spriteSourceSize</key>
                <string>{335,395}</string>
                <key>textureRect</key>
                <string>{{840,1980},{37,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-31}</string>
                <key>spriteSize</key>
                <string>{107,207}</string>
                <key>spriteSourceSize</key>
                <string>{331,407}</string>
                <key>textureRect</key>
                <string>{{1900,1256},{107,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-7}</string>
                <key>spriteSize</key>
                <string>{60,156}</string>
                <key>spriteSourceSize</key>
                <string>{352,408}</string>
                <key>textureRect</key>
                <string>{{439,1973},{60,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-13}</string>
                <key>spriteSize</key>
                <string>{120,265}</string>
                <key>spriteSourceSize</key>
                <string>{314,403}</string>
                <key>textureRect</key>
                <string>{{1388,986},{120,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-31}</string>
                <key>spriteSize</key>
                <string>{167,279}</string>
                <key>spriteSourceSize</key>
                <string>{295,409}</string>
                <key>textureRect</key>
                <string>{{883,1509},{167,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-33}</string>
                <key>spriteSize</key>
                <string>{196,293}</string>
                <key>spriteSourceSize</key>
                <string>{278,415}</string>
                <key>textureRect</key>
                <string>{{439,1676},{196,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-40}</string>
                <key>spriteSize</key>
                <string>{212,297}</string>
                <key>spriteSourceSize</key>
                <string>{264,421}</string>
                <key>textureRect</key>
                <string>{{1573,193},{212,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-44}</string>
                <key>spriteSize</key>
                <string>{222,298}</string>
                <key>spriteSourceSize</key>
                <string>{268,426}</string>
                <key>textureRect</key>
                <string>{{1874,182},{222,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-47}</string>
                <key>spriteSize</key>
                <string>{203,296}</string>
                <key>spriteSourceSize</key>
                <string>{279,422}</string>
                <key>textureRect</key>
                <string>{{840,1680},{203,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-44}</string>
                <key>spriteSize</key>
                <string>{176,288}</string>
                <key>spriteSourceSize</key>
                <string>{294,418}</string>
                <key>textureRect</key>
                <string>{{1098,774},{176,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-34}</string>
                <key>spriteSize</key>
                <string>{145,261}</string>
                <key>spriteSourceSize</key>
                <string>{311,413}</string>
                <key>textureRect</key>
                <string>{{1138,1345},{145,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-144,-10}</string>
                <key>spriteSize</key>
                <string>{36,83}</string>
                <key>spriteSourceSize</key>
                <string>{422,415}</string>
                <key>textureRect</key>
                <string>{{959,1980},{36,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-4}</string>
                <key>spriteSize</key>
                <string>{197,365}</string>
                <key>spriteSourceSize</key>
                <string>{375,459}</string>
                <key>textureRect</key>
                <string>{{639,1654},{197,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,8}</string>
                <key>spriteSize</key>
                <string>{177,341}</string>
                <key>spriteSourceSize</key>
                <string>{387,459}</string>
                <key>textureRect</key>
                <string>{{1859,1},{177,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,17}</string>
                <key>spriteSize</key>
                <string>{135,283}</string>
                <key>spriteSourceSize</key>
                <string>{409,459}</string>
                <key>textureRect</key>
                <string>{{1097,954},{135,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asset_shine_border_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,45}</string>
                <key>spriteSize</key>
                <string>{91,226}</string>
                <key>spriteSourceSize</key>
                <string>{433,460}</string>
                <key>textureRect</key>
                <string>{{1529,1649},{91,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,-3}</string>
                <key>spriteSize</key>
                <string>{128,321}</string>
                <key>spriteSourceSize</key>
                <string>{398,407}</string>
                <key>textureRect</key>
                <string>{{1047,1680},{128,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-3}</string>
                <key>spriteSize</key>
                <string>{175,367}</string>
                <key>spriteSourceSize</key>
                <string>{377,413}</string>
                <key>textureRect</key>
                <string>{{1793,409},{175,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-9}</string>
                <key>spriteSize</key>
                <string>{203,365}</string>
                <key>spriteSourceSize</key>
                <string>{375,427}</string>
                <key>textureRect</key>
                <string>{{1972,408},{203,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-10}</string>
                <key>spriteSize</key>
                <string>{227,375}</string>
                <key>spriteSourceSize</key>
                <string>{375,439}</string>
                <key>textureRect</key>
                <string>{{1341,395},{227,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{245,382}</string>
                <key>spriteSourceSize</key>
                <string>{375,450}</string>
                <key>textureRect</key>
                <string>{{889,1123},{245,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{257,379}</string>
                <key>spriteSourceSize</key>
                <string>{375,457}</string>
                <key>textureRect</key>
                <string>{{628,1123},{257,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-9}</string>
                <key>spriteSize</key>
                <string>{239,375}</string>
                <key>spriteSourceSize</key>
                <string>{375,457}</string>
                <key>textureRect</key>
                <string>{{1098,395},{239,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_shine_border_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-7}</string>
                <key>spriteSize</key>
                <string>{217,370}</string>
                <key>spriteSourceSize</key>
                <string>{375,458}</string>
                <key>textureRect</key>
                <string>{{1572,409},{217,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asset_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{1512,986},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defeat_screen_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1138,1093},{248,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>defeat_screen_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1179,1661},{248,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>defeat_screen_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1562,783},{248,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defeat_screen_buttons_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1814,780},{248,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>defeat_screen_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,94}</string>
                <key>spriteSourceSize</key>
                <string>{146,94}</string>
                <key>textureRect</key>
                <string>{{1534,1888},{146,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{694,188}</string>
                <key>spriteSourceSize</key>
                <string>{698,220}</string>
                <key>textureRect</key>
                <string>{{1161,1},{694,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems_banner_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{2072,1921},{78,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems_banner_icon_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{2024,1829},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_end_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{1092,334}</string>
                <key>spriteSourceSize</key>
                <string>{1100,360}</string>
                <key>textureRect</key>
                <string>{{1,785},{1092,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_screen_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1156,384}</string>
                <key>spriteSourceSize</key>
                <string>{1228,396}</string>
                <key>textureRect</key>
                <string>{{1,1},{1156,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_level_end_screen_heroic.png</string>
            <key>size</key>
            <string>{2203,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c7a2055ecc00f14d0670375d11b660e:f6f8c094010193f1b644f38696eed750:c1d141ea42f41d13f3e34540c7decbef$</string>
            <key>textureFileName</key>
            <string>kr4_level_end_screen_heroic.png</string>
        </dict>
    </dict>
</plist>
