<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>darkarmy_soldier_lvl4_layer_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>darkarmy_soldier_lvl4_layer_walk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>darkarmy_soldier_lvl4_layer_attack</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>darkarmy_soldier_lvl4_layer_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>60</integer>
		</dict>
		<key>darkarmy_soldier_lvl4_layer_imperviousIntro</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>61</integer>
			<key>toIndex</key>
			<integer>113</integer>
		</dict>
		<key>darkarmy_soldier_lvl4_layer_imperviousStop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>114</integer>
			<key>toIndex</key>
			<integer>114</integer>
		</dict>
		<key>darkarmy_soldier_lvl4_layer_imperviousOut</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>115</integer>
			<key>toIndex</key>
			<integer>132</integer>
		</dict>
		<key>darkarmy_soldier_lvl4_layer_merciless</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4_layer</string>
			<key>fromIndex</key>
			<integer>133</integer>
			<key>toIndex</key>
			<integer>195</integer>
		</dict>
	</dict>
</dict>
</plist>
