<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>dark_army_soldier_knight_lvl3_idle</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl3</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl3_walk</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl3</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>8</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl3_attack</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl3</string>
			<key>fromIndex</key>
			<integer>9</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl3_death</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl3</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>
