<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>dark_army_soldier_knight_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_walk</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_attack</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>11</integer>
			<key>toIndex</key>
			<integer>30</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_attack2</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>113</integer>
			<key>toIndex</key>
			<integer>140</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_stun</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>84</integer>
			<key>toIndex</key>
			<integer>112</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_dodgeStart</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>49</integer>
			<key>toIndex</key>
			<integer>56</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_dodgeLoop</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>57</integer>
			<key>toIndex</key>
			<integer>77</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_dodgeEnd</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>78</integer>
			<key>toIndex</key>
			<integer>83</integer>
		</dict>
		<key>dark_army_soldier_knight_lvl4_death</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_soldier_lvl4</string>
			<key>fromIndex</key>
			<integer>31</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>
