<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>bullywag_spawner_splash_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>bullywag_spawner_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>bullywag_spawner_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>20</integer>
		</dict>
		<key>bullywag_spawner_active</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>2</integer>
			<key>prefix</key>
			<string>bullywag_spawner_layer</string>
			<key>fromIndex</key>
			<integer>21</integer>
			<key>toIndex</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>
