<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>house_toad_inactive</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>house_toad_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>68</integer>
		</dict>
		<key>house_toad_wakeUp</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>house_toad_layer</string>
			<key>fromIndex</key>
			<integer>69</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>house_toad_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>house_toad_layer</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>230</integer>
		</dict>
		<key>house_toad_eat</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>house_toad_layer</string>
			<key>fromIndex</key>
			<integer>231</integer>
			<key>toIndex</key>
			<integer>266</integer>
		</dict>
	</dict>
</dict>
</plist>
