<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>ladle_animations.plist</key>
		<string></string>
		<key>ladle_poison_animations.plist</key>
		<string></string>
		<key>ladle_poison_steam_animations.plist</key>
		<string></string>
		<key>ladle_poison_bubble_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>ladle_cauldron_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>ladle_cauldron_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>ladle_cauldron_out</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>ladle_cauldron_layer</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>46</integer>
		</dict>
		<key>ladle_cauldron_idleEmpty</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>ladle_cauldron_layer</string>
			<key>fromIndex</key>
			<integer>47</integer>
			<key>toIndex</key>
			<integer>82</integer>
		</dict>
		<key>ladle_cauldron_in</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>3</integer>
			<key>prefix</key>
			<string>ladle_cauldron_layer</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>92</integer>
		</dict>
	</dict>
</dict>
</plist>
