<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>lightseeker_dummy_walk</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker_dummy</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>16</integer>
		</dict>
		<key>lightseeker_dummy_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker_dummy</string>
			<key>fromIndex</key>
			<integer>17</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>lightseeker_dummy_climbDown</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker_dummy</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>116</integer>
		</dict>
	</dict>
</dict>
</plist>
