<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>0.4564208984375</real>
								<integer>0</integer>
								<real>0.003662109375</real>
								<real>0.41973876953125</real>
								<real>-0.90000000000000002</real>
								<real>-8.3000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_1a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>0.4564208984375</real>
								<integer>0</integer>
								<real>0.003662109375</real>
								<real>0.41973876953125</real>
								<integer>-1</integer>
								<real>-8.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>0.576171875</real>
								<integer>0</integer>
								<real>-0.00665283203125</real>
								<real>0.491058349609375</real>
								<real>-0.45000000000000001</real>
								<real>-9.8000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_1a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>0.576171875</real>
								<integer>0</integer>
								<real>-0.00665283203125</real>
								<real>0.491058349609375</real>
								<real>-0.5</real>
								<real>-9.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_2a</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>start</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<integer>-1</integer>
								<real>-33.799999999999997</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_1a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>-1.3</real>
								<real>-34.200000000000003</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>-2.2000000000000002</real>
								<real>-34.5</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_3a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>-0.59999999999999998</real>
								<real>-32.549999999999997</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_4a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>1.6499999999999999</real>
								<real>-32.950000000000003</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_5a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>0.65000000000000002</real>
								<real>-33.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_6a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>1.3999999999999999</real>
								<real>-33.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_7a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>1.05</real>
								<real>-33.75</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_8a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>-0.10000000000000001</real>
								<real>-32.950000000000003</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_9a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.70745849609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.57037353515625</real>
								<real>-0.69999999999999996</real>
								<real>-33.5</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frency_fire_10a</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-2.2000000000000002</real>
								<real>-30.75</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-2.4500000000000002</real>
								<real>-38.049999999999997</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-2.7000000000000002</real>
								<integer>-40</integer>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-2.7000000000000002</real>
								<real>-44.450000000000003</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>0.80000000000000004</real>
								<real>-44.350000000000001</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-1.75</real>
								<real>-49.399999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-1.1000000000000001</real>
								<real>-52.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_7</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-0.69999999999999996</real>
								<integer>-58</integer>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-1.6499999999999999</real>
								<real>-52.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-1.3</real>
								<real>-70.650000000000006</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_10</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.7890625</real>
							<key>matrix</key>
							<array>
								<real>1.776458740234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.776458740234375</real>
								<real>-0.84999999999999998</real>
								<real>-73.200000000000003</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_frenzy_fire_end_11</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>end</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<real>0.84999999999999998</real>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_1a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_2a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_3a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_4a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_5a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_6a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_7a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_8a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_9a</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frency_fire_10a</string>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_7</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_8</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_9</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_10</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_frenzy_fire_end_11</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
