<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-49.100000000000001</real>
								<real>-10.15</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2g</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-49.100000000000001</real>
								<real>-10.15</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2g</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-49</integer>
								<real>-11.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-49</integer>
								<real>-11.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.850000000000001</real>
								<real>-7.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.549999999999997</real>
								<real>-9.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.899999999999999</real>
								<real>-3.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.450000000000003</real>
								<real>-6.5</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_1</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.850000000000001</real>
								<real>-7.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.549999999999997</real>
								<real>-9.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.899999999999999</real>
								<real>-3.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.450000000000003</real>
								<real>-6.5</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_1</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.549999999999997</real>
								<real>-9.3000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_9</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.100000000000001</real>
								<real>-9.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.149999999999999</real>
								<real>-10.5</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.399999999999999</real>
								<real>-6.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_9</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.200000000000003</real>
								<real>-6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.549999999999997</real>
								<real>-9.3000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_9</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.100000000000001</real>
								<real>-9.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.149999999999999</real>
								<real>-10.5</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.399999999999999</real>
								<real>-6.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_9</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.200000000000003</real>
								<real>-6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.700000000000003</real>
								<integer>-11</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_10</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.649999999999999</real>
								<real>-9.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.649999999999999</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_10</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.549999999999997</real>
								<real>-6.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.700000000000003</real>
								<integer>-11</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_10</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.649999999999999</real>
								<real>-9.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.649999999999999</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_10</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.549999999999997</real>
								<real>-6.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.149999999999999</real>
								<integer>-12</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_11</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.200000000000003</real>
								<real>-9.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.25</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_11</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.399999999999999</real>
								<real>-6.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.149999999999999</real>
								<integer>-12</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_11</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.200000000000003</real>
								<real>-9.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.25</real>
								<real>-10.35</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_11</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.399999999999999</real>
								<real>-6.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<integer>49</integer>
								<real>-13.15</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_12</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.399999999999999</real>
								<real>-9.75</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.049999999999997</real>
								<real>-11.949999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_12</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.649999999999999</real>
								<integer>-7</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<integer>49</integer>
								<real>-13.15</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_12</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.399999999999999</real>
								<real>-9.75</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.049999999999997</real>
								<real>-11.949999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_12</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.649999999999999</real>
								<integer>-7</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.399999999999999</real>
								<real>-13.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_13</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.600000000000001</real>
								<real>-9.9499999999999993</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.25</real>
								<real>-12.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_13</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.950000000000003</real>
								<real>-7.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>48.399999999999999</real>
								<real>-13.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_13</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.600000000000001</real>
								<real>-9.9499999999999993</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-45.25</real>
								<real>-12.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_13</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-46.950000000000003</real>
								<real>-7.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.700000000000003</real>
								<real>-18.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-47.149999999999999</real>
								<real>-19.100000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_7</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.7478179931640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7478179931640625</real>
								<real>49.700000000000003</real>
								<real>-18.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>-1.088348388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.088348388671875</real>
								<real>-47.149999999999999</real>
								<real>-19.100000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_7</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>start</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-48</integer>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.149999999999999</real>
								<real>-10.5</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.149999999999999</real>
								<real>-10.5</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.299999999999997</real>
								<real>-10.65</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2c</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.299999999999997</real>
								<real>-10.65</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2c</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.450000000000003</real>
								<real>-10.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2d</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.450000000000003</real>
								<real>-10.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2d</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.899999999999999</real>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-48.899999999999999</real>
								<real>-10.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-49</integer>
								<real>-11.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<integer>-49</integer>
								<real>-11.050000000000001</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-49.100000000000001</real>
								<real>-10.15</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2g</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-49.100000000000001</real>
								<real>-10.15</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2g</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7979888916015625</real>
								<real>-49.100000000000001</real>
								<real>-10.15</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2g</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>end</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<real>0.84999999999999998</real>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2g</string>
			<key>offsetX</key>
			<real>0.10000000000000001</real>
			<key>offsetY</key>
			<real>13.15</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2f</string>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>19.350000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2a</string>
			<key>offsetX</key>
			<real>1.25</real>
			<key>offsetY</key>
			<real>-2.75</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_8</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2b</string>
			<key>offsetX</key>
			<real>1.25</real>
			<key>offsetY</key>
			<real>-0.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_9</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_10</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_11</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_12</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_13</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_7</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2c</string>
			<key>offsetX</key>
			<real>1.6499999999999999</real>
			<key>offsetY</key>
			<real>3.3999999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2d</string>
			<key>offsetX</key>
			<real>2.2000000000000002</real>
			<key>offsetY</key>
			<real>10.199999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2e</string>
			<key>offsetX</key>
			<real>3.2999999999999998</real>
			<key>offsetY</key>
			<real>16.100000000000001</real>
		</dict>
	</array>
</dict>
</plist>
