<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.6499999999999999</real>
								<real>2.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<integer>-2</integer>
								<real>0.20000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6082763671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6082763671875</real>
								<real>-3.2000000000000002</real>
								<real>-3.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.579833984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.579833984375</real>
								<real>-4.1500000000000004</real>
								<real>-5.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.572235107421875</real>
								<real>0.090789794921875</real>
								<real>-0.090789794921875</real>
								<real>0.572235107421875</real>
								<real>-5.2999999999999998</real>
								<real>-4.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.125274658203125</real>
								<real>-0.5621185302734375</real>
								<real>-0.5621185302734375</real>
								<real>0.125274658203125</real>
								<real>4.4500000000000002</real>
								<real>3.5</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.6499999999999999</real>
								<real>2.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<integer>-2</integer>
								<real>0.20000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6082763671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6082763671875</real>
								<real>-3.2000000000000002</real>
								<real>-3.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.579833984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.579833984375</real>
								<real>-4.1500000000000004</real>
								<real>-5.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.572235107421875</real>
								<real>0.090789794921875</real>
								<real>-0.090789794921875</real>
								<real>0.572235107421875</real>
								<real>-5.2999999999999998</real>
								<real>-4.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.125274658203125</real>
								<real>-0.5621185302734375</real>
								<real>-0.5621185302734375</real>
								<real>0.125274658203125</real>
								<real>4.4500000000000002</real>
								<real>3.5</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-2.0499999999999998</real>
								<real>0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_9</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.3999999999999999</real>
								<real>0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6082763671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6082763671875</real>
								<real>-0.80000000000000004</real>
								<real>1.25</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.572235107421875</real>
								<real>0.090789794921875</real>
								<real>-0.090789794921875</real>
								<real>0.572235107421875</real>
								<real>1.8999999999999999</real>
								<real>-7.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.125274658203125</real>
								<real>-0.5621185302734375</real>
								<real>-0.5621185302734375</real>
								<real>0.125274658203125</real>
								<real>-3.5499999999999998</real>
								<real>0.69999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-2.0499999999999998</real>
								<real>0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_9</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.3999999999999999</real>
								<real>0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6082763671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6082763671875</real>
								<real>-0.80000000000000004</real>
								<real>1.25</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.572235107421875</real>
								<real>0.090789794921875</real>
								<real>-0.090789794921875</real>
								<real>0.572235107421875</real>
								<real>1.8999999999999999</real>
								<real>-7.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.125274658203125</real>
								<real>-0.5621185302734375</real>
								<real>-0.5621185302734375</real>
								<real>0.125274658203125</real>
								<real>-3.5499999999999998</real>
								<real>0.69999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.8500000000000001</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_10</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.8999999999999999</real>
								<real>-0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6082763671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6082763671875</real>
								<real>4.7999999999999998</real>
								<real>6.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.572235107421875</real>
								<real>0.090789794921875</real>
								<real>-0.090789794921875</real>
								<real>0.572235107421875</real>
								<real>9.9000000000000004</real>
								<real>-11.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.125274658203125</real>
								<real>-0.5621185302734375</real>
								<real>-0.5621185302734375</real>
								<real>0.125274658203125</real>
								<real>-11.550000000000001</real>
								<real>-2.5</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.579833984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.579833984375</real>
								<real>-5.3499999999999996</real>
								<real>-13.25</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.8500000000000001</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_10</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.8999999999999999</real>
								<real>-0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6082763671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6082763671875</real>
								<real>4.7999999999999998</real>
								<real>6.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.572235107421875</real>
								<real>0.090789794921875</real>
								<real>-0.090789794921875</real>
								<real>0.572235107421875</real>
								<real>9.9000000000000004</real>
								<real>-11.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.125274658203125</real>
								<real>-0.5621185302734375</real>
								<real>-0.5621185302734375</real>
								<real>0.125274658203125</real>
								<real>-11.550000000000001</real>
								<real>-2.5</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.579833984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.579833984375</real>
								<real>-5.3499999999999996</real>
								<real>-13.25</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.3500000000000001</real>
								<real>-2.8500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_11</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.25</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.50140380859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.50140380859375</real>
								<real>10.6</real>
								<real>16.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4442138671875</real>
								<real>0.0704803466796875</real>
								<real>-0.0704803466796875</real>
								<real>0.4442138671875</real>
								<real>19.449999999999999</real>
								<integer>-2</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.0819549560546875</real>
								<real>-0.36773681640625</real>
								<real>-0.36773681640625</real>
								<real>0.0819549560546875</real>
								<real>-24.050000000000001</real>
								<real>3.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.579833984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.579833984375</real>
								<real>-11.75</real>
								<real>-21.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.3500000000000001</real>
								<real>-2.8500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_11</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.25</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.50140380859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.50140380859375</real>
								<real>10.6</real>
								<real>16.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4442138671875</real>
								<real>0.0704803466796875</real>
								<real>-0.0704803466796875</real>
								<real>0.4442138671875</real>
								<real>19.449999999999999</real>
								<integer>-2</integer>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.0819549560546875</real>
								<real>-0.36773681640625</real>
								<real>-0.36773681640625</real>
								<real>0.0819549560546875</real>
								<real>-24.050000000000001</real>
								<real>3.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.579833984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.579833984375</real>
								<real>-11.75</real>
								<real>-21.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.55</real>
								<real>-4.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_12</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.05</real>
								<real>-0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.50140380859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.50140380859375</real>
								<real>10.6</real>
								<real>24.25</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.4442138671875</real>
								<real>0.0704803466796875</real>
								<real>-0.0704803466796875</real>
								<real>0.4442138671875</real>
								<real>20.649999999999999</real>
								<real>8.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>-0.0819549560546875</real>
								<real>-0.36773681640625</real>
								<real>-0.36773681640625</real>
								<real>0.0819549560546875</real>
								<real>-27.649999999999999</real>
								<real>15.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4462738037109375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.4462738037109375</real>
								<real>-20.699999999999999</real>
								<real>-13.449999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.55</real>
								<real>-4.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_12</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-1.05</real>
								<real>-0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.50140380859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.50140380859375</real>
								<real>10.6</real>
								<real>24.25</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.4442138671875</real>
								<real>0.0704803466796875</real>
								<real>-0.0704803466796875</real>
								<real>0.4442138671875</real>
								<real>20.649999999999999</real>
								<real>8.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>-0.0819549560546875</real>
								<real>-0.36773681640625</real>
								<real>-0.36773681640625</real>
								<real>0.0819549560546875</real>
								<real>-27.649999999999999</real>
								<real>15.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4462738037109375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.4462738037109375</real>
								<real>-20.699999999999999</real>
								<real>-13.449999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-2.2000000000000002</real>
								<real>-4.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_13</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-0.84999999999999998</real>
								<real>-0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>0.32757568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.32757568359375</real>
								<real>12.4</real>
								<real>32.799999999999997</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>0.2542572021484375</real>
								<real>0.0403289794921875</real>
								<real>-0.0403289794921875</real>
								<real>0.2542572021484375</real>
								<real>22.350000000000001</real>
								<real>18.199999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>-0.0446929931640625</real>
								<real>-0.200592041015625</real>
								<real>-0.200592041015625</real>
								<real>0.0446929931640625</real>
								<real>-31.050000000000001</real>
								<real>24.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.4462738037109375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.4462738037109375</real>
								<real>-23.5</real>
								<real>-0.65000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-2.2000000000000002</real>
								<real>-4.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_13</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-0.84999999999999998</real>
								<real>-0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>0.32757568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.32757568359375</real>
								<real>12.4</real>
								<real>32.799999999999997</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>0.2542572021484375</real>
								<real>0.0403289794921875</real>
								<real>-0.0403289794921875</real>
								<real>0.2542572021484375</real>
								<real>22.350000000000001</real>
								<real>18.199999999999999</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita1</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>-0.0446929931640625</real>
								<real>-0.200592041015625</real>
								<real>-0.200592041015625</real>
								<real>0.0446929931640625</real>
								<real>-31.050000000000001</real>
								<real>24.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.4462738037109375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.4462738037109375</real>
								<real>-23.5</real>
								<real>-0.65000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-0.65000000000000002</real>
								<real>-9.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_7</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>0.2479248046875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.2479248046875</real>
								<real>-23.899999999999999</real>
								<real>11.15</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>0.87982177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.87982177734375</real>
								<real>-0.65000000000000002</real>
								<real>-9.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_deathsmoke_7</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>0.2479248046875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.2479248046875</real>
								<real>-23.899999999999999</real>
								<real>11.15</real>
							</array>
							<key>name</key>
							<string>asst_silverwing_raptor_piedrita2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_piedrita4</string>
			<key>offsetX</key>
			<real>5.6500000000000004</real>
			<key>offsetY</key>
			<real>5.3499999999999996</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_piedrita2</string>
			<key>offsetX</key>
			<real>7.8499999999999996</real>
			<key>offsetY</key>
			<real>7.25</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_piedrita1</string>
			<key>offsetX</key>
			<real>15.25</real>
			<key>offsetY</key>
			<real>10.65</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_piedrita3</string>
			<key>offsetX</key>
			<real>7.75</real>
			<key>offsetY</key>
			<real>12.050000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_8</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_9</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_10</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_11</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_12</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_13</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_silverwing_raptor_deathsmoke_7</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
