<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>9.1999999999999993</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-21.949999999999999</real>
								<real>-1.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>9.1999999999999993</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-21.949999999999999</real>
								<real>-1.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>11.85</real>
								<real>-5.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.449999999999999</real>
								<real>-8.6999999999999993</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>31.899999999999999</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_3e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>11.85</real>
								<real>-5.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.449999999999999</real>
								<real>-8.6999999999999993</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>31.899999999999999</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_3e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.35</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.600000000000001</real>
								<real>-8.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.35</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.600000000000001</real>
								<real>-8.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>start</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.300000000000001</real>
								<real>-4.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8351898193359375</real>
								<real>-0.149658203125</real>
								<real>0.1577606201171875</real>
								<real>0.7924652099609375</real>
								<real>-27.100000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2a</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.35</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.600000000000001</real>
								<real>-8.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.35</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.600000000000001</real>
								<real>-8.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2b</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.4</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.949999999999999</real>
								<real>-8.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2c</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.4</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.949999999999999</real>
								<real>-8.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2c</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4d</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.449999999999999</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2d</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.899999999999999</real>
								<real>-8.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2d</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4d</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.449999999999999</real>
								<real>-4.75</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2d</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.899999999999999</real>
								<real>-8.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2d</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.550000000000001</real>
								<real>-5.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.800000000000001</real>
								<real>-8.5</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>29.899999999999999</real>
								<real>-2.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>12.550000000000001</real>
								<real>-5.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.800000000000001</real>
								<real>-8.5</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>11.85</real>
								<real>-5.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.449999999999999</real>
								<real>-8.6999999999999993</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>31.899999999999999</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_3e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>11.85</real>
								<real>-5.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-24.449999999999999</real>
								<real>-8.6999999999999993</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_2f</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>31.899999999999999</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_3e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>9.1999999999999993</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-21.949999999999999</real>
								<real>-1.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>9.1999999999999993</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-21.949999999999999</real>
								<real>-1.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>9.1999999999999993</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-0.8499755859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.806488037109375</real>
								<real>-21.949999999999999</real>
								<real>-1.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_legacy_4e</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>end</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<real>0.84999999999999998</real>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_4e</string>
			<key>offsetX</key>
			<real>0.34999999999999998</real>
			<key>offsetY</key>
			<real>5.9500000000000002</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2f</string>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>19.350000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_3e</string>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>3.6000000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2a</string>
			<key>offsetX</key>
			<real>1.25</real>
			<key>offsetY</key>
			<real>-2.75</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_4a</string>
			<key>offsetX</key>
			<real>-0.10000000000000001</real>
			<key>offsetY</key>
			<real>-0.65000000000000002</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_4b</string>
			<key>offsetX</key>
			<real>-0.10000000000000001</real>
			<key>offsetY</key>
			<real>0.69999999999999996</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2b</string>
			<key>offsetX</key>
			<real>1.25</real>
			<key>offsetY</key>
			<real>-0.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_4c</string>
			<key>offsetX</key>
			<real>-0.10000000000000001</real>
			<key>offsetY</key>
			<real>2.9500000000000002</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2c</string>
			<key>offsetX</key>
			<real>1.6499999999999999</real>
			<key>offsetY</key>
			<real>3.3999999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_4d</string>
			<key>offsetX</key>
			<real>-0.10000000000000001</real>
			<key>offsetY</key>
			<real>4.5999999999999996</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2d</string>
			<key>offsetX</key>
			<real>2.2000000000000002</real>
			<key>offsetY</key>
			<real>10.199999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_legacy_2e</string>
			<key>offsetX</key>
			<real>3.2999999999999998</real>
			<key>offsetY</key>
			<real>16.100000000000001</real>
		</dict>
	</array>
</dict>
</plist>
