<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5869598388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.5869598388671875</real>
								<real>-0.14999999999999999</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-4.4000000000000004</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5869598388671875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.5869598388671875</real>
								<real>-0.14999999999999999</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-4.4000000000000004</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.050000000000000003</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.20000000000000001</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.050000000000000003</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.20000000000000001</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>1.173919677734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.173919677734375</real>
								<real>-0.050000000000000003</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.20000000000000001</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>1.173919677734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.173919677734375</real>
								<real>-0.050000000000000003</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.20000000000000001</real>
								<real>-1.8</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.20000000000000001</real>
								<real>-1.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.26171875</real>
							<key>matrix</key>
							<array>
								<real>1.281097412109375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.281097412109375</real>
								<real>-0.14999999999999999</real>
								<real>-1.3999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.20000000000000001</real>
								<real>-1.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_c4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.26171875</real>
							<key>matrix</key>
							<array>
								<real>1.281097412109375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.281097412109375</real>
								<real>-0.14999999999999999</real>
								<real>-1.3999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_mammoth_hit_light_b_1c</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_mammoth_hit_light_b_1c</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_hit_c1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_hit_c2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_hit_c3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_mammoth_hit_c4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
