<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>-16.199999999999999</real>
								<real>1.55</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_fear_rayo_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>-0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>17.600000000000001</real>
								<real>2.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_fear_rayo_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.8092193603515625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.8092193603515625</real>
								<real>-11.4</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_light_a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>-16.199999999999999</real>
								<real>1.55</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_fear_rayo_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>-0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>17.600000000000001</real>
								<real>2.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_fear_rayo_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.8092193603515625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.8092193603515625</real>
								<real>-11.4</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_light_a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>-16.199999999999999</real>
								<real>1.55</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_2_a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>-0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>17.600000000000001</real>
								<real>2.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_2_a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.8092193603515625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.8092193603515625</real>
								<real>-11.4</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_light_a</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>-16.199999999999999</real>
								<real>1.55</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_2_a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.0507049560546875</real>
								<real>-0.606597900390625</real>
								<real>-0.606597900390625</real>
								<real>1.0507049560546875</real>
								<real>17.600000000000001</real>
								<real>2.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_2_a</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.8092193603515625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.8092193603515625</real>
								<real>-11.4</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_Mammoth_rayo_fear_light_a</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_rayo_fear_light_a</string>
			<key>offsetX</key>
			<real>6.0999999999999996</real>
			<key>offsetY</key>
			<real>2.3500000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_fear_rayo_3</string>
			<key>offsetX</key>
			<real>6.9500000000000002</real>
			<key>offsetY</key>
			<real>3.7999999999999998</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Mammoth_rayo_fear_2_a</string>
			<key>offsetX</key>
			<real>6.3499999999999996</real>
			<key>offsetY</key>
			<real>2.2000000000000002</real>
		</dict>
	</array>
</dict>
</plist>
