<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>warmongers_mage_tower_shooter_lvl4_idleDown</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>warmongers_mage_tower_shooter_lvl4_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>29</integer>
		</dict>
		<key>warmongers_mage_tower_shooter_lvl4_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>30</integer>
			<key>toIndex</key>
			<integer>30</integer>
		</dict>
		<key>warmongers_mage_tower_shooter_lvl4_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>31</integer>
			<key>toIndex</key>
			<integer>58</integer>
		</dict>
		<key>warmongers_mage_tower_shooter_lvl4_meteoritesDown</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>59</integer>
			<key>toIndex</key>
			<integer>88</integer>
		</dict>
		<key>warmongers_mage_tower_shooter_lvl4_meteoritesUp</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>89</integer>
			<key>toIndex</key>
			<integer>118</integer>
		</dict>
		<key>warmongers_mage_tower_shooter_lvl4_healingRootsDown</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>119</integer>
			<key>toIndex</key>
			<integer>160</integer>
		</dict>
		<key>warmongers_mage_tower_shooter_lvl4_healingRootsUp</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>161</integer>
			<key>toIndex</key>
			<integer>201</integer>
		</dict>
	</dict>
</dict>
</plist>
