<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gemstore_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{312,90}</string>
                <key>spriteSourceSize</key>
                <string>{312,94}</string>
                <key>textureRect</key>
                <string>{{1,1527},{312,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{351,1425},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{418,668}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{1401,1},{418,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{458,670}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{477,1},{458,670}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{458,670}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{939,1},{458,670}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{458,670}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{477,675},{458,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{458,670}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{1151,675},{458,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{458,670}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{463,1137},{458,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{458,682}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{1,739},{458,682}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{458,670}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{1137,1137},{458,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{472,734}</string>
                <key>spriteSourceSize</key>
                <string>{480,804}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,734}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,98}</string>
                <key>spriteSourceSize</key>
                <string>{378,120}</string>
                <key>textureRect</key>
                <string>{{1,1425},{346,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_title_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,60}</string>
                <key>spriteSourceSize</key>
                <string>{460,60}</string>
                <key>textureRect</key>
                <string>{{317,1599},{460,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_moregems.png</string>
            <key>size</key>
            <string>{1822,1660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9024873b721f9b10b70b7391a4056c9b:e26ca2b7a30f4afa1b79a67a07654e09:145437f8e0a7fe40f09a34a7592a25f4$</string>
            <key>textureFileName</key>
            <string>kr4_map_moregems.png</string>
        </dict>
    </dict>
</plist>
