<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>description_items_portraits_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{613,1},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{1207,1},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{613,463},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{1207,463},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{1,543},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{595,925},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{1,1005},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{1189,925},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{595,1387},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{1,1467},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,590}</string>
                <key>spriteSourceSize</key>
                <string>{460,590}</string>
                <key>textureRect</key>
                <string>{{1189,1387},{458,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_base_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,152}</string>
                <key>spriteSourceSize</key>
                <string>{176,152}</string>
                <key>textureRect</key>
                <string>{{1181,2753},{174,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1359,2753},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{222,222}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1801,449},{222,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,2871},{288,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_buy_animation_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{350,352}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{467,2637},{350,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_buy_animation_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1517,2526},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{428,428}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1529,1938},{428,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{442,442}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1071,2307},{442,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{454,454}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1071,1849},{454,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{462,462}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,2405},{462,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{472,472}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{595,1849},{472,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{472,472}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,1929},{472,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{477,1929},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_frame_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{192,191}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1801,675},{192,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_gems_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{303,86}</string>
                <key>spriteSourceSize</key>
                <string>{329,92}</string>
                <key>textureRect</key>
                <string>{{477,2218},{303,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_gems_container_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1962,1303},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_popup_background_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1529,1849},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_portraits_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{538,608}</string>
                <key>spriteSourceSize</key>
                <string>{560,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{538,608}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_portraits_gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1962,1387},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_portraits_shadow_select_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{94,165}</string>
                <key>spriteSourceSize</key>
                <string>{140,165}</string>
                <key>textureRect</key>
                <string>{{477,2049},{94,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,152}</string>
                <key>spriteSourceSize</key>
                <string>{436,152}</string>
                <key>textureRect</key>
                <string>{{567,2325},{436,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,152}</string>
                <key>spriteSourceSize</key>
                <string>{436,152}</string>
                <key>textureRect</key>
                <string>{{567,2481},{436,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,152}</string>
                <key>spriteSourceSize</key>
                <string>{436,152}</string>
                <key>textureRect</key>
                <string>{{1517,2370},{436,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_info_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,544}</string>
                <key>spriteSourceSize</key>
                <string>{44,544}</string>
                <key>textureRect</key>
                <string>{{1997,755},{44,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_frame_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{220,245}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1801,1},{220,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_frame_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{220,245}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1801,225},{220,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_frame_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,167}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{295,2871},{168,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1801,870},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{172,169}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1181,2909},{172,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{166,165}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{823,2988},{166,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,169}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{823,2815},{174,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{168,167}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1001,2931},{168,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1783,1048},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1783,1226},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1783,1404},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1783,1582},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1783,1760},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{823,2637},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{254,271}</string>
                <key>textureRect</key>
                <string>{{1002,2753},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_title_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,64}</string>
                <key>spriteSourceSize</key>
                <string>{567,64}</string>
                <key>textureRect</key>
                <string>{{1962,1459},{567,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_shadow_veznan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{76,50}</string>
                <key>textureRect</key>
                <string>{{1997,675},{76,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_small_portraits_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{467,2991},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{295,3042},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{637,2991},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1,3163},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1357,2952},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1173,3082},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{993,3102},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{807,3157},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{465,3159},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{635,3159},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{171,3210},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_specialweapons.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcee5e07312a2545879e34d0e2a39903:d838245f8432c883c85c4a767d7025c3:d343d59dc5ccef1cb645b8e2cf6b8f15$</string>
            <key>textureFileName</key>
            <string>kr4_map_specialweapons.png</string>
        </dict>
    </dict>
</plist>
