<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>credits_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-25}</string>
                <key>spriteSize</key>
                <string>{604,194}</string>
                <key>spriteSourceSize</key>
                <string>{648,268}</string>
                <key>textureRect</key>
                <string>{{293,995},{604,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>credits_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2812,1000}</string>
                <key>spriteSourceSize</key>
                <string>{2812,1000}</string>
                <key>textureRect</key>
                <string>{{1,1193},{2812,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1387,8}</string>
                <key>spriteSourceSize</key>
                <string>{1387,8}</string>
                <key>textureRect</key>
                <string>{{1015,1},{1387,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_difficulty_buttons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,136}</string>
                <key>spriteSourceSize</key>
                <string>{376,136}</string>
                <key>textureRect</key>
                <string>{{628,139},{376,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_difficulty_buttons_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,136}</string>
                <key>spriteSourceSize</key>
                <string>{376,136}</string>
                <key>textureRect</key>
                <string>{{583,279},{376,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_base_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{578,76}</string>
                <key>spriteSourceSize</key>
                <string>{578,80}</string>
                <key>textureRect</key>
                <string>{{1,231},{578,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{534,419},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{678,419},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{822,419},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,543},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{145,543},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{289,543},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{433,563},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{577,563},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{721,563},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{865,563},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,687},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{145,687},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{289,687},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{433,707},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{577,707},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{721,707},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{865,707},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,831},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{145,831},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{289,831},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{433,851},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{577,851},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{723,851},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{869,851},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{1,975},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{147,975},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,111}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,311},{526,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,113}</string>
                <key>spriteSourceSize</key>
                <string>{529,113}</string>
                <key>textureRect</key>
                <string>{{1,426},{529,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,57},{218,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{849,1},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{142,61}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{703,1},{142,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{218,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{223,62},{218,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{218,67}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{735,68},{218,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{286,71}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,129},{286,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{214,57}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{281,1},{214,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{230,73}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{291,131},{230,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,59}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{499,1},{200,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{445,64},{218,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{667,66},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{525,131},{96,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_redeem_text_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{276,52}</string>
                <key>spriteSourceSize</key>
                <string>{276,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_options.png</string>
            <key>size</key>
            <string>{1024,4006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7623cad798dd007dacadba86a1e3ad5e:78c228cb193066b486e1b498218de4ab:5f662b0a8df85d17b6b628147735e9e6$</string>
            <key>textureFileName</key>
            <string>kr4_map_options.png</string>
        </dict>
    </dict>
</plist>
