<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>credits_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-25}</string>
                <key>spriteSize</key>
                <string>{604,194}</string>
                <key>spriteSourceSize</key>
                <string>{648,268}</string>
                <key>textureRect</key>
                <string>{{1,2817},{604,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>credits_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2812,1000}</string>
                <key>spriteSourceSize</key>
                <string>{2812,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{2812,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1387,8}</string>
                <key>spriteSourceSize</key>
                <string>{1387,8}</string>
                <key>textureRect</key>
                <string>{{1005,1},{1387,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_difficulty_buttons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,136}</string>
                <key>spriteSourceSize</key>
                <string>{376,136}</string>
                <key>textureRect</key>
                <string>{{609,2817},{376,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_difficulty_buttons_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,136}</string>
                <key>spriteSourceSize</key>
                <string>{376,136}</string>
                <key>textureRect</key>
                <string>{{1,3327},{376,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_base_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{578,76}</string>
                <key>spriteSourceSize</key>
                <string>{578,80}</string>
                <key>textureRect</key>
                <string>{{1,3015},{578,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{62,3690},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{381,3327},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{805,3024},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{531,3221},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{525,3365},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{675,3221},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{669,3365},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{819,3168},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{819,3312},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{813,3456},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{206,3690},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{235,3542},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{379,3471},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{523,3509},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{667,3509},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{379,3615},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{523,3653},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{667,3653},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{811,3600},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{811,3744},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{350,3759},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,111}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,3212},{526,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,113}</string>
                <key>spriteSourceSize</key>
                <string>{529,113}</string>
                <key>textureRect</key>
                <string>{{1,3095},{529,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{609,2957},{218,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{158,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{831,2957},{158,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{142,61}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{62,3834},{142,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{218,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{583,3024},{218,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{218,67}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,3619},{218,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{286,71}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,3467},{286,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{214,57}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,3690},{214,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{230,73}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{1,3542},{230,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,59}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{534,3158},{200,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,63}</string>
                <key>spriteSourceSize</key>
                <string>{526,111}</string>
                <key>textureRect</key>
                <string>{{583,3091},{218,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{949,3024},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{494,3797},{96,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_options.png</string>
            <key>size</key>
            <string>{1014,3905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0605b6da2b295290a89e683a85391b5:1f726838a8b3a751716d9215da929032:5f662b0a8df85d17b6b628147735e9e6$</string>
            <key>textureFileName</key>
            <string>kr4_map_options.png</string>
        </dict>
    </dict>
</plist>
