<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4002,3482}</string>
                <key>spriteSourceSize</key>
                <string>{4002,3482}</string>
                <key>textureRect</key>
                <string>{{1,1},{4002,3482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_2.png</string>
            <key>size</key>
            <string>{4004,3484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b056b4b0e02d7a4b4301f978610da385:948bafe3b37d5f0c8631b05ca5c0b961:777be17fbd1e1f4f905cbaf31fbc2e1e$</string>
            <key>textureFileName</key>
            <string>kr4_map_2.png</string>
        </dict>
    </dict>
</plist>
