<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_naga_area_fx_animations.plist</key>
		<string></string>
		<key>hero_naga_kraken_tentacle_animations.plist</key>
		<string></string>
		<key>hero_naga_kraken_water_animations.plist</key>
		<string></string>
		<key>hero_naga_banner_courage_modifier_animations.plist</key>
		<string></string>
		<key>hero_naga_banner_courage_animations.plist</key>
		<string></string>
		<key>hero_naga_banner_hit_courage_animations.plist</key>
		<string></string>
		<key>hero_naga_proyectile_miss_animations.plist</key>
		<string></string>
		<key>hero_naga_tidal_wave_animations.plist</key>
		<string></string>
		<key>hero_naga_silence_modifier_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_naga_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>hero_naga_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>hero_naga_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>54</integer>
		</dict>
		<key>hero_naga_attackSpecial</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>55</integer>
			<key>toIndex</key>
			<integer>82</integer>
		</dict>
		<key>hero_naga_ranged</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>105</integer>
		</dict>
		<key>hero_naga_banner</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>106</integer>
			<key>toIndex</key>
			<integer>139</integer>
		</dict>
		<key>hero_naga_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>140</integer>
			<key>toIndex</key>
			<integer>169</integer>
		</dict>
		<key>hero_naga_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>170</integer>
			<key>toIndex</key>
			<integer>192</integer>
		</dict>
		<key>hero_naga_silence</key>
		<dict>
			<key>prefix</key>
			<string>hero_naga</string>
			<key>fromIndex</key>
			<integer>193</integer>
			<key>toIndex</key>
			<integer>232</integer>
		</dict>
	</dict>
</dict>
</plist>
