<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>item_drill_mine_explotion_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>item_drill_mine_init</key>
		<dict>
			<key>prefix</key>
			<string>item_drill_mine</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>27</integer>
		</dict>
		<key>item_drill_mine_loop</key>
		<dict>
			<key>prefix</key>
			<string>item_drill_mine</string>
			<key>fromIndex</key>
			<integer>28</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>
