<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>item_mummy_ra_idle</key>
		<dict>
			<key>prefix</key>
			<string>item_mummy_ra</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>item_mummy_ra_walk</key>
		<dict>
			<key>prefix</key>
			<string>item_mummy_ra</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>item_mummy_ra_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>item_mummy_ra</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>item_mummy_ra_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>item_mummy_ra</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>74</integer>
		</dict>
		<key>item_mummy_ra_attack</key>
		<dict>
			<key>prefix</key>
			<string>item_mummy_ra</string>
			<key>fromIndex</key>
			<integer>75</integer>
			<key>toIndex</key>
			<integer>106</integer>
		</dict>
		<key>item_mummy_ra_death</key>
		<dict>
			<key>prefix</key>
			<string>item_mummy_ra</string>
			<key>fromIndex</key>
			<integer>107</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
		<key>item_mummy_ra_transform</key>
		<dict>
			<key>prefix</key>
			<string>item_mummy_ra</string>
			<key>fromIndex</key>
			<integer>134</integer>
			<key>toIndex</key>
			<integer>193</integer>
		</dict>
	</dict>
</dict>
</plist>
