<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>juggernaut_decal_animations.plist</key>
		<string></string>
		<key>juggernaut_out_animations.plist</key>
		<string></string>
		<key>juggernaut_bomb_smoke_animations.plist</key>
		<string></string>
		<key>juggernaut_attack_decal_animations.plist</key>
		<string></string>
		<key>juggernaut_attack_decal_smoke_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>juggernaut_idle</key>
		<dict>
			<key>prefix</key>
			<string>juggernaut</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>juggernaut_in</key>
		<dict>
			<key>prefix</key>
			<string>juggernaut</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>juggernaut_walk</key>
		<dict>
			<key>prefix</key>
			<string>juggernaut</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>59</integer>
		</dict>
		<key>juggernaut_attack</key>
		<dict>
			<key>prefix</key>
			<string>juggernaut</string>
			<key>fromIndex</key>
			<integer>60</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>juggernaut_bomb</key>
		<dict>
			<key>prefix</key>
			<string>juggernaut</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>187</integer>
		</dict>
		<key>juggernaut_out</key>
		<dict>
			<key>prefix</key>
			<string>juggernaut</string>
			<key>fromIndex</key>
			<integer>188</integer>
			<key>toIndex</key>
			<integer>215</integer>
		</dict>
	</dict>
</dict>
</plist>
