<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>veznan_wrath_explosion_animations.plist</key>
		<string></string>
		<key>veznan_wrath_instakill_voladores_animations.plist</key>
		<string></string>
		<key>veznan_wrath_instakill_effect_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>veznan_wrath_instakill_run</key>
		<dict>
			<key>prefix</key>
			<string>veznan_wrath_instakill</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>
