<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>deep_devils_reef_tower_redspine_skill_net_active_animations.plist</key>
		<string></string>
		<key>deep_devils_reef_tower_redspine_skill_net_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>deep_devils_reef_tower_redspine_lv4_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>deep_devils_reef_tower_redspine_lv4_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>deep_devils_reef_tower_redspine_lv4_walk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>deep_devils_reef_tower_redspine_lv4_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>13</integer>
		</dict>
		<key>deep_devils_reef_tower_redspine_lv4_attack</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>deep_devils_reef_tower_redspine_lv4_layer</string>
			<key>fromIndex</key>
			<integer>14</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>deep_devils_reef_tower_redspine_lv4_shoot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>deep_devils_reef_tower_redspine_lv4_layer</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>58</integer>
		</dict>
		<key>deep_devils_reef_tower_redspine_lv4_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>deep_devils_reef_tower_redspine_lv4_layer</string>
			<key>fromIndex</key>
			<integer>59</integer>
			<key>toIndex</key>
			<integer>89</integer>
		</dict>
		<key>deep_devils_reef_tower_redspine_lv4_net</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>deep_devils_reef_tower_redspine_lv4_layer</string>
			<key>fromIndex</key>
			<integer>90</integer>
			<key>toIndex</key>
			<integer>109</integer>
		</dict>
	</dict>
</dict>
</plist>
