<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>swamp_monster_unit_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>swamp_monster_unit_lvl4_walk</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>swamp_monster_unit_lvl4_attack</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>swamp_monster_unit_lvl4_death</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>104</integer>
		</dict>
		<key>swamp_monster_unit_lvl4_respawn</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>105</integer>
			<key>toIndex</key>
			<integer>122</integer>
		</dict>
		<key>swamp_monster_unit_lvl4_instakill</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>123</integer>
			<key>toIndex</key>
			<integer>158</integer>
		</dict>
		<key>swamp_monster_unit_lvl4_stun</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>159</integer>
			<key>toIndex</key>
			<integer>191</integer>
		</dict>
		<key>swamp_monster_unit_lvl4_out</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_unit_lvl4</string>
			<key>fromIndex</key>
			<integer>192</integer>
			<key>toIndex</key>
			<integer>205</integer>
		</dict>
	</dict>
</dict>
</plist>
