<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>swamp_monster_tower_shooter_lvl2_idle</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>swamp_monster_tower_shooter_lvl2_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>swamp_monster_tower_shooter_lvl2_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>60</integer>
		</dict>
		<key>swamp_monster_tower_shooter_lvl2_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>swamp_monster_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>61</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
	</dict>
</dict>
</plist>
