<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>elven_warrior_animations.plist</key>
		<string></string>
		<key>alleria_arrow_decal_animations.plist</key>
		<string></string>
		<key>alleria_arrow_multishoot_decal_animations.plist</key>
		<string></string>
		<key>alleria_leaves_animations.plist</key>
		<string></string>
		<key>veznan_cage_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>alleria_idle</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>alleria_walk</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>16</integer>
		</dict>
		<key>alleria_shootPrep</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>17</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>alleria_shootStart</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>alleria_multishoot</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>alleria_shootEnd</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>58</integer>
		</dict>
		<key>alleria_melee1</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>59</integer>
			<key>toIndex</key>
			<integer>86</integer>
		</dict>
		<key>alleria_melee2</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>87</integer>
			<key>toIndex</key>
			<integer>116</integer>
		</dict>
		<key>alleria_in</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>117</integer>
			<key>toIndex</key>
			<integer>145</integer>
		</dict>
		<key>alleria_death</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>146</integer>
			<key>toIndex</key>
			<integer>182</integer>
		</dict>
		<key>alleria_call</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>183</integer>
			<key>toIndex</key>
			<integer>220</integer>
		</dict>
		<key>alleria_cutscene</key>
		<dict>
			<key>prefix</key>
			<string>alleria</string>
			<key>fromIndex</key>
			<integer>221</integer>
			<key>toIndex</key>
			<integer>244</integer>
		</dict>
	</dict>
</dict>
</plist>
