<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>arcane_magus_decal_animations.plist</key>
		<string></string>
		<key>arcane_magus_projectile_animations.plist</key>
		<string></string>
		<key>arcane_magus_shoot_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>arcane_magus_idle</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>arcane_magus_walk</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>arcane_magus_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>arcane_magus_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>arcane_magus_shoot</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>arcane_magus_attack</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>arcane_magus_teleport</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>149</integer>
		</dict>
		<key>arcane_magus_death</key>
		<dict>
			<key>prefix</key>
			<string>arcane_magus</string>
			<key>fromIndex</key>
			<integer>150</integer>
			<key>toIndex</key>
			<integer>195</integer>
		</dict>
	</dict>
</dict>
</plist>
