<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>devoted_priest_healing_animations.plist</key>
		<string></string>
		<key>devoted_priest_modifier_armor_animations.plist</key>
		<string></string>
		<key>devoted_priest_modifier_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>devoted_priest_idle</key>
		<dict>
			<key>prefix</key>
			<string>devoted_priest</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>devoted_priest_walk</key>
		<dict>
			<key>prefix</key>
			<string>devoted_priest</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>devoted_priest_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>devoted_priest</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>devoted_priest_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>devoted_priest</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>devoted_priest_attack</key>
		<dict>
			<key>prefix</key>
			<string>devoted_priest</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>83</integer>
		</dict>
		<key>devoted_priest_cast</key>
		<dict>
			<key>prefix</key>
			<string>devoted_priest</string>
			<key>fromIndex</key>
			<integer>84</integer>
			<key>toIndex</key>
			<integer>142</integer>
		</dict>
		<key>devoted_priest_death</key>
		<dict>
			<key>prefix</key>
			<string>devoted_priest</string>
			<key>fromIndex</key>
			<integer>143</integer>
			<key>toIndex</key>
			<integer>188</integer>
		</dict>
	</dict>
</dict>
</plist>
