<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>elven_warrior_arrow_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>elven_warrior_idle</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>elven_warrior_walk</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>elven_warrior_shootIn</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>50</integer>
		</dict>
		<key>elven_warrior_shootPrep</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>51</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>elven_warrior_multiShoot</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>69</integer>
		</dict>
		<key>elven_warrior_shootEnd</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>70</integer>
			<key>toIndex</key>
			<integer>85</integer>
		</dict>
		<key>elven_warrior_hit1</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>86</integer>
			<key>toIndex</key>
			<integer>117</integer>
		</dict>
		<key>elven_warrior_hit2</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>118</integer>
			<key>toIndex</key>
			<integer>149</integer>
		</dict>
		<key>elven_warrior_death</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>150</integer>
			<key>toIndex</key>
			<integer>168</integer>
		</dict>
		<key>elven_warrior_spawn</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>169</integer>
			<key>toIndex</key>
			<integer>201</integer>
		</dict>
		<key>elven_warrior_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>202</integer>
			<key>toIndex</key>
			<integer>223</integer>
		</dict>
		<key>elven_warrior_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>elven_warrior</string>
			<key>fromIndex</key>
			<integer>224</integer>
			<key>toIndex</key>
			<integer>245</integer>
		</dict>
	</dict>
</dict>
</plist>
