<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>farmer_rooster_proyectile_animations.plist</key>
		<string></string>
		<key>farmer_rooster_particle_animations.plist</key>
		<string></string>
		<key>farmer_rooster_explosion_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>farmer_rooster_idle</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>farmer_rooster_walk</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>farmer_rooster_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>farmer_rooster_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>farmer_rooster_range</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>83</integer>
		</dict>
		<key>farmer_rooster_meleeIn</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>84</integer>
			<key>toIndex</key>
			<integer>97</integer>
		</dict>
		<key>farmer_rooster_melee</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>98</integer>
			<key>toIndex</key>
			<integer>118</integer>
		</dict>
		<key>farmer_rooster_idleBlock</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>119</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>farmer_rooster_meleeOut</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>128</integer>
		</dict>
		<key>farmer_rooster_death</key>
		<dict>
			<key>prefix</key>
			<string>farmer_rooster</string>
			<key>fromIndex</key>
			<integer>129</integer>
			<key>toIndex</key>
			<integer>150</integer>
		</dict>
	</dict>
</dict>
</plist>
