<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>farmer_mile_idle</key>
		<dict>
			<key>prefix</key>
			<string>farmer_mile</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>farmer_mile_walk</key>
		<dict>
			<key>prefix</key>
			<string>farmer_mile</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>farmer_mile_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>farmer_mile</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>farmer_mile_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>farmer_mile</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>73</integer>
		</dict>
		<key>farmer_mile_attack</key>
		<dict>
			<key>prefix</key>
			<string>farmer_mile</string>
			<key>fromIndex</key>
			<integer>74</integer>
			<key>toIndex</key>
			<integer>109</integer>
		</dict>
		<key>farmer_mile_attack2</key>
		<dict>
			<key>prefix</key>
			<string>farmer_mile</string>
			<key>fromIndex</key>
			<integer>110</integer>
			<key>toIndex</key>
			<integer>144</integer>
		</dict>
		<key>farmer_mile_death</key>
		<dict>
			<key>prefix</key>
			<string>farmer_mile</string>
			<key>fromIndex</key>
			<integer>145</integer>
			<key>toIndex</key>
			<integer>172</integer>
		</dict>
	</dict>
</dict>
</plist>
