<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>golem_house_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>golem_house_spawn</key>
		<dict>
			<key>prefix</key>
			<string>golem_house</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>54</integer>
		</dict>
		<key>golem_house_idle</key>
		<dict>
			<key>prefix</key>
			<string>golem_house</string>
			<key>fromIndex</key>
			<integer>55</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>golem_house_walk</key>
		<dict>
			<key>prefix</key>
			<string>golem_house</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>91</integer>
		</dict>
		<key>golem_house_attack</key>
		<dict>
			<key>prefix</key>
			<string>golem_house</string>
			<key>fromIndex</key>
			<integer>92</integer>
			<key>toIndex</key>
			<integer>137</integer>
		</dict>
		<key>golem_house_death</key>
		<dict>
			<key>prefix</key>
			<string>golem_house</string>
			<key>fromIndex</key>
			<integer>138</integer>
			<key>toIndex</key>
			<integer>167</integer>
		</dict>
	</dict>
</dict>
</plist>
