<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>gryphon_guy_idle</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>gryphon_guy_walk</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>gryphon_guy_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>27</integer>
		</dict>
		<key>gryphon_guy_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>53</integer>
		</dict>
		<key>gryphon_guy_shoot</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>gryphon_guy_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>28</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>gryphon_guy_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>54</integer>
			<key>toIndex</key>
			<integer>78</integer>
		</dict>
		<key>gryphon_guy_death</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_guy</string>
			<key>fromIndex</key>
			<integer>79</integer>
			<key>toIndex</key>
			<integer>79</integer>
		</dict>
	</dict>
</dict>
</plist>
