<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>perython_idle</key>
		<dict>
			<key>prefix</key>
			<string>perython</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>perython_walk</key>
		<dict>
			<key>prefix</key>
			<string>perython</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>perython_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>perython</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>28</integer>
		</dict>
		<key>perython_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>perython</string>
			<key>fromIndex</key>
			<integer>29</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>perython_death</key>
		<dict>
			<key>prefix</key>
			<string>perython</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>60</integer>
		</dict>
		<key>perython_shadow</key>
		<dict>
			<key>prefix</key>
			<string>perython</string>
			<key>fromIndex</key>
			<integer>61</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
	</dict>
</dict>
</plist>
