<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>griffin_bombardier_front_animations.plist</key>
		<string></string>
		<key>griffin_bombardier_rider_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>gryphon_idle</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>16</integer>
		</dict>
		<key>gryphon_walk</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>16</integer>
		</dict>
		<key>gryphon_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>17</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>gryphon_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
		<key>gryphon_death</key>
		<dict>
			<key>prefix</key>
			<string>gryphon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>49</integer>
			<key>toIndex</key>
			<integer>69</integer>
		</dict>
	</dict>
</dict>
</plist>
