<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>high_sorcerer_ray_animations.plist</key>
		<string></string>
		<key>high_sorcerer_smoke_animations.plist</key>
		<string></string>
		<key>high_sorcerer_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>high_sorcerer_idle</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>high_sorcerer_walk</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>high_sorcerer_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>high_sorcerer_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>97</integer>
		</dict>
		<key>high_sorcerer_attack</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer</string>
			<key>fromIndex</key>
			<integer>98</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
		<key>high_sorcerer_special</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer</string>
			<key>fromIndex</key>
			<integer>134</integer>
			<key>toIndex</key>
			<integer>177</integer>
		</dict>
		<key>high_sorcerer_death</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer</string>
			<key>fromIndex</key>
			<integer>178</integer>
			<key>toIndex</key>
			<integer>237</integer>
		</dict>
	</dict>
</dict>
</plist>
