<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>high_sorcerer_sheep_idle</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer_sheep</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>high_sorcerer_sheep_walk</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer_sheep</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>13</integer>
		</dict>
		<key>high_sorcerer_sheep_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer_sheep</string>
			<key>fromIndex</key>
			<integer>14</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>high_sorcerer_sheep_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer_sheep</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>high_sorcerer_sheep_death</key>
		<dict>
			<key>prefix</key>
			<string>high_sorcerer_sheep</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
	</dict>
</dict>
</plist>
