<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>knight_rider_idle</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>knight_rider_walk</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>knight_rider_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>16</integer>
			<key>toIndex</key>
			<integer>29</integer>
		</dict>
		<key>knight_rider_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>30</integer>
			<key>toIndex</key>
			<integer>43</integer>
		</dict>
		<key>knight_rider_attack</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>44</integer>
			<key>toIndex</key>
			<integer>71</integer>
		</dict>
		<key>knight_rider_chargeWalk</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>72</integer>
			<key>toIndex</key>
			<integer>81</integer>
		</dict>
		<key>knight_rider_chargeWalkDown</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>82</integer>
			<key>toIndex</key>
			<integer>91</integer>
		</dict>
		<key>knight_rider_chargeWalkUp</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>92</integer>
			<key>toIndex</key>
			<integer>101</integer>
		</dict>
		<key>knight_rider_death</key>
		<dict>
			<key>prefix</key>
			<string>knight_rider</string>
			<key>fromIndex</key>
			<integer>102</integer>
			<key>toIndex</key>
			<integer>125</integer>
		</dict>
	</dict>
</dict>
</plist>
