<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>veznan_cage_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>lightseeker_idle</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>lightseeker_walk</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>38</integer>
		</dict>
		<key>lightseeker_attack1</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>39</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>lightseeker_attack2</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>85</integer>
		</dict>
		<key>lightseeker_buff</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>86</integer>
			<key>toIndex</key>
			<integer>167</integer>
		</dict>
		<key>lightseeker_heal</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>168</integer>
			<key>toIndex</key>
			<integer>266</integer>
		</dict>
		<key>lightseeker_spawnWalk</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>267</integer>
			<key>toIndex</key>
			<integer>278</integer>
		</dict>
		<key>lightseeker_spawnEnd</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>279</integer>
			<key>toIndex</key>
			<integer>424</integer>
		</dict>
		<key>lightseeker_death</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>425</integer>
			<key>toIndex</key>
			<integer>474</integer>
		</dict>
		<key>lightseeker_idleDefeat</key>
		<dict>
			<key>prefix</key>
			<string>lightseeker</string>
			<key>fromIndex</key>
			<integer>475</integer>
			<key>toIndex</key>
			<integer>475</integer>
		</dict>
	</dict>
</dict>
</plist>
