<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>linirea_joe_idleStanding</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>linirea_joe_straw</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>73</integer>
		</dict>
		<key>linirea_joe_watch</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>74</integer>
			<key>toIndex</key>
			<integer>158</integer>
		</dict>
		<key>linirea_joe_curse</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>159</integer>
			<key>toIndex</key>
			<integer>196</integer>
		</dict>
		<key>linirea_joe_toSayayin</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>197</integer>
			<key>toIndex</key>
			<integer>264</integer>
		</dict>
		<key>linirea_joe_idle</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>265</integer>
			<key>toIndex</key>
			<integer>265</integer>
		</dict>
		<key>linirea_joe_walk</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>266</integer>
			<key>toIndex</key>
			<integer>285</integer>
		</dict>
		<key>linirea_joe_attack</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>286</integer>
			<key>toIndex</key>
			<integer>307</integer>
		</dict>
		<key>linirea_joe_specialAttack</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>308</integer>
			<key>toIndex</key>
			<integer>336</integer>
		</dict>
		<key>linirea_joe_callSheep</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>337</integer>
			<key>toIndex</key>
			<integer>373</integer>
		</dict>
		<key>linirea_joe_death</key>
		<dict>
			<key>prefix</key>
			<string>linirea_joe</string>
			<key>fromIndex</key>
			<integer>374</integer>
			<key>toIndex</key>
			<integer>395</integer>
		</dict>
	</dict>
</dict>
</plist>
