<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>linirea_banner_soldier_idle</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>linirea_banner_soldier_walk</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>linirea_banner_soldier_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>35</integer>
		</dict>
		<key>linirea_banner_soldier_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>36</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>linirea_banner_soldier_attackSword</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>90</integer>
		</dict>
		<key>linirea_banner_soldier_attackSpear</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>91</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
		<key>linirea_banner_soldier_death</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>134</integer>
			<key>toIndex</key>
			<integer>161</integer>
		</dict>
		<key>linirea_banner_soldier_special</key>
		<dict>
			<key>prefix</key>
			<string>linirea_banner_soldier</string>
			<key>fromIndex</key>
			<integer>162</integer>
			<key>toIndex</key>
			<integer>207</integer>
		</dict>
	</dict>
</dict>
</plist>
