<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>ninja_sheep_spawn</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>ninja_sheep_idle</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>46</integer>
		</dict>
		<key>ninja_sheep_walk</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>47</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>ninja_sheep_fists</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>78</integer>
		</dict>
		<key>ninja_sheep_kick</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>79</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>ninja_sheep_spinKick</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>118</integer>
		</dict>
		<key>ninja_sheep_danielSanKick</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>119</integer>
			<key>toIndex</key>
			<integer>172</integer>
		</dict>
		<key>ninja_sheep_watch</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>173</integer>
			<key>toIndex</key>
			<integer>206</integer>
		</dict>
		<key>ninja_sheep_death</key>
		<dict>
			<key>prefix</key>
			<string>ninja_sheep</string>
			<key>fromIndex</key>
			<integer>207</integer>
			<key>toIndex</key>
			<integer>218</integer>
		</dict>
	</dict>
</dict>
</plist>
