<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>paladin_ground_attack_decal_animations.plist</key>
		<string></string>
		<key>paladin_modifier_effect_animations.plist</key>
		<string></string>
		<key>paladin_modifier_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>paladin_idle</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>paladin_walk</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>paladin_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>25</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
		<key>paladin_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>49</integer>
			<key>toIndex</key>
			<integer>72</integer>
		</dict>
		<key>paladin_specialAttack1</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>73</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>paladin_specialAttack2</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>paladin_shieldAttack</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>161</integer>
		</dict>
		<key>paladin_groundAttack</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>162</integer>
			<key>toIndex</key>
			<integer>197</integer>
		</dict>
		<key>paladin_death</key>
		<dict>
			<key>prefix</key>
			<string>paladin</string>
			<key>fromIndex</key>
			<integer>198</integer>
			<key>toIndex</key>
			<integer>217</integer>
		</dict>
	</dict>
</dict>
</plist>
