<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>war_wagon_spawn_dust_animations.plist</key>
		<string></string>
		<key>war_wagon_dust_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>war_wagon_layer_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>9</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>war_wagon_layer_walk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>8</integer>
		</dict>
		<key>war_wagon_layer_walkDownIdle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>28</integer>
		</dict>
		<key>war_wagon_layer_walkDown</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>war_wagon_layer_upWalkIdle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>war_wagon_layer_upWalk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>29</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>war_wagon_layer_downWalkIdle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>51</integer>
			<key>toIndex</key>
			<integer>56</integer>
		</dict>
		<key>war_wagon_layer_downWalk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>50</integer>
		</dict>
		<key>war_wagon_layer_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>57</integer>
			<key>toIndex</key>
			<integer>69</integer>
		</dict>
		<key>war_wagon_layer_walkUpIdle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>28</integer>
		</dict>
		<key>war_wagon_layer_walkUp</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>11</integer>
			<key>prefix</key>
			<string>war_wagon_layer</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
	</dict>
</dict>
</plist>
