<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>watchdog_idle</key>
		<dict>
			<key>prefix</key>
			<string>watchdog</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>watchdog_walk</key>
		<dict>
			<key>prefix</key>
			<string>watchdog</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>11</integer>
		</dict>
		<key>watchdog_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>watchdog</string>
			<key>fromIndex</key>
			<integer>12</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>watchdog_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>watchdog</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>31</integer>
		</dict>
		<key>watchdog_attack</key>
		<dict>
			<key>prefix</key>
			<string>watchdog</string>
			<key>fromIndex</key>
			<integer>32</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
		<key>watchdog_death</key>
		<dict>
			<key>prefix</key>
			<string>watchdog</string>
			<key>fromIndex</key>
			<integer>49</integer>
			<key>toIndex</key>
			<integer>70</integer>
		</dict>
	</dict>
</dict>
</plist>
