<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level23_magicstove_absortion</key>
	<string>0</string>
	<key>level23_magicstove_coins</key>
	<string>0</string>
	<key>level23_magicstove_hit</key>
	<string>0</string>
	<key>level23_fireworks_explode</key>
	<string>0</string>
	<key>level23_fireworks_launch</key>
	<string>0</string>
	<key>level24_followthemaster</key>
	<string>0</string>
</dict>
</plist>
