<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level8_vikingship_dooropens</key>
	<string>0</string>
	<key>level8_vikingship_oar</key>
	<string>0</string>
	<key>level8_vikingship_retreat</key>
	<string>0</string>
	<key>level8_vikingship_strand</key>
	<string>0</string>
	<key>terrain2_battle2</key>
	<string>0</string>
	<key>level8_seal</key>
	<string>0</string>
	<key>level8_penguin</key>
	<string>0</string>
</dict>
</plist>
