<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>terrain4_battle1</key>
	<string>0</string>
	<key>level28_ghostsummon_part1</key>
	<string>0</string>
	<key>level28_ghostsummon_part2</key>
	<string>0</string>
	<key>level28_blackburn_armourpieces</key>
	<string>0</string>
	<key>level28_blackburn_achievement</key>
	<string>0</string>
</dict>
</plist>
