<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>terrain3_battle2</key>
	<string>0</string>
	<key>level14_magichouse_transform</key>
	<string>0</string>
	<key>level14_lantern_break</key>
	<string>0</string>
</dict>
</plist>
