<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level16_bertha_impact</key>
	<string>0</string>
	<key>level16_bertha_load</key>
	<string>0</string>
	<key>level16_bertha_shot</key>
	<string>0</string>
	<key>linirea_war_wagon_death</key>
	<string>0</string>
	<key>linirea_war_wagon_move_loop</key>
	<string>0</string>
	<key>linirea_mega_knight_death</key>
	<string>0</string>
	<key>linirea_mega_knight_attack</key>
	<string>0</string>
	<key>linirea_mega_knight_knockback_charge</key>
	<string>0</string>
	<key>linirea_mega_knight_knockback_hit</key>
	<string>0</string>
	<key>level16_demon_basicattack</key>
	<string>0</string>
	<key>level16_demon_death</key>
	<string>0</string>
	<key>level16_demon_power</key>
	<string>0</string>
	<key>level16_veznan_spell_impact</key>
	<string>0</string>
	<key>level16_veznan_spell_ready</key>
	<string>0</string>
	<key>level16_veznan_spell_shot</key>
	<string>0</string>
	<key>level16_walldestruction</key>
	<string>0</string>
	<key>terrain3_battle1</key>
	<string>0</string>
	<key>terrain3_boss</key>
	<string>0</string>
	<key>level16_bossfight_veznan_handsfire_loopstart</key>
	<string>0</string>
	<key>level16_bossfight_veznan_handsfireloop</key>
	<string>0</string>
	<key>level16_bossfight_demon_spellandsummon</key>
	<string>0</string>
	<key>level16_bossfight_paragongrow</key>
	<string>0</string>
	<key>level16_veznan_teleport_out</key>
	<string>0</string>
	<key>level16_veznan_teleport_in</key>
	<string>0</string>
	<key>level16_demonboss_teleport</key>
	<string>0</string>
	<key>level16_demonboss_lockbreak</key>
	<string>0</string>
	<key>level16_demonboss_hitdoor</key>
	<string>0</string>
	<key>level16_castledoor_slam</key>
	<string>0</string>
</dict>
</plist>
