<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level3_trolley_loop</key>
	<string>0</string>
	<key>level3_trolley_loopend</key>
	<string>0</string>
	<key>level3_trolley_crash</key>
	<string>0</string>
	<key>level3_distantgears</key>
	<string>0</string>
	<key>level3_minerywork_var1</key>
	<string>0</string>
	<key>level3_minerywork_var2</key>
	<string>0</string>
	<key>level3_beavers_touchandfall</key>
	<string>0</string>
	<key>level3_donkeykong</key>
	<string>0</string>
	<key>terrain1_battle1</key>
	<string>0</string>
</dict>
</plist>
