<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>darkarmy_archer_tower_shooter_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>23</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>24</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_teleportOut</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_teleportIn</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>86</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_teleportInAttack</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>87</integer>
			<key>toIndex</key>
			<integer>115</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_teleportOutAttack</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>116</integer>
			<key>toIndex</key>
			<integer>130</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_shootSpecialDown</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>131</integer>
			<key>toIndex</key>
			<integer>151</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl4_shootSpecialUp</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>152</integer>
			<key>toIndex</key>
			<integer>172</integer>
		</dict>
	</dict>
</dict>
</plist>
