<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>darkarmy_archer_tower_shooter_lvl3_idle</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl3</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl3_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl3</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl3_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl3</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>23</integer>
		</dict>
		<key>darkarmy_archer_tower_shooter_lvl3_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_archer_tower_shooter_lvl3</string>
			<key>fromIndex</key>
			<integer>24</integer>
			<key>toIndex</key>
			<integer>43</integer>
		</dict>
	</dict>
</dict>
</plist>
