<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asst_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{1930,486},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_contorno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{2262,470},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_contorno_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{2146,254},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{1707,486},{23,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{1674,486},{23,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{1639,486},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{1603,487},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{1528,487},{22,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{2191,470},{21,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{2301,103},{21,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{1895,486},{21,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{1776,486},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{15,27}</string>
                <key>textureRect</key>
                <string>{{2163,254},{15,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{2216,458},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{2191,436},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{1845,486},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{2216,479},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{2105,173},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{2216,436},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{2301,128},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{2218,254},{14,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{2194,254},{15,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{1877,486},{14,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{1738,486},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{1757,486},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{2035,173},{26,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{2301,71},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{2071,173},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1811,486},{22,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{2301,43},{24,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{1566,487},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{2240,479},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1261,347},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1165,347},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1197,347},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1229,347},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{1927,455},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_glow_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{2301,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{77,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,127}</string>
                <key>textureRect</key>
                <string>{{2127,173},{77,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{99,163}</string>
                <key>spriteSourceSize</key>
                <string>{141,197}</string>
                <key>textureRect</key>
                <string>{{2198,1},{99,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{147,205}</string>
                <key>spriteSourceSize</key>
                <string>{197,249}</string>
                <key>textureRect</key>
                <string>{{1776,277},{147,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{158,205}</string>
                <key>spriteSourceSize</key>
                <string>{216,251}</string>
                <key>textureRect</key>
                <string>{{1614,277},{158,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{213,261}</string>
                <key>textureRect</key>
                <string>{{1365,277},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{137,212}</string>
                <key>spriteSourceSize</key>
                <string>{183,246}</string>
                <key>textureRect</key>
                <string>{{818,371},{137,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{127,203}</string>
                <key>spriteSourceSize</key>
                <string>{169,237}</string>
                <key>textureRect</key>
                <string>{{1793,1},{127,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{107,198}</string>
                <key>spriteSourceSize</key>
                <string>{155,222}</string>
                <key>textureRect</key>
                <string>{{1924,1},{107,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{75,176}</string>
                <key>spriteSourceSize</key>
                <string>{125,206}</string>
                <key>textureRect</key>
                <string>{{1927,275},{75,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,159}</string>
                <key>spriteSourceSize</key>
                <string>{126,203}</string>
                <key>textureRect</key>
                <string>{{2179,273},{72,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{66,145}</string>
                <key>spriteSourceSize</key>
                <string>{112,175}</string>
                <key>textureRect</key>
                <string>{{1165,277},{66,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{67,141}</string>
                <key>spriteSourceSize</key>
                <string>{125,207}</string>
                <key>textureRect</key>
                <string>{{1982,203},{67,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_grietas_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{156,148}</string>
                <key>textureRect</key>
                <string>{{2344,1},{156,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{156,148}</string>
                <key>textureRect</key>
                <string>{{2344,161},{156,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_ironhide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,272}</string>
                <key>spriteSourceSize</key>
                <string>{624,272}</string>
                <key>textureRect</key>
                <string>{{1165,1},{624,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_ironhide_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{280,133}</string>
                <key>spriteSourceSize</key>
                <string>{360,203}</string>
                <key>textureRect</key>
                <string>{{1034,371},{280,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_light_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{183,171}</string>
                <key>textureRect</key>
                <string>{{2006,274},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,343}</string>
                <key>spriteSourceSize</key>
                <string>{366,343}</string>
                <key>textureRect</key>
                <string>{{818,1},{366,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_logo_lava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{168,159}</string>
                <key>spriteSourceSize</key>
                <string>{236,225}</string>
                <key>textureRect</key>
                <string>{{2035,1},{168,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_shadow_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{145,143}</string>
                <key>spriteSourceSize</key>
                <string>{229,223}</string>
                <key>textureRect</key>
                <string>{{2255,321},{145,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{2127,254},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>privacy_age_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,18}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{1291,347},{23,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_age_confirm_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,63}</string>
                <key>spriteSourceSize</key>
                <string>{185,63}</string>
                <key>textureRect</key>
                <string>{{1793,208},{185,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_age_month_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{2088,447},{99,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_age_year_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,53}</string>
                <key>spriteSourceSize</key>
                <string>{127,53}</string>
                <key>textureRect</key>
                <string>{{1957,455},{127,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{813,500}</string>
                <key>spriteSourceSize</key>
                <string>{843,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{813,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_division_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,4}</string>
                <key>spriteSourceSize</key>
                <string>{633,4}</string>
                <key>textureRect</key>
                <string>{{1,505},{633,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_policies_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{2240,168},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_privacy&amp;terms_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,43}</string>
                <key>spriteSourceSize</key>
                <string>{232,43}</string>
                <key>textureRect</key>
                <string>{{1318,277},{232,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>privacy_warning_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{206,82}</string>
                <key>spriteSourceSize</key>
                <string>{206,84}</string>
                <key>textureRect</key>
                <string>{{1528,277},{206,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_main_screen.png</string>
            <key>size</key>
            <string>{2493,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1989cdd1a345ac3b4fe580fa88c80cd2:219cd4b65a7cd964c8d4e9cad3276b47:e404567db6b9f33b3a12484fb57696b3$</string>
            <key>textureFileName</key>
            <string>kr4_main_screen.png</string>
        </dict>
    </dict>
</plist>
