<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>frozen_heart_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>frozen_heart_idle</key>
		<dict>
			<key>prefix</key>
			<string>frozen_heart</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>frozen_heart_walk</key>
		<dict>
			<key>prefix</key>
			<string>frozen_heart</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>35</integer>
		</dict>
		<key>frozen_heart_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>frozen_heart</string>
			<key>fromIndex</key>
			<integer>36</integer>
			<key>toIndex</key>
			<integer>69</integer>
		</dict>
		<key>frozen_heart_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>frozen_heart</string>
			<key>fromIndex</key>
			<integer>70</integer>
			<key>toIndex</key>
			<integer>103</integer>
		</dict>
		<key>frozen_heart_attack</key>
		<dict>
			<key>prefix</key>
			<string>frozen_heart</string>
			<key>fromIndex</key>
			<integer>104</integer>
			<key>toIndex</key>
			<integer>135</integer>
		</dict>
		<key>frozen_heart_death</key>
		<dict>
			<key>prefix</key>
			<string>frozen_heart</string>
			<key>fromIndex</key>
			<integer>136</integer>
			<key>toIndex</key>
			<integer>211</integer>
		</dict>
		<key>frozen_heart_spawn</key>
		<dict>
			<key>prefix</key>
			<string>frozen_heart</string>
			<key>fromIndex</key>
			<integer>212</integer>
			<key>toIndex</key>
			<integer>223</integer>
		</dict>
	</dict>
</dict>
</plist>
