<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>frozen_soul_idle</key>
		<dict>
			<key>prefix</key>
			<string>frozen_soul</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>frozen_soul_walk</key>
		<dict>
			<key>prefix</key>
			<string>frozen_soul</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>frozen_soul_death</key>
		<dict>
			<key>prefix</key>
			<string>frozen_soul</string>
			<key>fromIndex</key>
			<integer>16</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>frozen_soul_respawn</key>
		<dict>
			<key>prefix</key>
			<string>frozen_soul</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>129</integer>
		</dict>
	</dict>
</dict>
</plist>
