<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>snow_golem_bomb_explotion_animations.plist</key>
		<string></string>
		<key>stage_22_tap.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>snow_golem_idleGolem</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>snow_golem_walk</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>snow_golem_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>81</integer>
		</dict>
		<key>snow_golem_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>82</integer>
			<key>toIndex</key>
			<integer>121</integer>
		</dict>
		<key>snow_golem_attack</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>122</integer>
			<key>toIndex</key>
			<integer>164</integer>
		</dict>
		<key>snow_golem_death</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>165</integer>
			<key>toIndex</key>
			<integer>218</integer>
		</dict>
		<key>snow_golem_idle</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>219</integer>
			<key>toIndex</key>
			<integer>219</integer>
		</dict>
		<key>snow_golem_spawn</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>220</integer>
			<key>toIndex</key>
			<integer>264</integer>
		</dict>
		<key>snow_golem_preSpawn</key>
		<dict>
			<key>prefix</key>
			<string>snow_golem</string>
			<key>fromIndex</key>
			<integer>265</integer>
			<key>toIndex</key>
			<integer>300</integer>
		</dict>
	</dict>
</dict>
</plist>
