<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>winter_lord_modifier_animations.plist</key>
		<string></string>
		<key>winter_lord_hit_animations.plist</key>
		<string></string>
		<key>winter_lord_fisical_shield_animations.plist</key>
		<string></string>
		<key>winter_lord_magic_shield_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>winter_lord_idle</key>
		<dict>
			<key>prefix</key>
			<string>winter_lord</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>winter_lord_walk</key>
		<dict>
			<key>prefix</key>
			<string>winter_lord</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>winter_lord_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>winter_lord</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>97</integer>
		</dict>
		<key>winter_lord_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>winter_lord</string>
			<key>fromIndex</key>
			<integer>98</integer>
			<key>toIndex</key>
			<integer>145</integer>
		</dict>
		<key>winter_lord_attack</key>
		<dict>
			<key>prefix</key>
			<string>winter_lord</string>
			<key>fromIndex</key>
			<integer>146</integer>
			<key>toIndex</key>
			<integer>175</integer>
		</dict>
		<key>winter_lord_death</key>
		<dict>
			<key>prefix</key>
			<string>winter_lord</string>
			<key>fromIndex</key>
			<integer>176</integer>
			<key>toIndex</key>
			<integer>225</integer>
		</dict>
	</dict>
</dict>
</plist>
