<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>winter_lord_fisical_shield_in</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_lord_fisical_shield_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>winter_lord_fisical_shield_loop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_lord_fisical_shield_layer</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>89</integer>
		</dict>
		<key>winter_lord_fisical_shield_out</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_lord_fisical_shield_layer</string>
			<key>fromIndex</key>
			<integer>90</integer>
			<key>toIndex</key>
			<integer>103</integer>
		</dict>
	</dict>
</dict>
</plist>
