<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>winter_queen_freeze_animations.plist</key>
		<string></string>
		<key>winter_queen_icecube_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>winter_queen_walk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>winter_queen_attack</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>winter_queen_freeze</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>91</integer>
		</dict>
		<key>winter_queen_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>92</integer>
			<key>toIndex</key>
			<integer>173</integer>
		</dict>
		<key>winter_queen_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>174</integer>
			<key>toIndex</key>
			<integer>174</integer>
		</dict>
		<key>winter_queen_tauntIn</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>175</integer>
			<key>toIndex</key>
			<integer>178</integer>
		</dict>
		<key>winter_queen_taunt</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>179</integer>
			<key>toIndex</key>
			<integer>188</integer>
		</dict>
		<key>winter_queen_tauntOut</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>189</integer>
			<key>toIndex</key>
			<integer>190</integer>
		</dict>
		<key>winter_queen_idleBreak</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>6</integer>
			<key>prefix</key>
			<string>winter_queen_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
