<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>elves_soldier_harasser_arrow_multishoot_decal_animations.plist</key>
		<string></string>
		<key>elves_soldier_espectral_harasser_animations.plist</key>
		<string></string>
		<key>elves_soldier_harasser_run_effect_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>elves_soldier_harasser_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_walk</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_attack</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>35</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_attack2</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>36</integer>
			<key>toIndex</key>
			<integer>69</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_shoot</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>70</integer>
			<key>toIndex</key>
			<integer>93</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_inshoot</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>94</integer>
			<key>toIndex</key>
			<integer>101</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_multishoot</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>102</integer>
			<key>toIndex</key>
			<integer>106</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_outshoot</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>107</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_backstabHit</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>135</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_backstab</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>136</integer>
			<key>toIndex</key>
			<integer>155</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_death</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>156</integer>
			<key>toIndex</key>
			<integer>171</integer>
		</dict>
		<key>elves_soldier_harasser_lvl4_transform</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl4</string>
			<key>fromIndex</key>
			<integer>172</integer>
			<key>toIndex</key>
			<integer>245</integer>
		</dict>
	</dict>
</dict>
</plist>
