<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>elves_soldier_harasser_arrow_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>elves_soldier_harasser_lvl1_idle</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl1</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>elves_soldier_harasser_lvl1_walk</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl1</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>7</integer>
		</dict>
		<key>elves_soldier_harasser_lvl1_attack</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl1</string>
			<key>fromIndex</key>
			<integer>8</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>elves_soldier_harasser_lvl1_attack2</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl1</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>57</integer>
		</dict>
		<key>elves_soldier_harasser_lvl1_shoot</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl1</string>
			<key>fromIndex</key>
			<integer>58</integer>
			<key>toIndex</key>
			<integer>81</integer>
		</dict>
		<key>elves_soldier_harasser_lvl1_dodge</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl1</string>
			<key>fromIndex</key>
			<integer>82</integer>
			<key>toIndex</key>
			<integer>99</integer>
		</dict>
		<key>elves_soldier_harasser_lvl1_death</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl1</string>
			<key>fromIndex</key>
			<integer>100</integer>
			<key>toIndex</key>
			<integer>115</integer>
		</dict>
	</dict>
</dict>
</plist>
