<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>elves_soldier_espectral_harasser_idle</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_espectral_harasser</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>elves_soldier_espectral_harasser_walk</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_espectral_harasser</string>
			<key>fromIndex</key>
			<integer>11</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>elves_soldier_espectral_harasser_attack</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_espectral_harasser</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>51</integer>
		</dict>
		<key>elves_soldier_espectral_harasser_death</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_espectral_harasser</string>
			<key>fromIndex</key>
			<integer>52</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>elves_soldier_espectral_harasser_spawn</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_espectral_harasser</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>158</integer>
		</dict>
	</dict>
</dict>
</plist>
