<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>elves_soldier_harasser_lvl2_idle</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl2</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>elves_soldier_harasser_lvl2_walk</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl2</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>7</integer>
		</dict>
		<key>elves_soldier_harasser_lvl2_attack</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl2</string>
			<key>fromIndex</key>
			<integer>8</integer>
			<key>toIndex</key>
			<integer>31</integer>
		</dict>
		<key>elves_soldier_harasser_lvl2_attack2</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl2</string>
			<key>fromIndex</key>
			<integer>32</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>elves_soldier_harasser_lvl2_shoot</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl2</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>77</integer>
		</dict>
		<key>elves_soldier_harasser_lvl2_dodge</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl2</string>
			<key>fromIndex</key>
			<integer>78</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>elves_soldier_harasser_lvl2_death</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl2</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>111</integer>
		</dict>
	</dict>
</dict>
</plist>
