<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>elves_soldier_harasser_lvl3_idle</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl3</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>elves_soldier_harasser_lvl3_walk</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl3</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>7</integer>
		</dict>
		<key>elves_soldier_harasser_lvl3_attack</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl3</string>
			<key>fromIndex</key>
			<integer>8</integer>
			<key>toIndex</key>
			<integer>29</integer>
		</dict>
		<key>elves_soldier_harasser_lvl3_attack2</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl3</string>
			<key>fromIndex</key>
			<integer>30</integer>
			<key>toIndex</key>
			<integer>53</integer>
		</dict>
		<key>elves_soldier_harasser_lvl3_shoot</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl3</string>
			<key>fromIndex</key>
			<integer>54</integer>
			<key>toIndex</key>
			<integer>77</integer>
		</dict>
		<key>elves_soldier_harasser_lvl3_dodge</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl3</string>
			<key>fromIndex</key>
			<integer>78</integer>
			<key>toIndex</key>
			<integer>92</integer>
		</dict>
		<key>elves_soldier_harasser_lvl3_death</key>
		<dict>
			<key>prefix</key>
			<string>elves_soldier_harasser_lvl3</string>
			<key>fromIndex</key>
			<integer>93</integer>
			<key>toIndex</key>
			<integer>109</integer>
		</dict>
	</dict>
</dict>
</plist>
