<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asst_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{988,1134},{38,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_contorno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{768,1362},{34,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_contorno_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{504,2014},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{1998,262},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{1998,196},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{1998,126},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{43,63}</string>
                <key>textureRect</key>
                <string>{{1998,594},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{43,67}</string>
                <key>textureRect</key>
                <string>{{1998,444},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{504,1010},{42,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{502,1060},{42,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{988,882},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{1998,666},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{538,2014},{30,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{934,1964},{34,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{506,960},{42,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,55}</string>
                <key>textureRect</key>
                <string>{{518,896},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{988,1076},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{35,51}</string>
                <key>textureRect</key>
                <string>{{890,1964},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{724,1362},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{37,60}</string>
                <key>textureRect</key>
                <string>{{434,1090},{38,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{700,2014},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{600,2014},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{648,2014},{28,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{1998,368},{30,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{1998,406},{30,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2.5}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{434,972},{52,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2.5}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{434,910},{54,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1.5}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{434,1032},{50,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-0.5}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{518,828},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1.5}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1998,52},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1.5}</string>
                <key>spriteSize</key>
                <string>{44,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{1998,520},{44,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3.5}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1998,324},{36,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4.5}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1998,2},{42,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-0.5}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{988,1016},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{502,1110},{40,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4.5}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{988,952},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1.5}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{132,129}</string>
                <key>textureRect</key>
                <string>{{832,1964},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_glow_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{159,155}</string>
                <key>textureRect</key>
                <string>{{434,828},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{154,222}</string>
                <key>spriteSourceSize</key>
                <string>{190,254}</string>
                <key>textureRect</key>
                <string>{{562,1206},{154,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,0}</string>
                <key>spriteSize</key>
                <string>{198,330}</string>
                <key>spriteSourceSize</key>
                <string>{281,394}</string>
                <key>textureRect</key>
                <string>{{1038,554},{198,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{294,410}</string>
                <key>spriteSourceSize</key>
                <string>{394,498}</string>
                <key>textureRect</key>
                <string>{{2,1112},{294,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{316,410}</string>
                <key>spriteSourceSize</key>
                <string>{432,502}</string>
                <key>textureRect</key>
                <string>{{570,882},{316,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,2}</string>
                <key>spriteSize</key>
                <string>{320,458}</string>
                <key>spriteSourceSize</key>
                <string>{425,522}</string>
                <key>textureRect</key>
                <string>{{572,554},{320,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,3.5}</string>
                <key>spriteSize</key>
                <string>{276,424}</string>
                <key>spriteSourceSize</key>
                <string>{365,491}</string>
                <key>textureRect</key>
                <string>{{2,828},{276,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{254,406}</string>
                <key>spriteSourceSize</key>
                <string>{338,474}</string>
                <key>textureRect</key>
                <string>{{2,1414},{254,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{214,400}</string>
                <key>spriteSourceSize</key>
                <string>{310,444}</string>
                <key>textureRect</key>
                <string>{{416,1448},{214,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3.5,1}</string>
                <key>spriteSize</key>
                <string>{148,350}</string>
                <key>spriteSourceSize</key>
                <string>{249,412}</string>
                <key>textureRect</key>
                <string>{{2,1676},{148,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5.5}</string>
                <key>spriteSize</key>
                <string>{148,318}</string>
                <key>spriteSourceSize</key>
                <string>{252,405}</string>
                <key>textureRect</key>
                <string>{{724,1206},{148,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3.5}</string>
                <key>spriteSize</key>
                <string>{132,290}</string>
                <key>spriteSourceSize</key>
                <string>{224,349}</string>
                <key>textureRect</key>
                <string>{{1244,736},{132,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{134,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,414}</string>
                <key>textureRect</key>
                <string>{{420,1158},{134,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_grietas_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{312,296}</string>
                <key>spriteSourceSize</key>
                <string>{312,295}</string>
                <key>textureRect</key>
                <string>{{824,1362},{312,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,296}</string>
                <key>spriteSourceSize</key>
                <string>{312,296}</string>
                <key>textureRect</key>
                <string>{{1038,892},{312,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_ironhide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{1248,544}</string>
                <key>spriteSourceSize</key>
                <string>{1247,543}</string>
                <key>textureRect</key>
                <string>{{2,2},{1248,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_ironhide_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3.5,2}</string>
                <key>spriteSize</key>
                <string>{562,266}</string>
                <key>spriteSourceSize</key>
                <string>{719,406}</string>
                <key>textureRect</key>
                <string>{{2,554},{562,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_light_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{338,340}</string>
                <key>spriteSourceSize</key>
                <string>{366,341}</string>
                <key>textureRect</key>
                <string>{{158,1676},{338,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{732,686}</string>
                <key>spriteSourceSize</key>
                <string>{731,686}</string>
                <key>textureRect</key>
                <string>{{1258,2},{732,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_logo_lava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,2.5}</string>
                <key>spriteSize</key>
                <string>{336,320}</string>
                <key>spriteSourceSize</key>
                <string>{471,449}</string>
                <key>textureRect</key>
                <string>{{504,1670},{336,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_shadow_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-6}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{458,446}</string>
                <key>textureRect</key>
                <string>{{832,1666},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,1}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{744,2014},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ih_splash.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf76f5ca710606133c581061e674bcc:bd026ada0b580e2e9492804ea192fc3b:9f0cda563a6a02a66da31282121c86ba$</string>
            <key>textureFileName</key>
            <string>ih_splash.png</string>
        </dict>
    </dict>
</plist>
