<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,768}</string>
                <key>spriteSourceSize</key>
                <string>{2048,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{2048,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_door_detail1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{238,340}</string>
                <key>spriteSourceSize</key>
                <string>{240,360}</string>
                <key>textureRect</key>
                <string>{{2613,669},{238,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_door_detail2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{384,664}</string>
                <key>spriteSourceSize</key>
                <string>{388,664}</string>
                <key>textureRect</key>
                <string>{{2613,1},{384,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_door_skull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{914,556}</string>
                <key>spriteSourceSize</key>
                <string>{944,560}</string>
                <key>textureRect</key>
                <string>{{2053,1},{914,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_door_skull_eyes_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{378,106}</string>
                <key>spriteSourceSize</key>
                <string>{944,560}</string>
                <key>textureRect</key>
                <string>{{1,773},{378,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_door_skull_eyes_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{376,106}</string>
                <key>spriteSourceSize</key>
                <string>{944,560}</string>
                <key>textureRect</key>
                <string>{{383,773},{376,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_door_tip_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,180}</string>
                <key>spriteSourceSize</key>
                <string>{104,180}</string>
                <key>textureRect</key>
                <string>{{763,773},{104,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_loading.png</string>
            <key>size</key>
            <string>{2998,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21735e9826cc5974b3735214f3c03697:57e4d58a76f6e407d8ced762d9d55b72:a19043f958ef3952be6574a75551ab53$</string>
            <key>textureFileName</key>
            <string>kr4_loading.png</string>
        </dict>
    </dict>
</plist>
