<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>reinforcement_hellion_trident_proyectile_floor_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>reinforcement_hellion_trident_idle</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_hellion_trident</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>reinforcement_hellion_trident_walk</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_hellion_trident</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>15</integer>
		</dict>
		<key>reinforcement_hellion_trident_attack</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_hellion_trident</string>
			<key>fromIndex</key>
			<integer>16</integer>
			<key>toIndex</key>
			<integer>35</integer>
		</dict>
		<key>reinforcement_hellion_trident_ranged</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_hellion_trident</string>
			<key>fromIndex</key>
			<integer>36</integer>
			<key>toIndex</key>
			<integer>57</integer>
		</dict>
		<key>reinforcement_hellion_trident_death</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_hellion_trident</string>
			<key>fromIndex</key>
			<integer>58</integer>
			<key>toIndex</key>
			<integer>87</integer>
		</dict>
	</dict>
</dict>
</plist>
