<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>disciple_demon_bolt_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>reinforcement_veznan_disciple_demon_spawn</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_demon</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>31</integer>
		</dict>
		<key>reinforcement_veznan_disciple_demon_idle</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_demon</string>
			<key>fromIndex</key>
			<integer>32</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>reinforcement_veznan_disciple_demon_walk</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_demon</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>reinforcement_veznan_disciple_demon_melee</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_demon</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>74</integer>
		</dict>
		<key>reinforcement_veznan_disciple_demon_range</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_demon</string>
			<key>fromIndex</key>
			<integer>75</integer>
			<key>toIndex</key>
			<integer>108</integer>
		</dict>
		<key>reinforcement_veznan_disciple_demon_death</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_demon</string>
			<key>fromIndex</key>
			<integer>109</integer>
			<key>toIndex</key>
			<integer>141</integer>
		</dict>
	</dict>
</dict>
</plist>
