<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>disciple_bolt_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>reinforcement_veznan_disciple_level1_idle</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level1</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level1_walk</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level1</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level1_attack</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level1</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level1_shoot</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level1</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>75</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level1_death</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level1</string>
			<key>fromIndex</key>
			<integer>76</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level1_respawn</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level1</string>
			<key>fromIndex</key>
			<integer>134</integer>
			<key>toIndex</key>
			<integer>148</integer>
		</dict>
	</dict>
</dict>
</plist>
