<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>reinforcement_pit_lord_proyectile_animations.plist</key>
		<string></string>
		<key>reinforcement_pit_lord_explosion_animations.plist</key>
		<string></string>
		<key>reinforcement_pit_lord_explosion_floor_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>reinforcement_pit_lord_idle</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>reinforcement_pit_lord_summon</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>reinforcement_pit_lord_walk</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>56</integer>
		</dict>
		<key>reinforcement_pit_lord_inMelee</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>57</integer>
			<key>toIndex</key>
			<integer>79</integer>
		</dict>
		<key>reinforcement_pit_lord_idleBlock</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>80</integer>
			<key>toIndex</key>
			<integer>87</integer>
		</dict>
		<key>reinforcement_pit_lord_melee</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>88</integer>
			<key>toIndex</key>
			<integer>107</integer>
		</dict>
		<key>reinforcement_pit_lord_outMelee</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>108</integer>
			<key>toIndex</key>
			<integer>115</integer>
		</dict>
		<key>reinforcement_pit_lord_ranged</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>116</integer>
			<key>toIndex</key>
			<integer>150</integer>
		</dict>
		<key>reinforcement_pit_lord_death</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_pit_lord</string>
			<key>fromIndex</key>
			<integer>151</integer>
			<key>toIndex</key>
			<integer>187</integer>
		</dict>
	</dict>
</dict>
</plist>
