<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>disciple_bolt_animations.plist</key>
		<string></string>
		<key>disciple_shield_modifier_animations.plist</key>
		<string></string>
		<key>disciple_soul_absorb_proy_animations.plist</key>
		<string></string>
		<key>disciple_soul_absorb_fx_animations.plist</key>
		<string></string>
		<key>disciple_soul_absorb_heal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>reinforcement_veznan_disciple_level2_idle</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level2</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level2_walk</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level2</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level2_attack</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level2</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level2_shoot</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level2</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>68</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level2_death</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level2</string>
			<key>fromIndex</key>
			<integer>69</integer>
			<key>toIndex</key>
			<integer>130</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level2_respawn</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level2</string>
			<key>fromIndex</key>
			<integer>131</integer>
			<key>toIndex</key>
			<integer>163</integer>
		</dict>
	</dict>
</dict>
</plist>
