<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>disciple_bolt_animations.plist</key>
		<string></string>
		<key>disciple_shield_modifier_animations.plist</key>
		<string></string>
		<key>disciple_nova_ray_animations.plist</key>
		<string></string>
		<key>disciple_shackles_animations.plist</key>
		<string></string>
		<key>disciple_soul_absorb_proy_animations.plist</key>
		<string></string>
		<key>disciple_soul_absorb_fx_animations.plist</key>
		<string></string>
		<key>disciple_soul_absorb_heal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>reinforcement_veznan_disciple_level3_idle</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_walk</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_attack</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_shoot</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_shackles</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_death</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>154</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_respawn</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>155</integer>
			<key>toIndex</key>
			<integer>186</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_nova</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>187</integer>
			<key>toIndex</key>
			<integer>227</integer>
		</dict>
		<key>reinforcement_veznan_disciple_level3_demonDeath</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_veznan_disciple_level3</string>
			<key>fromIndex</key>
			<integer>228</integer>
			<key>toIndex</key>
			<integer>228</integer>
		</dict>
	</dict>
</dict>
</plist>
