<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_bomb_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{84,327},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{84,327},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{106,327},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{106,327},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{46,37}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{67,253},{46,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{60,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,307},{60,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,258},{62,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,52},{64,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,207},{62,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,101},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1,154},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{67,187},{62,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bomb_explotion_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{69,1},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{69,52},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{69,52},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{67,101},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{56,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{67,101},{56,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{56,33}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{67,150},{56,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{56,33}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{67,150},{56,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{84,294},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{84,294},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31.5,23}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{120,187},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bomb_explotion_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{65,307},{44,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_item_bomb.png</string>
            <key>size</key>
            <string>{126,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a548f505b4d02f063a01012f1a6d2bcd:9f29ebacb04afdbe1ac928cf55e98276:74a234f1ed3e3f5765f2b0dd1e83411c$</string>
            <key>textureFileName</key>
            <string>kr4_item_bomb.png</string>
        </dict>
    </dict>
</plist>
