<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thief_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,129},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,73},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{47,73},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{49,1},{32,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,37},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{93,85},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{47,37},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{93,39},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{63,167},{24,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{63,167},{24,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{75,167},{24,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{75,167},{24,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{87,167},{24,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{87,167},{24,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{93,155},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{93,155},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{99,167},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{99,167},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{99,179},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{99,179},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{24,10}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{65,153},{24,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{24,10}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{65,153},{24,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{65,135},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{65,135},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{73,105},{26,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{73,105},{26,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,105},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,105},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{93,129},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{93,129},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{97,1},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{97,1},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{29,167},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{29,167},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{29,133},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{29,133},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,165},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{1,165},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thief_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{37,105},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{37,105},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{37,105},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{37,105},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{37,105},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{37,105},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{37,105},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_item_thief.png</string>
            <key>size</key>
            <string>{128,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f06da5a02e0ea48bfcd993bdc3354fb:aad77832fe29f5e4e77e55e8464263c4:e36419279480ada8971f606fd4daad64$</string>
            <key>textureFileName</key>
            <string>kr4_item_thief.png</string>
        </dict>
    </dict>
</plist>
