<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_asra_special_poison_explosion_animations.plist</key>
		<string></string>
		<key>hero_asra_shield_animations.plist</key>
		<string></string>
		<key>hero_asra_multishot_arrow_hit_animations.plist</key>
		<string></string>
		<key>hero_asra_poison_modifier_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_asra_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>hero_asra_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>hero_asra_shoot</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>59</integer>
		</dict>
		<key>hero_asra_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>60</integer>
			<key>toIndex</key>
			<integer>86</integer>
		</dict>
		<key>hero_asra_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>87</integer>
			<key>toIndex</key>
			<integer>112</integer>
		</dict>
		<key>hero_asra_multishotIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>113</integer>
			<key>toIndex</key>
			<integer>122</integer>
		</dict>
		<key>hero_asra_multishotLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>123</integer>
			<key>toIndex</key>
			<integer>130</integer>
		</dict>
		<key>hero_asra_multishotOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>131</integer>
			<key>toIndex</key>
			<integer>138</integer>
		</dict>
		<key>hero_asra_multishotDownIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>139</integer>
			<key>toIndex</key>
			<integer>148</integer>
		</dict>
		<key>hero_asra_multishotDownLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>149</integer>
			<key>toIndex</key>
			<integer>156</integer>
		</dict>
		<key>hero_asra_multishotDownOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>157</integer>
			<key>toIndex</key>
			<integer>164</integer>
		</dict>
		<key>hero_asra_multishotUpIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>165</integer>
			<key>toIndex</key>
			<integer>174</integer>
		</dict>
		<key>hero_asra_multishotUpLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>175</integer>
			<key>toIndex</key>
			<integer>182</integer>
		</dict>
		<key>hero_asra_multishotUpOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>183</integer>
			<key>toIndex</key>
			<integer>190</integer>
		</dict>
		<key>hero_asra_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>191</integer>
			<key>toIndex</key>
			<integer>222</integer>
		</dict>
		<key>hero_asra_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>223</integer>
			<key>toIndex</key>
			<integer>240</integer>
		</dict>
		<key>hero_asra_level2Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>241</integer>
			<key>toIndex</key>
			<integer>253</integer>
		</dict>
		<key>hero_asra_level3Walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>254</integer>
			<key>toIndex</key>
			<integer>265</integer>
		</dict>
		<key>hero_asra_teleportOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>266</integer>
			<key>toIndex</key>
			<integer>276</integer>
		</dict>
		<key>hero_asra_teleportIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>277</integer>
			<key>toIndex</key>
			<integer>294</integer>
		</dict>
		<key>hero_asra_meleeInit</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>295</integer>
			<key>toIndex</key>
			<integer>312</integer>
		</dict>
		<key>hero_asra_idleBlock</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>313</integer>
			<key>toIndex</key>
			<integer>326</integer>
		</dict>
		<key>hero_asra_melee</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>327</integer>
			<key>toIndex</key>
			<integer>344</integer>
		</dict>
		<key>hero_asra_meleePoison</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>345</integer>
			<key>toIndex</key>
			<integer>383</integer>
		</dict>
		<key>hero_asra_meleeEnd</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>384</integer>
			<key>toIndex</key>
			<integer>403</integer>
		</dict>
		<key>hero_asra_special</key>
		<dict>
			<key>prefix</key>
			<string>hero_asra</string>
			<key>fromIndex</key>
			<integer>404</integer>
			<key>toIndex</key>
			<integer>433</integer>
		</dict>
	</dict>
</dict>
</plist>
