<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_beresad_golemspawn_hit_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_beresad_golem_spawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad_golem</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>hero_beresad_golem_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad_golem</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>53</integer>
		</dict>
		<key>hero_beresad_golem_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad_golem</string>
			<key>fromIndex</key>
			<integer>54</integer>
			<key>toIndex</key>
			<integer>78</integer>
		</dict>
		<key>hero_beresad_golem_fighting1</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad_golem</string>
			<key>fromIndex</key>
			<integer>79</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>hero_beresad_golem_fighting2</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad_golem</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
		<key>hero_beresad_golem_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad_golem</string>
			<key>fromIndex</key>
			<integer>120</integer>
			<key>toIndex</key>
			<integer>134</integer>
		</dict>
	</dict>
</dict>
</plist>
