<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_beresad_attack_proyectile_animations.plist</key>
		<string></string>
		<key>hero_beresad_attack_explosion_animations.plist</key>
		<string></string>
		<key>hero_beresad_conflagration_particle_animations.plist</key>
		<string></string>
		<key>hero_beresad_conflagration_fire_animations.plist</key>
		<string></string>
		<key>hero_beresad_modifier_fear_animations.plist</key>
		<string></string>
		<key>hero_beresad_golemspawn_explosion_animations.plist</key>
		<string></string>
		<key>hero_beresad_golem_animations.plist</key>
		<string></string>
		<key>hero_beresad_golemspawn_particle_animations.plist</key>
		<string></string>
		<key>hero_beresad_remove_explosion_animations.plist</key>
		<string></string>
		<key>hero_beresad_remove_explosion_decal_animations.plist</key>
		<string></string>
		<key>hero_beresad_attack_explosion_air_animations.plist</key>
		<string></string>
		<key>hero_beresad_attack_proyectile_particle_animations.plist</key>
		<string></string>
		<key>hero_beresad_remove_ray_animations.plist</key>
		<string></string>
		<key>hero_beresad_conflagration_modifier_animations.plist</key>
		<string></string>
		<key>hero_beresad_ultimate_modifier_animations.plist</key>
		<string></string>
		<key>hero_beresad_ultimate_hit_animations.plist</key>
		<string></string>
		<key>hero_beresad_ultimate_particles_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_beresad_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>hero_beresad_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>hero_beresad_fear</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>hero_beresad_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>84</integer>
		</dict>
		<key>hero_beresad_remove</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>85</integer>
			<key>toIndex</key>
			<integer>114</integer>
		</dict>
		<key>hero_beresad_conflagration</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>115</integer>
			<key>toIndex</key>
			<integer>154</integer>
		</dict>
		<key>hero_beresad_earthshake</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>155</integer>
			<key>toIndex</key>
			<integer>179</integer>
		</dict>
		<key>hero_beresad_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>180</integer>
			<key>toIndex</key>
			<integer>234</integer>
		</dict>
		<key>hero_beresad_respawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>235</integer>
			<key>toIndex</key>
			<integer>280</integer>
		</dict>
		<key>hero_beresad_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_beresad</string>
			<key>fromIndex</key>
			<integer>281</integer>
			<key>toIndex</key>
			<integer>304</integer>
		</dict>
	</dict>
</dict>
</plist>
