<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dark_army_melting_furnance_build_taunt_1</key>
	<string>0</string>
	<key>dark_army_melting_furnance_build_taunt_2</key>
	<string>0</string>
	<key>dark_army_melting_furnance_build_taunt_3</key>
	<string>0</string>
	<key>dark_army_melting_furnance_build_taunt_4</key>
	<string>0</string>
	<key>dark_army_melting_furnance_abrasive_heat_upgrade</key>
	<string>0</string>
	<key>dark_army_melting_furnance_burning_heat_upgrade</key>
	<string>0</string>
	<key>dark_army_melting_furnance_red_hoat_coals_upgrade</key>
	<string>0</string>
	<key>dark_army_melting_furnance_attack_preload</key>
	<string>0</string>
	<key>dark_army_melting_furnance_attack</key>
	<string>0</string>
	<key>dark_army_melting_furnance_burning_heat</key>
	<string>0</string>
	<key>dark_army_melting_furnance_hoat_coals</key>
	<string>0</string>
	<key>dark_army_melting_furnance_carbonroll</key>
	<string>0</string>
</dict>
</plist>
