<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dark_army_blazing_mage_build_taunt_1</key>
	<string>0</string>
	<key>dark_army_blazing_mage_build_taunt_2</key>
	<string>0</string>
	<key>dark_army_blazing_mage_build_taunt_3</key>
	<string>0</string>
	<key>dark_army_blazing_mage_build_taunt_4</key>
	<string>0</string>
	<key>dark_army_blazing_mage_power_upgrade</key>
	<string>0</string>
	<key>dark_army_blazing_mage_explosive_upgrade</key>
	<string>0</string>
	<key>dark_army_blazing_mage_destructo_upgrade</key>
	<string>0</string>
	<key>dark_army_blazing_mage_attack_loop</key>
	<string>0</string>
	<key>dark_army_blazing_mage_attack_loopstart</key>
	<string>0</string>
	<key>dark_army_blazing_mage_attack_loopend</key>
	<string>0</string>
	<key>dark_army_blazing_mage_destructoray</key>
	<string>0</string>
	<key>dark_army_blazing_mage_unstablepower</key>
	<string>0</string>
</dict>
</plist>
