<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dark_army_barrack_build_taunt_1</key>
	<string>0</string>
	<key>dark_army_barrack_build_taunt_2</key>
	<string>0</string>
	<key>dark_army_barrack_build_taunt_3</key>
	<string>0</string>
	<key>dark_army_barrack_build_taunt_4</key>
	<string>0</string>
	<key>dark_army_barrack_brutal_strike_upgrade</key>
	<string>0</string>
	<key>dark_army_barrack_armor_of_thorns_upgrade</key>
	<string>0</string>
	<key>dark_army_barrack_impervious_upgrade</key>
	<string>0</string>
	<key>dark_army_barrack_brutal_strike</key>
	<string>0</string>
	<key>dark_army_barrack_impervious</key>
	<string>0</string>
</dict>
</plist>
