<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>warmonger_mage_attack</key>
	<string>0</string>
	<key>deep_devils_towertrap_throw</key>
	<string>0</string>
	<key>deep_devils_towertrap_catch</key>
	<string>0</string>
	<key>deep_devils_build_taunt_1</key>
	<string>0</string>
	<key>deep_devils_build_taunt_2</key>
	<string>0</string>
	<key>deep_devils_build_taunt_3</key>
	<string>0</string>
	<key>deep_devils_build_taunt_4</key>
	<string>0</string>
	<key>deep_devils_net_upgrade</key>
	<string>0</string>
	<key>deep_devils_storm_upgrade</key>
	<string>0</string>
	<key>deep_devils_amph_upgrade</key>
	<string>0</string>
</dict>
</plist>
