<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ember_lords_mage_build_taunt_1</key>
	<string>0</string>
	<key>ember_lords_mage_build_taunt_2</key>
	<string>0</string>
	<key>ember_lords_mage_build_taunt_3</key>
	<string>0</string>
	<key>ember_lords_mage_build_taunt_4</key>
	<string>0</string>
	<key>ember_lords_mage_affliction_upgrade</key>
	<string>0</string>
	<key>ember_lords_mage_infernal_teleport_upgrade</key>
	<string>0</string>
	<key>ember_lords_mage_overcharge_upgrade</key>
	<string>0</string>
	<key>ember_lords_mage_overcharge</key>
	<string>0</string>
	<key>ember_lords_mage_affliction</key>
	<string>0</string>
	<key>ember_lords_mage_attack</key>
	<string>0</string>
</dict>
</plist>
