<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallen_ones_spirit_mausoleum_build_taunt_1</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_build_taunt_2</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_build_taunt_3</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_build_taunt_4</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_communion_upgrade</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_possesion_upgrade</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_gargoyles_upgrade</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_attack_preload</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_attack</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_possession_cast</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_possession_hit</key>
	<string>0</string>
</dict>
</plist>
