<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallen_ones_grim_cemetery_taunt_1</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_taunt_2</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_taunt_3</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_taunt_4</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_cold_grip_upgrade</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_bloated_zombies_upgrade</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_better_zombies_upgrade</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_bloatedcorpses</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_coldgrip</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_summon_gravel</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_summon_moan2</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_summon_moan3</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_summon_moan4</key>
	<string>0</string>
</dict>
</plist>
