<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>warmonger_mage_build_taunt_1</key>
	<string>0</string>
	<key>warmonger_mage_build_taunt_2</key>
	<string>0</string>
	<key>warmonger_mage_build_taunt_3</key>
	<string>0</string>
	<key>warmonger_mage_build_taunt_4</key>
	<string>0</string>
	<key>warmonger_mage_electroshock_upgrade</key>
	<string>0</string>
	<key>warmonger_mage_meteorites_upgrade</key>
	<string>0</string>
	<key>warmonger_mage_healing_roots_upgrade</key>
	<string>0</string>
	<key>warmonger_mage_attack</key>
	<string>0</string>
	<key>warmonger_mage_healingroots</key>
	<string>0</string>
	<key>warmonger_mage_meteorshower_preimpact</key>
	<string>0</string>
	<key>warmonger_mage_meteorshower_impact</key>
	<string>0</string>
</dict>
</plist>
