<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wicked_sisters_build_taunt_1</key>
	<string>0</string>
	<key>wicked_sisters_build_taunt_2</key>
	<string>0</string>
	<key>wicked_sisters_build_taunt_3</key>
	<string>0</string>
	<key>wicked_sisters_build_taunt_4</key>
	<string>0</string>
	<key>wicked_sisters_froggification_upgrade</key>
	<string>0</string>
	<key>wicked_sisters_brumstick_upgrade</key>
	<string>0</string>
	<key>wicked_sisters_totem_upgrade</key>
	<string>0</string>
	<key>wicked_sisters_attack</key>
	<string>0</string>
	<key>wicked_sisters_froggification</key>
	<string>0</string>
</dict>
</plist>
