<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>worm_nest_level4_tremor_idle</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>43</integer>
		</dict>
		<key>worm_nest_level4_tremor_in</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>64</integer>
			<key>toIndex</key>
			<integer>79</integer>
		</dict>
		<key>worm_nest_level4_tremor_walk</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>worm_nest_level4_tremor_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>28</integer>
		</dict>
		<key>worm_nest_level4_tremor_walkdown</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>29</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>worm_nest_level4_tremor_attack</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>63</integer>
		</dict>
		<key>worm_nest_level4_tremor_death</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>80</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>worm_nest_level4_tremor_spawn</key>
		<dict>
			<key>prefix</key>
			<string>worm_nest_level4_tremor</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>109</integer>
		</dict>
	</dict>
</dict>
</plist>
