<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_jack_o_lantern_ghoul_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern_ghoul</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>hero_jack_o_lantern_ghoul_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern_ghoul</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>11</integer>
		</dict>
		<key>hero_jack_o_lantern_ghoul_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern_ghoul</string>
			<key>fromIndex</key>
			<integer>12</integer>
			<key>toIndex</key>
			<integer>30</integer>
		</dict>
		<key>hero_jack_o_lantern_ghoul_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern_ghoul</string>
			<key>fromIndex</key>
			<integer>31</integer>
			<key>toIndex</key>
			<integer>78</integer>
		</dict>
	</dict>
</dict>
</plist>
