<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_jack_o_lantern_explotion_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_spawner_seed_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_spawner_seed_decal_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_spawner_hit_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_ghoul_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_ultimate_horse_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_ultimate_fear_modifier_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_ultimate_particle_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_ultimate_smoke_animations.plist</key>
		<string></string>
		<key>hero_jack_o_lantern_teleportfx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_jack_o_lantern_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>12</integer>
		</dict>
		<key>hero_jack_o_lantern_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>13</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>hero_jack_o_lantern_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>43</integer>
		</dict>
		<key>hero_jack_o_lantern_hauntedBlade</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>44</integer>
			<key>toIndex</key>
			<integer>74</integer>
		</dict>
		<key>hero_jack_o_lantern_spawnGhouls</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>75</integer>
			<key>toIndex</key>
			<integer>104</integer>
		</dict>
		<key>hero_jack_o_lantern_explosiveHead</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>105</integer>
			<key>toIndex</key>
			<integer>140</integer>
		</dict>
		<key>hero_jack_o_lantern_teleportIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>141</integer>
			<key>toIndex</key>
			<integer>163</integer>
		</dict>
		<key>hero_jack_o_lantern_teleportOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>164</integer>
			<key>toIndex</key>
			<integer>177</integer>
		</dict>
		<key>hero_jack_o_lantern_lvlUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>178</integer>
			<key>toIndex</key>
			<integer>214</integer>
		</dict>
		<key>hero_jack_o_lantern_respawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>215</integer>
			<key>toIndex</key>
			<integer>249</integer>
		</dict>
		<key>hero_jack_o_lantern_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>250</integer>
			<key>toIndex</key>
			<integer>328</integer>
		</dict>
		<key>hero_jack_o_lantern_idleDeath</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>329</integer>
			<key>toIndex</key>
			<integer>359</integer>
		</dict>
		<key>hero_jack_o_lantern_idleBlock</key>
		<dict>
			<key>prefix</key>
			<string>hero_jack_o_lantern</string>
			<key>fromIndex</key>
			<integer>360</integer>
			<key>toIndex</key>
			<integer>360</integer>
		</dict>
	</dict>
</dict>
</plist>
