<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asst_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{1566,1399},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_contorno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{1775,1906},{33,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_contorno_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{329,1881},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{1091,1837},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{2126,1357},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{2422,1209},{45,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,63}</string>
                <key>spriteSourceSize</key>
                <string>{43,63}</string>
                <key>textureRect</key>
                <string>{{47,1881},{43,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,67}</string>
                <key>spriteSourceSize</key>
                <string>{43,67}</string>
                <key>textureRect</key>
                <string>{{2112,1223},{43,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{1045,1837},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{1,1881},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{2471,1209},{42,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{1627,955},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{2153,955},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{1252,1411},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{179,1881},{41,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,55}</string>
                <key>spriteSourceSize</key>
                <string>{43,55}</string>
                <key>textureRect</key>
                <string>{{1140,1837},{43,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{2224,1223},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,51}</string>
                <key>spriteSourceSize</key>
                <string>{35,51}</string>
                <key>textureRect</key>
                <string>{{1636,1906},{35,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{1577,1906},{35,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,60}</string>
                <key>spriteSourceSize</key>
                <string>{37,60}</string>
                <key>textureRect</key>
                <string>{{2112,955},{37,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{1691,1906},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{1694,1399},{30,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{1258,1837},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{1542,1760},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{926,1910},{29,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{2126,1294},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{2159,1223},{50,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1693,955},{44,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1199,1837},{40,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{114,1881},{42,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{42,63}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{999,1837},{42,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{2267,1223},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{289,1881},{36,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_fire_small_glow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1643,1399},{34,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{34,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1722,1906},{34,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_eye_fire_small_glow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1252,1466},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{132,129}</string>
                <key>textureRect</key>
                <string>{{239,1881},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_eye_glow_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{159,155}</string>
                <key>textureRect</key>
                <string>{{926,1837},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{148,214}</string>
                <key>spriteSourceSize</key>
                <string>{190,254}</string>
                <key>textureRect</key>
                <string>{{2362,416},{148,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{191,324}</string>
                <key>spriteSourceSize</key>
                <string>{281,394}</string>
                <key>textureRect</key>
                <string>{{2188,691},{191,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{290,404}</string>
                <key>spriteSourceSize</key>
                <string>{394,498}</string>
                <key>textureRect</key>
                <string>{{459,1562},{290,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{310,404}</string>
                <key>spriteSourceSize</key>
                <string>{432,502}</string>
                <key>textureRect</key>
                <string>{{1252,1003},{310,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{315,454}</string>
                <key>spriteSourceSize</key>
                <string>{425,522}</string>
                <key>textureRect</key>
                <string>{{1,1562},{315,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{271,419}</string>
                <key>spriteSourceSize</key>
                <string>{365,491}</string>
                <key>textureRect</key>
                <string>{{867,1562},{271,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{248,400}</string>
                <key>spriteSourceSize</key>
                <string>{338,474}</string>
                <key>textureRect</key>
                <string>{{1290,1411},{248,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{206,392}</string>
                <key>spriteSourceSize</key>
                <string>{310,444}</string>
                <key>textureRect</key>
                <string>{{1566,1003},{206,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_fire_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{143,346}</string>
                <key>spriteSourceSize</key>
                <string>{249,412}</string>
                <key>textureRect</key>
                <string>{{1776,1294},{143,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{142,313}</string>
                <key>spriteSourceSize</key>
                <string>{252,405}</string>
                <key>textureRect</key>
                <string>{{1577,1760},{142,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{126,283}</string>
                <key>spriteSourceSize</key>
                <string>{224,349}</string>
                <key>textureRect</key>
                <string>{{1290,1815},{126,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_fire_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{128,278}</string>
                <key>spriteSourceSize</key>
                <string>{250,414}</string>
                <key>textureRect</key>
                <string>{{1894,1757},{128,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_grietas_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,295}</string>
                <key>spriteSourceSize</key>
                <string>{312,295}</string>
                <key>textureRect</key>
                <string>{{1877,1441},{312,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_incandescencia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,296}</string>
                <key>spriteSourceSize</key>
                <string>{312,296}</string>
                <key>textureRect</key>
                <string>{{2176,1277},{312,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asst_ironhide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1247,543}</string>
                <key>spriteSourceSize</key>
                <string>{1247,543}</string>
                <key>textureRect</key>
                <string>{{1,1003},{1247,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_ironhide_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{557,260}</string>
                <key>spriteSourceSize</key>
                <string>{719,406}</string>
                <key>textureRect</key>
                <string>{{1627,691},{557,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_light_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{332,335}</string>
                <key>spriteSourceSize</key>
                <string>{366,341}</string>
                <key>textureRect</key>
                <string>{{1776,955},{332,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{731,686}</string>
                <key>spriteSourceSize</key>
                <string>{731,686}</string>
                <key>textureRect</key>
                <string>{{1627,1},{731,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_logo_lava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{331,315}</string>
                <key>spriteSourceSize</key>
                <string>{471,449}</string>
                <key>textureRect</key>
                <string>{{1542,1441},{331,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_shadow_gral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{284,282}</string>
                <key>spriteSourceSize</key>
                <string>{458,446}</string>
                <key>textureRect</key>
                <string>{{2176,1593},{284,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asst_spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{329,1917},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_age_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1609,1399},{38,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>privacy_age_confirm_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,125}</string>
                <key>spriteSourceSize</key>
                <string>{370,125}</string>
                <key>textureRect</key>
                <string>{{2383,634},{370,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>privacy_age_month_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,106}</string>
                <key>spriteSourceSize</key>
                <string>{197,106}</string>
                <key>textureRect</key>
                <string>{{2422,1008},{197,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>privacy_age_year_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,106}</string>
                <key>spriteSourceSize</key>
                <string>{254,106}</string>
                <key>textureRect</key>
                <string>{{2312,1019},{254,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>privacy_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{1622,998}</string>
                <key>spriteSourceSize</key>
                <string>{1686,1052}</string>
                <key>textureRect</key>
                <string>{{1,1},{1622,998}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_division_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1266,8}</string>
                <key>spriteSourceSize</key>
                <string>{1266,8}</string>
                <key>textureRect</key>
                <string>{{1,1550},{1266,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_policies_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{208,200}</string>
                <key>textureRect</key>
                <string>{{2112,1019},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_privacy&amp;terms_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,85}</string>
                <key>spriteSourceSize</key>
                <string>{463,85}</string>
                <key>textureRect</key>
                <string>{{459,1856},{463,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>privacy_warning_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{411,162}</string>
                <key>spriteSourceSize</key>
                <string>{411,168}</string>
                <key>textureRect</key>
                <string>{{2362,1},{411,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_main_screen.png</string>
            <key>size</key>
            <string>{2529,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1989cdd1a345ac3b4fe580fa88c80cd2:219cd4b65a7cd964c8d4e9cad3276b47:e404567db6b9f33b3a12484fb57696b3$</string>
            <key>textureFileName</key>
            <string>kr4_main_screen.png</string>
        </dict>
    </dict>
</plist>
