<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.69921875</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.8724822998046875</real>
								<real>-1.8399658203125</real>
								<integer>0</integer>
								<real>9.5500000000000007</real>
								<real>-8.25</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>4.1500000000000004</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.65625</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.8324737548828125</real>
								<real>-1.8006134033203125</real>
								<integer>0</integer>
								<real>10.1</real>
								<real>-8.0500000000000007</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>4.1500000000000004</real>
								<real>-1.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.61328125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.79248046875</real>
								<real>-1.7613525390625</real>
								<integer>0</integer>
								<real>10.6</real>
								<real>-7.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>6.25</real>
								<integer>-2</integer>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5703125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.752471923828125</real>
								<real>-1.7220458984375</real>
								<integer>0</integer>
								<real>11.199999999999999</real>
								<real>-7.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>6.25</real>
								<integer>-2</integer>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.53125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.7125091552734375</real>
								<real>-1.6827545166015625</real>
								<integer>0</integer>
								<real>11.65</real>
								<real>-7.5499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>8.4499999999999993</real>
								<real>-1.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.672515869140625</real>
								<real>-1.6434478759765625</real>
								<integer>0</integer>
								<real>12.15</real>
								<real>-7.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>8.4499999999999993</real>
								<real>-1.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.4453125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.63250732421875</real>
								<real>-1.6041717529296875</real>
								<integer>0</integer>
								<real>12.699999999999999</real>
								<real>-7.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>9.6999999999999993</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.40234375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.592559814453125</real>
								<real>-1.5648956298828125</real>
								<integer>0</integer>
								<real>13.199999999999999</real>
								<real>-7.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>9.6999999999999993</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.359375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.55255126953125</real>
								<real>-1.5256195068359375</real>
								<integer>0</integer>
								<real>13.75</real>
								<real>-6.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>9.5500000000000007</real>
								<real>0.90000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.31640625</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.5125579833984375</real>
								<real>-1.4863128662109375</real>
								<integer>0</integer>
								<real>14.25</real>
								<real>-6.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<real>9.5500000000000007</real>
								<real>0.90000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.27734375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.4726104736328125</real>
								<real>-1.4470367431640625</real>
								<integer>0</integer>
								<real>14.699999999999999</real>
								<real>-6.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<integer>12</integer>
								<real>1.75</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.234375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.4326171875</real>
								<real>-1.4077301025390625</real>
								<integer>0</integer>
								<real>15.25</real>
								<real>-6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.399993896484375</real>
								<real>-1.399993896484375</real>
								<integer>0</integer>
								<integer>12</integer>
								<real>1.75</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_spitpart_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.19140625</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.392608642578125</real>
								<real>-1.3684539794921875</real>
								<integer>0</integer>
								<real>15.75</real>
								<real>-6.25</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.1484375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.3526458740234375</real>
								<real>-1.3292083740234375</real>
								<integer>0</integer>
								<real>16.199999999999999</real>
								<real>-6.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_Carnivorousplant_spitback</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_spitpart_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_spitpart_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_spitpart_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_spitpart_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_spitpart_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_spitpart_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_Carnivorousplant_spitback</string>
			<key>offsetX</key>
			<integer>4</integer>
			<key>offsetY</key>
			<real>5.2000000000000002</real>
		</dict>
	</array>
</dict>
</plist>
