<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>4.5499999999999998</real>
								<real>4.5</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>4.5499999999999998</real>
								<real>4.5</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>0.55000000000000004</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>0.55000000000000004</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>0.75</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>0.75</real>
								<real>-1.7</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>-1.1000000000000001</real>
								<real>1.75</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>-1.1000000000000001</real>
								<real>1.75</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>-1.1000000000000001</real>
								<real>2.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.77685546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.77685546875</real>
								<real>-1.1000000000000001</real>
								<real>2.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop2_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop2_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop2_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop2_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop2_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop2_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
