<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>4.4000000000000004</real>
								<real>1.75</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>4.4000000000000004</real>
								<real>1.75</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>1.3999999999999999</real>
								<real>-2.8500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>1.3999999999999999</real>
								<real>-2.8500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>1.5</real>
								<real>-4.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>1.5</real>
								<real>-4.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>0.40000000000000002</real>
								<real>-2.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>0.40000000000000002</real>
								<real>-2.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>0.40000000000000002</real>
								<real>-1.95</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.027313232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.027313232421875</real>
								<real>0.40000000000000002</real>
								<real>-1.95</real>
							</array>
							<key>name</key>
							<string>asst_velociraptor_splattop_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velociraptor_splattop_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
