<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.69921875</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.337493896484375</real>
								<real>-1.31427001953125</real>
								<integer>0</integer>
								<real>9.5</real>
								<integer>-6</integer>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>5.6500000000000004</real>
								<real>-1.25</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.65625</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.3710174560546875</real>
								<real>-1.347198486328125</real>
								<integer>0</integer>
								<real>9.6999999999999993</real>
								<real>-6.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>5.6500000000000004</real>
								<real>-1.25</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.61328125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.4045867919921875</real>
								<real>-1.38018798828125</real>
								<integer>0</integer>
								<real>9.8499999999999996</real>
								<real>-6.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>7.1500000000000004</real>
								<real>-1.45</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5703125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.4381561279296875</real>
								<real>-1.4131622314453125</real>
								<integer>0</integer>
								<integer>10</integer>
								<real>-6.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>7.1500000000000004</real>
								<real>-1.45</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.53125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.471710205078125</real>
								<real>-1.4461517333984375</real>
								<integer>0</integer>
								<real>10.15</real>
								<real>-6.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>8.6999999999999993</real>
								<real>-0.90000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.505279541015625</real>
								<real>-1.4791412353515625</real>
								<integer>0</integer>
								<real>10.35</real>
								<real>-6.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>8.6999999999999993</real>
								<real>-0.90000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.4453125</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.5388336181640625</real>
								<real>-1.512115478515625</real>
								<integer>0</integer>
								<real>10.5</real>
								<real>-6.75</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>9.5999999999999996</real>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.40234375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.5724029541015625</real>
								<real>-1.54510498046875</real>
								<integer>0</integer>
								<real>10.75</real>
								<real>-6.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>9.5999999999999996</real>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.359375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.60595703125</real>
								<real>-1.5780792236328125</real>
								<integer>0</integer>
								<real>10.949999999999999</real>
								<real>-6.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>9.5</real>
								<real>0.59999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.31640625</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.6395263671875</real>
								<real>-1.6110687255859375</real>
								<integer>0</integer>
								<real>11.1</real>
								<real>-7.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>9.5</real>
								<real>0.59999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.27734375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.6730804443359375</real>
								<real>-1.6440277099609375</real>
								<integer>0</integer>
								<real>11.25</real>
								<real>-7.25</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>11.25</real>
								<real>1.2</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.234375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.7066497802734375</real>
								<real>-1.6770172119140625</real>
								<integer>0</integer>
								<real>11.4</real>
								<real>-7.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>11.25</real>
								<real>1.2</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.19140625</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.740234375</real>
								<real>-1.7100067138671875</real>
								<integer>0</integer>
								<real>11.6</real>
								<real>-7.5</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.1484375</real>
							<key>matrix</key>
							<array>
								<integer>0</integer>
								<real>1.7738037109375</real>
								<real>-1.7430419921875</real>
								<integer>0</integer>
								<real>11.75</real>
								<real>-7.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorousplant_venompart_back2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_venompart_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_venompart_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_venompart_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_venompart_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_venompart_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_venompart_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_carnivorousplant_venompart_back2</string>
			<key>offsetX</key>
			<integer>4</integer>
			<key>offsetY</key>
			<real>5.2000000000000002</real>
		</dict>
	</array>
</dict>
</plist>
