<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.456207275390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.456207275390625</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.456207275390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.456207275390625</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.0345458984375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.0345458984375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.85546875</real>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.71484375</real>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5703125</real>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.4296875</real>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.28515625</real>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.14453125</real>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>2.0345458984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>2.2509613037109375</real>
								<real>0.55000000000000004</real>
								<real>0.40000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_carnivorous_splat</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_carnivorous_splat</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
