<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>description_items_portraits_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{311,1},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{610,1},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{311,235},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{610,235},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{1,277},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{300,469},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{1,511},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{599,469},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{300,703},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{1,745},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>description_items_portraits_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,295}</string>
                <key>spriteSourceSize</key>
                <string>{230,295}</string>
                <key>textureRect</key>
                <string>{{599,703},{230,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_base_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{88,76}</string>
                <key>textureRect</key>
                <string>{{630,1413},{88,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{89,1757},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{909,261},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{828,1179},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{830,999},{176,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_buy_animation_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1365},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{223,1293},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{222,222}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,979},{222,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{778,1336},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{234,232}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{540,1177},{234,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{236,238}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{588,937},{236,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_buy_animation_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{236,236}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{300,973},{236,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_buy_animation_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{830,937},{58,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_frame_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{909,377},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_gems_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{155,46}</string>
                <key>spriteSourceSize</key>
                <string>{165,46}</string>
                <key>textureRect</key>
                <string>{{778,1177},{155,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_gems_container_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{981,944},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_popup_background_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{540,1011},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_portraits_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{272,306}</string>
                <key>spriteSourceSize</key>
                <string>{280,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_portraits_gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{540,973},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_portraits_shadow_select_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{48,83}</string>
                <key>spriteSourceSize</key>
                <string>{70,83}</string>
                <key>textureRect</key>
                <string>{{894,944},{48,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,76}</string>
                <key>spriteSourceSize</key>
                <string>{218,76}</string>
                <key>textureRect</key>
                <string>{{1,1205},{218,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,76}</string>
                <key>spriteSourceSize</key>
                <string>{218,76}</string>
                <key>textureRect</key>
                <string>{{223,1213},{218,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,76}</string>
                <key>spriteSourceSize</key>
                <string>{218,76}</string>
                <key>textureRect</key>
                <string>{{1,1285},{218,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_info_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,272}</string>
                <key>spriteSourceSize</key>
                <string>{22,272}</string>
                <key>textureRect</key>
                <string>{{992,521},{22,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_frame_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{113,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{909,1},{113,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_frame_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{113,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{909,131},{113,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_frame_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,86}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{630,1493},{87,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{898,479},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{537,1413},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,86}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{536,1505},{87,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{443,1492},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{87,86}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{217,1513},{87,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_power_veznan_portrait_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{898,572},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{898,665},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{898,758},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{898,851},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{445,1213},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{443,1306},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_portrait_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{443,1399},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_power_veznan_title_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,32}</string>
                <key>spriteSourceSize</key>
                <string>{284,32}</string>
                <key>textureRect</key>
                <string>{{300,937},{284,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_shadow_veznan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{992,479},{38,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>items_small_portraits_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{308,1513},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{396,1584},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{308,1601},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,1581},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{89,1581},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{177,1603},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,1669},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{89,1669},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,1757},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,1845},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_small_portraits_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,1933},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_specialweapons.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcee5e07312a2545879e34d0e2a39903:d838245f8432c883c85c4a767d7025c3:d343d59dc5ccef1cb645b8e2cf6b8f15$</string>
            <key>textureFileName</key>
            <string>kr4_map_specialweapons.png</string>
        </dict>
    </dict>
</plist>
