<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>credits_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{304,100}</string>
                <key>spriteSourceSize</key>
                <string>{324,134}</string>
                <key>textureRect</key>
                <string>{{9,1411},{304,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>credits_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1406,500}</string>
                <key>spriteSourceSize</key>
                <string>{1406,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1406,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,4}</string>
                <key>spriteSourceSize</key>
                <string>{694,4}</string>
                <key>textureRect</key>
                <string>{{1,1411},{694,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_difficulty_buttons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,68}</string>
                <key>spriteSourceSize</key>
                <string>{188,68}</string>
                <key>textureRect</key>
                <string>{{9,1619},{188,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_difficulty_buttons_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,68}</string>
                <key>spriteSourceSize</key>
                <string>{188,68}</string>
                <key>textureRect</key>
                <string>{{9,1691},{188,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_base_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,40}</string>
                <key>spriteSourceSize</key>
                <string>{289,40}</string>
                <key>textureRect</key>
                <string>{{9,1515},{289,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{201,1619},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{201,1693},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{431,1793},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{201,1767},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{353,1848},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{427,1867},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{9,1941},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{9,2015},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{9,1841},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{83,1839},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{157,1841},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{83,1913},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{231,1875},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{157,1915},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{83,1987},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{305,1922},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{231,1949},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{157,1989},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{231,2023},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{305,1996},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{379,1941},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{275,1723},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{353,1734},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{9,1763},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{87,1763},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{275,1799},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,56}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{9,1559},{263,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,57}</string>
                <key>spriteSourceSize</key>
                <string>{265,57}</string>
                <key>textureRect</key>
                <string>{{438,1524},{265,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{276,1567},{111,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{81,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{275,1683},{81,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{73,34}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{353,1810},{73,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,34}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{302,1529},{113,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{111,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{391,1567},{111,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{147,38}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{317,1411},{147,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{109,32}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{468,1411},{109,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{117,40}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{317,1485},{117,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,32}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{275,1647},{103,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{276,1607},{111,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{165,1763},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{382,1682},{48,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_redeem_text_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,28}</string>
                <key>spriteSourceSize</key>
                <string>{138,28}</string>
                <key>textureRect</key>
                <string>{{317,1453},{138,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_options.png</string>
            <key>size</key>
            <string>{502,2106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7623cad798dd007dacadba86a1e3ad5e:78c228cb193066b486e1b498218de4ab:5f662b0a8df85d17b6b628147735e9e6$</string>
            <key>textureFileName</key>
            <string>kr4_map_options.png</string>
        </dict>
    </dict>
</plist>
