<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_army_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{1206,163}</string>
                <key>spriteSourceSize</key>
                <string>{1208,165}</string>
                <key>textureRect</key>
                <string>{{1,1340},{1206,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_army_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{1335,186}</string>
                <key>spriteSourceSize</key>
                <string>{1343,204}</string>
                <key>textureRect</key>
                <string>{{773,1},{1335,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background_cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{456,118}</string>
                <key>spriteSourceSize</key>
                <string>{468,124}</string>
                <key>textureRect</key>
                <string>{{1,1034},{456,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{294,116}</string>
                <key>spriteSourceSize</key>
                <string>{308,124}</string>
                <key>textureRect</key>
                <string>{{372,1735},{294,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{398,108}</string>
                <key>spriteSourceSize</key>
                <string>{414,116}</string>
                <key>textureRect</key>
                <string>{{1,1156},{398,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,768}</string>
                <key>spriteSourceSize</key>
                <string>{1,768}</string>
                <key>textureRect</key>
                <string>{{1,1029},{1,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkbox_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{739,1284},{31,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkbox_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{447,1304},{31,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirmdialog_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{1,1268},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirmdialog_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{189,1268},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difficulty_portraits_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,29}</string>
                <key>spriteSize</key>
                <string>{206,155}</string>
                <key>spriteSourceSize</key>
                <string>{266,389}</string>
                <key>textureRect</key>
                <string>{{963,721},{206,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difficulty_portraits_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{228,197}</string>
                <key>spriteSourceSize</key>
                <string>{266,389}</string>
                <key>textureRect</key>
                <string>{{963,489},{228,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difficulty_portraits_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{244,223}</string>
                <key>spriteSourceSize</key>
                <string>{266,389}</string>
                <key>textureRect</key>
                <string>{{963,1},{244,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difficulty_portraits_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{236,227}</string>
                <key>spriteSourceSize</key>
                <string>{266,389}</string>
                <key>textureRect</key>
                <string>{{461,1034},{236,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difficulty_portraits_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{236,227}</string>
                <key>spriteSourceSize</key>
                <string>{266,389}</string>
                <key>textureRect</key>
                <string>{{963,249},{236,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difficulty_portraits_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{224,349}</string>
                <key>spriteSourceSize</key>
                <string>{266,389}</string>
                <key>textureRect</key>
                <string>{{372,1507},{224,349}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difficulty_portraits_background_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{242,367}</string>
                <key>spriteSourceSize</key>
                <string>{266,389}</string>
                <key>textureRect</key>
                <string>{{1,1507},{242,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difficulty_portraits_info_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{862,1845},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1127,995},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_levelselect_botton_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{246,54}</string>
                <key>spriteSourceSize</key>
                <string>{246,60}</string>
                <key>textureRect</key>
                <string>{{701,1034},{246,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_levelselect_playbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,78}</string>
                <key>spriteSourceSize</key>
                <string>{190,78}</string>
                <key>textureRect</key>
                <string>{{1059,1507},{190,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_newtower_alert_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{669,1265},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_ui_common_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_ui_common_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{152,76}</string>
                <key>spriteSourceSize</key>
                <string>{162,78}</string>
                <key>textureRect</key>
                <string>{{1047,931},{152,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_ui_common_portraits_big_button_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{186,80}</string>
                <key>textureRect</key>
                <string>{{1059,1701},{186,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_ui_common_portraits_big_button_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{186,80}</string>
                <key>textureRect</key>
                <string>{{722,1761},{186,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_ui_common_portraits_big_button_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{186,80}</string>
                <key>textureRect</key>
                <string>{{963,931},{186,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_ui_common_portraits_big_button_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{186,80}</string>
                <key>textureRect</key>
                <string>{{963,1121},{186,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_ui_common_scroll_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,116}</string>
                <key>textureRect</key>
                <string>{{211,1753},{90,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_base_button_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{218,35}</string>
                <key>spriteSourceSize</key>
                <string>{218,37}</string>
                <key>textureRect</key>
                <string>{{447,1265},{218,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_card_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,330}</string>
                <key>spriteSourceSize</key>
                <string>{250,330}</string>
                <key>textureRect</key>
                <string>{{725,1507},{250,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1,1828},{66,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{669,1284},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{377,1282},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{670,1735},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{85,1828},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{155,1828},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{207,1847},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{277,1847},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1141,1507},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1141,1577},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1141,1647},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1143,1699},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1143,1769},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1143,1839},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{670,1805},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{722,1845},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{792,1845},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{906,1855},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{976,1855},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{347,1855},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{417,1855},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{487,1855},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{557,1855},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{963,1205},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1033,1205},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1103,1205},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1153,1083},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{963,1257},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1033,1257},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offers_login_icon_map_fx_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1085,1275},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offers_login_icon_map_fx_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{1155,1153},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>option_menu_ingame_confirm_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{206,71}</string>
                <key>spriteSourceSize</key>
                <string>{206,73}</string>
                <key>textureRect</key>
                <string>{{1,1753},{206,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_menu_ingame_confirmdialog_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{1,1268},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_menu_ingame_confirmdialog_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{189,1268},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits_small_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,40}</string>
                <key>spriteSourceSize</key>
                <string>{130,40}</string>
                <key>textureRect</key>
                <string>{{403,1156},{122,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits_small_states_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1122,721},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits_small_states_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-25}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{482,1304},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits_small_states_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1122,815},{86,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits_small_states_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1127,905},{86,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_common_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,116}</string>
                <key>textureRect</key>
                <string>{{912,1761},{90,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_common.png</string>
            <key>size</key>
            <string>{1212,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a572e14f048d64f1df5ef4f000c83ef:63971f05b88c01e5545ae2702569c4d1:7a96aa9391bf7de15c66f43fa7cd975f$</string>
            <key>textureFileName</key>
            <string>kr4_map_common.png</string>
        </dict>
    </dict>
</plist>
