<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>credits_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{304,100}</string>
                <key>spriteSourceSize</key>
                <string>{324,134}</string>
                <key>textureRect</key>
                <string>{{1411,1},{304,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>credits_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1406,500}</string>
                <key>spriteSourceSize</key>
                <string>{1406,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1406,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,4}</string>
                <key>spriteSourceSize</key>
                <string>{694,4}</string>
                <key>textureRect</key>
                <string>{{1,505},{694,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_difficulty_buttons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,68}</string>
                <key>spriteSourceSize</key>
                <string>{188,68}</string>
                <key>textureRect</key>
                <string>{{1411,210},{188,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_difficulty_buttons_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,68}</string>
                <key>spriteSourceSize</key>
                <string>{188,68}</string>
                <key>textureRect</key>
                <string>{{1411,282},{188,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_base_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,40}</string>
                <key>spriteSourceSize</key>
                <string>{289,40}</string>
                <key>textureRect</key>
                <string>{{1411,105},{289,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1526,354},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1600,354},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1606,428},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1683,203},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1683,277},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1674,351},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1680,425},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1732,103},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1806,103},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1880,101},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1757,177},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1757,251},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1831,177},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1831,251},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1905,175},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1905,249},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1757,325},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1831,325},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1905,323},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1754,399},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1828,399},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,56}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1719,1},{263,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,57}</string>
                <key>spriteSourceSize</key>
                <string>{265,57}</string>
                <key>textureRect</key>
                <string>{{1411,149},{265,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1411,354},{111,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{81,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1528,428},{81,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{73,34}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1568,428},{73,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,34}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1411,434},{113,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{111,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1870,61},{111,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{147,38}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1719,61},{147,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{109,32}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1647,210},{109,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{117,40}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1603,210},{117,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>general_options_buttons_language_text_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,32}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1411,472},{103,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_buttons_language_text_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,36}</string>
                <key>spriteSourceSize</key>
                <string>{263,56}</string>
                <key>textureRect</key>
                <string>{{1411,394},{111,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1754,473},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>general_options_closebutton_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{1680,149},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_options.png</string>
            <key>size</key>
            <string>{1983,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0605b6da2b295290a89e683a85391b5:1f726838a8b3a751716d9215da929032:5f662b0a8df85d17b6b628147735e9e6$</string>
            <key>textureFileName</key>
            <string>kr4_map_options.png</string>
        </dict>
    </dict>
</plist>
