<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gemstore_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,47}</string>
                <key>spriteSourceSize</key>
                <string>{156,47}</string>
                <key>textureRect</key>
                <string>{{921,579},{156,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{921,739},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{212,338}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{243,343},{212,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{232,338}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{243,1},{232,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{232,338}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{479,1},{232,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{232,338}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{715,1},{232,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{232,338}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{585,343},{232,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{232,338}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{237,559},{232,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{232,344}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{1,375},{232,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_images_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{232,338}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{579,579},{232,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gemstore_images_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{238,370}</string>
                <key>spriteSourceSize</key>
                <string>{240,402}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,52}</string>
                <key>spriteSourceSize</key>
                <string>{189,60}</string>
                <key>textureRect</key>
                <string>{{1,757},{175,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemstore_title_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,30}</string>
                <key>spriteSourceSize</key>
                <string>{230,30}</string>
                <key>textureRect</key>
                <string>{{1,723},{230,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr4_map_moregems.png</string>
            <key>size</key>
            <string>{969,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9024873b721f9b10b70b7391a4056c9b:e26ca2b7a30f4afa1b79a67a07654e09:145437f8e0a7fe40f09a34a7592a25f4$</string>
            <key>textureFileName</key>
            <string>kr4_map_moregems.png</string>
        </dict>
    </dict>
</plist>
