<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.4918060302734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.4918060302734375</real>
								<real>-0.14999999999999999</real>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.14999999999999999</real>
								<real>-0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_hit2_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.83203125</real>
							<key>matrix</key>
							<array>
								<real>1.5016326904296875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.5016326904296875</real>
								<integer>0</integer>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.14999999999999999</real>
								<real>-0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_hit2_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.66796875</real>
							<key>matrix</key>
							<array>
								<real>1.511505126953125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.511505126953125</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-1.75</real>
								<real>-0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_hit2_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.5</real>
							<key>matrix</key>
							<array>
								<real>1.521392822265625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.521392822265625</real>
								<real>0.10000000000000001</real>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-1.75</real>
								<real>-0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_hit2_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.33203125</real>
							<key>matrix</key>
							<array>
								<real>1.53125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.53125</real>
								<real>0.14999999999999999</real>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.75</real>
								<real>0.84999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_hit2_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.16796875</real>
							<key>matrix</key>
							<array>
								<real>1.541107177734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.541107177734375</real>
								<real>0.25</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.75</real>
								<real>0.84999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_hit2_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.551025390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.551025390625</real>
								<real>0.29999999999999999</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_trex_hit2_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asset_explotion_tiny_light2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_hit2_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_hit2_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asset_explotion_tiny_light</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
