<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.6796875</real>
							<key>matrix</key>
							<array>
								<real>1.20806884765625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.997955322265625</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.6796875</real>
							<key>matrix</key>
							<array>
								<real>1.20806884765625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.997955322265625</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>start</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.8203125</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10546875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.8203125</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10546875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.62890625</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10546875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.62890625</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10546875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10546875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.44921875</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10546875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.25</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.25</real>
							<key>matrix</key>
							<array>
								<real>1.3382568359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1055145263671875</real>
								<real>2.5</real>
								<real>-1.55</real>
							</array>
							<key>name</key>
							<string>asst_decal_instakill_boss</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>end</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_decal_instakill_boss</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<real>0.050000000000000003</real>
		</dict>
	</array>
</dict>
</plist>
