<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.37890625</real>
							<key>matrix</key>
							<array>
								<real>1.655242919921875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.655242919921875</real>
								<real>-0.14999999999999999</real>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>0.90000000000000002</real>
								<real>-0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>2.3999999999999999</real>
								<real>-1.6000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.31640625</real>
							<key>matrix</key>
							<array>
								<real>1.6661376953125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.6661376953125</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>0.90000000000000002</real>
								<real>-0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>2.3999999999999999</real>
								<real>-1.6000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.25390625</real>
							<key>matrix</key>
							<array>
								<real>1.677093505859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.677093505859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>-1.3500000000000001</real>
								<real>-0.5</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>2.6499999999999999</real>
								<real>-1.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.19140625</real>
							<key>matrix</key>
							<array>
								<real>1.6880645751953125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.6880645751953125</real>
								<real>0.14999999999999999</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>-1.3500000000000001</real>
								<real>-0.5</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>2.6499999999999999</real>
								<real>-1.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.125</real>
							<key>matrix</key>
							<array>
								<real>1.6989898681640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.6989898681640625</real>
								<real>0.20000000000000001</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>-0.69999999999999996</real>
								<real>-1.3999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>2.2000000000000002</real>
								<real>-1.05</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.0625</real>
							<key>matrix</key>
							<array>
								<real>1.709930419921875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.709930419921875</real>
								<real>0.29999999999999999</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>-0.69999999999999996</real>
								<real>-1.3999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.10955810546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.10955810546875</real>
								<real>2.2000000000000002</real>
								<real>-1.05</real>
							</array>
							<key>name</key>
							<string>asst_explotion_tiny_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.720947265625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.720947265625</real>
								<real>0.29999999999999999</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<integer>0</integer>
							<key>matrix</key>
							<array>
								<real>1.720947265625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.720947265625</real>
								<real>0.29999999999999999</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asset_explotion_tiny_light</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_explotion_tiny_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_explotion_tiny_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asset_explotion_tiny_light</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_explotion_tiny_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_explotion_tiny_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_explotion_tiny_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_explotion_tiny_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
