<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.37890625</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<real>-162.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.37890625</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<real>-162.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<integer>-90</integer>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<integer>-90</integer>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<real>-17.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<real>-17.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.16015625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.758148193359375</real>
								<real>0.20000000000000001</real>
								<real>5.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.16015625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.758148193359375</real>
								<real>0.20000000000000001</real>
								<real>5.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_rock</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>10.25</real>
								<real>-10.85</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>11.25</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-4.2999999999999998</real>
								<real>-2.1000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.3500000000000001</real>
								<real>9.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-10.050000000000001</real>
								<real>-13.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-13.6</real>
								<real>-2.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-1.3</real>
								<real>-2.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.59999999999999998</real>
								<real>-4.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>10.25</real>
								<real>-10.85</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>11.25</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-4.2999999999999998</real>
								<real>-2.1000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.3500000000000001</real>
								<real>9.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-10.050000000000001</real>
								<real>-13.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-13.6</real>
								<real>-2.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-1.3</real>
								<real>-2.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.59999999999999998</real>
								<real>-4.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>17.100000000000001</real>
								<real>-13.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>14.949999999999999</real>
								<real>-1.6000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-9.8499999999999996</real>
								<real>-5.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-4.0499999999999998</real>
								<real>5.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-19.75</real>
								<real>-13.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-21.649999999999999</real>
								<real>-2.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>7.0499999999999998</real>
								<real>-2.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-8.9499999999999993</real>
								<real>-11.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.5</real>
								<real>-5.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>17.100000000000001</real>
								<real>-13.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>14.949999999999999</real>
								<real>-1.6000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-9.8499999999999996</real>
								<real>-5.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-4.0499999999999998</real>
								<real>5.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-19.75</real>
								<real>-13.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-21.649999999999999</real>
								<real>-2.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>7.0499999999999998</real>
								<real>-2.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-8.9499999999999993</real>
								<real>-11.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.5</real>
								<real>-5.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>18.75</real>
								<integer>-13</integer>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>16.100000000000001</real>
								<real>-1.3999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-12.199999999999999</real>
								<real>-6.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-5.5499999999999998</real>
								<real>5.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-22.25</real>
								<real>-12.65</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-23.800000000000001</real>
								<real>-1.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>7.9000000000000004</real>
								<real>-11.449999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-11.25</real>
								<real>-18.399999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.55</real>
								<real>-1.45</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>18.75</real>
								<integer>-13</integer>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>16.100000000000001</real>
								<real>-1.3999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-12.199999999999999</real>
								<real>-6.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-5.5499999999999998</real>
								<real>5.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-22.25</real>
								<real>-12.65</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-23.800000000000001</real>
								<real>-1.1499999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>7.9000000000000004</real>
								<real>-11.449999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-11.25</real>
								<real>-18.399999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>1.55</real>
								<real>-1.45</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>23.600000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>17.800000000000001</real>
								<real>3.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-16.25</real>
								<real>-0.75</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-8.6999999999999993</real>
								<real>8.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-27.75</real>
								<real>-8.4499999999999993</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-25.800000000000001</real>
								<real>5.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.76953125</real>
							<key>matrix</key>
							<array>
								<real>-0.649566650390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.649566650390625</real>
								<real>10.35</real>
								<real>-9.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-10.85</real>
								<real>-10.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<real>-0.65000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>23.600000000000001</real>
								<real>-8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>17.800000000000001</real>
								<real>3.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-16.25</real>
								<real>-0.75</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-8.6999999999999993</real>
								<real>8.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-27.75</real>
								<real>-8.4499999999999993</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.73046875</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-25.800000000000001</real>
								<real>5.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.76953125</real>
							<key>matrix</key>
							<array>
								<real>-0.649566650390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.649566650390625</real>
								<real>10.35</real>
								<real>-9.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-10.85</real>
								<real>-10.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>0.20000000000000001</real>
								<real>-0.65000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>26.800000000000001</real>
								<real>-0.45000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>17.800000000000001</real>
								<real>9.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-21.600000000000001</real>
								<real>6.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-8.6999999999999993</real>
								<real>14.6</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-32.25</real>
								<real>-0.69999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-27.5</real>
								<real>13.1</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.37109375</real>
							<key>matrix</key>
							<array>
								<real>-0.649566650390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.649566650390625</real>
								<real>37.100000000000001</real>
								<real>7.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8203125</real>
							<key>matrix</key>
							<array>
								<real>-0.7928466796875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7928466796875</real>
								<real>-13.5</real>
								<real>-3.1000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>26.800000000000001</real>
								<real>-0.45000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>17.800000000000001</real>
								<real>9.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<real>0.72882080078125</real>
								<real>-0.6846771240234375</real>
								<real>0.6846771240234375</real>
								<real>0.72882080078125</real>
								<real>-21.600000000000001</real>
								<real>6.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-8.6999999999999993</real>
								<real>14.6</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<real>0.7605438232421875</real>
								<real>-0.6492767333984375</real>
								<real>0.6492767333984375</real>
								<real>0.7605438232421875</real>
								<real>-32.25</real>
								<real>-0.69999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.4609375</real>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-27.5</real>
								<real>13.1</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rocksmoke_rocksmall</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.37109375</real>
							<key>matrix</key>
							<array>
								<real>-0.649566650390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.649566650390625</real>
								<real>37.100000000000001</real>
								<real>7.2999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8203125</real>
							<key>matrix</key>
							<array>
								<real>-0.7928466796875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7928466796875</real>
								<real>-13.5</real>
								<real>-3.1000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>-0.7928466796875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7928466796875</real>
								<real>-18.449999999999999</real>
								<real>2.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>-0.7928466796875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7928466796875</real>
								<real>-18.449999999999999</real>
								<real>2.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_trex_decal_rockbig</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_trex_decal_rocksmoke_1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_decal_rocksmoke_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_decal_rocksmoke_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_decal_rocksmoke_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_decal_rocksmoke_rocksmall</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_decal_rocksmoke_rocksmall2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_decal_rockbig</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_rock</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
