<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>0.75</real>
								<real>1.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-0.59999999999999998</real>
								<real>-7.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>0.75</real>
								<real>1.25</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8984375</real>
							<key>matrix</key>
							<array>
								<real>0.928466796875</real>
								<real>0.226409912109375</real>
								<real>-0.226409912109375</real>
								<real>0.928466796875</real>
								<real>3.8999999999999999</real>
								<real>-9.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>0.75</real>
								<real>1.2</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.80859375</real>
							<key>matrix</key>
							<array>
								<real>0.8159027099609375</real>
								<real>0.4109954833984375</real>
								<real>-0.4109954833984375</real>
								<real>0.8159027099609375</real>
								<real>8.3000000000000007</real>
								<real>-11.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>0.75</real>
								<real>1.2</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.71875</real>
							<key>matrix</key>
							<array>
								<real>0.67803955078125</real>
								<real>0.5509033203125</real>
								<real>-0.5509033203125</real>
								<real>0.67803955078125</real>
								<real>12.75</real>
								<integer>-12</integer>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>1.7</real>
								<real>1.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>0.528564453125</real>
								<real>0.64752197265625</real>
								<real>-0.64752197265625</real>
								<real>0.528564453125</real>
								<real>17.050000000000001</real>
								<real>-11.15</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>1.7</real>
								<real>1.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.55859375</real>
							<key>matrix</key>
							<array>
								<real>0.3784027099609375</real>
								<real>0.7052001953125</real>
								<real>-0.7052001953125</real>
								<real>0.3784027099609375</real>
								<real>20.699999999999999</real>
								<real>-9.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>0.84999999999999998</real>
								<real>0.59999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<real>0.2354736328125</real>
								<real>0.7298583984375</real>
								<real>-0.7298583984375</real>
								<real>0.2354736328125</real>
								<real>23.800000000000001</real>
								<real>-7.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<integer>-1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<integer>3</integer>
								<real>8.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>0.84999999999999998</real>
								<real>0.59999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.421875</real>
							<key>matrix</key>
							<array>
								<real>0.105255126953125</real>
								<real>0.7281341552734375</real>
								<real>-0.7281341552734375</real>
								<real>0.105255126953125</real>
								<real>26.300000000000001</real>
								<real>-4.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8984375</real>
							<key>matrix</key>
							<array>
								<real>-0.928466796875</real>
								<real>0.226409912109375</real>
								<real>0.226409912109375</real>
								<real>0.928466796875</real>
								<real>-1.5</real>
								<real>6.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>1.95</real>
								<real>0.80000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.359375</real>
							<key>matrix</key>
							<array>
								<real>-0.0093231201171875</real>
								<real>0.70660400390625</real>
								<real>-0.70660400390625</real>
								<real>-0.0093231201171875</real>
								<real>28.149999999999999</real>
								<real>-2.1000000000000001</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.814208984375</real>
								<real>-0.58056640625</real>
								<real>0.58056640625</real>
								<real>0.814208984375</real>
								<real>8.6999999999999993</real>
								<real>-25.399999999999999</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.80859375</real>
							<key>matrix</key>
							<array>
								<real>-0.8159027099609375</real>
								<real>0.4109954833984375</real>
								<real>0.4109954833984375</real>
								<real>0.8159027099609375</real>
								<real>-5.9000000000000004</real>
								<real>4.9500000000000002</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>1.95</real>
								<real>0.80000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.30078125</real>
							<key>matrix</key>
							<array>
								<real>-0.10711669921875</real>
								<real>0.67132568359375</real>
								<real>-0.67132568359375</real>
								<real>-0.10711669921875</real>
								<real>29.399999999999999</real>
								<real>0.75</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8984375</real>
							<key>matrix</key>
							<array>
								<real>0.8874053955078125</real>
								<real>-0.3546905517578125</real>
								<real>0.3546905517578125</real>
								<real>0.8874053955078125</real>
								<real>11.050000000000001</real>
								<real>-29.850000000000001</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.71875</real>
							<key>matrix</key>
							<array>
								<real>-0.67803955078125</real>
								<real>0.5509033203125</real>
								<real>0.5509033203125</real>
								<real>0.67803955078125</real>
								<real>-10.35</real>
								<real>4.5</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>2.3500000000000001</real>
								<real>0.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.25</real>
							<key>matrix</key>
							<array>
								<real>-0.18829345703125</real>
								<real>0.627471923828125</real>
								<real>-0.627471923828125</real>
								<real>-0.18829345703125</real>
								<real>30.100000000000001</real>
								<real>3.4500000000000002</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.80859375</real>
							<key>matrix</key>
							<array>
								<real>0.902923583984375</real>
								<real>-0.1390380859375</real>
								<real>0.1390380859375</real>
								<real>0.902923583984375</real>
								<real>13.699999999999999</real>
								<real>-33.75</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>-0.528564453125</real>
								<real>0.64752197265625</real>
								<real>0.64752197265625</real>
								<real>0.528564453125</real>
								<real>-14.65</real>
								<real>5.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>2.3500000000000001</real>
								<real>0.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>-0.25390625</real>
								<real>0.579437255859375</real>
								<real>-0.579437255859375</real>
								<real>-0.25390625</real>
								<real>30.300000000000001</real>
								<real>6.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.71875</real>
							<key>matrix</key>
							<array>
								<real>0.87188720703125</real>
								<real>0.054901123046875</real>
								<real>-0.054901123046875</real>
								<real>0.87188720703125</real>
								<real>17.050000000000001</real>
								<real>-36.700000000000003</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.55859375</real>
							<key>matrix</key>
							<array>
								<real>-0.3784027099609375</real>
								<real>0.7052001953125</real>
								<real>0.7052001953125</real>
								<real>0.3784027099609375</real>
								<real>-18.300000000000001</real>
								<real>7.1500000000000004</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>2.7999999999999998</real>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_7</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>0.8062896728515625</real>
								<real>0.2203369140625</real>
								<real>-0.2203369140625</real>
								<real>0.8062896728515625</real>
								<real>21.050000000000001</real>
								<real>-38.5</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<real>-0.2354736328125</real>
								<real>0.7298583984375</real>
								<real>0.7298583984375</real>
								<real>0.2354736328125</real>
								<real>-21.399999999999999</real>
								<real>9.3000000000000007</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>2.7999999999999998</real>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_7</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.55859375</real>
							<key>matrix</key>
							<array>
								<real>0.7175140380859375</real>
								<real>0.3544921875</real>
								<real>-0.3544921875</real>
								<real>0.7175140380859375</real>
								<real>25.050000000000001</real>
								<real>-39.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.421875</real>
							<key>matrix</key>
							<array>
								<real>-0.105255126953125</real>
								<real>0.7281341552734375</real>
								<real>0.7281341552734375</real>
								<real>0.105255126953125</real>
								<real>-23.899999999999999</real>
								<real>11.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>3.0499999999999998</real>
								<real>-10.449999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<real>0.615447998046875</real>
								<real>0.4575347900390625</real>
								<real>-0.4575347900390625</real>
								<real>0.615447998046875</real>
								<real>28.850000000000001</real>
								<real>-39.200000000000003</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<real>3.0499999999999998</real>
								<real>-10.449999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.421875</real>
							<key>matrix</key>
							<array>
								<real>0.5084228515625</real>
								<real>0.53173828125</real>
								<real>-0.53173828125</real>
								<real>0.5084228515625</real>
								<real>32.25</real>
								<real>-38.700000000000003</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<integer>0</integer>
								<real>-8.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.15185546875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.15185546875</real>
								<integer>0</integer>
								<real>-8.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst</string>
			<key>offsetX</key>
			<real>-1.3999999999999999</real>
			<key>offsetY</key>
			<real>-0.55000000000000004</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_7</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_8</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_9</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
