<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<integer>0</integer>
								<real>3.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.248626708984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.248626708984375</real>
								<real>-1.7</real>
								<real>-7.2000000000000002</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<integer>0</integer>
								<real>3.8999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8984375</real>
							<key>matrix</key>
							<array>
								<real>1.1593017578125</real>
								<real>0.2826995849609375</real>
								<real>-0.2826995849609375</real>
								<real>1.1593017578125</real>
								<real>3.8500000000000001</real>
								<integer>-10</integer>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<integer>0</integer>
								<real>3.8500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.80859375</real>
							<key>matrix</key>
							<array>
								<real>1.0187530517578125</real>
								<real>0.5131683349609375</real>
								<real>-0.5131683349609375</real>
								<real>1.0187530517578125</real>
								<real>9.3499999999999996</real>
								<real>-12.1</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<integer>0</integer>
								<real>3.8500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_2</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.71875</real>
							<key>matrix</key>
							<array>
								<real>0.8466033935546875</real>
								<real>0.6878662109375</real>
								<real>-0.6878662109375</real>
								<real>0.8466033935546875</real>
								<real>14.9</real>
								<real>-12.65</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>1.1499999999999999</real>
								<real>4.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>0.65997314453125</real>
								<real>0.808502197265625</real>
								<real>-0.808502197265625</real>
								<real>0.65997314453125</real>
								<real>20.300000000000001</real>
								<real>-11.6</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>1.1499999999999999</real>
								<real>4.0499999999999998</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_3</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.55859375</real>
							<key>matrix</key>
							<array>
								<real>0.47247314453125</real>
								<real>0.880523681640625</real>
								<real>-0.880523681640625</real>
								<real>0.47247314453125</real>
								<real>24.850000000000001</real>
								<real>-9.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>0.10000000000000001</real>
								<real>3.1000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<real>0.29400634765625</real>
								<real>0.91131591796875</real>
								<real>-0.91131591796875</real>
								<real>0.29400634765625</real>
								<real>28.699999999999999</real>
								<real>-6.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.248626708984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.248626708984375</real>
								<real>2.7000000000000002</real>
								<real>13.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>0.10000000000000001</real>
								<real>3.1000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_4</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.421875</real>
							<key>matrix</key>
							<array>
								<real>0.1314239501953125</real>
								<real>0.9091644287109375</real>
								<real>-0.9091644287109375</real>
								<real>0.1314239501953125</real>
								<real>31.850000000000001</real>
								<real>-3.6499999999999999</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8984375</real>
							<key>matrix</key>
							<array>
								<real>-1.1593017578125</real>
								<real>0.2826995849609375</real>
								<real>0.2826995849609375</real>
								<real>1.1593017578125</real>
								<real>-2.8500000000000001</real>
								<real>10.5</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>1.45</real>
								<real>3.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.359375</real>
							<key>matrix</key>
							<array>
								<real>-0.011627197265625</real>
								<real>0.8822784423828125</real>
								<real>-0.8822784423828125</real>
								<real>-0.011627197265625</real>
								<real>34.149999999999999</real>
								<real>-0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.0166168212890625</real>
								<real>-0.7248992919921875</real>
								<real>0.7248992919921875</real>
								<real>1.0166168212890625</real>
								<real>9.8499999999999996</real>
								<real>-29.350000000000001</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.80859375</real>
							<key>matrix</key>
							<array>
								<real>-1.0187530517578125</real>
								<real>0.5131683349609375</real>
								<real>0.5131683349609375</real>
								<real>1.0187530517578125</real>
								<real>-8.3499999999999996</real>
								<real>8.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>1.45</real>
								<real>3.3500000000000001</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_5</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.30078125</real>
							<key>matrix</key>
							<array>
								<real>-0.1337432861328125</real>
								<real>0.838226318359375</real>
								<real>-0.838226318359375</real>
								<real>-0.1337432861328125</real>
								<real>35.700000000000003</real>
								<real>3.25</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.8984375</real>
							<key>matrix</key>
							<array>
								<real>1.1080169677734375</real>
								<real>-0.44287109375</real>
								<real>0.44287109375</real>
								<real>1.1080169677734375</real>
								<real>12.800000000000001</real>
								<real>-34.899999999999999</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.71875</real>
							<key>matrix</key>
							<array>
								<real>-0.8466033935546875</real>
								<real>0.6878662109375</real>
								<real>0.6878662109375</real>
								<real>0.8466033935546875</real>
								<real>-13.9</real>
								<real>7.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>1.95</real>
								<integer>3</integer>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.25</real>
							<key>matrix</key>
							<array>
								<real>-0.235107421875</real>
								<real>0.783477783203125</real>
								<real>-0.783477783203125</real>
								<real>-0.235107421875</real>
								<real>36.549999999999997</real>
								<real>6.5999999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.80859375</real>
							<key>matrix</key>
							<array>
								<real>1.12738037109375</real>
								<real>-0.173614501953125</real>
								<real>0.173614501953125</real>
								<real>1.12738037109375</real>
								<real>16.100000000000001</real>
								<real>-39.799999999999997</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>-0.65997314453125</real>
								<real>0.808502197265625</real>
								<real>0.808502197265625</real>
								<real>0.65997314453125</real>
								<real>-19.300000000000001</real>
								<real>8.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>1.95</real>
								<integer>3</integer>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_6</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.19921875</real>
							<key>matrix</key>
							<array>
								<real>-0.3170318603515625</real>
								<real>0.7234954833984375</real>
								<real>-0.7234954833984375</real>
								<real>-0.3170318603515625</real>
								<real>36.799999999999997</real>
								<real>9.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.71875</real>
							<key>matrix</key>
							<array>
								<real>1.088653564453125</real>
								<real>0.06854248046875</real>
								<real>-0.06854248046875</real>
								<real>1.088653564453125</real>
								<real>20.300000000000001</real>
								<real>-43.450000000000003</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.55859375</real>
							<key>matrix</key>
							<array>
								<real>-0.47247314453125</real>
								<real>0.880523681640625</real>
								<real>0.880523681640625</real>
								<real>0.47247314453125</real>
								<real>-23.850000000000001</real>
								<real>11.15</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>2.5499999999999998</real>
								<real>2.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_7</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.640625</real>
							<key>matrix</key>
							<array>
								<real>1.0067291259765625</real>
								<real>0.275115966796875</real>
								<real>-0.275115966796875</real>
								<real>1.0067291259765625</real>
								<real>25.300000000000001</real>
								<real>-45.700000000000003</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<real>-0.29400634765625</real>
								<real>0.91131591796875</real>
								<real>0.91131591796875</real>
								<real>0.29400634765625</real>
								<real>-27.699999999999999</real>
								<real>13.85</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>2.5499999999999998</real>
								<real>2.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_7</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.55859375</real>
							<key>matrix</key>
							<array>
								<real>0.8958892822265625</real>
								<real>0.4426116943359375</real>
								<real>-0.4426116943359375</real>
								<real>0.8958892822265625</real>
								<real>30.300000000000001</real>
								<real>-46.549999999999997</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.421875</real>
							<key>matrix</key>
							<array>
								<real>-0.1314239501953125</real>
								<real>0.9091644287109375</real>
								<real>0.9091644287109375</real>
								<real>0.1314239501953125</real>
								<real>-30.850000000000001</real>
								<real>16.850000000000001</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>2.7999999999999998</real>
								<real>-10.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.48828125</real>
							<key>matrix</key>
							<array>
								<real>0.7684478759765625</real>
								<real>0.5712890625</real>
								<real>-0.5712890625</real>
								<real>0.7684478759765625</real>
								<integer>35</integer>
								<real>-46.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>2.7999999999999998</real>
								<real>-10.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_8</string>
						</dict>
						<dict>
							<key>alpha</key>
							<real>0.421875</real>
							<key>matrix</key>
							<array>
								<real>0.63482666015625</real>
								<real>0.6639251708984375</real>
								<real>-0.6639251708984375</real>
								<real>0.63482666015625</real>
								<real>39.299999999999997</real>
								<real>-45.950000000000003</real>
							</array>
							<key>name</key>
							<string>asst</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>-0.94999999999999996</real>
								<real>-8.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.438232421875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.438232421875</real>
								<real>-0.94999999999999996</real>
								<real>-8.5</real>
							</array>
							<key>name</key>
							<string>asst_trex_explotion_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst</string>
			<key>offsetX</key>
			<real>-1.3999999999999999</real>
			<key>offsetY</key>
			<real>-0.55000000000000004</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_7</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_8</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_trex_explotion_9</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
