<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_particle_f1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.050000000000000003</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_fx1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_particle_f1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.050000000000000003</real>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_fx1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_particle_f1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.10000000000000001</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_fx2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_particle_f1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.10000000000000001</real>
								<real>0.25</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_fx2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_particle_f1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.40000000000000002</real>
								<real>-0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_humo1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.10000000000000001</real>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_fx3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.25</real>
								<real>-0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_particle_f2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.40000000000000002</real>
								<real>-0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_humo1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.10000000000000001</real>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_fx3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.25</real>
								<real>-0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_particle_f2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.40000000000000002</real>
								<real>-0.5</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_humo2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.20000000000000001</real>
								<real>-0.5</real>
							</array>
							<key>name</key>
							<string>asst_particle_f3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.40000000000000002</real>
								<real>-0.5</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_humo2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.20000000000000001</real>
								<real>-0.5</real>
							</array>
							<key>name</key>
							<string>asst_particle_f3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.40000000000000002</real>
								<real>-0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_humo3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.34999999999999998</real>
								<real>-0.65000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_particle_f4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.40000000000000002</real>
								<real>-0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_torre_volcan_proy_humo3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.34999999999999998</real>
								<real>-0.65000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_particle_f4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.20000000000000001</real>
								<real>-0.84999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_particle_f5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>-0.20000000000000001</real>
								<real>-0.84999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_particle_f5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.050000000000000003</real>
								<real>-0.69999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_particle_f6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.791046142578125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.791046142578125</real>
								<real>0.050000000000000003</real>
								<real>-0.69999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_particle_f6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_torre_volcan_proy_fx1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_particle_f1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_torre_volcan_proy_fx2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_torre_volcan_proy_fx3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_torre_volcan_proy_humo1</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_particle_f2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_torre_volcan_proy_humo2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_particle_f3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_torre_volcan_proy_humo3</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_particle_f4</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_particle_f5</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_particle_f6</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
