<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-12.15</real>
								<real>-22.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-13.75</real>
								<real>-29.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-13.75</real>
								<real>-29.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-15.65</real>
								<real>-34.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-15.65</real>
								<real>-34.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-16.899999999999999</real>
								<real>-34.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-16.899999999999999</real>
								<real>-34.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-18.800000000000001</real>
								<real>-34.950000000000003</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-18.800000000000001</real>
								<real>-34.950000000000003</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-20.199999999999999</real>
								<integer>-36</integer>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-20.199999999999999</real>
								<integer>-36</integer>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_7</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-20.899999999999999</real>
								<real>-36.5</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-20.899999999999999</real>
								<real>-36.5</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-15.4</real>
								<real>-35.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_10</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-15.4</real>
								<real>-35.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_11</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-10.65</real>
								<real>-33.200000000000003</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_12</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<integer>-11</integer>
								<real>-31.100000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_13</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<integer>-11</integer>
								<real>-31.100000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_13</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-9.6999999999999993</real>
								<real>-12.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_14</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<integer>1</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1</integer>
								<real>-9.6999999999999993</real>
								<real>-12.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavaboomb_14</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array/>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_1</string>
			<key>offsetX</key>
			<real>12.4</real>
			<key>offsetY</key>
			<real>10.65</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_2</string>
			<key>offsetX</key>
			<real>13.949999999999999</real>
			<key>offsetY</key>
			<real>15.550000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_3</string>
			<key>offsetX</key>
			<real>15.5</real>
			<key>offsetY</key>
			<real>19.149999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_4</string>
			<key>offsetX</key>
			<real>16.800000000000001</real>
			<key>offsetY</key>
			<real>19.75</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_5</string>
			<key>offsetX</key>
			<real>18.699999999999999</real>
			<key>offsetY</key>
			<real>20.149999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_6</string>
			<key>offsetX</key>
			<integer>20</integer>
			<key>offsetY</key>
			<real>21.149999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_7</string>
			<key>offsetX</key>
			<integer>20</integer>
			<key>offsetY</key>
			<real>21.149999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_8</string>
			<key>offsetX</key>
			<real>20.550000000000001</real>
			<key>offsetY</key>
			<real>18.149999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_9</string>
			<key>offsetX</key>
			<real>20.550000000000001</real>
			<key>offsetY</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_10</string>
			<key>offsetX</key>
			<real>15.1</real>
			<key>offsetY</key>
			<real>17.350000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_11</string>
			<key>offsetX</key>
			<real>15.1</real>
			<key>offsetY</key>
			<real>17.699999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_12</string>
			<key>offsetX</key>
			<real>10.85</real>
			<key>offsetY</key>
			<real>15.85</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_13</string>
			<key>offsetX</key>
			<real>12.15</real>
			<key>offsetY</key>
			<real>16.300000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavaboomb_14</string>
			<key>offsetX</key>
			<real>11.050000000000001</real>
			<key>offsetY</key>
			<real>6.8499999999999996</real>
		</dict>
	</array>
</dict>
</plist>
