<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-15.199999999999999</real>
								<real>-29.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>17.850000000000001</real>
								<real>-17.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-18.550000000000001</real>
								<real>-19.75</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-15.199999999999999</real>
								<real>-29.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>17.850000000000001</real>
								<real>-17.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-18.550000000000001</real>
								<real>-19.75</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-15.199999999999999</real>
								<real>-29.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>17.850000000000001</real>
								<real>-17.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-18.550000000000001</real>
								<real>-19.75</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.949999999999999</real>
								<real>-31.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>15.949999999999999</real>
								<real>-18.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-15.050000000000001</real>
								<real>-17.350000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.949999999999999</real>
								<real>-31.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>15.949999999999999</real>
								<real>-18.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-15.050000000000001</real>
								<real>-17.350000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.949999999999999</real>
								<real>-31.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>15.949999999999999</real>
								<real>-18.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-15.050000000000001</real>
								<real>-17.350000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.75</real>
								<real>-31.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>9.1999999999999993</real>
								<real>-19.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-13.65</real>
								<real>-19.25</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.75</real>
								<real>-31.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>9.1999999999999993</real>
								<real>-19.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-13.65</real>
								<real>-19.25</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.75</real>
								<real>-31.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>9.1999999999999993</real>
								<real>-19.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-13.65</real>
								<real>-19.25</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.15</real>
								<real>-29.399999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>4.25</real>
								<real>-18.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-7.5</real>
								<real>-22.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.15</real>
								<real>-29.399999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>4.25</real>
								<real>-18.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-7.5</real>
								<real>-22.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-14.15</real>
								<real>-29.399999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>4.25</real>
								<real>-18.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-7.5</real>
								<real>-22.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-11.35</real>
								<real>-26.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>19.100000000000001</real>
								<integer>-21</integer>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-2.4500000000000002</real>
								<real>-22.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-11.35</real>
								<real>-26.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>19.100000000000001</real>
								<integer>-21</integer>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-2.4500000000000002</real>
								<real>-22.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-11.35</real>
								<real>-26.149999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_5</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>21.5</real>
								<real>-20.75</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-2.4500000000000002</real>
								<real>-22.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-9.5500000000000007</real>
								<real>-27.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>21.5</real>
								<real>-20.75</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-17.449999999999999</real>
								<real>-20.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_10</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-9.5500000000000007</real>
								<real>-27.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>21.5</real>
								<real>-20.75</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-17.449999999999999</real>
								<real>-20.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_10</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-9.5500000000000007</real>
								<real>-27.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_6</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>21.149999999999999</real>
								<real>-22.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.649999999999999</real>
								<real>-19.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-2.8500000000000001</real>
								<real>-28.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>21.149999999999999</real>
								<real>-22.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.649999999999999</real>
								<real>-19.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-2.8500000000000001</real>
								<real>-28.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>21.149999999999999</real>
								<real>-22.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.649999999999999</real>
								<real>-19.649999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-2.8500000000000001</real>
								<real>-28.800000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_8</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<integer>21</integer>
								<real>-22.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.899999999999999</real>
								<real>-21.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>2.1000000000000001</real>
								<real>-27.899999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<integer>21</integer>
								<real>-22.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.899999999999999</real>
								<real>-21.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>2.1000000000000001</real>
								<real>-27.899999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<integer>21</integer>
								<real>-22.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.899999999999999</real>
								<real>-21.600000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>2.1000000000000001</real>
								<real>-27.899999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_9</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>20.449999999999999</real>
								<real>-20.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.649999999999999</real>
								<real>-21.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-12.85</real>
								<real>-29.949999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>20.449999999999999</real>
								<real>-20.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.649999999999999</real>
								<real>-21.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.1359710693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.1359710693359375</real>
								<real>-12.85</real>
								<real>-29.949999999999999</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_10</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>-1.1341400146484375</real>
								<real>0.063629150390625</real>
								<real>0.063629150390625</real>
								<real>1.1341400146484375</real>
								<real>20.449999999999999</real>
								<real>-20.5</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_4</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.09747314453125</real>
								<real>-0.293212890625</real>
								<real>0.293212890625</real>
								<real>1.09747314453125</real>
								<real>-19.649999999999999</real>
								<real>-21.300000000000001</real>
							</array>
							<key>name</key>
							<string>asst_lavadebuffb_3</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>idle</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_1</string>
			<key>offsetX</key>
			<real>4.9500000000000002</real>
			<key>offsetY</key>
			<real>4.4500000000000002</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_5</string>
			<key>offsetX</key>
			<real>13.9</real>
			<key>offsetY</key>
			<real>6.8499999999999996</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_4</string>
			<key>offsetX</key>
			<real>11.800000000000001</real>
			<key>offsetY</key>
			<real>8.3499999999999996</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_2</string>
			<key>offsetX</key>
			<real>4.0499999999999998</real>
			<key>offsetY</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_6</string>
			<key>offsetX</key>
			<real>13.9</real>
			<key>offsetY</key>
			<real>7.2999999999999998</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_3</string>
			<key>offsetX</key>
			<integer>6</integer>
			<key>offsetY</key>
			<real>6.9000000000000004</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_8</string>
			<key>offsetX</key>
			<real>10.85</real>
			<key>offsetY</key>
			<real>7.6500000000000004</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_9</string>
			<key>offsetX</key>
			<real>7.4500000000000002</real>
			<key>offsetY</key>
			<real>3.7000000000000002</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_lavadebuffb_10</string>
			<key>offsetX</key>
			<real>12.050000000000001</real>
			<key>offsetY</key>
			<real>4.0499999999999998</real>
		</dict>
	</array>
</dict>
</plist>
