<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7563629150390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7563629150390625</real>
								<real>-0.14999999999999999</real>
								<real>-0.25</real>
							</array>
							<key>name</key>
							<string>asst_enanopreh_hitframe_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7563629150390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7563629150390625</real>
								<real>-0.14999999999999999</real>
								<real>-0.25</real>
							</array>
							<key>name</key>
							<string>asst_enanopreh_hitframe_1</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7563629150390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7563629150390625</real>
								<real>-0.10000000000000001</real>
								<real>-0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_enanopreh_hitframe_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7563629150390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7563629150390625</real>
								<real>-0.10000000000000001</real>
								<real>-0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_enanopreh_hitframe_2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7563629150390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7563629150390625</real>
								<real>-0.10000000000000001</real>
								<real>-0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_enanopreh_hitframe_3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7563629150390625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.7563629150390625</real>
								<real>-0.10000000000000001</real>
								<real>-0.29999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_enanopreh_hitframe_3</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_enanopreh_hitframe_1</string>
			<key>offsetX</key>
			<real>0.90000000000000002</real>
			<key>offsetY</key>
			<real>-1.6499999999999999</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_enanopreh_hitframe_2</string>
			<key>offsetX</key>
			<real>2.25</real>
			<key>offsetY</key>
			<real>-2.1000000000000001</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_enanopreh_hitframe_3</string>
			<key>offsetX</key>
			<real>0.90000000000000002</real>
			<key>offsetY</key>
			<real>-0.14999999999999999</real>
		</dict>
	</array>
</dict>
</plist>
