<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.2548828125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.2548828125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.2702178955078125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.2702178955078125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.2917327880859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.2917327880859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.31939697265625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.31939697265625</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3532562255859375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.3532562255859375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3876953125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.3876953125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.4172210693359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.4172210693359375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.44183349609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.44183349609375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.461517333984375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.461517333984375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.476318359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.476318359375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.4629974365234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.4629974365234375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.4452667236328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.4452667236328125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.423126220703125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.423126220703125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.39654541015625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.39654541015625</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.365570068359375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.365570068359375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.33453369140625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.33453369140625</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.3079681396484375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.3079681396484375</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.2858428955078125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.2858428955078125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.26812744140625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.26812744140625</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>1.2548828125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.2548828125</real>
								<integer>0</integer>
								<integer>0</integer>
							</array>
							<key>name</key>
							<string>asst_enanopreh_warcry_base2</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>run</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_enanopreh_warcry_base2</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
