<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.159027099609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.2657470703125</real>
								<real>-0.10000000000000001</real>
								<real>-2.6000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.469970703125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.469970703125</real>
								<real>-0.10000000000000001</real>
								<real>-4.9000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.33837890625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.565460205078125</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4999847412109375</real>
								<integer>0</integer>
								<real>-0.0214385986328125</real>
								<real>0.489013671875</real>
								<real>0.10000000000000001</real>
								<real>-4.7999999999999998</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.3521575927734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.5884857177734375</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5499725341796875</real>
								<integer>0</integer>
								<real>-0.042510986328125</real>
								<real>0.53790283203125</real>
								<real>0.40000000000000002</real>
								<real>-5.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.365936279296875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6115264892578125</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5499725341796875</real>
								<integer>0</integer>
								<real>-0.042510986328125</real>
								<real>0.53790283203125</real>
								<real>0.40000000000000002</real>
								<real>-5.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.379730224609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6345672607421875</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5499725341796875</real>
								<integer>0</integer>
								<real>0.045013427734375</real>
								<real>0.537933349609375</real>
								<real>-0.69999999999999996</real>
								<integer>-6</integer>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.3935089111328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6576080322265625</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5499725341796875</real>
								<integer>0</integer>
								<real>0.0592803955078125</real>
								<real>0.537933349609375</real>
								<real>-0.65000000000000002</real>
								<real>-6.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4073028564453125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.6806488037109375</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5499725341796875</real>
								<integer>0</integer>
								<real>0.0592803955078125</real>
								<real>0.537933349609375</real>
								<real>-0.65000000000000002</real>
								<real>-6.3499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.42108154296875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.70367431640625</real>
								<real>-0.050000000000000003</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.559967041015625</real>
								<integer>0</integer>
								<real>-0.02398681640625</real>
								<real>0.5477142333984375</real>
								<integer>0</integer>
								<real>-6.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.43487548828125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.726715087890625</real>
								<real>-0.050000000000000003</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.569976806640625</real>
								<integer>0</integer>
								<real>-0.0440521240234375</real>
								<real>0.5574798583984375</real>
								<real>0.40000000000000002</real>
								<real>-6.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4486541748046875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.749755859375</real>
								<real>-0.050000000000000003</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.569976806640625</real>
								<integer>0</integer>
								<real>-0.0440521240234375</real>
								<real>0.5574798583984375</real>
								<real>0.40000000000000002</real>
								<real>-6.7000000000000002</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.4624481201171875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.772796630859375</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6493988037109375</real>
								<integer>0</integer>
								<real>0.053131103515625</real>
								<real>0.63519287109375</real>
								<real>-0.55000000000000004</real>
								<real>-6.8499999999999996</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.476226806640625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.79583740234375</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.699981689453125</real>
								<integer>0</integer>
								<real>0.0754547119140625</real>
								<real>0.68463134765625</real>
								<real>-0.75</real>
								<real>-7.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.490020751953125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.818878173828125</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.699981689453125</real>
								<integer>0</integer>
								<real>0.0754547119140625</real>
								<real>0.68463134765625</real>
								<real>-0.75</real>
								<real>-7.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.503814697265625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.8419189453125</real>
								<real>-0.10000000000000001</real>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7333221435546875</real>
								<integer>0</integer>
								<real>-0.031402587890625</real>
								<real>0.717254638671875</real>
								<real>0.20000000000000001</real>
								<real>-7.6500000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5175933837890625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.864959716796875</real>
								<real>-0.10000000000000001</real>
								<real>0.10000000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7722015380859375</real>
								<integer>0</integer>
								<real>-0.0596923828125</real>
								<real>0.7552337646484375</real>
								<real>0.65000000000000002</real>
								<real>-8.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5313873291015625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.88800048828125</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.7722015380859375</real>
								<integer>0</integer>
								<real>-0.0596923828125</real>
								<real>0.7552337646484375</real>
								<real>0.65000000000000002</real>
								<real>-8.0999999999999996</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.545166015625</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.911041259765625</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.805633544921875</real>
								<integer>0</integer>
								<real>0.0659332275390625</real>
								<real>0.787994384765625</real>
								<real>-0.59999999999999998</real>
								<real>-8.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5589599609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.93408203125</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8251190185546875</real>
								<integer>0</integer>
								<real>0.08892822265625</real>
								<real>0.8070068359375</real>
								<real>-0.65000000000000002</real>
								<real>-8.75</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5727386474609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.9571075439453125</real>
								<real>-0.14999999999999999</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.8251190185546875</real>
								<integer>0</integer>
								<real>0.08892822265625</real>
								<real>0.8070068359375</real>
								<real>-0.65000000000000002</real>
								<real>-8.75</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.5865325927734375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>0.9801483154296875</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.88885498046875</real>
								<integer>0</integer>
								<real>-0.0380706787109375</real>
								<real>0.869384765625</real>
								<real>1.3500000000000001</real>
								<real>-9.4000000000000004</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.600311279296875</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0031890869140625</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.0772705078125</real>
								<real>0.9780120849609375</real>
								<integer>2</integer>
								<real>-10.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.614105224609375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0262298583984375</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.0772705078125</real>
								<real>0.9780120849609375</real>
								<integer>2</integer>
								<real>-10.699999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.6278839111328125</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.0492706298828125</real>
								<real>-0.10000000000000001</real>
								<real>0.14999999999999999</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.081878662109375</real>
								<real>0.978057861328125</real>
								<real>-0.34999999999999998</real>
								<real>-11.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.1125946044921875</real>
								<real>0.978057861328125</real>
								<real>-0.65000000000000002</real>
								<real>-11.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.1125946044921875</real>
								<real>0.978057861328125</real>
								<real>-0.65000000000000002</real>
								<real>-11.550000000000001</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.021728515625</real>
								<real>0.9781494140625</real>
								<real>0.050000000000000003</real>
								<real>-11.85</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.021728515625</real>
								<real>0.9781494140625</real>
								<real>0.050000000000000003</real>
								<real>-11.85</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.021728515625</real>
								<real>0.9781494140625</real>
								<real>0.050000000000000003</real>
								<real>-11.85</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.021728515625</real>
								<real>0.9781494140625</real>
								<real>0.050000000000000003</real>
								<real>-11.85</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>spawn</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.021728515625</real>
								<real>0.9781494140625</real>
								<real>0.050000000000000003</real>
								<real>-11.85</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>idle</string>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.010345458984375</real>
								<real>0.9180145263671875</real>
								<real>0.45000000000000001</real>
								<real>-11.1</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.010345458984375</real>
								<real>0.9180145263671875</real>
								<real>0.45000000000000001</real>
								<real>-11.1</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.1243896484375</real>
								<real>0.9993133544921875</real>
								<real>1.5</real>
								<integer>-12</integer>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.1243896484375</real>
								<real>0.9993133544921875</real>
								<real>1.5</real>
								<integer>-12</integer>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.135498046875</real>
								<real>1.06201171875</real>
								<real>-1.45</real>
								<real>-12.75</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.135498046875</real>
								<real>1.06201171875</real>
								<real>-1.45</real>
								<real>-12.75</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.0365753173828125</real>
								<real>0.8245086669921875</real>
								<real>0.45000000000000001</real>
								<real>-9.8000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.0365753173828125</real>
								<real>0.8245086669921875</real>
								<real>0.45000000000000001</real>
								<real>-9.8000000000000007</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.0647735595703125</real>
								<real>0.9988861083984375</real>
								<real>0.65000000000000002</real>
								<real>-11.9</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>-0.0647735595703125</real>
								<real>0.9988861083984375</real>
								<real>0.65000000000000002</real>
								<real>-11.9</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.054046630859375</real>
								<real>0.9988861083984375</real>
								<real>-0.65000000000000002</real>
								<real>-11.9</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.054046630859375</real>
								<real>0.9988861083984375</real>
								<real>-0.65000000000000002</real>
								<real>-11.9</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.021728515625</real>
								<real>0.9781494140625</real>
								<real>0.050000000000000003</real>
								<real>-11.85</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>attachPoints</key>
					<array/>
					<key>duration</key>
					<real>0.033333333333333333</real>
					<key>events</key>
					<array/>
					<key>parts</key>
					<array>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.641693115234375</real>
								<integer>0</integer>
								<integer>0</integer>
								<real>1.07232666015625</real>
								<integer>0</integer>
								<real>0.050000000000000003</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_shadow</string>
						</dict>
						<dict>
							<key>matrix</key>
							<array>
								<real>0.999969482421875</real>
								<integer>0</integer>
								<real>0.021728515625</real>
								<real>0.9781494140625</real>
								<real>0.050000000000000003</real>
								<real>-11.85</real>
							</array>
							<key>name</key>
							<string>asst_velocirraptor_egg</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>shake</string>
		</dict>
	</array>
	<key>partScaleCompensation</key>
	<integer>1</integer>
	<key>parts</key>
	<array>
		<dict>
			<key>name</key>
			<string>asst_velocirraptor_egg</string>
			<key>offsetX</key>
			<real>-0.050000000000000003</real>
			<key>offsetY</key>
			<real>-0.050000000000000003</real>
		</dict>
		<dict>
			<key>name</key>
			<string>asst_velocirraptor_shadow</string>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
