<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>bone_carrier_modifier_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>bone_carrier_idle</key>
		<dict>
			<key>prefix</key>
			<string>bone_carrier</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>30</integer>
		</dict>
		<key>bone_carrier_walk</key>
		<dict>
			<key>prefix</key>
			<string>bone_carrier</string>
			<key>fromIndex</key>
			<integer>31</integer>
			<key>toIndex</key>
			<integer>60</integer>
		</dict>
		<key>bone_carrier_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>bone_carrier</string>
			<key>fromIndex</key>
			<integer>61</integer>
			<key>toIndex</key>
			<integer>94</integer>
		</dict>
		<key>bone_carrier_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>bone_carrier</string>
			<key>fromIndex</key>
			<integer>95</integer>
			<key>toIndex</key>
			<integer>128</integer>
		</dict>
		<key>bone_carrier_attack</key>
		<dict>
			<key>prefix</key>
			<string>bone_carrier</string>
			<key>fromIndex</key>
			<integer>129</integer>
			<key>toIndex</key>
			<integer>160</integer>
		</dict>
		<key>bone_carrier_death</key>
		<dict>
			<key>prefix</key>
			<string>bone_carrier</string>
			<key>fromIndex</key>
			<integer>161</integer>
			<key>toIndex</key>
			<integer>230</integer>
		</dict>
	</dict>
</dict>
</plist>
