<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>corrosive_soul_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>corrosive_soul_idle</key>
		<dict>
			<key>prefix</key>
			<string>corrosive_soul</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>corrosive_soul_walk</key>
		<dict>
			<key>prefix</key>
			<string>corrosive_soul</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
		<key>corrosive_soul_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>corrosive_soul</string>
			<key>fromIndex</key>
			<integer>20</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>corrosive_soul_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>corrosive_soul</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>corrosive_soul_attack</key>
		<dict>
			<key>prefix</key>
			<string>corrosive_soul</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>84</integer>
		</dict>
		<key>corrosive_soul_death</key>
		<dict>
			<key>prefix</key>
			<string>corrosive_soul</string>
			<key>fromIndex</key>
			<integer>85</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
	</dict>
</dict>
</plist>
