<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>haunted_skeleton_modifier_damage_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>haunted_skeleton_idle</key>
		<dict>
			<key>prefix</key>
			<string>haunted_skeleton</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>haunted_skeleton_walk</key>
		<dict>
			<key>prefix</key>
			<string>haunted_skeleton</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>38</integer>
		</dict>
		<key>haunted_skeleton_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>haunted_skeleton</string>
			<key>fromIndex</key>
			<integer>39</integer>
			<key>toIndex</key>
			<integer>62</integer>
		</dict>
		<key>haunted_skeleton_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>haunted_skeleton</string>
			<key>fromIndex</key>
			<integer>63</integer>
			<key>toIndex</key>
			<integer>86</integer>
		</dict>
		<key>haunted_skeleton_attack</key>
		<dict>
			<key>prefix</key>
			<string>haunted_skeleton</string>
			<key>fromIndex</key>
			<integer>87</integer>
			<key>toIndex</key>
			<integer>108</integer>
		</dict>
		<key>haunted_skeleton_death</key>
		<dict>
			<key>prefix</key>
			<string>haunted_skeleton</string>
			<key>fromIndex</key>
			<integer>109</integer>
			<key>toIndex</key>
			<integer>131</integer>
		</dict>
		<key>haunted_skeleton_spawn</key>
		<dict>
			<key>prefix</key>
			<string>haunted_skeleton</string>
			<key>fromIndex</key>
			<integer>132</integer>
			<key>toIndex</key>
			<integer>157</integer>
		</dict>
	</dict>
</dict>
</plist>
