<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>lich_ray_animations.plist</key>
		<string></string>
		<key>lich_ray_hit_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>lich_walk</key>
		<dict>
			<key>prefix</key>
			<string>lich</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>lich_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>lich</string>
			<key>fromIndex</key>
			<integer>25</integer>
			<key>toIndex</key>
			<integer>50</integer>
		</dict>
		<key>lich_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>lich</string>
			<key>fromIndex</key>
			<integer>51</integer>
			<key>toIndex</key>
			<integer>75</integer>
		</dict>
		<key>lich_attack</key>
		<dict>
			<key>prefix</key>
			<string>lich</string>
			<key>fromIndex</key>
			<integer>76</integer>
			<key>toIndex</key>
			<integer>103</integer>
		</dict>
		<key>lich_shoot</key>
		<dict>
			<key>prefix</key>
			<string>lich</string>
			<key>fromIndex</key>
			<integer>104</integer>
			<key>toIndex</key>
			<integer>139</integer>
		</dict>
		<key>lich_special</key>
		<dict>
			<key>prefix</key>
			<string>lich</string>
			<key>fromIndex</key>
			<integer>140</integer>
			<key>toIndex</key>
			<integer>177</integer>
		</dict>
		<key>lich_death</key>
		<dict>
			<key>prefix</key>
			<string>lich</string>
			<key>fromIndex</key>
			<integer>178</integer>
			<key>toIndex</key>
			<integer>214</integer>
		</dict>
	</dict>
</dict>
</plist>
