<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>hero_isfet_cloud_spawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_isfet_cloud</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>6</integer>
		</dict>
		<key>hero_isfet_cloud_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_isfet_cloud</string>
			<key>fromIndex</key>
			<integer>7</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>hero_isfet_cloud_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_isfet_cloud</string>
			<key>fromIndex</key>
			<integer>7</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>hero_isfet_cloud_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_isfet_cloud</string>
			<key>fromIndex</key>
			<integer>25</integer>
			<key>toIndex</key>
			<integer>35</integer>
		</dict>
	</dict>
</dict>
</plist>
