<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>hero_isfet_cloud_modifier_init</key>
		<dict>
			<key>prefix</key>
			<string>hero_isfet_cloud_modifier</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>5</integer>
		</dict>
		<key>hero_isfet_cloud_modifier_loop</key>
		<dict>
			<key>prefix</key>
			<string>hero_isfet_cloud_modifier</string>
			<key>fromIndex</key>
			<integer>6</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>hero_isfet_cloud_modifier_end</key>
		<dict>
			<key>prefix</key>
			<string>hero_isfet_cloud_modifier</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>35</integer>
		</dict>
	</dict>
</dict>
</plist>
