<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>special_spider_tower_egg_1_animations.plist</key>
		<string></string>
		<key>special_spider_tower_egg_2_animations.plist</key>
		<string></string>
		<key>special_spider_tower_egg_3_animations.plist</key>
		<string></string>
		<key>special_spider_tower_egg_4_animations.plist</key>
		<string></string>
		<key>special_spider_tower_egg_5_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>special_spider_tower_motherspider_spawn</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_motherspider</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>special_spider_tower_motherspider_layFrontLeft</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_motherspider</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>special_spider_tower_motherspider_layFrontRight</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_motherspider</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>78</integer>
		</dict>
		<key>special_spider_tower_motherspider_layFront</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_motherspider</string>
			<key>fromIndex</key>
			<integer>79</integer>
			<key>toIndex</key>
			<integer>102</integer>
		</dict>
		<key>special_spider_tower_motherspider_layBackLeft</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_motherspider</string>
			<key>fromIndex</key>
			<integer>103</integer>
			<key>toIndex</key>
			<integer>128</integer>
		</dict>
		<key>special_spider_tower_motherspider_layBackRight</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_motherspider</string>
			<key>fromIndex</key>
			<integer>129</integer>
			<key>toIndex</key>
			<integer>154</integer>
		</dict>
		<key>special_spider_tower_motherspider_out</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_motherspider</string>
			<key>fromIndex</key>
			<integer>155</integer>
			<key>toIndex</key>
			<integer>175</integer>
		</dict>
	</dict>
</dict>
</plist>
