<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>mapFlag_wings_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>mapFlag_idlePending</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>mapFlag_inPending</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>mapFlag_wavePending</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>73</integer>
		</dict>
		<key>mapFlag_pendingToCompleted</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>74</integer>
			<key>toIndex</key>
			<integer>100</integer>
		</dict>
		<key>mapFlag_waveCompleted</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>101</integer>
			<key>toIndex</key>
			<integer>149</integer>
		</dict>
		<key>mapFlag_idleCompleted</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>150</integer>
			<key>toIndex</key>
			<integer>150</integer>
		</dict>
		<key>mapFlag_glowCompleted</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>151</integer>
			<key>toIndex</key>
			<integer>151</integer>
		</dict>
		<key>mapFlag_glowPending</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>152</integer>
			<key>toIndex</key>
			<integer>152</integer>
		</dict>
		<key>mapFlag_idleIron</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>153</integer>
			<key>toIndex</key>
			<integer>153</integer>
		</dict>
		<key>mapFlag_glowIron</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>154</integer>
			<key>toIndex</key>
			<integer>154</integer>
		</dict>
		<key>mapFlag_ironCompleted</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>155</integer>
			<key>toIndex</key>
			<integer>181</integer>
		</dict>
		<key>mapFlag_ironShine</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>5</integer>
			<key>prefix</key>
			<string>mapFlag_layer</string>
			<key>fromIndex</key>
			<integer>182</integer>
			<key>toIndex</key>
			<integer>206</integer>
		</dict>
	</dict>
</dict>
</plist>
