<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>ember_lords_mage_tower_shooter_lvl4_proyectile_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_proyectile_particle_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_affliction_floor_sign_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_affliction_modifier_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_teleport_effect_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_teleport_decal_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_overcharge_decal_1_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_overcharge_decal_2_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_overcharge_decal_3_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_overcharge_meteor_1_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_overcharge_meteor_2_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_lvl4_overcharge_meteor_3_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>ember_lords_mage_tower_shooter_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_shootDownLeft</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>23</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_shootDownRight</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>24</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>46</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_shootUpLeft</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>47</integer>
			<key>toIndex</key>
			<integer>70</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_shootUpRight</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>71</integer>
			<key>toIndex</key>
			<integer>94</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_afflictionDown</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>95</integer>
			<key>toIndex</key>
			<integer>125</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_afflictionUp</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>126</integer>
			<key>toIndex</key>
			<integer>156</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_overchargeDown</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>157</integer>
			<key>toIndex</key>
			<integer>226</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_overchargeUp</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>227</integer>
			<key>toIndex</key>
			<integer>296</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_teleportDown</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>297</integer>
			<key>toIndex</key>
			<integer>328</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl4_teleportUp</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>329</integer>
			<key>toIndex</key>
			<integer>360</integer>
		</dict>
	</dict>
</dict>
</plist>
