<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>ember_lords_mage_tower_shooter_proyectile_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_shooter_proyectile_particle_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>ember_lords_mage_tower_shooter_lvl1_idle</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>8</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl1_shootDownLeft</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>9</integer>
			<key>toIndex</key>
			<integer>30</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl1_shootDownRight</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>31</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl1_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>60</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl1_shootUpLeft</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>61</integer>
			<key>toIndex</key>
			<integer>82</integer>
		</dict>
		<key>ember_lords_mage_tower_shooter_lvl1_shootUpRight</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>83</integer>
			<key>toIndex</key>
			<integer>104</integer>
		</dict>
	</dict>
</dict>
</plist>
