<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>in_apps</key>
	<dict>
		<key>gems_free</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_GEMS_PACK_FREE</string>
					<key>type</key>
					<string>gems_pack</string>
				</dict>
			</array>
		</dict>
		<key>gems_handful</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_GEMS_PACK_HANDFUL</string>
					<key>type</key>
					<string>gems_pack</string>
				</dict>
			</array>
		</dict>
		<key>gems_pouch</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_GEMS_PACK_POUCH</string>
					<key>type</key>
					<string>gems_pack</string>
				</dict>
			</array>
		</dict>
		<key>gems_chest</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_GEMS_PACK_CHEST</string>
					<key>type</key>
					<string>gems_pack</string>
				</dict>
			</array>
		</dict>
		<key>gems_barrel</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_GEMS_PACK_BARREL</string>
					<key>type</key>
					<string>gems_pack</string>
				</dict>
			</array>
		</dict>
		<key>gems_wagon</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_GEMS_PACK_WAGON</string>
					<key>type</key>
					<string>gems_pack</string>
				</dict>
			</array>
		</dict>
		<key>gems_mountain</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_GEMS_PACK_MOUNTAIN</string>
					<key>type</key>
					<string>gems_pack</string>
				</dict>
			</array>
		</dict>
		<key>special_offer_1</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_2</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_3</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_4</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_5</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_6</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_7</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_8</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_9</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_starter_pack_1</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_starter_pack_2</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>special_offer_holiday_pack_1</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>all_heroes_offer</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>all_towers_offer</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
		<key>hero_margosa</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_MARGOSA</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_tramin</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_TRAMIN</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_mortemis</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_MORTEMIS</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_jigou</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_JIGOU</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_beresad</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_BERESAD</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_tank</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_TANK</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_naga</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_NAGA</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_eiskalt</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_EISKALT</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_murglun</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_MURGLUN</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_jack_o_lantern</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_JACK_O_LANTERN</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_dianyun</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_DIANYUN</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_mammoth</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_MAMMOTH</string>
					<key>type</key>
					<string>hero</string>
				</dict>
				<dict>
					<key>id</key>
					<string>KR4_HERO_ISFET</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>hero_isfet</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_HERO_ISFET</string>
					<key>type</key>
					<string>hero</string>
				</dict>
			</array>
		</dict>
		<key>tower_zepelling</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_WAR_ZEPELLING</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_grim_cemetery</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_GRIM_CEMETERY</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_blazing_watcher</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_BLAZING_WATCHER</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_rotten_forest</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_ROTTEN_FOREST</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_wicked_sisters</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_WICKED_SISTERS</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_deep_devils</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_DEEP_DEVILS_REEF</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_swamp_monster</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_SWAMP_MONSTER</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_shaolin_temple</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_SHAOLIN_TEMPLE</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>tower_ignis_altar</key>
		<dict>
			<key>rewards</key>
			<array>
				<dict>
					<key>id</key>
					<string>KR4_TOWER_IGNIS_ALTAR</string>
					<key>type</key>
					<string>tower</string>
				</dict>
			</array>
		</dict>
		<key>dlc1</key>
		<dict>
			<key>is_offer</key>
			<true/>
		</dict>
	</dict>
	<key>ios</key>
	<dict>
		<key>bundle_id</key>
		<string>com.ironhidegames.kingdomrush4</string>
	</dict>
	<key>ios_e2w</key>
	<dict>
		<key>bundle_id</key>
		<string>com.east2west.kingdomrush4</string>
	</dict>
	<key>android</key>
	<dict>
		<key>bundle_id</key>
		<string>com.ironhidegames.android.kingdomrush4</string>
		<key>key</key>
		<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvdTNsj34mbDWhX04DvdYffbT3J/o8ZHxS0MDA4+KMbh0RvFG60RmeNB9WQS+FEIi/iwIrR977mCitgFtwVUbbzWY777HJiJ6KiMMHdL4W3nMZJCYIu7fJl8DWSViHiEM7oJFc34WV5SBwTg/d/T0xdapvDbwlN5Y7j2KHKt8n0qOpx5p3FrwDzkx4Y+epbI1vFcmdviGIOXb4m4EusOr+9PN+FB3Ck3iqGLVKJthxN/TdE1H7k2XFz5EJ0Pxei88a5XsHQZTgK0ua+BXcclEFYqgB3WOrBKvYNUi1OgzGgq0ijWJICt5Qws87yPMeEvCSpJZnkibuLkqxuQxwYLUYQIDAQAB</string>
	</dict>
	<key>android_xiaomi</key>
	<dict>
		<key>bundle_id</key>
		<string>com.kingdomrush4.Guanwang</string>
		<key>key</key>
		<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvdTNsj34mbDWhX04DvdYffbT3J/o8ZHxS0MDA4+KMbh0RvFG60RmeNB9WQS+FEIi/iwIrR977mCitgFtwVUbbzWY777HJiJ6KiMMHdL4W3nMZJCYIu7fJl8DWSViHiEM7oJFc34WV5SBwTg/d/T0xdapvDbwlN5Y7j2KHKt8n0qOpx5p3FrwDzkx4Y+epbI1vFcmdviGIOXb4m4EusOr+9PN+FB3Ck3iqGLVKJthxN/TdE1H7k2XFz5EJ0Pxei88a5XsHQZTgK0ua+BXcclEFYqgB3WOrBKvYNUi1OgzGgq0ijWJICt5Qws87yPMeEvCSpJZnkibuLkqxuQxwYLUYQIDAQAB</string>
	</dict>
	<key>steam</key>
	<dict>
		<key>bundle_id</key>
		<string>com.ironhidegames.kingdomrush4.steam</string>
	</dict>
	<key>epic</key>
	<dict>
		<key>bundle_id</key>
		<string>com.ironhidegames.kingdomrush4.epic</string>
	</dict>
	<key>macos_appstore</key>
	<dict>
		<key>bundle_id</key>
		<string>com.ironhidegames.kingdomrush4.macappstore</string>
	</dict>
</dict>
</plist>
