<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>warmongers_reinforcement_goblin_shaman_bolt_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>reinforcement_goblin_shaman_idle</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_goblin_shaman</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>reinforcement_goblin_shaman_walk</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_goblin_shaman</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>8</integer>
		</dict>
		<key>reinforcement_goblin_shaman_attack</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_goblin_shaman</string>
			<key>fromIndex</key>
			<integer>9</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>reinforcement_goblin_shaman_heal</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_goblin_shaman</string>
			<key>fromIndex</key>
			<integer>25</integer>
			<key>toIndex</key>
			<integer>57</integer>
		</dict>
		<key>reinforcement_goblin_shaman_shoot</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_goblin_shaman</string>
			<key>fromIndex</key>
			<integer>58</integer>
			<key>toIndex</key>
			<integer>80</integer>
		</dict>
		<key>reinforcement_goblin_shaman_death</key>
		<dict>
			<key>prefix</key>
			<string>reinforcement_goblin_shaman</string>
			<key>fromIndex</key>
			<integer>81</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
	</dict>
</dict>
</plist>
