<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>apex_shard_idle</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>apex_shard_walk</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>11</integer>
		</dict>
		<key>apex_shard_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>12</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>apex_shard_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>31</integer>
		</dict>
		<key>apex_shard_attack</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>32</integer>
			<key>toIndex</key>
			<integer>56</integer>
		</dict>
		<key>apex_shard_spawnBullet</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>82</integer>
			<key>toIndex</key>
			<integer>127</integer>
		</dict>
		<key>apex_shard_spawn</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>57</integer>
			<key>toIndex</key>
			<integer>127</integer>
		</dict>
		<key>apex_shard_death</key>
		<dict>
			<key>prefix</key>
			<string>apex_shard</string>
			<key>fromIndex</key>
			<integer>128</integer>
			<key>toIndex</key>
			<integer>176</integer>
		</dict>
	</dict>
</dict>
</plist>
