<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>apex_stalker_idle</key>
		<dict>
			<key>prefix</key>
			<string>apex_stalker</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>apex_stalker_walk</key>
		<dict>
			<key>prefix</key>
			<string>apex_stalker</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>apex_stalker_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>apex_stalker</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>apex_stalker_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>apex_stalker</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>47</integer>
		</dict>
		<key>apex_stalker_attack</key>
		<dict>
			<key>prefix</key>
			<string>apex_stalker</string>
			<key>fromIndex</key>
			<integer>48</integer>
			<key>toIndex</key>
			<integer>71</integer>
		</dict>
		<key>apex_stalker_death</key>
		<dict>
			<key>prefix</key>
			<string>apex_stalker</string>
			<key>fromIndex</key>
			<integer>72</integer>
			<key>toIndex</key>
			<integer>114</integer>
		</dict>
	</dict>
</dict>
</plist>
