<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>frost_giant_hit_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>frost_giant_idle</key>
		<dict>
			<key>prefix</key>
			<string>frost_giant</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>frost_giant_walk</key>
		<dict>
			<key>prefix</key>
			<string>frost_giant</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>27</integer>
		</dict>
		<key>frost_giant_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>frost_giant</string>
			<key>fromIndex</key>
			<integer>28</integer>
			<key>toIndex</key>
			<integer>53</integer>
		</dict>
		<key>frost_giant_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>frost_giant</string>
			<key>fromIndex</key>
			<integer>54</integer>
			<key>toIndex</key>
			<integer>79</integer>
		</dict>
		<key>frost_giant_attack</key>
		<dict>
			<key>prefix</key>
			<string>frost_giant</string>
			<key>fromIndex</key>
			<integer>80</integer>
			<key>toIndex</key>
			<integer>111</integer>
		</dict>
		<key>frost_giant_death</key>
		<dict>
			<key>prefix</key>
			<string>frost_giant</string>
			<key>fromIndex</key>
			<integer>112</integer>
			<key>toIndex</key>
			<integer>183</integer>
		</dict>
	</dict>
</dict>
</plist>
