<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>glacial_wolf_ice_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>glacial_wolf_idle</key>
		<dict>
			<key>prefix</key>
			<string>glacial_wolf</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>glacial_wolf_walk</key>
		<dict>
			<key>prefix</key>
			<string>glacial_wolf</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
		<key>glacial_wolf_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>glacial_wolf</string>
			<key>fromIndex</key>
			<integer>20</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>glacial_wolf_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>glacial_wolf</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>glacial_wolf_attack</key>
		<dict>
			<key>prefix</key>
			<string>glacial_wolf</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>76</integer>
		</dict>
		<key>glacial_wolf_death</key>
		<dict>
			<key>prefix</key>
			<string>glacial_wolf</string>
			<key>fromIndex</key>
			<integer>77</integer>
			<key>toIndex</key>
			<integer>102</integer>
		</dict>
	</dict>
</dict>
</plist>
