<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>northern_huntress_idle</key>
		<dict>
			<key>prefix</key>
			<string>northern_huntress</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>northern_huntress_walk</key>
		<dict>
			<key>prefix</key>
			<string>northern_huntress</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>northern_huntress_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>northern_huntress</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>northern_huntress_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>northern_huntress</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>northern_huntress_attack</key>
		<dict>
			<key>prefix</key>
			<string>northern_huntress</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>80</integer>
		</dict>
		<key>northern_huntress_special</key>
		<dict>
			<key>prefix</key>
			<string>northern_huntress</string>
			<key>fromIndex</key>
			<integer>81</integer>
			<key>toIndex</key>
			<integer>105</integer>
		</dict>
		<key>northern_huntress_death</key>
		<dict>
			<key>prefix</key>
			<string>northern_huntress</string>
			<key>fromIndex</key>
			<integer>106</integer>
			<key>toIndex</key>
			<integer>119</integer>
		</dict>
	</dict>
</dict>
</plist>
