<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>northern_wildling_idle</key>
		<dict>
			<key>prefix</key>
			<string>northern_wildling</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>northern_wildling_walk</key>
		<dict>
			<key>prefix</key>
			<string>northern_wildling</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>23</integer>
		</dict>
		<key>northern_wildling_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>northern_wildling</string>
			<key>fromIndex</key>
			<integer>24</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>northern_wildling_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>northern_wildling</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>northern_wildling_attack</key>
		<dict>
			<key>prefix</key>
			<string>northern_wildling</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>88</integer>
		</dict>
		<key>northern_wildling_death</key>
		<dict>
			<key>prefix</key>
			<string>northern_wildling</string>
			<key>fromIndex</key>
			<integer>89</integer>
			<key>toIndex</key>
			<integer>102</integer>
		</dict>
	</dict>
</dict>
</plist>
