<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>svell_druid_proyectile_animations.plist</key>
		<string></string>
		<key>svell_druid_tower_frost_animations.plist</key>
		<string></string>
		<key>svell_druid_special_effect_animations.plist</key>
		<string></string>
		<key>svell_druid_tower_frost_tap_effect_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>svell_druid_idle</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>svell_druid_walk</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>svell_druid_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>svell_druid_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>73</integer>
		</dict>
		<key>svell_druid_attack</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>74</integer>
			<key>toIndex</key>
			<integer>120</integer>
		</dict>
		<key>svell_druid_attackRanged</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>121</integer>
			<key>toIndex</key>
			<integer>172</integer>
		</dict>
		<key>svell_druid_special</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>173</integer>
			<key>toIndex</key>
			<integer>216</integer>
		</dict>
		<key>svell_druid_death</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid</string>
			<key>fromIndex</key>
			<integer>217</integer>
			<key>toIndex</key>
			<integer>272</integer>
		</dict>
	</dict>
</dict>
</plist>
