<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>svell_druid_proyectile_travel</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid_proyectile</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>svell_druid_proyectile_hit</key>
		<dict>
			<key>prefix</key>
			<string>svell_druid_proyectile</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
