<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>valkyrie_idle</key>
		<dict>
			<key>prefix</key>
			<string>valkyrie</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>valkyrie_walk</key>
		<dict>
			<key>prefix</key>
			<string>valkyrie</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>valkyrie_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>valkyrie</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>valkyrie_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>valkyrie</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>valkyrie_attack</key>
		<dict>
			<key>prefix</key>
			<string>valkyrie</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>85</integer>
		</dict>
		<key>valkyrie_death</key>
		<dict>
			<key>prefix</key>
			<string>valkyrie</string>
			<key>fromIndex</key>
			<integer>86</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>valkyrie_summon</key>
		<dict>
			<key>prefix</key>
			<string>valkyrie</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>125</integer>
		</dict>
	</dict>
</dict>
</plist>
