<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>viking_boss_dragon_breath_particle_animations.plist</key>
		<string></string>
		<key>viking_boss_dragon_breath_floor_animations.plist</key>
		<string></string>
		<key>viking_boss_dragon_breath_hits_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>viking_boss_dragon_idle</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>viking_boss_dragon_toFly</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>13</integer>
		</dict>
		<key>viking_boss_dragon_walk</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>14</integer>
			<key>toIndex</key>
			<integer>31</integer>
		</dict>
		<key>viking_boss_dragon_outFly</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>32</integer>
			<key>toIndex</key>
			<integer>76</integer>
		</dict>
		<key>viking_boss_dragon_breathIn</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>77</integer>
			<key>toIndex</key>
			<integer>90</integer>
		</dict>
		<key>viking_boss_dragon_breathLoop</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>91</integer>
			<key>toIndex</key>
			<integer>100</integer>
		</dict>
		<key>viking_boss_dragon_breathOut</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_layer</string>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>fromIndex</key>
			<integer>102</integer>
			<key>toIndex</key>
			<integer>110</integer>
		</dict>
	</dict>
</dict>
</plist>
