<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>viking_boss_arrow_decal_animations.plist</key>
		<string></string>
		<key>viking_boss_axe_decal_animations.plist</key>
		<string></string>
		<key>viking_boss_spear_decal_animations.plist</key>
		<string></string>
		<key>viking_boss_stairs_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>viking_boss_idle</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>viking_boss_walk</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>9</integer>
		</dict>
		<key>viking_boss_insult</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss</string>
			<key>fromIndex</key>
			<integer>10</integer>
			<key>toIndex</key>
			<integer>45</integer>
		</dict>
		<key>viking_boss_attack</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss</string>
			<key>fromIndex</key>
			<integer>46</integer>
			<key>toIndex</key>
			<integer>93</integer>
		</dict>
		<key>viking_boss_insult2</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss</string>
			<key>fromIndex</key>
			<integer>94</integer>
			<key>toIndex</key>
			<integer>161</integer>
		</dict>
		<key>viking_boss_climb</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss</string>
			<key>fromIndex</key>
			<integer>162</integer>
			<key>toIndex</key>
			<integer>177</integer>
		</dict>
	</dict>
</dict>
</plist>
