<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>dragon_camouflage_iceshards_animations.plist</key>
		<string></string>
		<key>dragon_camouflage_grietas_animations.plist</key>
		<string></string>
		<key>mega_dragon_boss_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>viking_boss_dragon_rider_walk</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>viking_boss_dragon_rider_idle</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>2</integer>
		</dict>
		<key>viking_boss_dragon_rider_toFly</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>3</integer>
			<key>toIndex</key>
			<integer>14</integer>
		</dict>
		<key>viking_boss_dragon_rider_outFly</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>15</integer>
			<key>toIndex</key>
			<integer>59</integer>
		</dict>
		<key>viking_boss_dragon_rider_throwAxe</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>60</integer>
			<key>toIndex</key>
			<integer>87</integer>
		</dict>
		<key>viking_boss_dragon_rider_throwSpear</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>88</integer>
			<key>toIndex</key>
			<integer>115</integer>
		</dict>
		<key>viking_boss_dragon_rider_to curse</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>116</integer>
			<key>toIndex</key>
			<integer>121</integer>
		</dict>
		<key>viking_boss_dragon_rider_curse_loop</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>122</integer>
			<key>toIndex</key>
			<integer>128</integer>
		</dict>
		<key>viking_boss_dragon_rider_to_point</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>129</integer>
			<key>toIndex</key>
			<integer>137</integer>
		</dict>
		<key>viking_boss_dragon_rider_point</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>138</integer>
			<key>toIndex</key>
			<integer>145</integer>
		</dict>
		<key>viking_boss_dragon_rider_curse_out</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>146</integer>
			<key>toIndex</key>
			<integer>151</integer>
		</dict>
		<key>viking_boss_dragon_rider_angry</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>152</integer>
			<key>toIndex</key>
			<integer>199</integer>
		</dict>
		<key>viking_boss_dragon_rider_toAxe</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>200</integer>
			<key>toIndex</key>
			<integer>205</integer>
		</dict>
		<key>viking_boss_dragon_rider_axeLoop</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>206</integer>
			<key>toIndex</key>
			<integer>215</integer>
		</dict>
		<key>viking_boss_dragon_rider_outAxe</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>216</integer>
			<key>toIndex</key>
			<integer>220</integer>
		</dict>
		<key>viking_boss_dragon_rider_horn</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>221</integer>
			<key>toIndex</key>
			<integer>263</integer>
		</dict>
		<key>viking_boss_dragon_rider_toIdle</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>264</integer>
			<key>toIndex</key>
			<integer>284</integer>
		</dict>
		<key>viking_boss_dragon_rider_stand</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>284</integer>
			<key>toIndex</key>
			<integer>284</integer>
		</dict>
		<key>viking_boss_dragon_rider_callBoss</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>285</integer>
			<key>toIndex</key>
			<integer>376</integer>
		</dict>
		<key>viking_boss_dragon_rider_talks</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>377</integer>
			<key>toIndex</key>
			<integer>500</integer>
		</dict>
		<key>viking_boss_dragon_rider_callWyverns</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>501</integer>
			<key>toIndex</key>
			<integer>577</integer>
		</dict>
		<key>viking_boss_dragon_rider_death</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>578</integer>
			<key>toIndex</key>
			<integer>592</integer>
		</dict>
		<key>viking_boss_dragon_rider_breathIn</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>593</integer>
			<key>toIndex</key>
			<integer>606</integer>
		</dict>
		<key>viking_boss_dragon_rider_breathLoop</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>607</integer>
			<key>toIndex</key>
			<integer>616</integer>
		</dict>
		<key>viking_boss_dragon_rider_breathOut</key>
		<dict>
			<key>prefix</key>
			<string>viking_boss_dragon_rider</string>
			<key>fromIndex</key>
			<integer>618</integer>
			<key>toIndex</key>
			<integer>626</integer>
		</dict>
	</dict>
</dict>
</plist>
