<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>wicked_sisters_frog_idle</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_frog</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>wicked_sisters_frog_talk</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_frog</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
		<key>wicked_sisters_frog_walk</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_frog</string>
			<key>fromIndex</key>
			<integer>20</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>wicked_sisters_frog_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_frog</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>47</integer>
		</dict>
		<key>wicked_sisters_frog_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_frog</string>
			<key>fromIndex</key>
			<integer>48</integer>
			<key>toIndex</key>
			<integer>61</integer>
		</dict>
		<key>wicked_sisters_frog_death</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_frog</string>
			<key>fromIndex</key>
			<integer>62</integer>
			<key>toIndex</key>
			<integer>73</integer>
		</dict>
	</dict>
</dict>
</plist>
