<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>wicked_sisters_cauldron_smoke_green</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_cauldron_smoke</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>28</integer>
		</dict>
		<key>wicked_sisters_cauldron_smoke_violet</key>
		<dict>
			<key>prefix</key>
			<string>wicked_sisters_cauldron_smoke</string>
			<key>fromIndex</key>
			<integer>29</integer>
			<key>toIndex</key>
			<integer>56</integer>
		</dict>
	</dict>
</dict>
</plist>
