<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>wicked_sisters_witch_proyectile_violet_animations.plist</key>
		<string></string>
		<key>wicked_sisters_witch_proyectile_animations.plist</key>
		<string></string>
		<key>wicked_sisters_witch_proyectile_particle_animations.plist</key>
		<string></string>
		<key>wicked_sisters_witch_proyectile_hit_violet_animations.plist</key>
		<string></string>
		<key>wicked_sisters_witch_proyectile_hit_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>wicked_witch_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>wicked_witch_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>wicked_witch_walk</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>wicked_witch_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>wicked_witch_shoot</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>wicked_witch_layer</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>54</integer>
		</dict>
		<key>wicked_witch_shootGreen</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>wicked_witch_layer</string>
			<key>fromIndex</key>
			<integer>55</integer>
			<key>toIndex</key>
			<integer>90</integer>
		</dict>
		<key>wicked_witch_shootPower</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>wicked_witch_layer</string>
			<key>fromIndex</key>
			<integer>91</integer>
			<key>toIndex</key>
			<integer>146</integer>
		</dict>
		<key>wicked_witch_spawn</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>1</integer>
			<key>prefix</key>
			<string>wicked_witch_layer</string>
			<key>fromIndex</key>
			<integer>147</integer>
			<key>toIndex</key>
			<integer>172</integer>
		</dict>
	</dict>
</dict>
</plist>
