<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_murglun_attack_explotion_animations.plist</key>
		<string></string>
		<key>hero_murglun_attack_explotion_basic_animations.plist</key>
		<string></string>
		<key>hero_murglun_attack_particle_animations.plist</key>
		<string></string>
		<key>hero_murglun_death_smoke_animations.plist</key>
		<string></string>
		<key>hero_murglun_lava_blood_explotion_animations.plist</key>
		<string></string>
		<key>hero_murglun_geiser_animations.plist</key>
		<string></string>
		<key>hero_murglun_heat_wave_fx1_animations.plist</key>
		<string></string>
		<key>hero_murglun_heat_wave_fx2_animations.plist</key>
		<string></string>
		<key>hero_murglun_tower_fx_animations.plist</key>
		<string></string>
		<key>hero_murglun_ultimate_particle_animations.plist</key>
		<string></string>
		<key>hero_murglun_ultimate_particle2_animations.plist</key>
		<string></string>
		<key>hero_murglun_ultimate_explotion_animations.plist</key>
		<string></string>
		<key>hero_murglun_ultimate_rocks_animations.plist</key>
		<string></string>
		<key>hero_murglun_geiser_death_animations.plist</key>
		<string></string>
		<key>hero_tank_fire_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_murglun_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_murglun</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
		<key>hero_murglun_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_murglun</string>
			<key>fromIndex</key>
			<integer>20</integer>
			<key>toIndex</key>
			<integer>46</integer>
		</dict>
		<key>hero_murglun_heatWave</key>
		<dict>
			<key>prefix</key>
			<string>hero_murglun</string>
			<key>fromIndex</key>
			<integer>47</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>hero_murglun_geiser</key>
		<dict>
			<key>prefix</key>
			<string>hero_murglun</string>
			<key>fromIndex</key>
			<integer>99</integer>
			<key>toIndex</key>
			<integer>133</integer>
		</dict>
		<key>hero_murglun_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_murglun</string>
			<key>fromIndex</key>
			<integer>134</integer>
			<key>toIndex</key>
			<integer>173</integer>
		</dict>
		<key>hero_murglun_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_murglun</string>
			<key>fromIndex</key>
			<integer>174</integer>
			<key>toIndex</key>
			<integer>213</integer>
		</dict>
		<key>hero_murglun_respawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_murglun</string>
			<key>fromIndex</key>
			<integer>214</integer>
			<key>toIndex</key>
			<integer>264</integer>
		</dict>
	</dict>
</dict>
</plist>
