<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>mercenary_troll_hunter_idle</key>
		<dict>
			<key>prefix</key>
			<string>mercenary_troll_hunter</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>mercenary_troll_hunter_walk</key>
		<dict>
			<key>prefix</key>
			<string>mercenary_troll_hunter</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>mercenary_troll_hunter_attack</key>
		<dict>
			<key>prefix</key>
			<string>mercenary_troll_hunter</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>mercenary_troll_hunter_attackRange</key>
		<dict>
			<key>prefix</key>
			<string>mercenary_troll_hunter</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>mercenary_troll_hunter_death</key>
		<dict>
			<key>prefix</key>
			<string>mercenary_troll_hunter</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>74</integer>
		</dict>
	</dict>
</dict>
</plist>
