<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>raider_projectile_decal_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>raider_idle</key>
		<dict>
			<key>prefix</key>
			<string>raider</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>raider_walk</key>
		<dict>
			<key>prefix</key>
			<string>raider</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>raider_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>raider</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>41</integer>
		</dict>
		<key>raider_attack</key>
		<dict>
			<key>prefix</key>
			<string>raider</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>raider_range</key>
		<dict>
			<key>prefix</key>
			<string>raider</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>100</integer>
		</dict>
		<key>raider_death</key>
		<dict>
			<key>prefix</key>
			<string>raider</string>
			<key>fromIndex</key>
			<integer>101</integer>
			<key>toIndex</key>
			<integer>124</integer>
		</dict>
	</dict>
</dict>
</plist>
