<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>special_spider_tower_babyspider_idle</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_babyspider</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>special_spider_tower_babyspider_walk</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_babyspider</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>9</integer>
		</dict>
		<key>special_spider_tower_babyspider_attack</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_babyspider</string>
			<key>fromIndex</key>
			<integer>10</integer>
			<key>toIndex</key>
			<integer>38</integer>
		</dict>
		<key>special_spider_tower_babyspider_death</key>
		<dict>
			<key>prefix</key>
			<string>special_spider_tower_babyspider</string>
			<key>fromIndex</key>
			<integer>39</integer>
			<key>toIndex</key>
			<integer>59</integer>
		</dict>
	</dict>
</dict>
</plist>
