<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>dragon_king_boss_body_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>dragon_king_boss_body_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>6</integer>
		</dict>
		<key>dragon_king_boss_body_outTail</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>dragon_king_boss_body_layer</string>
			<key>fromIndex</key>
			<integer>7</integer>
			<key>toIndex</key>
			<integer>51</integer>
		</dict>
		<key>dragon_king_boss_body_inSlide</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>dragon_king_boss_body_layer</string>
			<key>fromIndex</key>
			<integer>52</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>dragon_king_boss_body_inHead</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>dragon_king_boss_body_layer</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>94</integer>
		</dict>
		<key>dragon_king_boss_body_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>4</integer>
			<key>prefix</key>
			<string>dragon_king_boss_body_layer</string>
			<key>fromIndex</key>
			<integer>95</integer>
			<key>toIndex</key>
			<integer>120</integer>
		</dict>
	</dict>
</dict>
</plist>
