<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>dragon_king_boss_body_animations.plist</key>
		<string></string>
		<key>dragon_king_boss_particle_animations.plist</key>
		<string></string>
		<key>dragon_king_boss_death_water_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>dragon_king_boss_idle</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>30</integer>
			<key>prefix</key>
			<string>dragon_king_boss_layer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>dragon_king_boss_talkLoop</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>30</integer>
			<key>prefix</key>
			<string>dragon_king_boss_layer</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>53</integer>
		</dict>
		<key>dragon_king_boss_attack</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>30</integer>
			<key>prefix</key>
			<string>dragon_king_boss_layer</string>
			<key>fromIndex</key>
			<integer>54</integer>
			<key>toIndex</key>
			<integer>83</integer>
		</dict>
		<key>dragon_king_boss_in</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>30</integer>
			<key>prefix</key>
			<string>dragon_king_boss_layer</string>
			<key>fromIndex</key>
			<integer>84</integer>
			<key>toIndex</key>
			<integer>100</integer>
		</dict>
		<key>dragon_king_boss_out</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>30</integer>
			<key>prefix</key>
			<string>dragon_king_boss_layer</string>
			<key>fromIndex</key>
			<integer>101</integer>
			<key>toIndex</key>
			<integer>117</integer>
		</dict>
		<key>dragon_king_boss_death</key>
		<dict>
			<key>layerStart</key>
			<integer>1</integer>
			<key>layerEnd</key>
			<integer>30</integer>
			<key>prefix</key>
			<string>dragon_king_boss_layer</string>
			<key>fromIndex</key>
			<integer>118</integer>
			<key>toIndex</key>
			<integer>190</integer>
		</dict>
	</dict>
</dict>
</plist>
