<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>mogwai_idle</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>mogwai_walk</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>mogwai_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>mogwai_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>mogwai_attack</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>81</integer>
		</dict>
		<key>mogwai_death</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>82</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>mogwai_multiply</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>125</integer>
		</dict>
		<key>mogwai_spawn</key>
		<dict>
			<key>prefix</key>
			<string>mogwai</string>
			<key>fromIndex</key>
			<integer>126</integer>
			<key>toIndex</key>
			<integer>137</integer>
		</dict>
	</dict>
</dict>
</plist>
