<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>nian_regen_effect_healing_animations.plist</key>
		<string></string>
		<key>nian_regen_effect_ripple_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>nian_idle</key>
		<dict>
			<key>prefix</key>
			<string>nian</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>nian_walk</key>
		<dict>
			<key>prefix</key>
			<string>nian</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>nian_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>nian</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>33</integer>
		</dict>
		<key>nian_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>nian</string>
			<key>fromIndex</key>
			<integer>34</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>nian_attack</key>
		<dict>
			<key>prefix</key>
			<string>nian</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>70</integer>
		</dict>
		<key>nian_death</key>
		<dict>
			<key>prefix</key>
			<string>nian</string>
			<key>fromIndex</key>
			<integer>71</integer>
			<key>toIndex</key>
			<integer>89</integer>
		</dict>
	</dict>
</dict>
</plist>
