<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>linirea_farmer_animations.plist</key>
		<dict/>
		<key>linirea_soldier_animations.plist</key>
		<dict/>
		<key>arcane_magus_animations.plist</key>
		<dict/>
		<key>devoted_priest_animations.plist</key>
		<dict/>
		<key>high_sorcerer_animations.plist</key>
		<dict/>
		<key>high_sorcerer_sheep_animations.plist</key>
		<dict/>
		<key>mogwai_animations.plist</key>
		<dict/>
		<key>carnival_dragon_body_animations.plist</key>
		<dict/>
		<key>carnival_dragon_head_animations.plist</key>
		<dict/>
		<key>nian_animations.plist</key>
		<dict/>
	</dict>
	<key>animations</key>
	<dict/>
</dict>
</plist>
