<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>power_juggernaut_drop</key>
	<string>0</string>
	<key>power_juggernaut_liftoff_takeoff</key>
	<string>0</string>
	<key>power_juggernaut_liftoff_transform</key>
	<string>0</string>
	<key>power_juggernaut_missilelaunch</key>
	<string>0</string>
	<key>power_juggernaut_missiletravel</key>
	<string>0</string>
	<key>power_juggernaut_punch</key>
	<string>0</string>
</dict>
</plist>
