<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>linirea_high_sorcerer_sheep_explode</key>
	<string>0</string>
	<key>linirea_elite_footman_improve</key>
	<string>0</string>
	<key>linirea_arcane_magus_attack_cast</key>
	<string>0</string>
	<key>linirea_arcane_magus_attack_impacts</key>
	<string>0</string>
	<key>linirea_arcane_magus_teleport</key>
	<string>0</string>
	<key>linirea_arcane_magus_teleportspell</key>
	<string>0</string>
	<key>linirea_high_sorcerer_hit</key>
	<string>0</string>
	<key>linirea_high_sorcerer_sheepbleat</key>
	<string>0</string>
	<key>linirea_high_sorcerer_sheepspell</key>
	<string>0</string>
	<key>mogwai_reproduction</key>
	<string>0</string>
</dict>
</plist>
