<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>haunted_skeleton_death</key>
	<string>0</string>
	<key>screecher_bat_attack</key>
	<string></string>
	<key>dwarves_sulfur_alchemist_death</key>
	<string></string>
	<key>corrosive_soul_death</key>
	<string></string>
	<key>frog_erudite_shot</key>
	<string></string>
</dict>
</plist>
