<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frog_chaser_jump</key>
	<string>0</string>
	<key>frog_erudite_death</key>
	<string>0</string>
	<key>frog_erudite_shot</key>
	<string>0</string>
	<key>frog_infuser_crystal_blockedtower-loop-end</key>
	<string>0</string>
	<key>frog_infuser_crystal_blockedtower-loop</key>
	<string>0</string>
	<key>frog_infuser_crystal_bolt-loopstart</key>
	<string>0</string>
	<key>frog_infuser_crystal_charged</key>
	<string>0</string>
	<key>frog_infuser_crystalcharge-loop-end</key>
	<string>0</string>
	<key>frog_infuser_crystalcharge-loop-start</key>
	<string>0</string>
	<key>frog_infuser_crystalcharge-loop</key>
	<string>0</string>
	<key>frog_infuser_shield-complete</key>
	<string>0</string>
</dict>
</plist>
