<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>2550</integer>
	<key>gems</key>
	<integer>250</integer>
	<key>intro_cutscene</key>
	<false/>
	<key>objects</key>
	<array>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>entities</string>
			<key>y_position_adjust</key>
			<integer>599</integer>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.34</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>489</integer>
			</dict>
			<key>single_frame</key>
			<string>boss_defeat_decal.png</string>
		</dict>
	</array>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>210</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>320</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_archer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>550</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>falconeer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>falconeer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>falconeer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>falconeer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>falconeer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>falconeer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>7</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>650</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legionnaire</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>2100</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>sand_mysthic</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sand_mysthic</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>2250</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>1800</integer>
					<key>path_index</key>
					<integer>5</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>magic_carpet</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<real>1200</real>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>magic_carpet</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<integer>800</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>4200</integer>
					<key>path_index</key>
					<integer>6</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>sand_mysthic</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>4350</integer>
					<key>path_index</key>
					<integer>5</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>camel_rider</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>3900</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>magic_carpet</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<real>1200</real>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>magic_carpet</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<integer>800</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>5700</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elephant_lancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>6500</integer>
					<key>path_index</key>
					<integer>6</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elephant_lancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>6245</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>legion_nomad</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_nomad</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>240</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>6200</integer>
					<key>path_index</key>
					<integer>7</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>legion_nomad</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_nomad</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<real>7545</real>
					<key>path_index</key>
					<integer>7</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>assassin</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>145</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>desert_eagle</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>assassin</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>desert_eagle</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>assassin</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>desert_eagle</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>7500</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>assassin</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>desert_eagle</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>assassin</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>desert_eagle</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>assassin</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>desert_eagle</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_SHADOW_ARCHERS</string>
			<string>KR4_TOWER_WICKED_SISTERS</string>
		</array>
	</dict>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
		</dict>
		<key>objects</key>
		<array/>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>9</integer>
			<key>type</key>
			<string>warmongers_barrack_orc_dens</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>type</key>
			<string>warmongers_barrack_orc_dens</string>
		</dict>
	</array>
</dict>
</plist>
