<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>650</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>intro_cutscene</key>
	<false/>
	<key>objects</key>
	<array/>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>2600</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>450</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>prehistoric_dwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>5</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<real>1420</real>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>600</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>1600</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>prehistoric_dwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>600</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>4500</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>prehistoric_dwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>1620</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>4200</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>45</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>2</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_ELITE_HARASSERS</string>
			<string>KR4_TOWER_MELTING_FURNACE</string>
			<string>KR4_TOWER_GOBLIRANGS</string>
		</array>
	</dict>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
		</dict>
		<key>objects</key>
		<array/>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>6</integer>
			<key>type</key>
			<string>warmongers_barrack_orc_dens</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>10</integer>
			<key>type</key>
			<string>warmongers_barrack_orc_dens</string>
		</dict>
	</array>
</dict>
</plist>
