<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1200</integer>
	<key>gems</key>
	<integer>120</integer>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>glacial_wolf</string>
							<key>cant</key>
							<integer>14</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>blue_wyvern</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>apex_stalker</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ice_witch</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>230</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>glacial_wolf</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ice_witch</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>400</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>blue_wyvern</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>glacial_wolf</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>90</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>apex_stalker</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>glacial_wolf</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>apex_stalker</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>270</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<real>3800</real>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>nanoq_warbear</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>1500</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>nanoq_warbear</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>1500</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>nanoq_warbear</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
							<key>interval_next_spawn</key>
							<integer>800</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict>
			<key>wave1</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>iceberg</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.5</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>996</integer>
									<key>y</key>
									<integer>-221</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>decal</key>
								<dict>
									<key>decal</key>
									<string>decals</string>
									<key>z</key>
									<integer>-10</integer>
								</dict>
								<key>spawns</key>
								<array/>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>iceberg_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>45</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>120</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>150</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>180</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>220</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_wildling</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>240</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_berserker</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_berserker</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>260</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>key</key>
								<string>ship</string>
								<key>army_type</key>
								<string>0</string>
								<key>anchor</key>
								<dict>
									<key>x</key>
									<real>0.5</real>
									<key>y</key>
									<real>0.2</real>
								</dict>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-265</integer>
									<key>y</key>
									<integer>577</integer>
								</dict>
								<key>cant</key>
								<integer>1</integer>
								<key>destiny_position</key>
								<dict>
									<key>x</key>
									<integer>242</integer>
									<key>y</key>
									<integer>466</integer>
								</dict>
								<key>spawn_position</key>
								<dict>
									<key>x</key>
									<integer>255</integer>
									<key>y</key>
									<integer>485</integer>
								</dict>
								<key>navegation_time</key>
								<integer>5</integer>
								<key>wait_open_door</key>
								<integer>1</integer>
								<key>time_between_spawns</key>
								<integer>1</integer>
								<key>wait_close_door</key>
								<integer>2</integer>
								<key>particle_time</key>
								<real>0.3</real>
								<key>spawns</key>
								<array>
									<dict>
										<key>type</key>
										<string>northern_berserker</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>northern_berserker</string>
										<key>datapath</key>
										<dict>
											<key>path</key>
											<integer>1</integer>
											<key>subpath</key>
											<integer>0</integer>
											<key>node</key>
											<integer>75</integer>
										</dict>
									</dict>
								</array>
								<key>animations</key>
								<dict>
									<key>animations_file</key>
									<string>ship_animations.plist</string>
								</dict>
							</dict>
						</array>
						<key>interval_spawns</key>
						<real>0.5</real>
					</dict>
					<key>delay</key>
					<integer>280</integer>
				</dict>
			</array>
		</dict>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
		</dict>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_SHADOW_ARCHERS</string>
		</array>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>type</key>
			<string>fallen_ones_spirit_mausoleum_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>7</integer>
			<key>type</key>
			<string>fallen_ones_spirit_mausoleum_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>8</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>6</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>4</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
		</dict>
	</array>
</dict>
</plist>
