<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<real>1600</real>
	<key>gems</key>
	<integer>150</integer>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>600</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>600</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>450</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>griffin_bombardier</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elven_warrior</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>devoted_priest</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
		</dict>
		<key>objects</key>
		<array/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_MELTING_FURNACE</string>
			<string>KR4_TOWER_GOBLIRANGS</string>
		</array>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>0</integer>
			<key>type</key>
			<string>elves_barrack_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>9</integer>
			<key>type</key>
			<string>elves_barrack_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>10</integer>
			<key>type</key>
			<string>elves_barrack_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>13</integer>
			<key>type</key>
			<string>elves_barrack_level1</string>
		</dict>
	</array>
</dict>
</plist>
