<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1700</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>objects</key>
	<array>
		<dict>
			<key>anchor</key>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>689</integer>
			</dict>
			<key>single_frame</key>
			<string>stage_22_modes_nieveBg.png</string>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>start_on_idle</key>
			<true/>
			<key>loop_min</key>
			<integer>3</integer>
			<key>loop_max</key>
			<integer>5</integer>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>688</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>min_delay</key>
				<integer>2</integer>
				<key>max_delay</key>
				<integer>3</integer>
				<key>animations_file</key>
				<string>stage_22_modes_goblin1_animations.plist</string>
			</dict>
		</dict>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>start_on_idle</key>
			<true/>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>695</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>min_delay</key>
				<integer>2</integer>
				<key>max_delay</key>
				<integer>6</integer>
				<key>animations_file</key>
				<string>stage_22_modes_goblin2_animations.plist</string>
			</dict>
		</dict>
	</array>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>16</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>2</integer>
					<key>cooldown</key>
					<integer>10</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>4</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>30</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>17</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>2</integer>
					<key>cooldown</key>
					<integer>40</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>4</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>20</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>18</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>3</integer>
					<key>cooldown</key>
					<integer>30</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>4</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>60</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>19</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>4</integer>
					<key>cooldown</key>
					<integer>22</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>4</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>80</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>20</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>5</integer>
					<key>cooldown</key>
					<integer>20</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>4</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>100</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>21</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>3</integer>
					<key>cooldown</key>
					<integer>20</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>2</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>90</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>22</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>5</integer>
					<key>cooldown</key>
					<integer>15</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>2</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>100</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>23</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>6</integer>
					<key>cooldown</key>
					<integer>25</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>2</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>110</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>24</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>4</integer>
					<key>cooldown</key>
					<integer>10</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>1</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>50</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>25</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>6</integer>
					<key>cooldown</key>
					<integer>15</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>4</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>60</integer>
					<key>node_offset_pc</key>
					<integer>25</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>26</integer>
			<key>type</key>
			<string>dummy_holder</string>
			<key>ignore_texture</key>
			<true/>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>ice_block</string>
					<key>wave_start</key>
					<integer>6</integer>
					<key>cooldown</key>
					<integer>10</integer>
					<key>merchant_sale</key>
					<false/>
					<key>cost</key>
					<array>
						<integer>100</integer>
					</array>
					<key>unit</key>
					<string>ice_golem</string>
					<key>path</key>
					<integer>1</integer>
					<key>subpath</key>
					<integer>0</integer>
					<key>node</key>
					<integer>60</integer>
					<key>delay_to_spawn</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>11</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>rally</string>
					<key>dummy</key>
					<true/>
					<key>main</key>
					<true/>
					<key>range</key>
					<integer>290</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>door</string>
					<key>cooldown</key>
					<real>0.01</real>
					<key>animation_open</key>
					<string>open</string>
					<key>animation_close</key>
					<string>close</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_range</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>40</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_axe</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_melee</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>20</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_spear</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>8</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>rally</string>
					<key>dummy</key>
					<true/>
					<key>main</key>
					<true/>
					<key>range</key>
					<integer>290</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>door</string>
					<key>cooldown</key>
					<real>0.01</real>
					<key>animation_open</key>
					<string>open</string>
					<key>animation_close</key>
					<string>close</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_range</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>40</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_axe</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_melee</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>20</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_spear</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>type</key>
			<string>mercenary_troll_hut</string>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>rally</string>
					<key>dummy</key>
					<true/>
					<key>main</key>
					<true/>
					<key>range</key>
					<integer>290</integer>
				</dict>
				<dict>
					<key>key</key>
					<string>door</string>
					<key>cooldown</key>
					<real>0.01</real>
					<key>animation_open</key>
					<string>open</string>
					<key>animation_close</key>
					<string>close</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_range</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>40</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_axe</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
				<dict>
					<key>key</key>
					<string>unit_attach</string>
					<key>id</key>
					<string>unit_attach_melee</string>
					<key>merchant_sale</key>
					<false/>
					<key>level</key>
					<integer>0</integer>
					<key>dummy</key>
					<true/>
					<key>cost</key>
					<string>20</string>
					<key>unit_type</key>
					<string>mercenary_troll_hunter_spear</string>
					<key>can_level_up</key>
					<false/>
					<key>achievement_on_attach</key>
					<string>KR4_ACHIEVEMENT_TROLL</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>65</integer>
							<key>interval_next_spawn</key>
							<integer>65</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>35</integer>
							<key>interval_next_spawn</key>
							<integer>35</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>65</integer>
							<key>interval_next_spawn</key>
							<integer>65</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>35</integer>
							<key>interval_next_spawn</key>
							<integer>35</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>2700</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>800</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>600</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>2700</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>800</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>600</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>5500</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>650</integer>
							<key>interval_next_spawn</key>
							<integer>650</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>5900</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>40</integer>
							<key>interval_next_spawn</key>
							<integer>40</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>20</integer>
							<key>interval_next_spawn</key>
							<integer>20</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>8800</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>35</integer>
							<key>interval_next_spawn</key>
							<integer>35</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>8800</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>8800</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>winter_lord</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>8800</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>draugr_gold</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>35</integer>
							<key>interval_next_spawn</key>
							<integer>35</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_BONE_FLINGERS</string>
			<string>KR4_TOWER_DARK_KNIGHTS</string>
		</array>
	</dict>
</dict>
</plist>
