<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1300</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>objects</key>
	<array/>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>110</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>90</integer>
							<key>interval_next_spawn</key>
							<integer>90</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<real>1000</real>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<real>1200</real>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>90</integer>
							<key>interval_next_spawn</key>
							<integer>90</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>2900</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>90</integer>
							<key>interval_next_spawn</key>
							<integer>90</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>2500</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>280</integer>
							<key>interval_next_spawn</key>
							<integer>280</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>5100</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>140</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>4700</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_ELITE_HARASSERS</string>
			<string>KR4_TOWER_SPIRIT_MAUSOLEUM</string>
		</array>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>type</key>
			<string>swamp_monster_level1</string>
		</dict>
	</array>
</dict>
</plist>
