<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1700</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>objects</key>
	<array/>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>chaser</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>200</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>900</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>450</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>600</integer>
							<key>interval_next_spawn</key>
							<integer>4000</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chaser</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>220</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>chaser</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>500</integer>
							<key>interval_next_spawn</key>
							<integer>800</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>9</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>250</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>200</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warden</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>infuser</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
		</dict>
		<key>events</key>
		<dict>
			<key>wave1</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>infuser</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>subpath</key>
								<integer>0</integer>
								<key>interval</key>
								<integer>6</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>260</integer>
									<key>y</key>
									<integer>147</integer>
								</dict>
								<key>node</key>
								<integer>115</integer>
								<key>delay</key>
								<integer>0</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>100</integer>
					<key>object</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>infuser</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>subpath</key>
								<integer>0</integer>
								<key>interval</key>
								<integer>6</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>260</integer>
									<key>y</key>
									<integer>147</integer>
								</dict>
								<key>node</key>
								<integer>115</integer>
								<key>delay</key>
								<integer>0</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>106</integer>
					<key>object</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>infuser</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>subpath</key>
								<integer>0</integer>
								<key>interval</key>
								<integer>6</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>260</integer>
									<key>y</key>
									<integer>147</integer>
								</dict>
								<key>node</key>
								<integer>115</integer>
								<key>delay</key>
								<integer>0</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>112</integer>
					<key>object</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>infuser</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>subpath</key>
								<integer>0</integer>
								<key>interval</key>
								<integer>6</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>260</integer>
									<key>y</key>
									<integer>147</integer>
								</dict>
								<key>node</key>
								<integer>115</integer>
								<key>delay</key>
								<integer>0</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>118</integer>
					<key>object</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>infuser</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>subpath</key>
								<integer>0</integer>
								<key>interval</key>
								<integer>6</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>260</integer>
									<key>y</key>
									<integer>147</integer>
								</dict>
								<key>node</key>
								<integer>115</integer>
								<key>delay</key>
								<integer>0</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>124</integer>
					<key>object</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>type</key>
				<string>bullywag_spawner</string>
				<key>position</key>
				<dict>
					<key>x</key>
					<integer>260</integer>
					<key>y</key>
					<integer>147</integer>
				</dict>
			</dict>
			<dict>
				<key>type</key>
				<string>bullywag_spawner</string>
				<key>position</key>
				<dict>
					<key>x</key>
					<integer>700</integer>
					<key>y</key>
					<integer>455</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_ORC_DENTS</string>
			<string>KR4_TOWER_ELITE_HARASSERS</string>
		</array>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>4</integer>
			<key>type</key>
			<string>deep_devils_reef_level4</string>
		</dict>
	</array>
</dict>
</plist>
