<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>3300</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>intro_cutscene</key>
	<false/>
	<key>objects</key>
	<array/>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>300</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>djini</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<real>3000</real>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_nomad</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>legion_nomad</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>45</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>1500</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>djini</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_SHAOLIN_TEMPLE</string>
			<string>KR4_TOWER_GOBLIRANGS</string>
		</array>
	</dict>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict>
			<key>wave1</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>subpath</key>
								<integer>1</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>74</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>935</integer>
										<key>y</key>
										<integer>230</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>962</integer>
										<key>y</key>
										<integer>249</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>subpath</key>
								<integer>2</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>72</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>935</integer>
										<key>y</key>
										<integer>230</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>962</integer>
										<key>y</key>
										<integer>249</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>subpath</key>
								<integer>1</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>52</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>667</integer>
										<key>y</key>
										<integer>481</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>subpath</key>
								<integer>2</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>59</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>568</integer>
										<key>y</key>
										<integer>459</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>subpath</key>
								<integer>1</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>59</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>568</integer>
										<key>y</key>
										<integer>459</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>subpath</key>
								<integer>2</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>72</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>935</integer>
										<key>y</key>
										<integer>230</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>962</integer>
										<key>y</key>
										<integer>249</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>4</string>
								<key>subpath</key>
								<integer>2</integer>
								<key>node</key>
								<integer>90</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>519</integer>
										<key>y</key>
										<integer>434</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>45</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>subpath</key>
								<integer>2</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>92</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>406</integer>
										<key>y</key>
										<integer>417</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>46</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>4</integer>
								<key>interval</key>
								<string>2</string>
								<key>subpath</key>
								<integer>1</integer>
								<key>node</key>
								<integer>100</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>627</integer>
										<key>y</key>
										<integer>134</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>47</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>7</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>160</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>402</integer>
										<key>y</key>
										<integer>152</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>370</integer>
										<key>y</key>
										<integer>138</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>4</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>160</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>430</integer>
										<key>y</key>
										<integer>463</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>3</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>160</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>465</integer>
										<key>y</key>
										<integer>480</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>72</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>4</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>160</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>402</integer>
										<key>y</key>
										<integer>152</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>370</integer>
										<key>y</key>
										<integer>138</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>120</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>160</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>430</integer>
										<key>y</key>
										<integer>463</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>120</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>160</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>465</integer>
										<key>y</key>
										<integer>480</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>122</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>6</integer>
								<key>interval</key>
								<string>1</string>
								<key>subpath</key>
								<integer>1</integer>
								<key>node</key>
								<integer>90</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>610</integer>
										<key>y</key>
										<integer>358</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>549</integer>
										<key>y</key>
										<integer>390</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>96</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>3</integer>
								<key>interval</key>
								<string>2</string>
								<key>subpath</key>
								<integer>2</integer>
								<key>node</key>
								<integer>90</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>879</integer>
										<key>y</key>
										<integer>178</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>95</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>3</integer>
								<key>interval</key>
								<string>2</string>
								<key>subpath</key>
								<integer>2</integer>
								<key>node</key>
								<integer>90</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>749</integer>
										<key>y</key>
										<integer>140</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>95</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>subpath</key>
								<integer>1</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>74</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>935</integer>
										<key>y</key>
										<integer>230</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>962</integer>
										<key>y</key>
										<integer>249</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>114</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>subpath</key>
								<integer>2</integer>
								<key>interval</key>
								<string>4</string>
								<key>node</key>
								<integer>72</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>935</integer>
										<key>y</key>
										<integer>230</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>962</integer>
										<key>y</key>
										<integer>249</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>114</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>subpath</key>
								<integer>1</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>52</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>667</integer>
										<key>y</key>
										<integer>481</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>114</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>subpath</key>
								<integer>2</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>59</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>568</integer>
										<key>y</key>
										<integer>459</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>118</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>subpath</key>
								<integer>1</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>59</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>568</integer>
										<key>y</key>
										<integer>459</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>118</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>2</integer>
								<key>subpath</key>
								<integer>2</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>72</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>935</integer>
										<key>y</key>
										<integer>230</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>962</integer>
										<key>y</key>
										<integer>249</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>122</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>1</integer>
								<key>interval</key>
								<string>4</string>
								<key>subpath</key>
								<integer>2</integer>
								<key>node</key>
								<integer>90</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>519</integer>
										<key>y</key>
										<integer>434</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>122</integer>
				</dict>
			</array>
			<key>wave1-example-arriba</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>50</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>667</integer>
										<key>y</key>
										<integer>481</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>50</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>568</integer>
										<key>y</key>
										<integer>459</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>1</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>33</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>610</integer>
										<key>y</key>
										<integer>358</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>549</integer>
										<key>y</key>
										<integer>390</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>70</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>406</integer>
										<key>y</key>
										<integer>417</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>65</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>519</integer>
										<key>y</key>
										<integer>434</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>95</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>355</integer>
										<key>y</key>
										<integer>463</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>95</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>465</integer>
										<key>y</key>
										<integer>480</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>wave1-example-abajo</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>75</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>627</integer>
										<key>y</key>
										<integer>134</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>70</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>517</integer>
										<key>y</key>
										<integer>155</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>40</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>935</integer>
										<key>y</key>
										<integer>230</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>962</integer>
										<key>y</key>
										<integer>249</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>40</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>879</integer>
										<key>y</key>
										<integer>178</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>40</integer>
								<key>flip_x</key>
								<false/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>749</integer>
										<key>y</key>
										<integer>140</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>legion_nomad</string>
								<key>is_unit</key>
								<true/>
								<key>army_type</key>
								<integer>0</integer>
								<key>cant</key>
								<integer>5</integer>
								<key>interval</key>
								<string>2</string>
								<key>node</key>
								<integer>113</integer>
								<key>flip_x</key>
								<true/>
								<key>position</key>
								<array>
									<dict>
										<key>x</key>
										<integer>402</integer>
										<key>y</key>
										<integer>152</integer>
									</dict>
									<dict>
										<key>x</key>
										<integer>369</integer>
										<key>y</key>
										<integer>138</integer>
									</dict>
								</array>
							</dict>
						</array>
						<key>path</key>
						<integer>3</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
		</dict>
		<key>objects</key>
		<array/>
	</dict>
</dict>
</plist>
