<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>770</integer>
	<key>gems</key>
	<integer>110</integer>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>800</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>3000</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>1500</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>1500</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warhammer_guard</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>2000</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>1500</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>1800</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warhammer_guard</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mechadwarf</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bruiser</string>
							<key>cant</key>
							<integer>30</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>2000</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>800</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>tinbeard_gunman</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>800</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>1200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>30</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>1700</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>smokebeard_engineer</string>
							<key>cant</key>
							<integer>13</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>10000</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bruiser</string>
							<key>cant</key>
							<integer>50</integer>
							<key>interval</key>
							<integer>40</integer>
							<key>interval_next_spawn</key>
							<integer>1400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>sulfur_alchemist</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>270</integer>
							<key>interval_next_spawn</key>
							<integer>1000</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bruiser</string>
							<key>cant</key>
							<integer>30</integer>
							<key>interval</key>
							<integer>30</integer>
							<key>interval_next_spawn</key>
							<integer>2600</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>30</integer>
							<key>interval</key>
							<integer>250</integer>
							<key>interval_next_spawn</key>
							<integer>200</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>900</integer>
							<key>interval_next_spawn</key>
							<real>2000</real>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>stonebeard_geomancer</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>1200</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict>
			<key>boss_spiders_4</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>clockwork_spider</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>4</integer>
								<key>interval</key>
								<string>1</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<real>1078</real>
									<key>y</key>
									<integer>753</integer>
								</dict>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>node</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>cyclopter_pilot</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>1</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<real>1078</real>
									<key>y</key>
									<integer>753</integer>
								</dict>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>node</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>4</integer>
						<key>interval_spawns</key>
						<integer>1</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>boss_spiders_0</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>clockwork_spider</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>6</integer>
								<key>interval</key>
								<string>1</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-68</integer>
									<key>y</key>
									<integer>268</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>boss_rockeng_0</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>chomp_bot</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>3</integer>
								<key>interval</key>
								<string>1</string>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-68</integer>
									<key>y</key>
									<integer>268</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>smokebeard_engineer</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>1</string>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>-68</integer>
									<key>y</key>
									<integer>268</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>0</integer>
						<key>interval_spawns</key>
						<integer>1</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>boss_rockeng_4</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>chomp_bot</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>1</string>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<real>1078</real>
									<key>y</key>
									<integer>753</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>smokebeard_engineer</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>1</integer>
								<key>interval</key>
								<string>1</string>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<real>1078</real>
									<key>y</key>
									<integer>753</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>4</integer>
						<key>interval_spawns</key>
						<integer>1</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>boss_alche_2</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>sulfur_alchemist</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>1</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>616</integer>
									<key>y</key>
									<integer>880</integer>
								</dict>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>node</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>sulfur_alchemist</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>1</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>616</integer>
									<key>y</key>
									<integer>880</integer>
								</dict>
								<key>fixed_sub_path</key>
								<integer>-1</integer>
								<key>node</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>5</integer>
					</dict>
					<key>delay</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>boss_mecha_2</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>mechadwarf</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>2</integer>
								<key>interval</key>
								<string>3</string>
								<key>fixed_sub_path</key>
								<integer>0</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>616</integer>
									<key>y</key>
									<integer>880</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>0</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>boss14</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>mechadwarf</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>4</integer>
								<key>interval</key>
								<string>6</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>616</integer>
									<key>y</key>
									<integer>880</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>smokebeard_engineer</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>3</integer>
								<key>interval</key>
								<string>3</string>
								<key>node</key>
								<integer>2</integer>
								<key>position</key>
								<dict>
									<key>x</key>
									<integer>616</integer>
									<key>y</key>
									<integer>880</integer>
								</dict>
							</dict>
						</array>
						<key>path</key>
						<integer>2</integer>
						<key>interval_spawns</key>
						<integer>8</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>boss15</key>
			<array>
				<dict>
					<key>group</key>
					<string>group1</string>
					<key>config</key>
					<dict>
						<key>spawns</key>
						<array>
							<dict>
								<key>type</key>
								<string>chomp_bot</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>8</integer>
								<key>interval</key>
								<string>2</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<real>1078</real>
									<key>y</key>
									<integer>753</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>smokebeard_engineer</string>
								<key>army_type</key>
								<integer>0</integer>
								<key>is_unit</key>
								<true/>
								<key>cant</key>
								<integer>3</integer>
								<key>interval</key>
								<string>1</string>
								<key>position</key>
								<dict>
									<key>x</key>
									<real>1078</real>
									<key>y</key>
									<integer>753</integer>
								</dict>
								<key>node</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>path</key>
						<integer>4</integer>
						<key>interval_spawns</key>
						<integer>8</integer>
					</dict>
					<key>delay</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>groups</key>
		<dict>
			<key>group1</key>
			<array>
				<string>group1</string>
			</array>
		</dict>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_ORC_DENTS</string>
			<string>KR4_TOWER_DARK_KNIGHTS</string>
		</array>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>0</integer>
			<key>type</key>
			<string>warmongers_heat_balloon_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>type</key>
			<string>warmongers_heat_balloon_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>11</integer>
			<key>type</key>
			<string>warmongers_heat_balloon_level1</string>
		</dict>
	</array>
	<key>objects</key>
	<array>
		<dict>
			<key>key</key>
			<string>fx_repeat_forever</string>
			<key>layer</key>
			<string>decals</string>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>550</integer>
			</dict>
			<key>single_frame</key>
			<string>dwarf_boss_goblin_deco_parts.png</string>
		</dict>
		<dict>
			<key>key</key>
			<string>dwarf_boss_deco</string>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>549</integer>
			</dict>
			<key>animations</key>
			<dict>
				<key>animations_file</key>
				<string>dwarf_boss_goblin_animations.plist</string>
			</dict>
			<key>layer</key>
			<string>decals</string>
		</dict>
	</array>
</dict>
</plist>
