<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>310</integer>
	<key>gems</key>
	<integer>60</integer>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>warhammer_guard</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>550</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warhammer_guard</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>500</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>bruiser</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>40</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>550</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>warhammer_guard</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>130</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>clockwork_spider</string>
							<key>cant</key>
							<integer>12</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>360</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>360</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>600</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>bruiser</string>
							<key>cant</key>
							<integer>15</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>700</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>210</integer>
							<key>interval_next_spawn</key>
							<integer>210</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>300</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>chomp_bot</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>2</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_ORC_DENTS</string>
			<string>KR4_TOWER_INFERNAL_ACOLYTE</string>
		</array>
	</dict>
</dict>
</plist>
