<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1500</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>400</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>footman</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>800</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>high_sorcerer</string>
							<key>cant</key>
							<integer>1</integer>
							<key>interval</key>
							<integer>0</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>1350</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>20</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>mogwai</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>40</integer>
							<key>interval_next_spawn</key>
							<integer>40</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>1400</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>high_sorcerer</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>800</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>4500</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>4500</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>4500</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>6300</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>arcane_magus</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<real>6600</real>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>40</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>6300</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>6300</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>6300</integer>
					<key>path_index</key>
					<integer>4</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>elite_footman</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>towers</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>type</key>
			<string>dark_army_melting_furnace_level1</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>9</integer>
			<key>type</key>
			<string>dark_army_melting_furnace_level1</string>
		</dict>
	</array>
	<key>rules</key>
	<dict>
		<key>max_tower_level</key>
		<integer>4</integer>
		<key>towers</key>
		<array>
			<string>KR4_TOWER_INFERNAL_ACOLYTE</string>
			<string>KR4_TOWER_SPIRIT_MAUSOLEUM</string>
		</array>
	</dict>
</dict>
</plist>
