<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_tank_ultimate_fire_modifier_in</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank_ultimate_fire_modifier</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>8</integer>
		</dict>
		<key>hero_tank_ultimate_fire_modifier_loop</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank_ultimate_fire_modifier</string>
			<key>fromIndex</key>
			<integer>9</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>hero_tank_ultimate_fire_modifier_out</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank_ultimate_fire_modifier</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
	</dict>
</dict>
</plist>
