<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_tank_ultimate_fire_animations.plist</key>
		<string></string>
		<key>hero_tank_ultimate_proyectile_explosion_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_tank_ultimate_plane_fly</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank_ultimate_plane</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
