<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_tank_smoke_animations.plist</key>
		<string></string>
		<key>hero_tank_hit_animations.plist</key>
		<string></string>
		<key>hero_tank_missile_particle_animations.plist</key>
		<string></string>
		<key>hero_tank_hit_air_animations.plist</key>
		<string></string>
		<key>hero_tank_dust_animations.plist</key>
		<string></string>
		<key>hero_tank_expendable1_animations.plist</key>
		<string></string>
		<key>hero_tank_expendable2_animations.plist</key>
		<string></string>
		<key>hero_tank_fire_animations.plist</key>
		<string></string>
		<key>hero_tank_fire_loop_animations.plist</key>
		<string></string>
		<key>hero_tank_GroundSlam_decal_animations.plist</key>
		<string></string>
		<key>hero_tank_GroundSlam_effect_animations.plist</key>
		<string></string>
		<key>hero_tank_ultimate_plane_animations.plist</key>
		<string></string>
		<key>hero_tank_ultimate_fire_modifier_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_tank_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>hero_tank_walkDown</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>7</integer>
		</dict>
		<key>hero_tank_moreDownWalk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>8</integer>
			<key>toIndex</key>
			<integer>13</integer>
		</dict>
		<key>hero_tank_downWalk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>14</integer>
			<key>toIndex</key>
			<integer>19</integer>
		</dict>
		<key>hero_tank_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>20</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>hero_tank_upWalk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>31</integer>
		</dict>
		<key>hero_tank_moreUpWalk</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>32</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>hero_tank_walkUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>43</integer>
		</dict>
		<key>hero_tank_shoot</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>44</integer>
			<key>toIndex</key>
			<integer>92</integer>
		</dict>
		<key>hero_tank_GroundSlam</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>93</integer>
			<key>toIndex</key>
			<integer>148</integer>
		</dict>
		<key>hero_tank_HeatMissilesIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>149</integer>
			<key>toIndex</key>
			<integer>186</integer>
		</dict>
		<key>hero_tank_HeatMissilesLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>187</integer>
			<key>toIndex</key>
			<integer>191</integer>
		</dict>
		<key>hero_tank_HeatMissilesLastLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>192</integer>
			<key>toIndex</key>
			<integer>204</integer>
		</dict>
		<key>hero_tank_HeatMissilesOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>205</integer>
			<key>toIndex</key>
			<integer>227</integer>
		</dict>
		<key>hero_tank_scorchingCannonIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>228</integer>
			<key>toIndex</key>
			<integer>243</integer>
		</dict>
		<key>hero_tank_scorchingCannonLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>244</integer>
			<key>toIndex</key>
			<integer>279</integer>
		</dict>
		<key>hero_tank_scorchingCannonOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>280</integer>
			<key>toIndex</key>
			<integer>297</integer>
		</dict>
		<key>hero_tank_theExpendablesIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>298</integer>
			<key>toIndex</key>
			<integer>317</integer>
		</dict>
		<key>hero_tank_theExpendablesSpawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>318</integer>
			<key>toIndex</key>
			<integer>341</integer>
		</dict>
		<key>hero_tank_theExpendablesOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>342</integer>
			<key>toIndex</key>
			<integer>349</integer>
		</dict>
		<key>hero_tank_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>350</integer>
			<key>toIndex</key>
			<integer>473</integer>
		</dict>
		<key>hero_tank_DeathIdle</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>474</integer>
			<key>toIndex</key>
			<integer>475</integer>
		</dict>
		<key>hero_tank_Respawn</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>476</integer>
			<key>toIndex</key>
			<integer>500</integer>
		</dict>
		<key>hero_tank_LvlUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>501</integer>
			<key>toIndex</key>
			<integer>551</integer>
		</dict>
		<key>hero_tank_boredIn</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>552</integer>
			<key>toIndex</key>
			<integer>569</integer>
		</dict>
		<key>hero_tank_boredLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>570</integer>
			<key>toIndex</key>
			<integer>577</integer>
		</dict>
		<key>hero_tank_boredOut</key>
		<dict>
			<key>prefix</key>
			<string>hero_tank</string>
			<key>fromIndex</key>
			<integer>578</integer>
			<key>toIndex</key>
			<integer>605</integer>
		</dict>
	</dict>
</dict>
</plist>
