<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold</key>
	<integer>1400</integer>
	<key>gems</key>
	<integer>150</integer>
	<key>intro_cutscene</key>
	<true/>
	<key>objects</key>
	<array>
		<dict>
			<key>key</key>
			<string>lords_afterlife_controller</string>
			<key>add_on_init</key>
			<true/>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>530</integer>
				<key>y</key>
				<integer>664</integer>
			</dict>
			<key>trigger_wave</key>
			<integer>15</integer>
			<key>spawn_positions</key>
			<array>
				<dict>
					<key>path</key>
					<integer>0</integer>
					<key>path_node</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>path</key>
					<integer>2</integer>
					<key>path_node</key>
					<integer>40</integer>
				</dict>
			</array>
			<key>effect</key>
			<dict>
				<key>key</key>
				<string>fx_lopp_animation</string>
				<key>fadein</key>
				<real>0.33</real>
				<key>duration</key>
				<integer>5</integer>
				<key>fadeout</key>
				<real>0.33</real>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.133</real>
				</dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>lord_of_afterlife_effect_animations.plist</string>
				</dict>
			</dict>
			<key>effect_2</key>
			<dict>
				<key>key</key>
				<string>fx_lopp_animation</string>
				<key>fadein</key>
				<real>0.33</real>
				<key>duration</key>
				<integer>5</integer>
				<key>fadeout</key>
				<real>0.33</real>
				<key>anchor</key>
				<dict>
					<key>x</key>
					<real>0.5</real>
					<key>y</key>
					<real>0.133</real>
				</dict>
				<key>animations</key>
				<dict>
					<key>animations_file</key>
					<string>lord_of_afterlife_effect_2_animations.plist</string>
				</dict>
			</dict>
			<key>spawn_sound</key>
			<dict>
				<key>id</key>
				<string>level28_ghostsummon_part2</string>
				<key>delay</key>
				<real>1.6</real>
			</dict>
			<key>init_spawn_sound</key>
			<dict>
				<key>id</key>
				<string>level28_ghostsummon_part1</string>
			</dict>
			<key>spawn_delay</key>
			<integer>4</integer>
			<key>unit_1</key>
			<string>lord_of_afterlife</string>
			<key>unit_2</key>
			<string>lord_of_afterlife_2</string>
			<key>on_no_more_enemies</key>
			<true/>
			<key>show_wave_flags_delay</key>
			<integer>3</integer>
			<key>win_level_delay</key>
			<real>3.7</real>
			<key>cooldown_taunt</key>
			<integer>20</integer>
			<key>life_bar_boss</key>
			<dict>
				<key>name</key>
				<string>ENEMY_ANCIENT_GHOST_NAME</string>
				<key>icon_name</key>
				<string>boss_health_bar_icon_0005.png</string>
				<key>animated</key>
				<false/>
				<key>intro_anim</key>
				<true/>
			</dict>
			<key>skills</key>
			<array>
				<dict>
					<key>key</key>
					<string>taunt</string>
					<key>id</key>
					<string>taunt_right_blue</string>
					<key>type</key>
					<integer>2</integer>
					<key>animation_start</key>
					<string>talk</string>
					<key>tooltip_size</key>
					<dict>
						<key>x</key>
						<integer>160</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_arrow_offset</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.5</real>
					</dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>710</integer>
						<key>y</key>
						<integer>660</integer>
					</dict>
					<key>text</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_INTRO_TAUNT_2</string>
					</array>
					<key>text_battle</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_5</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_4</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_3</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_2</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_1</string>
					</array>
					<key>text_end</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BOSSFIGHT_START_2</string>
					</array>
					<key>tooltip_taunt_config</key>
					<string>tooltip_taunt_lord_blue</string>
					<key>taunt_remove_delay</key>
					<integer>1</integer>
					<key>taunt_sprite</key>
					<string>boss2_taunt</string>
				</dict>
				<dict>
					<key>key</key>
					<string>taunt</string>
					<key>id</key>
					<string>taunt_right_violet</string>
					<key>type</key>
					<integer>2</integer>
					<key>animation_start</key>
					<string>talk</string>
					<key>tooltip_size</key>
					<dict>
						<key>x</key>
						<integer>160</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_arrow_offset</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.5</real>
					</dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>710</integer>
						<key>y</key>
						<integer>660</integer>
					</dict>
					<key>text</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_INTRO_TAUNT_2</string>
					</array>
					<key>text_battle</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_5</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_4</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_3</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_2</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_1</string>
					</array>
					<key>text_end</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BOSSFIGHT_START_2</string>
					</array>
					<key>tooltip_taunt_config</key>
					<string>tooltip_taunt_lord_violet</string>
					<key>taunt_remove_delay</key>
					<integer>1</integer>
					<key>taunt_sprite</key>
					<string>boss1_taunt</string>
				</dict>
				<dict>
					<key>key</key>
					<string>taunt</string>
					<key>id</key>
					<string>taunt_left_blue</string>
					<key>type</key>
					<integer>2</integer>
					<key>animation_start</key>
					<string>talk</string>
					<key>tooltip_size</key>
					<dict>
						<key>x</key>
						<integer>160</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_arrow_offset</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.5</real>
					</dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>300</integer>
						<key>y</key>
						<integer>660</integer>
					</dict>
					<key>text</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_INTRO_TAUNT_1</string>
					</array>
					<key>text_battle</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_1</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_2</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_3</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_4</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_5</string>
					</array>
					<key>text_end</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BOSSFIGHT_START_1</string>
					</array>
					<key>tooltip_taunt_config</key>
					<string>tooltip_taunt_lord_blue</string>
					<key>taunt_remove_delay</key>
					<integer>1</integer>
					<key>taunt_sprite</key>
					<string>boss2_taunt</string>
				</dict>
				<dict>
					<key>key</key>
					<string>taunt</string>
					<key>id</key>
					<string>taunt_left_violet</string>
					<key>type</key>
					<integer>2</integer>
					<key>animation_start</key>
					<string>talk</string>
					<key>tooltip_size</key>
					<dict>
						<key>x</key>
						<integer>160</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_arrow_offset</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>tooltip_anchor</key>
					<dict>
						<key>x</key>
						<real>0.5</real>
						<key>y</key>
						<real>0.5</real>
					</dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>300</integer>
						<key>y</key>
						<integer>660</integer>
					</dict>
					<key>text</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_INTRO_TAUNT_1</string>
					</array>
					<key>text_battle</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_1</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_2</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_3</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_4</string>
						<string>ENEMY_ANCIENT_GHOST_BATTLE_TAUNT_5</string>
					</array>
					<key>text_end</key>
					<array>
						<string>ENEMY_ANCIENT_GHOST_BOSSFIGHT_START_1</string>
					</array>
					<key>tooltip_taunt_config</key>
					<string>tooltip_taunt_lord_violet</string>
					<key>taunt_remove_delay</key>
					<integer>1</integer>
					<key>taunt_sprite</key>
					<string>boss1_taunt</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<integer>200</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>95</integer>
							<key>interval_next_spawn</key>
							<integer>95</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>85</integer>
							<key>interval_next_spawn</key>
							<integer>85</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>75</integer>
							<key>interval_next_spawn</key>
							<integer>75</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>100</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>300</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>85</integer>
							<key>interval_next_spawn</key>
							<integer>85</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>75</integer>
							<key>interval_next_spawn</key>
							<integer>75</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>400</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>100</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>110</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>90</integer>
							<key>interval_next_spawn</key>
							<integer>90</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>700</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>700</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>400</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>screecher_bat</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>100</integer>
							<key>interval_next_spawn</key>
							<integer>100</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>screecher_bat</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>80</integer>
							<key>interval_next_spawn</key>
							<integer>80</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>10</integer>
							<key>interval</key>
							<integer>65</integer>
							<key>interval_next_spawn</key>
							<integer>65</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>350</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>350</integer>
							<key>interval_next_spawn</key>
							<integer>350</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>350</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>75</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>140</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>110</integer>
							<key>interval_next_spawn</key>
							<integer>110</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>650</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>140</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>120</integer>
							<key>interval_next_spawn</key>
							<integer>120</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>400</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>380</integer>
							<key>interval_next_spawn</key>
							<integer>380</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>340</integer>
							<key>interval_next_spawn</key>
							<integer>340</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>1300</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>70</integer>
							<key>interval_next_spawn</key>
							<integer>70</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>7</integer>
							<key>interval</key>
							<integer>60</integer>
							<key>interval_next_spawn</key>
							<integer>60</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>8</integer>
							<key>interval</key>
							<integer>50</integer>
							<key>interval_next_spawn</key>
							<integer>50</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>160</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>160</integer>
							<key>interval_next_spawn</key>
							<integer>160</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>werewolf</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>140</integer>
							<key>interval_next_spawn</key>
							<integer>140</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>200</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>130</integer>
							<key>interval_next_spawn</key>
							<integer>130</integer>
							<key>fixed_sub_path</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>90</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>180</integer>
							<key>interval_next_spawn</key>
							<integer>180</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>5</integer>
							<key>interval</key>
							<integer>130</integer>
							<key>interval_next_spawn</key>
							<integer>130</integer>
							<key>fixed_sub_path</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>450</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>450</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>340</integer>
							<key>interval_next_spawn</key>
							<integer>340</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>310</integer>
							<key>interval_next_spawn</key>
							<integer>310</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>280</integer>
							<key>interval_next_spawn</key>
							<integer>280</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>250</integer>
							<key>interval_next_spawn</key>
							<integer>250</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>1600</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>6</integer>
							<key>interval</key>
							<integer>360</integer>
							<key>interval_next_spawn</key>
							<integer>360</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>330</integer>
							<key>interval_next_spawn</key>
							<integer>330</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>900</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>170</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>85</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>170</integer>
							<key>interval_next_spawn</key>
							<integer>170</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>150</integer>
							<key>interval_next_spawn</key>
							<integer>150</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<integer>450</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>4</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>300</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>3</integer>
							<key>interval</key>
							<integer>280</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>140</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>lich</string>
							<key>cant</key>
							<integer>2</integer>
							<key>interval</key>
							<integer>280</integer>
							<key>interval_next_spawn</key>
							<integer>0</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
			<key>pause_after_wave</key>
			<true/>
		</dict>
		<dict>
			<key>interval</key>
			<integer>0</integer>
			<key>flagDelay</key>
			<integer>0</integer>
			<key>subwaves</key>
			<array>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>0</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>ghost</string>
							<key>cant</key>
							<integer>60</integer>
							<key>interval</key>
							<integer>200</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>1</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>bone_carrier</string>
							<key>cant</key>
							<integer>60</integer>
							<key>interval</key>
							<integer>700</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>2</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>corrosive_soul</string>
							<key>cant</key>
							<integer>60</integer>
							<key>interval</key>
							<integer>400</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>interval</key>
					<integer>0</integer>
					<key>path_index</key>
					<integer>3</integer>
					<key>spawns</key>
					<array>
						<dict>
							<key>enemy</key>
							<string>haunted_skeleton</string>
							<key>cant</key>
							<integer>60</integer>
							<key>interval</key>
							<integer>300</integer>
							<key>interval_next_spawn</key>
							<integer>400</integer>
							<key>fixed_sub_path</key>
							<integer>-1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>custom_spawners</key>
	<dict>
		<key>events</key>
		<dict/>
	</dict>
	<key>uncount_waves</key>
	<integer>1</integer>
</dict>
</plist>
