<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>blazing_watcher_ray_in</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>4</integer>
		</dict>
		<key>blazing_watcher_ray_travel1</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>5</integer>
			<key>toIndex</key>
			<integer>12</integer>
		</dict>
		<key>blazing_watcher_ray_travel2</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>13</integer>
			<key>toIndex</key>
			<integer>20</integer>
		</dict>
		<key>blazing_watcher_ray_travel3</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>21</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>blazing_watcher_ray_travel4</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>52</integer>
		</dict>
		<key>blazing_watcher_ray_out</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>53</integer>
			<key>toIndex</key>
			<integer>62</integer>
		</dict>
		<key>blazing_watcher_ray_level4Out</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>63</integer>
			<key>toIndex</key>
			<integer>72</integer>
		</dict>
		<key>blazing_watcher_ray_chargedBlast</key>
		<dict>
			<key>prefix</key>
			<string>blazing_watcher_ray</string>
			<key>fromIndex</key>
			<integer>73</integer>
			<key>toIndex</key>
			<integer>90</integer>
		</dict>
	</dict>
</dict>
</plist>
