<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>warmongers_mage_tower_shooter_proyectile_hit.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>darkarmy_mage_tower_shooter_lvl1_super_travel</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_mage_tower_shooter_superbolt</string>
			<key>fromIndex</key>
			<integer>5</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>darkarmy_mage_tower_shooter_lvl1_super_idle</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_mage_tower_shooter_superbolt</string>
			<key>fromIndex</key>
			<integer>5</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
	</dict>
</dict>
</plist>
