<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>dark_army_mage_tower_shooter_lvl1_bolt_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>darkarmy_mage_tower_shooter_lvl3_idle</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>darkarmy_mage_tower_shooter_lvl3_charge</key>
		<dict>
			<key>prefix</key>
			<string>darkarmy_mage_tower_shooter_lvl1</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>39</integer>
		</dict>
	</dict>
</dict>
</plist>
