<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>ember_lords_mage_tower_shooter_lvl2_animations.plist</key>
		<string></string>
		<key>ember_lords_mage_tower_lavas_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>darkarmy_mage_tower_lvl2_idle</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower</string>
			<key>fromIndex</key>
			<integer>3</integer>
			<key>toIndex</key>
			<integer>3</integer>
		</dict>
		<key>darkarmy_mage_tower_lvl2_build</key>
		<dict>
			<key>prefix</key>
			<string>ember_lords_mage_tower</string>
			<key>fromIndex</key>
			<integer>3</integer>
			<key>toIndex</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
