<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>shaolin_monk_lvl2_idle</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>shaolin_monk_lvl2_punchIn</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>9</integer>
		</dict>
		<key>shaolin_monk_lvl2_punchOut</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>10</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>shaolin_monk_lvl2_kickIn</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>26</integer>
		</dict>
		<key>shaolin_monk_lvl2_kickOut</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>27</integer>
			<key>toIndex</key>
			<integer>34</integer>
		</dict>
		<key>shaolin_monk_lvl2_dragonPunchUp</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>35</integer>
			<key>toIndex</key>
			<integer>36</integer>
		</dict>
		<key>shaolin_monk_lvl2_dragonPunchDown</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>37</integer>
			<key>toIndex</key>
			<integer>37</integer>
		</dict>
		<key>shaolin_monk_lvl2_dragonPunchOut</key>
		<dict>
			<key>prefix</key>
			<string>shaolin_monk_lvl2</string>
			<key>fromIndex</key>
			<integer>38</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
	</dict>
</dict>
</plist>
