<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build_sound</key>
	<string>0</string>
	<key>open_door_sound</key>
	<string>0</string>
	<key>common_enemie_dead</key>
	<string>0</string>
	<key>arrow_release_sound_1</key>
	<string>0</string>
	<key>arrow_release_sound_2</key>
	<string>0</string>
	<key>arrow_hit_sound_1</key>
	<string>0</string>
	<key>arrow_hit_sound_2</key>
	<string>0</string>
	<key>bolt_release_sound</key>
	<string>0</string>
	<key>bomb_release_sound</key>
	<string>0</string>
	<key>bomb_hit_sound</key>
	<string>0</string>
	<key>tower_sell_sound</key>
	<string>0</string>
	<key>rally_point_placed</key>
	<string>0</string>
	<key>wave_incoming_sound</key>
	<string>0</string>
	<key>next_wave_ready_sound</key>
	<string>0</string>
	<key>coins_sound</key>
	<string>0</string>
	<key>loose_life_sound</key>
	<string>0</string>
	<key>sniper_sound</key>
	<string>0</string>
	<key>enemy_healing_sound</key>
	<string>0</string>
	<key>selection_sound</key>
	<string>0</string>
	<key>level_up_sound</key>
	<string>0</string>
	<key>orcs_death_sound</key>
	<string>0</string>
	<key>axe_release_sound</key>
	<string>0</string>
	<key>puff_death_sound</key>
	<string>0</string>
	<key>generic_button</key>
	<string>0</string>
	<key>quickmenu_selection</key>
	<string>0</string>
	<key>generic_combat_1</key>
	<string>0</string>
	<key>generic_combat_2</key>
	<string>0</string>
	<key>generic_combat_3</key>
	<string>0</string>
	<key>power_refresh</key>
	<string>0</string>
	<key>power_soulimpact_greenbeam</key>
	<string>0</string>
	<key>power_soulimpact_impact_var1</key>
	<string>0</string>
	<key>power_soulimpact_impact_var2</key>
	<string>0</string>
	<key>power_soulimpact_impact_var3</key>
	<string>0</string>
	<key>power_soulimpact_spiritrelease</key>
	<string>0</string>
	<key>victory_stars_3</key>
	<string>0</string>
	<key>victory_stars</key>
	<string>0</string>
	<key>victory</key>
	<string>0</string>
	<key>defeat</key>
	<string>0</string>
	<key>ice_break</key>
	<string>0</string>
	<key>achievement_notification</key>
	<string>0</string>
	<key>show_notification</key>
	<string>0</string>
	<key>gems_loop</key>
	<string>0</string>
	<key>gems_loop_end</key>
	<string>0</string>
	<key>victory_flag</key>
	<string>0</string>
	<key>fullads_gnome_laugh</key>
	<string>0</string>
	<key>fullads_catha_fairyfury</key>
	<string>0</string>
	<key>fullads_catha_fairysoul</key>
	<string>0</string>
</dict>
</plist>
