<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero_asra_taunt_1</key>
	<string>0</string>
	<key>hero_mortemis_taunt_1</key>
	<string>0</string>
	<key>hero_oloch_taunt_1</key>
	<string>0</string>
	<key>hero_orc_taunt_1</key>
	<string>0</string>
	<key>hero_beresad_taunt_1</key>
	<string>0</string>
	<key>hero_jigou_taunt_1</key>
	<string>0</string>
	<key>hero_tank_taunt_1</key>
	<string>0</string>
	<key>hero_margosa_taunt_1</key>
	<string>0</string>
	<key>hero_tramin_taunt_1</key>
	<string>0</string>
	<key>hero_naga_taunt_3</key>
	<string>0</string>
	<key>hero_murglun_taunt_1</key>
	<string>0</string>
	<key>hero_eiskalt_taunt_1</key>
	<string>0</string>
	<key>hero_jacko_taunt_1</key>
	<string>0</string>
	<key>hero_mammoth_taunt_1</key>
	<string>0</string>
	<key>warmonger_barrack_build_taunt_4</key>
	<string>0</string>
	<key>warmonger_mage_build_taunt_4</key>
	<string>0</string>
	<key>warmonger_rocket_build_taunt_4</key>
	<string>0</string>
	<key>warmonger_balloon_build_taunt_4</key>
	<string>0</string>
	<key>warmonger_archer_build_taunt_4</key>
	<string>0</string>
	<key>dark_army_barrack_build_taunt_4</key>
	<string>0</string>
	<key>dark_army_archer_build_taunt_4</key>
	<string>0</string>
	<key>dark_army_melting_furnance_build_taunt_4</key>
	<string>0</string>
	<key>ignis_altar_build_taunt_4</key>
	<string>0</string>
	<key>dark_army_blazing_mage_build_taunt_4</key>
	<string>0</string>
	<key>ember_lords_mage_build_taunt_4</key>
	<string>0</string>
	<key>fallen_ones_spirit_mausoleum_build_taunt_4</key>
	<string>0</string>
	<key>fallen_ones_bone_flingers_taunt_4</key>
	<string>0</string>
	<key>fallen_ones_grim_cemetery_taunt_4</key>
	<string>0</string>
	<key>elves_barrack_build_taunt_4</key>
	<string>0</string>
	<key>rotten_forest_build_taunt_4</key>
	<string>0</string>
	<key>wicked_sisters_build_taunt_4</key>
	<string>0</string>
	<key>deep_devils_build_taunt_4</key>
	<string>0</string>
	<key>generic_button</key>
	<string>0</string>
	<key>balloon_in</key>
	<string>0</string>
	<key>balloon_out</key>
	<string>0</string>
	<key>hero_scroll</key>
	<string>0</string>
	<key>hero_select</key>
	<string>0</string>
	<key>hero_skill_confirm</key>
	<string>0</string>
	<key>hero_skill_select</key>
	<string>0</string>
	<key>achievement_collect</key>
	<string>0</string>
	<key>map_dots</key>
	<string>0</string>
	<key>flag_fall</key>
	<string>0</string>
	<key>flag_glow</key>
	<string>0</string>
	<key>map_star</key>
	<string>0</string>
	<key>quickmenu_selection</key>
	<string>0</string>
	<key>rewardcards_reveal_single</key>
	<string>0</string>
	<key>fullads_catha_fairyfury</key>
	<string>0</string>
	<key>fullads_catha_fairysoul</key>
	<string>0</string>
	<key>fullads_tick_wood</key>
	<string>0</string>
</dict>
</plist>
