<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>boneflingers_tower_lvl4_skeleton_spawn</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl4_skeleton</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>62</integer>
		</dict>
		<key>boneflingers_tower_lvl4_skeleton_idle</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl4_skeleton</string>
			<key>fromIndex</key>
			<integer>63</integer>
			<key>toIndex</key>
			<integer>63</integer>
		</dict>
		<key>boneflingers_tower_lvl4_skeleton_walk</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl4_skeleton</string>
			<key>fromIndex</key>
			<integer>64</integer>
			<key>toIndex</key>
			<integer>87</integer>
		</dict>
		<key>boneflingers_tower_lvl4_skeleton_attack</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl4_skeleton</string>
			<key>fromIndex</key>
			<integer>88</integer>
			<key>toIndex</key>
			<integer>106</integer>
		</dict>
		<key>boneflingers_tower_lvl4_skeleton_death</key>
		<dict>
			<key>prefix</key>
			<string>boneflingers_tower_lvl4_skeleton</string>
			<key>fromIndex</key>
			<integer>107</integer>
			<key>toIndex</key>
			<integer>128</integer>
		</dict>
	</dict>
</dict>
</plist>
