<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>hero_jigou_igloo_end_animations.plist</key>
		<string></string>
		<key>hero_jigou_iceshard_hit_animations.plist</key>
		<string></string>
		<key>hero_jigou_iceland_fx1_animations.plist</key>
		<string></string>
		<key>hero_jigou_iceland_fx2_animations.plist</key>
		<string></string>
		<key>hero_jigou_iceland_fx3_animations.plist</key>
		<string></string>
		<key>hero_jigou_iceland_fx4_animations.plist</key>
		<string></string>
		<key>hero_jigou_iceland_fx5_animations.plist</key>
		<string></string>
		<key>hero_jigou_frozen_breath_fx_animations.plist</key>
		<string></string>
		<key>hero_jigou_attack_fx_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>hero_jigou_idle</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>hero_jigou_walk</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>hero_jigou_attack</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>55</integer>
		</dict>
		<key>hero_jigou_iceShard</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>56</integer>
			<key>toIndex</key>
			<integer>105</integer>
		</dict>
		<key>hero_jigou_frozenBreath</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>106</integer>
			<key>toIndex</key>
			<integer>138</integer>
		</dict>
		<key>hero_jigou_iceland</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>139</integer>
			<key>toIndex</key>
			<integer>162</integer>
		</dict>
		<key>hero_jigou_igloo</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>163</integer>
			<key>toIndex</key>
			<integer>200</integer>
		</dict>
		<key>hero_jigou_iglooIdle</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>201</integer>
			<key>toIndex</key>
			<integer>201</integer>
		</dict>
		<key>hero_jigou_death</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>202</integer>
			<key>toIndex</key>
			<integer>236</integer>
		</dict>
		<key>hero_jigou_levelUp</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>237</integer>
			<key>toIndex</key>
			<integer>276</integer>
		</dict>
		<key>hero_jigou_ultimateStart</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>139</integer>
			<key>toIndex</key>
			<integer>143</integer>
		</dict>
		<key>hero_jigou_ultimateEnd</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>157</integer>
			<key>toIndex</key>
			<integer>162</integer>
		</dict>
		<key>hero_jigou_ultimateLoop</key>
		<dict>
			<key>prefix</key>
			<string>hero_jigou</string>
			<key>fromIndex</key>
			<integer>144</integer>
			<key>toIndex</key>
			<integer>156</integer>
		</dict>
	</dict>
</dict>
</plist>
