<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>warmongers_archer_tower_shooter_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootDownIn</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootDownIdle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootDownOut</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>25</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootUpIn</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootUpIdle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootUpOut</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootDownIn1</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>49</integer>
			<key>toIndex</key>
			<integer>74</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootDownIdle1</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>75</integer>
			<key>toIndex</key>
			<integer>75</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootDownOut1</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>76</integer>
			<key>toIndex</key>
			<integer>89</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootDownIn2</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>90</integer>
			<key>toIndex</key>
			<integer>115</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootDownIdle2</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>116</integer>
			<key>toIndex</key>
			<integer>116</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootDownOut2</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>117</integer>
			<key>toIndex</key>
			<integer>130</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootUpIn1</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>131</integer>
			<key>toIndex</key>
			<integer>156</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootUpIdle1</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>157</integer>
			<key>toIndex</key>
			<integer>157</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootUpOut1</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>158</integer>
			<key>toIndex</key>
			<integer>171</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootUpIn2</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>172</integer>
			<key>toIndex</key>
			<integer>197</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootUpIdle2</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>198</integer>
			<key>toIndex</key>
			<integer>198</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_megaShootUpOut2</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>199</integer>
			<key>toIndex</key>
			<integer>212</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootHoneyDown</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archerhoney_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>17</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl4_shootHoneyUp</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archerhoney_tower_shooter_lvl4</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>34</integer>
		</dict>
	</dict>
</dict>
</plist>
