<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>warmongers_archer_tower_shooter_lvl2_idle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl2_shootDownIn</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl2_shootDownIdle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>18</integer>
			<key>toIndex</key>
			<integer>18</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl2_shootDownOut</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>19</integer>
			<key>toIndex</key>
			<integer>24</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl2_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>25</integer>
			<key>toIndex</key>
			<integer>25</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl2_shootUpIn</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>26</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl2_shootUpIdle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>42</integer>
			<key>toIndex</key>
			<integer>42</integer>
		</dict>
		<key>warmongers_archer_tower_shooter_lvl2_shootUpOut</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_shooter_lvl2</string>
			<key>fromIndex</key>
			<integer>43</integer>
			<key>toIndex</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>
