<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>warmongers_archer_tower_shooter_spear_throwers_animations.plist</key>
		<string></string>
		<key>warmongers_archer_tower_spear_throwers_over_animations.plist</key>
		<string></string>
		<key>warmongers_archer_tower_spear_throwers_back_animations.plist</key>
		<string></string>
		<key>warmongers_archer_tower_proyectile_special_hit_animations.plist</key>
		<string></string>
		<key>warmongers_archer_tower_spear_throwers_honey_explosion_animations.plist</key>
		<string></string>
		<key>warmongers_archer_tower_spear_throwers_honey_particle_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>warmongers_archer_tower_lvl4_idle</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>warmongers_archer_tower_lvl4_build</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>warmongers_archer_tower_lvl4_shoot</key>
		<dict>
			<key>prefix</key>
			<string>warmongers_archer_tower_lvl4</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
